<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.odcgroup.workbench.generation.m2cCartridge">
      <cartridge
            category="WUI Block"
            class="com.odcgroup.menu.generation.MenuGenerator"
            enabledByDefault="true"
            id="menu.generation.m2c"
            name="Triple'A Plus Menu Config">
      </cartridge>
   </extension> 	
   <extension
		point="com.odcgroup.translation.generation.keyprovider">
		<provider
        	id="com.odcgroup.menu.translation.menuitem.keyprovider"
            name="Translation Key Provider for Menu Item"
            class="com.odcgroup.menu.generation.translation.MenuItemTranslationKeyProvider">
          	<input type="com.odcgroup.menu.model.MenuItem" /> 
		</provider>
	</extension>    
</plugin>
