<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.odcgroup.com/t24/Enquiry"
       class = "com.odcgroup.t24.enquiry.enquiry.EnquiryPackage"
       genModel = "model/generated/Enquiry.genmodel" />
  </extension>

  <extension
         point="com.odcgroup.workbench.generation.m2cCartridge">
      <cartridge
            category="T24 Models (XML)"
            class="com.odcgroup.t24.enquiry.xml.generator.EnquiryXMLGenerator"
            enabledByDefault="true"
            id="com.odcgroup.t24.enquiry.model.cartridge2"
            name="XML for Enquiries">
      </cartridge>
   </extension>
   <extension
       point="com.odcgroup.translation.provider">
    <provider
          class="com.odcgroup.t24.enquiry.translation.EnquiryTranslationProvider"
          id="com.odcgroup.t24.enquiry.translation"
          name="T24 Enquiry Translation Provider"
          natureId="org.eclipse.jdt.core.javanature">
          <kind  name="NAME" display="Description"/>
       <input type="com.odcgroup.t24.enquiry.enquiry.Enquiry"/>
    </provider>
    <provider
          class="com.odcgroup.t24.enquiry.translation.SelectionTranslationProvider"
          id="com.odcgroup.t24.enquiry.selection.translation"
          name="T24 Enquiry Selection Translation Provider"
          natureId="org.eclipse.jdt.core.javanature">
          <kind  name="NAME" display="Label"/>
       <input type="com.odcgroup.t24.enquiry.enquiry.Selection"/>
    </provider>
    <provider
          class="com.odcgroup.t24.enquiry.translation.FieldTranslationProvider"
          id="com.odcgroup.t24.enquiry.field.translation"
          name="T24 Enquiry Field Translation Provider"
          natureId="org.eclipse.jdt.core.javanature">
          <kind  name="NAME" display="Label"/>
       <input type="com.odcgroup.t24.enquiry.enquiry.Field"/>
    </provider>
    <provider
          class="com.odcgroup.t24.enquiry.translation.HeaderTranslationProvider"
          id="com.odcgroup.t24.enquiry.header.translation"
          name="T24 Enquiry Header Translation Provider"
          natureId="org.eclipse.jdt.core.javanature">
          <kind  name="NAME" display="Label"/>
       <input type="com.odcgroup.t24.enquiry.enquiry.EnquiryHeader"/>
    </provider>
    <provider
          class="com.odcgroup.t24.enquiry.translation.ToolTranslationProvider"
          id="com.odcgroup.t24.enquiry.tool.translation"
          name="T24 Enquiry Tool Translation Provider"
          natureId="org.eclipse.jdt.core.javanature">
          <kind  name="NAME" display="Label"/>
       <input type="com.odcgroup.t24.enquiry.enquiry.Tool"/>
    </provider>
    <provider
          class="com.odcgroup.t24.enquiry.translation.LabelOpTranslationProvider"
          id="com.odcgroup.t24.enquiry.labelOperation.translation"
          name="T24 Enquiry LabelOperation Translation Provider"
          natureId="org.eclipse.jdt.core.javanature">
          <kind  name="NAME" display="Label"/>
       <input type="com.odcgroup.t24.enquiry.enquiry.LabelOperation"/>
    </provider>
    <provider
          class="com.odcgroup.t24.enquiry.translation.DrillDownTranslationProvider"
          id="com.odcgroup.t24.enquiry.drillDown.translation"
          name="T24 Enquiry DrillDown Translation Provider"
          natureId="org.eclipse.jdt.core.javanature">
          <kind  name="NAME" display="Description"/>
       <input type="com.odcgroup.t24.enquiry.enquiry.DrillDown"/>
    </provider>

  </extension>
  <extension
         point="com.odcgroup.translation.visitor">
      <provider
            id="com.odcgroup.t24.enquiry.translation.visitorprovider"
            name="Enquiry Model Translation Visitor Provider"
            class="com.odcgroup.t24.enquiry.translation.EnquiryTranslationModelVisitorProvider">
          <input type="com.odcgroup.t24.enquiry.enquiry.Enquiry"/> 
      </provider>
   </extension>
   <extension
       point="com.odcgroup.workbench.language.repository">
    <repository
          class="com.odcgroup.t24.enquiry.repository.EnquiryRepository"
          language="enquiry">
   </repository>
 </extension>
   <extension point="com.odcgroup.workbench.core.model">
	     <model
            name="enquiry"
            proxyresolution="lazy"/>
   </extension>
</plugin>
