<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.odcgroup.workbench.generation.m2cCartridge">
      <cartridge
            category="T24 Component Framework JBC API"
            class="com.odcgroup.service.gen.t24.internal.categories.jbc.BasicAPICodeGenerator"
            enabledByDefault="true"
            id="service-generation-t24.cartridge1"
            name="Basic API">
      </cartridge>
      <cartridge
            category="T24 Component Framework JBC Insert"
            class="com.odcgroup.service.gen.t24.internal.categories.jbc.BasicClassInsertCodeGenerator"
            enabledByDefault="true"
            id="service-generation-t24.cartridge2"
            name="Basic Class Insert">
      </cartridge>
      <cartridge
            category="T24 Component Framework JBC IMPL"
            class="com.odcgroup.service.gen.t24.internal.categories.jbc.BasicImplementationCodeGenerator"
            enabledByDefault="true"
            id="service-generation-t24.cartridge3"
            name="Basic Implementation">
      </cartridge>
      <cartridge
            category="T24 Component Framework JBC API"
            class="com.odcgroup.service.gen.t24.internal.categories.jbc.FrameworkCodeGenerator"
            enabledByDefault="true"
            id="service-generation-t24.cartridge4"
            name="Framework ">
      </cartridge>
      <cartridge
            category="T24 Component Framework Java Data"
            class="com.odcgroup.service.gen.t24.internal.categories.java.data.JavaDataClassCodeGenerator"
            enabledByDefault="true"
            id="service-generation-t24.cartridge5"
            name="Java Data Class">
      </cartridge>
      <cartridge
            category="T24 Component Framework Java Data"
            class="com.odcgroup.service.gen.t24.internal.categories.java.data.JavaDataClassConverterCodeGenerator"
            enabledByDefault="true"
            id="service-generation-t24.cartridge5"
            name="Java Data Class Converter">
      </cartridge>
      <cartridge
            category="T24 Component Framework Java Data"
            class="com.odcgroup.service.gen.t24.internal.categories.java.data.JavaServiceOperationResponseClassCodeGenerator"
            enabledByDefault="true"
            id="service-generation-t24.cartridge5"
            name="Java Data Response Class">
      </cartridge>
      <cartridge
            category="T24 Component Framework Java API"
            class="com.odcgroup.service.gen.t24.internal.categories.java.api.JavaProxyServiceAPICodeGenerator"
            enabledByDefault="true"
            id="service-generation-t24.cartridge6"
            name="Java Proxy Service API">
      </cartridge>
      <cartridge
            category="T24 Component Framework Java API"
            class="com.odcgroup.service.gen.t24.internal.categories.java.api.JavaServiceAPICodeGenerator"
            enabledByDefault="true"
            id="service-generation-t24.cartridge6"
            name="Java Service API">
      </cartridge>
      <cartridge
            category="T24 Component Framework Java API"
            class="com.odcgroup.service.gen.t24.internal.categories.java.api.JavaServiceCodeGenerator"
            enabledByDefault="true"
            id="service-generation-t24.cartridge6"
            name="Java Service">
      </cartridge>
      <cartridge
            category="T24 Component Framework Java API"
            class="com.odcgroup.service.gen.t24.internal.categories.java.api.JavaServiceImplCodeGenerator"
            enabledByDefault="true"
            id="service-generation-t24.cartridge6"
            name="Java Service Impl">
      </cartridge>
      <cartridge
            category="T24 Component Framework Java Web Service"
            class="com.odcgroup.service.gen.t24.internal.categories.java.webservice.JavaServiceImplTAFCCodeGenerator"
            enabledByDefault="true"
            id="service-generation-t24.cartridge6"
            name="Java Service Impl TAFC">
      </cartridge>
      <cartridge
            category="T24 Component Framework Java Web Service"
            class="com.odcgroup.service.gen.t24.internal.categories.java.webservice.JavaServiceImplTAFJCodeGenerator"
            enabledByDefault="true"
            id="service-generation-t24.cartridge6"
            name="Java Service Impl TAFJ">
      </cartridge>
      <cartridge
            category="T24 Component Framework Java EJB API"
            class="com.odcgroup.service.gen.t24.internal.categories.java.api.JavaServiceEJBCodeGenerator"
            enabledByDefault="true"
            id="service-generation-t24.cartridge6"
            name="Java Service EJB API">
      </cartridge>
      <cartridge
            category="T24 Component Framework Java Proxy"
            class="com.odcgroup.service.gen.t24.internal.categories.java.proxy.JavaProxyAdaptorCodeGenerator"
            enabledByDefault="true"
            id="service-generation-t24.cartridge7"
            name="Java Proxy Adaptor">
      </cartridge>
      <cartridge
            category="T24 Component Framework Java Proxy"
            class="com.odcgroup.service.gen.t24.internal.categories.java.proxy.JavaProxyAdaptorInterfaceCodeGenerator"
            enabledByDefault="true"
            id="service-generation-t24.cartridge7"
            name="Java Proxy Adaptor Interface">
      </cartridge>
      <cartridge
            category="T24 Component Framework CPP Service"
            class="com.odcgroup.service.gen.t24.internal.categories.cpp.service.CppServiceAPICodeGenerator"
            enabledByDefault="true"
            id="service-generation-t24.cartridge8"
            name="CPP Service API">
      </cartridge>
      <cartridge
            category="T24 Component Framework CPP Data"
            class="com.odcgroup.service.gen.t24.internal.categories.cpp.data.CppServiceDataCodeGenerator"
            enabledByDefault="true"
            id="service-generation-t24.cartridge8"
            name="CPP Service Data">
      </cartridge>
      <cartridge
            category="T24 Component Framework CPP Proxy"
            class="com.odcgroup.service.gen.t24.internal.categories.cpp.proxy.CppServiceProxyCodeGenerator"
            enabledByDefault="true"
            id="service-generation-t24.cartridge8"
            name="CPP Service Proxy">
      </cartridge>
      <cartridge
            category="T24 Component Framework Dotnet API"
            class="com.odcgroup.service.gen.t24.internal.categories.dotnet.api.DotnetServiceAPICodeGenerator"
            enabledByDefault="true"
            id="service-generation-t24.cartridge9"
            name="Dotnet Service API">
      </cartridge>
      <cartridge
            category="T24 Component Framework Dotnet Data"
            class="com.odcgroup.service.gen.t24.internal.categories.dotnet.data.DotnetServiceDataCodeGenerator"
            enabledByDefault="true"
            id="service-generation-t24.cartridge9"
            name="Dotnet Service Data">
      </cartridge>
      <cartridge
            category="T24 Component Framework Java Web Service"
            class="com.odcgroup.service.gen.t24.internal.categories.java.webservice.JavaComponentSpringContextCodeGenerator"
            enabledByDefault="true"
            id="service-generation-t24.cartridge10"
            name="Java Component Spring Context">
      </cartridge>
      <cartridge
            category="T24 Component Framework Java Web Service"
            class="com.odcgroup.service.gen.t24.internal.categories.java.webservice.JavaWSApplicationContextXMLCodeGenerator"
            enabledByDefault="true"
            id="service-generation-t24.cartridge10"
            name="Java Web Service Application Context XML">
      </cartridge>
      <cartridge
            category="T24 Component Framework Java Web Service"
            class="com.odcgroup.service.gen.t24.internal.categories.java.webservice.JavaWSCodeGenerator"
            enabledByDefault="true"
            id="service-generation-t24.cartridge10"
            name="Java Web Service">
      </cartridge>
      <cartridge
            category="T24 Component Framework Java Web Service"
            class="com.odcgroup.service.gen.t24.internal.categories.java.webservice.JavaWSComponentSpringInitCodeGenerator"
            enabledByDefault="true"
            id="service-generation-t24.cartridge10"
            name="Java Web Service Component Spring Init">
      </cartridge>
      <cartridge
            category="T24 Component Framework Java Web Service"
            class="com.odcgroup.service.gen.t24.internal.categories.java.webservice.JavaWSServiceXMLCodeGenerator"
            enabledByDefault="true"
            id="service-generation-t24.cartridge10"
            name="Java Web Service XML">
      </cartridge>
      <cartridge
            category="T24 Component Framework Java Web Service"
            class="com.odcgroup.service.gen.t24.internal.categories.java.webservice.JavaProviderServiceCodeGenerator"
            enabledByDefault="true"
            id="service-generation-t24.cartridge10"
            name="Java Provider Service">
      </cartridge>
      <cartridge
            category="T24 Component Framework Dotnet Web Service"
            class="com.odcgroup.service.gen.t24.internal.categories.dotnet.api.DotnetServiceAPIWSCodeGenerator"
            enabledByDefault="true"
            id="service-generation-t24.cartridge1"
            name="Dotnet Web Service API">
      </cartridge>
   </extension>

</plugin>
