a#ofs-introLink1 img { background-image : url('graphics/odysseylogos_rings.gif'); }
a#ofs-introLink1:hover img { background-image : url('graphics/odysseylogos_rings_hover.gif'); }

a#ofs-introLink2 img { background-image : url('graphics/odysseylogos_rings.gif'); }
a#ofs-introLink2:hover img { background-image : url('graphics/odysseylogos_rings_hover.gif'); }

a#ofs-introLink3 img { background-image : url('graphics/odysseylogos_rings.gif'); }
a#ofs-introLink3:hover img { background-image : url('graphics/odysseylogos_rings_hover.gif'); }
