<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
   <extension
         point="com.odcgroup.workbench.generation.m2cCartridge">
      <cartridge
            category="WUI Block import"
            class="com.odcgroup.process.generation.WorkflowCodeGenerator"
            enabledByDefault="true"
            id="process.generation.m2c"
            name="Triple'A Plus Workflow Config">
      </cartridge>
   </extension>  	
   <extension
		point="com.odcgroup.translation.generation.keyprovider">
		<provider
        	id="com.odcgroup.process.translation.process.keyprovider"
            name="Translation Key Provider for Process"
            class="com.odcgroup.process.generation.translation.ProcessTranslationKeyProvider">
          	<input type="com.odcgroup.process.model.Process" /> 
		</provider>
	</extension>      
   <extension
		point="com.odcgroup.translation.generation.keyprovider">
		<provider
        	id="com.odcgroup.process.translation.task.keyprovider"
            name="Translation Key Provider for Task"
            class="com.odcgroup.process.generation.translation.TaskTranslationKeyProvider">
          	<input type="com.odcgroup.process.model.Task" /> 
		</provider>
	</extension>      
</plugin>

