<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="typepackages" name="TypePackages" schema="schema/typepackages.exsd"/>
   <extension-point id="importers" name="Importers" schema="schema/importers.exsd"/>
   <extension-point id="extendedimporters" name="ExtendedImporters" schema="schema/extendedimporters.exsd"/>
   <extension
         point="com.zealcore.se.core.typepackages">
      <typePackage
            class="com.zealcore.se.core.model.ModelTypePackage"
            id="com.zealcore.se.core.model.ModelTypePackage"
            name="SystemExplorer model classes"/>
      <typePackage
            class="com.zealcore.se.core.model.generic.GenericTypePackage"
            id="com.zealcore.se.core.model.generic.GenericTypePackage"
            name="Generic Type Package"/>
   </extension>
   <extension
         point="com.zealcore.se.core.importers"
         id="SRLImporter">
         <importer
            class="com.zealcore.se.core.importers.SRLImporter"
            id="com.zealcore.se.core.importers.SRLImporter"
            name="BlackBox Recorder Importer (C) Enea ZealCore AB">
      </importer>
   </extension>
   <extension
         point="com.zealcore.se.core.extendedimporters">
      <importer
            class="com.zealcore.se.core.importers.SRLExtendedImporter"
            id="com.zealcore.se.core.importers.SRLExtendedImporter">
      </importer>
   </extension>
</plugin>
