<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.odcgroup.workbench.migration.modelmigration">
      <ModelMigration
            class="com.odcgroup.page.model.migration.IncludeSrcPropertyMigration"
            modelType="fragment"
            name="com.odcgroup.page.migration.IncludeSrcPropertyMigration"
            sourceVersion="1.30.6"
            targetVersion="1.40.0">
      </ModelMigration>
      <ModelMigration
            class="com.odcgroup.page.model.migration.IncludeSrcPropertyMigration"
            modelType="module"
            name="com.odcgroup.page.migration.IncludeSrcPropertyMigration"
            sourceVersion="1.30.6"
            targetVersion="1.40.0">
      </ModelMigration>
      <ModelMigration
            class="com.odcgroup.page.model.migration.IncludeSrcPropertyMigration"
            modelType="page"
            name="com.odcgroup.page.migration.IncludeSrcPropertyMigration"
            sourceVersion="1.30.6"
            targetVersion="1.40.0">
      </ModelMigration>
      
      <ModelMigration
            class="com.odcgroup.page.model.migration.IncludeSrcModelURIMigration"
            modelType="fragment"
            name="com.odcgroup.page.migration.IncludeSrcModelURIMigration"
            sourceVersion="2.4.0.20100112"
            targetVersion="2.4.0.20100113">
      </ModelMigration>
      <ModelMigration
            class="com.odcgroup.page.model.migration.IncludeSrcModelURIMigration"
            modelType="module"
            name="com.odcgroup.page.migration.IncludeSrcModelURIMigration"
            sourceVersion="2.4.0.20100112"
            targetVersion="2.4.0.20100113">
      </ModelMigration>
      <ModelMigration
            class="com.odcgroup.page.model.migration.IncludeSrcModelURIMigration"
            modelType="page"
            name="com.odcgroup.page.migration.IncludeSrcModelURIMigration"
            sourceVersion="2.4.0.20100112"
            targetVersion="2.4.0.20100113">
      </ModelMigration>
      
      <ModelMigration
            class="com.odcgroup.page.model.migration.EventModelURIMigration"
            modelType="fragment"
            name="com.odcgroup.page.migration.EventModelURIMigration"
            sourceVersion="2.4.0.20100117"
            targetVersion="2.4.0.20100118">
      </ModelMigration>
      <ModelMigration
            class="com.odcgroup.page.model.migration.EventModelURIMigration"
            modelType="module"
            name="com.odcgroup.page.migration.EventModelURIMigration"
            sourceVersion="2.4.0.20100117"
            targetVersion="2.4.0.20100118">
      </ModelMigration>
      <ModelMigration
            class="com.odcgroup.page.model.migration.EventModelURIMigration"
            modelType="page"
            name="com.odcgroup.page.migration.EventModelURIMigration"
            sourceVersion="2.4.0.20100117"
            targetVersion="2.4.0.20100118">
      </ModelMigration>
      
      <ModelMigration
            class="com.odcgroup.page.model.migration.ImagePropertyMigration"
            modelType="fragment"
            name="com.odcgroup.page.migration.ImagePropertyMigration"
            sourceVersion="1.40.0.20091010"
            targetVersion="1.40.0.20091011">
      </ModelMigration>
      <ModelMigration
            class="com.odcgroup.page.model.migration.ImagePropertyMigration"
            modelType="module"
            name="com.odcgroup.page.migration.ImagePropertyMigration"
            sourceVersion="1.40.0.20091010"
            targetVersion="1.40.0.20091011">
      </ModelMigration>
      <ModelMigration
            class="com.odcgroup.page.model.migration.ImagePropertyMigration"
            modelType="page"
            name="com.odcgroup.page.migration.ImagePropertyMigration"
            sourceVersion="1.40.0.20091010"
            targetVersion="1.40.0.20091011">
      </ModelMigration>      
      
      <ModelMigration
            class="com.odcgroup.page.model.migration.TabWidgetEventMigration"
            modelType="module"
            name="com.odcgroup.page.migration.ModuleTabWidgetEventMigration"
            sourceVersion="1.40.0.20090921"
            targetVersion="1.40.0.20090922">
      </ModelMigration>
      <ModelMigration
            class="com.odcgroup.page.model.migration.TabWidgetEventMigration"
            modelType="fragment"
            name="com.odcgroup.page.migration.FragmentTabWidgetEventMigration"
            sourceVersion="1.40.0.20090921"
            targetVersion="1.40.0.20090922">
      </ModelMigration>
      
      <ModelMigration
            class="com.odcgroup.page.model.migration.QTPComplianceIDMigration"
            modelType="module"
            name="com.odcgroup.page.migration.ModuleQTPComplianceIDMigration"
            sourceVersion="1.40.0.20090921"
            targetVersion="1.40.0.20090922">
      </ModelMigration>
      <ModelMigration
            class="com.odcgroup.page.model.migration.QTPComplianceIDMigration"
            modelType="fragment"
            name="com.odcgroup.page.migration.FragmentQTPComplianceIDMigration"
            sourceVersion="1.40.0.20090921"
            targetVersion="1.40.0.20090922">
      </ModelMigration>
      
      <ModelMigration
            class="com.odcgroup.page.model.migration.WidgetPropertyCleanupMigration"
            modelType="module"
            name="com.odcgroup.page.migration.ModuleWidgetPropertyCleanupMigration"
            sourceVersion="1.40.0.20091101"
            targetVersion="1.40.0.20091102">
      </ModelMigration>
      <ModelMigration
            class="com.odcgroup.page.model.migration.WidgetPropertyCleanupMigration"
            modelType="fragment"
            name="com.odcgroup.page.migration.FragmentWidgetPropertyCleanupMigration"
            sourceVersion="1.40.0.20091101"
            targetVersion="1.40.0.20091102">
      </ModelMigration>
      
      <ModelMigration
            class="com.odcgroup.page.model.migration.PageRequiredMigration"
            modelType="module"
            name="com.odcgroup.page.migration.PageRequiredMigration"
            requires="mml"
            sourceVersion="1.40.0.20091118"
            targetVersion="1.40.0.20091119">
      </ModelMigration>
      <ModelMigration
            class="com.odcgroup.page.model.migration.PageRequiredMigration"
            modelType="fragment"
            name="com.odcgroup.page.migration.PageRequiredMigration"
            requires="mml"
            sourceVersion="1.40.0.20091118"
            targetVersion="1.40.0.20091119">
      </ModelMigration>
      <ModelMigration
            class="com.odcgroup.page.model.migration.PageRequiredMigration"
            modelType="page"
            name="com.odcgroup.page.migration.PageRequiredMigration"
            requires="mml"
            sourceVersion="1.40.0.20091118"
            targetVersion="1.40.0.20091119">
      </ModelMigration>
      
      <ModelMigration
            class="com.odcgroup.page.model.migration.TableColumnItemMigration"
            modelType="fragment"
            name="com.odcgroup.page.migration.FragmentTableColumnItemMigration"
            sourceVersion="1.40.0.20091209"
            targetVersion="1.40.0.20091210">
      </ModelMigration>
      <ModelMigration
            class="com.odcgroup.page.model.migration.TableColumnItemMigration"
            modelType="module"
            name="com.odcgroup.page.migration.ModuleTableColumnItemMigration"
            sourceVersion="1.40.0.20091209"
            targetVersion="1.40.0.20091210">
      </ModelMigration>
      <ModelMigration
            class="com.odcgroup.page.model.migration.PlaceholderColumnMigration"
            modelType="module"
            name="com.odcgroup.page.migration.ModulePlaceholderColumnMigration"
            sourceVersion="1.40.0.20100124"
            targetVersion="1.40.0.20100125">
      </ModelMigration>
      <ModelMigration
            class="com.odcgroup.page.model.migration.PlaceholderColumnMigration"
            modelType="fragment"
            name="com.odcgroup.page.migration.FragmentPlaceholderColumnMigration"
            sourceVersion="1.40.0.20100124"
            targetVersion="1.40.0.20100125">
      </ModelMigration>
      
      <ModelMigration
            class="com.odcgroup.page.model.migration.RemoveVersionAttributeMigration"
            modelType="fragment"
            name="com.odcgroup.page.migration.RemoveVersionAttributeMigration"
            sourceVersion="2.4.0.20100128"
            targetVersion="2.4.0.20100129">
      </ModelMigration>
      <ModelMigration
            class="com.odcgroup.page.model.migration.RemoveVersionAttributeMigration"
            modelType="module"
            name="com.odcgroup.page.migration.RemoveVersionAttributeMigration"
            sourceVersion="2.4.0.20100128"
            targetVersion="2.4.0.20100129">
      </ModelMigration>
      <ModelMigration
            class="com.odcgroup.page.model.migration.RemoveVersionAttributeMigration"
            modelType="page"
            name="com.odcgroup.page.migration.RemoveVersionAttributeMigration"
            sourceVersion="2.4.0.20100128"
            targetVersion="2.4.0.20100129">
      </ModelMigration>
      
      <ModelMigration
            class="com.odcgroup.page.model.migration.EventNatureMigration"
            modelType="fragment"
            name="com.odcgroup.page.migration.EventNatureMigration"
            sourceVersion="2.4.0.20100203"
            targetVersion="2.4.0.20100204">
      </ModelMigration>
      <ModelMigration
            class="com.odcgroup.page.model.migration.EventNatureMigration"
            modelType="module"
            name="com.odcgroup.page.migration.EventNatureMigration"
            sourceVersion="2.4.0.20100203"
            targetVersion="2.4.0.20100204">
      </ModelMigration>      

      <ModelMigration
            class="com.odcgroup.page.model.migration.TableTreeMultiSelectionMigration"
            modelType="fragment"
            name="com.odcgroup.page.migration.TableTreeMultiSelectionMigration"
            sourceVersion="2.4.0.20100216"
            targetVersion="2.4.0.20100217">
      </ModelMigration>
      <ModelMigration
            class="com.odcgroup.page.model.migration.TableTreeMultiSelectionMigration"
            modelType="module"
            name="com.odcgroup.page.migration.TableTreeMultiSelectionMigration"
            sourceVersion="2.4.0.20100216"
            targetVersion="2.4.0.20100217">
      </ModelMigration>   

      <ModelMigration
            class="com.odcgroup.page.model.migration.BusinessTypePercentToPercentTAMigration"
            name="com.odcgroup.page.migration.BusinessTypePercentToPercentTAMigration"
            modelType="fragment"
            requires="mml"
            sourceVersion="2.4.0.20100225"
            targetVersion="2.4.0.20100226">
      </ModelMigration>
      <ModelMigration
            class="com.odcgroup.page.model.migration.BusinessTypePercentToPercentTAMigration"
            name="com.odcgroup.page.migration.BusinessTypePercentToPercentTAMigration"
            modelType="module"
            requires="mml"
            sourceVersion="2.4.0.20100225"
            targetVersion="2.4.0.20100226">
      </ModelMigration>  
      
     <ModelMigration
            class="com.odcgroup.page.model.migration.BeanNameAndBeanDefineMigration"
            name="com.odcgroup.page.migration.BeanNameAndBeanDefineMigration"
            modelType="module"
            requires="mml"
            sourceVersion="2.4.0.20100226"
            targetVersion="2.4.0.20100227">
      </ModelMigration>   

      <ModelMigration
            class="com.odcgroup.page.model.migration.WidgetSelectedPropertyMigration"
            name="com.odcgroup.page.migration.WidgetSelectedPropertyMigration"
            modelType="fragment"
            sourceVersion="2.4.0.20100228"
            targetVersion="2.4.0.20100301">
      </ModelMigration>
      <ModelMigration
            class="com.odcgroup.page.model.migration.WidgetSelectedPropertyMigration"
            name="com.odcgroup.page.migration.WidgetSelectedPropertyMigration"
            modelType="module"
            sourceVersion="2.4.0.20100228"
            targetVersion="2.4.0.20100301">
      </ModelMigration> 
         
      <ModelMigration
            class="com.odcgroup.page.model.migration.RadioButtonEventMigration"
            name="com.odcgroup.page.migration.RadioButtonEventMigration"
            modelType="fragment"
            sourceVersion="2.4.0.20100302"
            targetVersion="2.4.0.20100303">
      </ModelMigration>
      <ModelMigration
            class="com.odcgroup.page.model.migration.RadioButtonEventMigration"
            name="com.odcgroup.page.migration.RadioButtonEventMigration"
            modelType="module"
            sourceVersion="2.4.0.20100302"
            targetVersion="2.4.0.20100303">
      </ModelMigration>     
         
      <ModelMigration
            class="com.odcgroup.page.model.migration.ReplaceSearchEventMigration"
            name="com.odcgroup.page.migration.ReplaceSearchEventMigration"
            modelType="fragment"
            sourceVersion="2.4.0.20100308"
            targetVersion="2.4.0.20100309">
      </ModelMigration>
      <ModelMigration
            class="com.odcgroup.page.model.migration.ReplaceSearchEventMigration"
            name="com.odcgroup.page.migration.ReplaceSearchEventMigration"
            modelType="module"
            sourceVersion="2.4.0.20100308"
            targetVersion="2.4.0.20100309">
      </ModelMigration>       
         
      <ModelMigration
            class="com.odcgroup.page.model.migration.SnippetXMIIDMigration"
            name="com.odcgroup.page.migration.SnippetXMIIDMigration"
            modelType="fragment"
            sourceVersion="2.4.0.20100319"
            targetVersion="2.4.0.20100320">
      </ModelMigration>
      <ModelMigration
            class="com.odcgroup.page.model.migration.SnippetXMIIDMigration"
            name="com.odcgroup.page.migration.SnippetXMIIDMigration"
            modelType="module"
            sourceVersion="2.4.0.20100319"
            targetVersion="2.4.0.20100320">
      </ModelMigration>  
      <ModelMigration
            class="com.odcgroup.page.model.migration.FiltersetCancelPropertyMigration"
            name="com.odcgroup.page.migration.FiltersetCancelPropertyMigration"
            modelType="fragment"
            sourceVersion="3.0.0.20100711"
            targetVersion="3.0.0.20100712">
      </ModelMigration>   
      <ModelMigration
            class="com.odcgroup.page.model.migration.FiltersetCancelPropertyMigration"
            name="com.odcgroup.page.migration.FiltersetCancelPropertyMigration"
            modelType="module"
            sourceVersion="3.0.0.20100711"
            targetVersion="3.0.0.20100712">
      </ModelMigration>      
      <ModelMigration
            class="com.odcgroup.page.model.migration.TranslationIdMigration"
            name="com.odcgroup.page.migration.TranslationIdMigration"
            modelType="fragment"
            sourceVersion="3.0.0.20100714"
            targetVersion="3.0.0.20100715">
      </ModelMigration>   
      <ModelMigration
            class="com.odcgroup.page.model.migration.TranslationIdMigration"
            name="com.odcgroup.page.migration.TranslationIdMigration"
            modelType="module"
            sourceVersion="3.0.0.20100714"
            targetVersion="3.0.0.20100715">
      </ModelMigration>   
      <ModelMigration
            class="com.odcgroup.page.model.migration.TranslationIdMigration"
            name="com.odcgroup.page.migration.TranslationIdMigration"
            modelType="page"
            sourceVersion="3.0.0.20100714"
            targetVersion="3.0.0.20100715">
      </ModelMigration>        
      <ModelMigration
            class="com.odcgroup.page.model.migration.MatrixWidgetPropertyMigration"
            name="com.odcgroup.page.migration.MatrixIdMigration"
            modelType="fragment"
            sourceVersion="3.0.0.20100927"
            targetVersion="3.0.0.20100928">
      </ModelMigration>   
      <ModelMigration
            class="com.odcgroup.page.model.migration.MatrixWidgetPropertyMigration"
            name="com.odcgroup.page.migration.MatrixIdMigration"
            modelType="module"
            sourceVersion="3.0.0.20100727"
            targetVersion="3.0.0.20100728">
      </ModelMigration>        
      <ModelMigration
            class="com.odcgroup.page.model.migration.MatrixStickyFlagMigration"
            name="com.odcgroup.page.migration.MatrixStickyMigration"
            modelType="fragment"
            sourceVersion="3.0.0.20101013"
            targetVersion="3.0.0.20101014">
      </ModelMigration>   
      <ModelMigration
            class="com.odcgroup.page.model.migration.MatrixStickyFlagMigration"
            name="com.odcgroup.page.migration.MatrixStickyMigration"
            modelType="module"
            sourceVersion="3.0.0.20101013"
            targetVersion="3.0.0.20101014">
      </ModelMigration> 
      <ModelMigration
            class="com.odcgroup.page.model.migration.MatrixEnabledPropertyMigration"
            name="com.odcgroup.page.migration.MatrixEnabledPropertyMigration"
            modelType="fragment"
            sourceVersion="3.0.0.20101014"
            targetVersion="3.0.0.20101015">
      </ModelMigration>   
      <ModelMigration
            class="com.odcgroup.page.model.migration.MatrixEnabledPropertyMigration"
            name="com.odcgroup.page.migration.MatrixEnabledPropertyMigration"
            modelType="module"
            sourceVersion="3.0.0.20101014"
            targetVersion="3.0.0.20101015">
      </ModelMigration>
      <ModelMigration
            class="com.odcgroup.page.model.migration.ModelAndViewReferenceMigration"
            name="com.odcgroup.page.migration.ModelAndViewReferenceMigration"
            modelType="fragment"
            sourceVersion="3.0.0.20101017"
            targetVersion="3.0.0.20101018">
      </ModelMigration>
      <ModelMigration
            class="com.odcgroup.page.model.migration.ModelAndViewReferenceMigration"
            name="com.odcgroup.page.migration.ModelAndViewReferenceMigration"
            modelType="module"
            sourceVersion="3.0.0.20101017"
            targetVersion="3.0.0.20101018">
      </ModelMigration>
      <ModelMigration
            class="com.odcgroup.page.model.migration.MatrixTableExtraMigration"
            name="com.odcgroup.page.migration.MatrixTableExtraMigration"
            modelType="fragment"
            sourceVersion="3.0.0.20101018"
            targetVersion="3.0.0.20101019">
      </ModelMigration>
      <ModelMigration
            class="com.odcgroup.page.model.migration.MatrixTableExtraMigration"
            name="com.odcgroup.page.migration.MatrixTableExtraMigration"
            modelType="module"
            sourceVersion="3.0.0.20101018"
            targetVersion="3.0.0.20101019">
      </ModelMigration>
      <ModelMigration
            class="com.odcgroup.page.model.migration.MatrixCellItemTIDMigration"
            name="com.odcgroup.page.migration.MatrixCellItemTIDMigration"
            modelType="fragment"
            sourceVersion="3.0.0.20101019"
            targetVersion="3.0.0.20101020">
      </ModelMigration>
      <ModelMigration
            class="com.odcgroup.page.model.migration.MatrixCellItemTIDMigration"
            name="com.odcgroup.page.migration.MatrixCellItemTIDMigration"
            modelType="module"
            sourceVersion="3.0.0.20101019"
            targetVersion="3.0.0.20101020">
      </ModelMigration>
      <ModelMigration
            class="com.odcgroup.page.model.migration.MatrixExtraColumnTypeMigration"
            name="com.odcgroup.page.migration.MatrixExtraColumnTypeMigration"
            modelType="fragment"
            sourceVersion="3.0.0.20101020"
            targetVersion="3.0.0.20101021">
      </ModelMigration>
      <ModelMigration
            class="com.odcgroup.page.model.migration.MatrixExtraColumnTypeMigration"
            name="com.odcgroup.page.migration.MatrixExtraColumnTypeMigration"
            modelType="module"
            sourceVersion="3.0.0.20101020"
            targetVersion="3.0.0.20101021">
      </ModelMigration>
      <ModelMigration
            class="com.odcgroup.page.model.migration.MatrixComputedColumnMigration"
            name="com.odcgroup.page.migration.MatrixComputedColumnMigration"
            modelType="fragment"
            sourceVersion="3.0.0.20101024"
            targetVersion="3.0.0.20101025">
      </ModelMigration>
      <ModelMigration
            class="com.odcgroup.page.model.migration.MatrixComputedColumnMigration"
            name="com.odcgroup.page.migration.MatrixComputedColumnMigration"
            modelType="module"
            sourceVersion="3.0.0.20101024"
            targetVersion="3.0.0.20101025">
      </ModelMigration>
      <ModelMigration
            class="com.odcgroup.page.model.migration.MatrixContentCellItemTypeMigration"
            name="com.odcgroup.page.migration.MatrixContentCellItemTypeMigration"
            modelType="fragment"
            sourceVersion="3.0.0.20101026"
            targetVersion="3.0.0.20101027">
      </ModelMigration>
      <ModelMigration
            class="com.odcgroup.page.model.migration.MatrixContentCellItemTypeMigration"
            name="com.odcgroup.page.migration.MatrixContentCellItemTypeMigration"
            modelType="module"
            sourceVersion="3.0.0.20101026"
            targetVersion="3.0.0.20101027">
      </ModelMigration>
      <ModelMigration
            class="com.odcgroup.page.model.migration.TableTreeStickyMigration"
            name="com.odcgroup.page.migration.TableTreeStickyMigration"
            modelType="fragment"
            sourceVersion="4.0.0.20101207"
            targetVersion="4.0.0.20101208">
      </ModelMigration>
      <ModelMigration
            class="com.odcgroup.page.model.migration.TableTreeStickyMigration"
            name="com.odcgroup.page.migration.TableTreeStickyMigration"
            modelType="module"
            sourceVersion="4.0.0.20101207"
            targetVersion="4.0.0.20101208">
      </ModelMigration>
      <ModelMigration
            class="com.odcgroup.page.model.migration.ModuleNamePropertyMigration"
            name="com.odcgroup.page.migration.ModuleNamePropertyMigration"
            modelType="module"
            sourceVersion="4.0.0.20101212"
            targetVersion="4.0.0.20101213">
      </ModelMigration>
      <ModelMigration
            class="com.odcgroup.page.model.migration.ModWidgetIDPropertyMigration"
            name="com.odcgroup.page.migration.module.ModWidgetIDPropertyMigration"
            modelType="module"
            sourceVersion="4.0.0.20110112"
            targetVersion="4.0.0.20110113">
      </ModelMigration>
      <ModelMigration
            class="com.odcgroup.page.model.migration.ModWidgetIDPropertyMigration"
            name="com.odcgroup.page.migration.fragment.ModWidgetIDPropertyMigration"
            modelType="fragment"
            sourceVersion="4.0.0.20110112"
            targetVersion="4.0.0.20110113">
      </ModelMigration>
      <ModelMigration
            class="com.odcgroup.page.model.migration.ModWidgetIDPropertyMigration"
            name="com.odcgroup.page.migration.page.ModWidgetIDPropertyMigration"
            modelType="page"
            sourceVersion="4.0.0.20110112"
            targetVersion="4.0.0.20110113">
      </ModelMigration>
      <ModelMigration
            class="com.odcgroup.page.model.migration.XMI2DSLMigration"
            modelType="fragment"
            name="com.odcgroup.page.migration.fragment.XMI2DSLMigration"
            requires="domain"
            sourceVersion="4.0.0.20110116"
            targetVersion="4.0.0.20110117">
      </ModelMigration>
      <ModelMigration
            class="com.odcgroup.page.model.migration.XMI2DSLMigration"
            modelType="module"
            name="com.odcgroup.page.migration.module.XMI2DSLMigration"
            requires="domain"
            sourceVersion="4.0.0.20110116"
            targetVersion="4.0.0.20110117">
      </ModelMigration>
      <ModelMigration
            class="com.odcgroup.page.model.migration.XMI2DSLMigration"
            modelType="page"
            name="com.odcgroup.page.migration.page.XMI2DSLMigration"
            requires="domain"
            sourceVersion="4.0.0.20110116"
            targetVersion="4.0.0.20110117">
      </ModelMigration>
      <ContentMigration
            class="com.odcgroup.page.model.migration.WidgetPosXPosyRemovalMigration"
            modelType="fragment"
            name="com.odcgroup.page.model.migration.WidgetPosXPosyRemovalMigration"
            requires="domain"
            sourceVersion="4.1.0.20110228"
            targetVersion="4.1.0.20110301">
      </ContentMigration>
      <ContentMigration
            class="com.odcgroup.page.model.migration.WidgetPosXPosyRemovalMigration"
            modelType="module"
            name="com.odcgroup.page.model.migration.WidgetPosXPosyRemovalMigration"
            requires="domain"
            sourceVersion="4.1.0.20110228"
            targetVersion="4.1.0.20110301">
      </ContentMigration>
      <ContentMigration
            class="com.odcgroup.page.model.migration.WidgetPosXPosyRemovalMigration"
            modelType="page"
            name="com.odcgroup.page.model.migration.WidgetPosXPosyRemovalMigration"
            requires="domain"
            sourceVersion="4.1.0.20110228"
            targetVersion="4.1.0.20110301">
      </ContentMigration>
      <ModelMigration
            class="com.odcgroup.page.model.migration.RemoveModifiedByModifiedDateMigration"
            modelType="page"
            name="com.odcgroup.page.model.migration.RemoveModifiedByModifiedDateMigration"
            requires="domain"
            sourceVersion="4.1.0.20110306"
            targetVersion="4.1.0.20110307">
      </ModelMigration>
      <ModelMigration
            class="com.odcgroup.page.model.migration.RemoveModifiedByModifiedDateMigration"
            modelType="module"
            name="com.odcgroup.page.model.migration.RemoveModifiedByModifiedDateMigration"
            requires="domain"
            sourceVersion="4.1.0.20110306"
            targetVersion="4.1.0.20110307">
      </ModelMigration>
      <ModelMigration
            class="com.odcgroup.page.model.migration.RemoveModifiedByModifiedDateMigration"
            modelType="fragment"
            name="com.odcgroup.page.model.migration.RemoveModifiedByModifiedDateMigration"
            requires="domain"
            sourceVersion="4.1.0.20110306"
            targetVersion="4.1.0.20110307">
      </ModelMigration>
      <ContentMigration
            class="com.odcgroup.page.content.migration.RemoveUnnecessaryIdsFromWidgetsMigration"
            modelType="module"
            name="com.odcgroup.page.content.migration.RemoveUnnecessaryIdsFromWidgetsMigration"
            requires="domain"
            sourceVersion="4.1.0.20110326"
            targetVersion="4.1.0.20110327">
      </ContentMigration>
      <ContentMigration
            class="com.odcgroup.page.content.migration.RemoveUnnecessaryIdsFromWidgetsMigration"
            modelType="fragment"
            name="com.odcgroup.page.content.migration.RemoveUnnecessaryIdsFromWidgetsMigration"
            requires="domain"
            sourceVersion="4.1.0.20110326"
            targetVersion="4.1.0.20110327">
      </ContentMigration>
      <ContentMigration
            class="com.odcgroup.page.content.migration.RemoveUnnecessaryIdsFromWidgetsMigration"
            modelType="page"
            name="com.odcgroup.page.content.migration.RemoveUnnecessaryIdsFromWidgetsMigration"
            requires="domain"
            sourceVersion="4.1.0.20110326"
            targetVersion="4.1.0.20110327">
      </ContentMigration>
      <ModelMigration
            class="com.odcgroup.page.model.migration.UTF8Migration"
            modelType="page"
            name="com.odcgroup.page.model.migration.UTF8Migration"
            sourceVersion="4.1.0.20110331"
            targetVersion="4.1.0.20110401">
      </ModelMigration>
      <ModelMigration
            class="com.odcgroup.page.model.migration.UTF8Migration"
            modelType="module"
            name="com.odcgroup.page.model.migration.UTF8Migration"
            sourceVersion="4.1.0.20110331"
            targetVersion="4.1.0.20110401">
      </ModelMigration>
      <ModelMigration
            class="com.odcgroup.page.model.migration.UTF8Migration"
            modelType="fragment"
            name="com.odcgroup.page.model.migration.UTF8Migration"
            sourceVersion="4.1.0.20110331"
            targetVersion="4.1.0.20110401">
      </ModelMigration>
      <ContentMigration
            class="com.odcgroup.page.content.migration.AutoCompleteDevMigration"
            modelType="module"
            requires="domain"
            name="com.odcgroup.page.content.migration.AutoCompleteDevMigration"
            sourceVersion="4.3.0.20110515"
            targetVersion="4.3.0.20110516">
      </ContentMigration>
      <ContentMigration
            class="com.odcgroup.page.content.migration.AutoCompleteDevMigration"
            modelType="fragment"
            requires="domain"
            name="com.odcgroup.page.content.migration.AutoCompleteDevMigration"
            sourceVersion="4.3.0.20110515"
            targetVersion="4.3.0.20110516">
      </ContentMigration>
      <ContentMigration
            class="com.odcgroup.page.content.migration.MaxRowCountEventParameterMigration"
            modelType="module"
            requires="domain"
            name="com.odcgroup.page.content.migration.MaxRowCountEventParameterMigration"
            sourceVersion="4.3.0.20110523"
            targetVersion="4.3.0.20110524">
      </ContentMigration>
      <ContentMigration
            class="com.odcgroup.page.content.migration.MaxRowCountEventParameterMigration"
            modelType="fragment"
            requires="domain"
            name="com.odcgroup.page.content.migration.MaxRowCountEventParameterMigration"
            sourceVersion="4.3.0.20110523"
            targetVersion="4.3.0.20110524">
      </ContentMigration>
      <ContentMigration
            class="com.odcgroup.page.content.migration.TableColumnAlignmentPropertyMigration"
            modelType="module"
            requires="domain"
            name="com.odcgroup.page.content.migration.TableColumnAlignmentPropertyMigration"
            sourceVersion="4.4.0.20110627"
            targetVersion="4.4.0.20110628">
      </ContentMigration>
      <ContentMigration
            class="com.odcgroup.page.content.migration.TableColumnAlignmentPropertyMigration"
            modelType="fragment"
            requires="domain"
            name="com.odcgroup.page.content.migration.TableColumnAlignmentPropertyMigration"
            sourceVersion="4.4.0.20110627"
            targetVersion="4.4.0.20110628">
      </ContentMigration>
      <ContentMigration
            class="com.odcgroup.page.model.migration.TableGroupMigration"
            modelType="module"
            name="com.odcgroup.page.model.migration.TableGroupMigration"
            sourceVersion="7.1.0.20120510"
            targetVersion="7.1.0.20120511">
      </ContentMigration>
      <ContentMigration
            class="com.odcgroup.page.model.migration.TableGroupMigration"
            modelType="fragment"
            name="com.odcgroup.page.model.migration.TableGroupMigration"
            sourceVersion="7.1.0.20120510"
            targetVersion="7.1.0.20120511">
      </ContentMigration> 
      <ContentMigration
            class="com.odcgroup.page.model.migration.RadioWidgetIDPropertyMigration"
            modelType="module"
            name="com.odcgroup.page.model.migration.ModuleRadioWidgetIDPropertyMigration"
            sourceVersion="7.1.0.20120515"
            targetVersion="7.1.0.20120516">
      </ContentMigration>
      <ContentMigration
            class="com.odcgroup.page.model.migration.RadioWidgetIDPropertyMigration"
            modelType="fragment"
            name="com.odcgroup.page.model.migration.FragmentRadioWidgetIDPropertyMigration"
            sourceVersion="7.1.0.20120515"
            targetVersion="7.1.0.20120516">
      </ContentMigration>
      <ContentMigration
            class="com.odcgroup.page.model.migration.ApplyOnGroupMigration"
            modelType="module"
            name="com.odcgroup.page.model.migration.ApplyOnGroupMigration"
            sourceVersion="8.0.0.20121022"
            targetVersion="8.0.0.20121023">
      </ContentMigration>
      <ContentMigration
            class="com.odcgroup.page.model.migration.ApplyOnGroupMigration"
            modelType="fragment"
            name="com.odcgroup.page.model.migration.ApplyOnGroupMigration"
            sourceVersion="8.0.0.20121022"
            targetVersion="8.0.0.20121023">
      </ContentMigration>
      <ContentMigration
            class="com.odcgroup.page.model.migration.EventFlowActionMigration"
            modelType="fragment"
            name="com.odcgroup.page.model.migration.EventFlowActionMigration"
            sourceVersion="8.0.0.20130122"
            targetVersion="8.0.0.20130123">
      </ContentMigration>
      <ContentMigration
            class="com.odcgroup.page.model.migration.EventFlowActionMigration"
            modelType="module"
            name="com.odcgroup.page.model.migration.EventFlowActionMigration"
            sourceVersion="8.0.0.20130122"
            targetVersion="8.0.0.20130123">
      </ContentMigration>
      <ContentMigration
            class="com.odcgroup.page.model.migration.EventFlowActionMigration"
            modelType="page"
            name="com.odcgroup.page.model.migration.EventFlowActionMigration"
            sourceVersion="8.0.0.20130122"
            targetVersion="8.0.0.20130123">
      </ContentMigration>
      <ContentMigration
            class="com.odcgroup.page.model.migration.MatrixComputePercentageMigration"
            modelType="fragment"
            name="com.odcgroup.page.model.migration.MatrixComputePercentageMigration"
            sourceVersion="8.0.0.20130122"
            targetVersion="8.0.0.20130123">
      </ContentMigration>
      <ContentMigration
            class="com.odcgroup.page.model.migration.MatrixComputePercentageMigration"
            modelType="module"
            name="com.odcgroup.page.model.migration.MatrixComputePercentageMigration"
            sourceVersion="8.0.0.20130122"
            targetVersion="8.0.0.20130123">
      </ContentMigration>
      
   </extension>
   
   <extension
         point="com.odcgroup.workbench.migration.metamodelversionhandler">
      <metamodelversionhandler
            class="com.odcgroup.page.migration.PageMetaModelVersionHandler"
            modelType="page">
      </metamodelversionhandler>
      <metamodelversionhandler
            class="com.odcgroup.page.migration.PageMetaModelVersionHandler"
            modelType="module">
      </metamodelversionhandler>
      <metamodelversionhandler
            class="com.odcgroup.page.migration.PageMetaModelVersionHandler"
            modelType="fragment">
      </metamodelversionhandler>
   </extension> 

   <extension
         point="com.odcgroup.translation.migration.migrator">
      <migrator
            class="com.odcgroup.page.translation.migration.PageTranslationMigrator"
            executeLast="false">
      </migrator>
   </extension> 

</plugin>
