<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="com.odcgroup.workbench"
            class="com.odcgroup.t24.version.importer.ui.wizard.VersionImportWizard"
            icon="icons/screen.png"
            id="com.odcgroup.t24.version.importer.ui.wizard.VersionImportWizard"
            name="Import T24 Screens">
         <description>
            Import T24 Screens
         </description>
      </wizard>
   	</extension>
   
  	<extension
         point="org.eclipse.ui.navigator.navigatorContent">
		<actionProvider
		      class="com.odcgroup.t24.version.importer.ui.action.VersionImportActionProvider"
		      id="com.odcgroup.workbench.ui.navigator.action.pageflowImport">
		   <enablement>
		      <and>
		       <adapt
		             type="com.odcgroup.workbench.core.IOfsModelFolder">
		       </adapt>
		      <test
		            property="com.odcgroup.workbench.core.modelType"
		            value="version"/>
		      </and>
		</enablement>
		</actionProvider>
   </extension> 
   <extension point="org.eclipse.ui.importWizards">       
      <wizard
            category="com.odcgroup.workbench"
            class="com.odcgroup.t24.version.importer.ui.wizard.VersionTranslationsImportWizard"
            icon="icons/excel.png"
            id="com.odcgroup.t24.version.importer.ui.xls"
            name="Import Versions Translations from Excel">
         <description>
            Import an excel file
         </description>
      </wizard>
   </extension>        
</plugin>
