<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
        point="org.eclipse.emf.ecore.extension_parser">
     <parser
           class="com.odcgroup.headless.internal.FormatResourceFactory"
           type="format">
     </parser>
     <parser
           class="com.odcgroup.headless.internal.DomainResourceFactory"
           type="domain">
     </parser>
     <parser
           class="com.odcgroup.headless.internal.MenuResourceFactory"
           type="menu">
     </parser>
     <parser
           class="com.odcgroup.headless.internal.PageResourceFactory"
           type="page">
     </parser>
  </extension>
</plugin>
