<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.compare.contentMergeViewers">
      <viewer
            class="com.odcgroup.page.compare.viewer.PageContentMergeViewerCreator"
            extensions="fragment, module, page"
            id="com.odcgroup.page.compare.content">
      </viewer>
   </extension>
   <extension
         point="org.eclipse.compare.structureMergeViewers">
      <viewer
            class="com.odcgroup.page.compare.viewer.PageStructureMergeViewerCreator"
            extensions="fragment,module,page"
            id="com.odcgroup.page.compare.structure">
      </viewer>
   </extension>
   <extension
         point="org.eclipse.emf.compare.match.engine">
      <matchengine
            engineClass="com.odcgroup.page.compare.engine.PageModelMatchEngine"
            fileExtension="module"
            label="PageModel Match Engine">
      </matchengine>
   </extension>
   <extension
         point="org.eclipse.emf.compare.diff.engine">
      <diffengine
            engineClass="com.odcgroup.page.compare.engine.PageModelDiffEngine"
            fileExtension="module"
            label="PageModel Diff Engine"
            priority="high">
      </diffengine>
   </extension>
   <extension
         point="org.eclipse.emf.compare.match.engine">
      <matchengine
            engineClass="com.odcgroup.page.compare.engine.PageModelMatchEngine"
            fileExtension="fragment"
            label="PageModel Match Engine">
      </matchengine>
   </extension>
   <extension
         point="org.eclipse.emf.compare.diff.engine">
      <diffengine
            engineClass="com.odcgroup.page.compare.engine.PageModelDiffEngine"
            fileExtension="fragment"
            label="PageModel Diff Engine"
            priority="high">
      </diffengine>
   </extension>
   <extension
         point="org.eclipse.emf.compare.match.engine">
      <matchengine
            engineClass="com.odcgroup.page.compare.engine.PageModelMatchEngine"
            fileExtension="page"
            label="PageModel Match Engine">
      </matchengine>
   </extension>
   <extension
         point="org.eclipse.emf.compare.diff.engine">
      <diffengine
            engineClass="com.odcgroup.page.compare.engine.PageModelDiffEngine"
            fileExtension="page"
            label="PageModel Diff Engine"
            priority="high">
      </diffengine>
   </extension>
</plugin>
