<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
<extension point="org.eclipse.ui.navigator.navigatorContent">
<actionProvider
      class="com.odcgroup.mdf.integration.action.DomainActionProvider"
      id="com.odcgroup.workbench.ui.navigator.action.model">
   <enablement>
      <and>
      <adapt
            type="com.odcgroup.workbench.core.IOfsModelPackage">
      </adapt>
      <test
            property="com.odcgroup.workbench.core.modelType"
            value="domain"/>
      </and>
</enablement>
</actionProvider>
</extension>

</plugin>
