<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="com.ose.cdt.managedbuilder"
   name="OSE C/C++ Toolchain"
   version="1.1.1"
   provider-name="Enea Software AB">

   <requires>
      <import plugin="org.eclipse.cdt.managedbuilder.core"/>
   </requires>

   <extension
         point="org.eclipse.cdt.managedbuilder.core.buildDefinitions"
         id="com.ose.cdt.managedbuilder.buildDefinitions"
         name="OSE Build Definitions for Makefile Projects">
      <managedBuildRevision
            fileVersion="4.0.0">
      </managedBuildRevision>
      <tool
            id="com.ose.cdt.managedbuilder.tool.settings.holder"
            name="OSE Includes and Symbols"
            isAbstract="true">
         <option
               id="com.ose.cdt.managedbuilder.option.includes"
               name="Include Paths"
               valueType="includePath"
               browseType="directory">
            <listOptionValue
                  value="${OSE_HOME}/include"
                  builtIn="false">
            </listOptionValue>
            <listOptionValue
                  value="${OSE_HOME}/include/ose_spi"
                  builtIn="false">
            </listOptionValue>
            <listOptionValue
                  value="${OSE_HOME}/include/ose_err"
                  builtIn="false">
            </listOptionValue>
         </option>
         <option
               id="com.ose.cdt.managedbuilder.option.symbols"
               name="Symbols"
               valueType="definedSymbols">
         </option>
      </tool>
      <configuration
            id="com.ose.cdt.managedbuilder.config"
            name="OSE Build Configuration">
         <toolChain
               id="com.ose.cdt.managedbuilder.toolchain"
               name="OSE C/C++ Toolchain"
               errorParsers="org.eclipse.cdt.core.GCCErrorParser;org.eclipse.cdt.core.GASErrorParser;org.eclipse.cdt.core.GLDErrorParser"
               supportsManagedBuild="false">
            <targetPlatform
                  id="com.ose.cdt.managedbuilder.targetPlatform"
                  name="OSE Target Platform"
                  binaryParser="org.eclipse.cdt.core.ELF;org.eclipse.cdt.core.PE">
            </targetPlatform>
            <tool
                  id="com.ose.cdt.managedbuilder.tool.gnu.cpp.compiler"
                  superClass="com.ose.cdt.managedbuilder.tool.settings.holder"
                  name="OSE GCC C++ Compiler"
                  natureFilter="ccnature">
               <inputType
                     id="com.ose.cdt.managedbuilder.tool.gnu.cpp.compiler.input"
                     sourceContentType="org.eclipse.cdt.core.cxxSource"
                     sources="c,C,cc,cxx,cpp"
                     dependencyContentType="org.eclipse.cdt.core.cxxHeader"
                     dependencyExtensions="h,H,hpp"
                     languageId="org.eclipse.cdt.core.g++">
               </inputType>
            </tool>
            <tool
                  id="com.ose.cdt.managedbuilder.tool.gnu.c.compiler"
                  superClass="com.ose.cdt.managedbuilder.tool.settings.holder"
                  name="OSE GCC C Compiler"
                  natureFilter="both">
               <inputType
                     id="com.ose.cdt.managedbuilder.tool.gnu.c.compiler.input"
                     sourceContentType="org.eclipse.cdt.core.cSource"
                     sources="c"
                     dependencyContentType="org.eclipse.cdt.core.cHeader"
                     dependencyExtensions="h"
                     languageId="org.eclipse.cdt.core.gcc">
               </inputType>
            </tool>
            <tool
                  id="com.ose.cdt.managedbuilder.tool.gnu.assembler"
                  superClass="com.ose.cdt.managedbuilder.tool.settings.holder"
                  name="OSE GCC Assembler"
                  natureFilter="both">
               <inputType
                     id="com.ose.cdt.managedbuilder.tool.gnu.assembler.input"
                     sourceContentType="org.eclipse.cdt.core.asmSource"
                     sources="s,S"
                     languageId="org.eclipse.cdt.core.assembly">
               </inputType>
            </tool>
            <builder
                  id="com.ose.cdt.managedbuilder.builder"
                  superClass="org.eclipse.cdt.build.core.settings.default.builder">
            </builder>
         </toolChain>
      </configuration>
   </extension>
</plugin>
