<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

	<!--   	
   <extension
         point="com.odcgroup.workbench.generation.m2cCartridge">
      <cartridge
            category="WUI Block"
            class="com.odcgroup.page.generation.LayerXspCodeGenerator"
            id="layer.generation.m2c"
            name="Layer XSP"
            enabledByDefault="true">
      </cartridge>
   </extension>
   -->
   
   <extension
         point="com.odcgroup.workbench.generation.m2cCartridge">
      <cartridge
            category="WUI Block"
            class="com.odcgroup.page.generation.ModuleXspCodeGenerator"
            id="module.generation.m2c"
            name="Module XSP"
            enabledByDefault="true">
      </cartridge>
   </extension>
   <extension
         point="com.odcgroup.workbench.generation.m2cCartridge">
      <cartridge
            category="WUI Block"
            class="com.odcgroup.page.generation.PageXspCodeGenerator"
            id="page.generation.m2c"
            name="Page XSP"
            enabledByDefault="true">
      </cartridge>
   </extension>   
</plugin>
