<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.zealcore.se.core.importers">
      <importer
            class="com.enea.sd.example.importer.SimpleImporter"
            id="com.enea.sd.example.importer.SimpleImporter"
            name="Simple Importer">
      </importer>
   </extension>
   
   <extension
         point="com.zealcore.se.core.importers">
      <importer
            class="com.enea.sd.example.importer.MinimalImporter"
            id="com.enea.sd.example.importer.MinimalImporter"
            name="Minimal Importer">
      </importer>
   </extension>

   <extension
         point="com.zealcore.se.core.importers">
      <importer
            class="com.enea.sd.example.importer.GameLogImporter"
            id="com.enea.sd.example.importer.GameLogImporter"
            name="Game Log Importer">
      </importer>
   </extension>

   <extension
         point="com.zealcore.se.core.extendedimporters"
         id="SimpleExtendedImporter">
      <importer
            class="com.enea.sd.example.importer.SimpleExtendedImporter"
            id="com.enea.sd.example.importer.SimpleExtendedImporter"
            name="Simple Extended Importer">
      </importer>
   </extension>
</plugin>
