a#cdt-link img { background-image : url(graphics/cdt.png); }
a#cdt-link:hover img { background-image : url(graphics/cdt.png); }

a#debug-link img { background-image : url(graphics/debug.png); }
a#debug-link:hover img { background-image : url(graphics/debug.png); }

a#system-browser-link img { background-image : url(graphics/optima.png); }
a#system-browser-link:hover img { background-image : url(graphics/optima.png); }

a#system-profiler-link img { background-image : url(graphics/system_profiler.png); }
a#system-profiler-link:hover img { background-image : url(graphics/system_profiler.png); }

a#source-profiler-link img { background-image : url(graphics/source_profiler.png); }
a#source-profiler-link:hover img { background-image : url(graphics/source_profiler.png); }

a#log-manager-link img { background-image : url(graphics/log_manager.png); }
a#log-manager-link:hover img { background-image : url(graphics/log_manager.png); }

a#log-analyzer-link img { background-image : url(graphics/log_analyzer.png); }
a#log-analyzer-link:hover img { background-image : url(graphics/log_analyzer.png); }

a#optima-help img { background-image : url(graphics/doc.png); }
a#optima-help:hover img { background-image : url(graphics/doc.png); }

a#log-analyzer-help img { background-image : url(graphics/doc.png); }
a#log-analyzer-help:hover img { background-image : url(graphics/doc.png); }
