<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.temenos.com/DS/t24ui"
            class="com.odcgroup.edge.t24ui.T24UIPackage"
            genModel="model/t24ui.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated t24ui -->
      <package
            uri="http://www.temenos.com/DS/t24ui/common"
            class="com.odcgroup.edge.t24ui.common.CommonPackage"
            genModel="model/t24ui.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated t24ui -->
      <package
            uri="http://www.temenos.com/DS/t24ui/cos/pattern"
            class="com.odcgroup.edge.t24ui.cos.pattern.PatternPackage"
            genModel="model/t24ui.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated t24ui -->
      <package
            uri="http://www.temenos.com/DS/t24ui/cos/bespoke"
            class="com.odcgroup.edge.t24ui.cos.bespoke.BespokePackage"
            genModel="model/t24ui.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated t24ui -->
      <package
            uri="http://www.temenos.com/DS/t24ui/contextEnquiry"
            class="com.odcgroup.edge.t24ui.contextEnquiry.ContextEnquiryPackage"
            genModel="model/t24ui.genmodel"/>
   </extension>

</plugin>
