<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="com.odcgroup.workbench.migration.modelmigration">
      <ModelMigration
            class="com.odcgroup.process.migration.ModelReferenceURIMigration"
            modelType="workflow"
            name="com.odcgroup.process.migration.ModelReferenceURIMigration"
            sourceVersion="2.4.0.20100111"
            targetVersion="2.4.0.20100115">
      </ModelMigration>   
      <ModelMigration
            class="com.odcgroup.process.migration.RemoveVersionAttributeMigration"
            modelType="workflow"
            name="com.odcgroup.process.migration.RemoveVersionAttributeMigration"
            sourceVersion="2.4.0.20100128"
            targetVersion="2.4.0.20100129">
      </ModelMigration>
      <ModelMigration
            class="com.odcgroup.process.migration.RemoveModifiedByModifiedDateMigration"
            modelType="workflow"
            name="com.odcgroup.process.migration.RemoveModifiedByModifiedDate"
            sourceVersion="4.1.0.20110306"
            targetVersion="4.1.0.20110307">
      </ModelMigration>   
   </extension>
   
   <extension
         point="com.odcgroup.workbench.migration.metamodelversionhandler">
      <metamodelversionhandler
            class="com.odcgroup.process.migration.internal.ProcessMetaModelVersionHandler"
            modelType="workflow">
      </metamodelversionhandler>
   </extension>
   <extension
         point="com.odcgroup.translation.migration.migrator">
      <migrator
            class="com.odcgroup.process.migration.ProcessTranslationMigrator"
            executeLast="false">
      </migrator>
   </extension> 

</plugin>
