<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 
    <extension
    	point="org.eclipse.ui.navigator.navigatorContent">
		<navigatorContent
            id="com.odcgroup.workbench.ui.navigator.translation"
			icon="icons/translations.png"
            name="Design Studio Translations"
            contentProvider="com.odcgroup.tap.translation.ui.navigator.TAPTranslationContentProvider"
            labelProvider="com.odcgroup.tap.translation.ui.navigator.TAPTranslationLabelProvider"
            activeByDefault="true"
            priority="higher">
	        <triggerPoints>
	        	<adapt type="com.odcgroup.workbench.core.IOfsProject"/>
	        </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="com.odcgroup.translation.ui.navigator.TranslationNode">
               </instanceof>
            </or>
         </possibleChildren>	
        <actionProvider
              class="com.odcgroup.tap.translation.ui.navigator.TAPTranslationActionProvider"
              id="com.odcgroup.translation.ui.navigator.action.open">
        </actionProvider>		
        </navigatorContent>
	</extension>  
	   
</plugin>
