<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="com.odcgroup.workbench.core.model">
      <model
            initializer="com.odcgroup.edge.t24ui.model.ui.CosProjectInitializer"
            name="eson"
            proxyresolution="lazy"/>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <actionProvider
            class="com.odcgroup.edge.t24ui.model.ui.action.EsonActionProvider"
            id="com.odcgroup.workbench.ui.navigator.action.cos">
         <enablement>
            <and>
               <adapt
                     type="com.odcgroup.workbench.core.IOfsModelPackage">
               </adapt>
               <test
                     property="com.odcgroup.workbench.core.modelType"
                     value="eson">
               </test>
            </and>
         </enablement>
      </actionProvider>
   </extension>
<extension
       point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension
          targetID="com.odcgroup.workbench.ui.perspectives.ofs">
       <newWizardShortcut
             id="com.odcgroup.t24.workbench.ui.newCompositeScreenWizard">
       </newWizardShortcut>
    </perspectiveExtension>
 </extension>
<extension
       point="org.eclipse.ui.newWizards">
    <wizard
          category="com.odcgroup.workbench"
          class="com.odcgroup.edge.t24ui.model.ui.wizard.T24CompositeScreenWizard"
          finalPerspective="com.odcgroup.workbench.ui.perspectives.ofs"
          icon="icons/cos.png"
          id="com.odcgroup.t24.workbench.ui.newCompositeScreenWizard"
          name="New Composite Screen..."
          preferredPerspectives="com.odcgroup.workbench.ui.perspectives.ofs">
    </wizard>
  </extension>
</plugin>
