<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.odcgroup.workbench.core.natureExtension">
      <natureExtension
            enabledByDefault="false"
            id="com.odcgroup.aaa.core.natureExtension"
            initializer="com.odcgroup.aaa.core.internal.init.AAAProjectInitializer"
            label="This project supports Triple'A"
            natureId="com.odcgroup.aaa.core.OdysseyAAANature">
      </natureExtension>
   </extension>
   <extension
         id="AAANature"
         name="Design Studio Triple&apos;A Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.odcgroup.aaa.core.internal.nature.AAANature">
         </run>
      </runtime>
      <requires-nature
            id="com.odcgroup.workbench.core.OfsNature">
      </requires-nature>
   </extension>
   <extension
         point="com.odcgroup.workbench.security.authorization">
      <authorizationManager
            class="com.odcgroup.aaa.core.internal.authorization.AAAAuthorizationManager"
            id="com.odcgroup.aaa.core.authorization"
            priority="normal">
      </authorizationManager>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.odcgroup.aaa.core.internal.properties.AAAPackagePropertyTester"
            id="com.odcgroup.mdf.aaa.integration.AAAPackagePropertyTester"
            namespace="com.odcgroup.mdf.aaa.integration"
            properties="packageName"
            type="com.odcgroup.workbench.core.IOfsElement"
            />
   </extension>
</plugin>
