<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
	<modelVersion>4.0.0</modelVersion>

	<parent>
		<groupId>com.odcgroup.ds</groupId>
		<artifactId>components</artifactId>
		<version>2015.8.0-SNAPSHOT</version>
		<relativePath>../module.xml</relativePath>
	</parent>

	<artifactId>crossintegration</artifactId>
	<packaging>pom</packaging>

	<properties>
		<sites>internal</sites>
	</properties>

	<dependencies>
		<dependency>
			<groupId>com.odcgroup.ds</groupId>
			<artifactId>3rdparty</artifactId>
			<version>${project.version}</version>
			<classifier>internal</classifier>
			<type>module</type>
		</dependency>
		<dependency>
			<groupId>com.odcgroup.ds</groupId>
			<artifactId>workbench</artifactId>
			<version>${project.version}</version>
			<classifier>internal</classifier>
			<type>module</type>
		</dependency>
		<dependency>
			<groupId>com.odcgroup.ds</groupId>
			<artifactId>domain</artifactId>
			<version>${project.version}</version>
			<classifier>internal</classifier>
			<type>module</type>
		</dependency>
		<dependency>
			<groupId>com.odcgroup.ds</groupId>
			<artifactId>page</artifactId>
			<version>${project.version}</version>
			<classifier>internal</classifier>
			<type>module</type>
		</dependency>
		<dependency>
			<groupId>com.odcgroup.ds</groupId>
			<artifactId>pageflow</artifactId>
			<version>${project.version}</version>
			<classifier>internal</classifier>
			<type>module</type>
		</dependency>
		<dependency>
			<groupId>com.odcgroup.ds</groupId>
			<artifactId>process</artifactId>
			<version>${project.version}</version>
			<classifier>internal</classifier>
			<type>module</type>
		</dependency>
		<dependency>
			<groupId>com.odcgroup.ds</groupId>
			<artifactId>rule</artifactId>
			<version>${project.version}</version>
			<classifier>internal</classifier>
			<type>module</type>
		</dependency>
		<dependency>
			<groupId>com.odcgroup.ds</groupId>
			<artifactId>aaa</artifactId>
			<version>${project.version}</version>
			<classifier>internal</classifier>
			<type>module</type>
		</dependency>
		<dependency>
			<groupId>com.odcgroup.ds</groupId>
			<artifactId>cdm</artifactId>
			<version>${project.version}</version>
			<classifier>internal</classifier>
			<type>module</type>
		</dependency>
		<dependency>
			<groupId>com.odcgroup.ds</groupId>
			<artifactId>ocs</artifactId>
			<version>${project.version}</version>
			<classifier>internal</classifier>
			<type>module</type>
		</dependency>
	</dependencies>

</project>
