<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="com.odcgroup.workbench"
            class="com.odcgroup.t24.helptextimport.ui.wizard.HelpTextImportWizard"
            icon="icons/t24_application_import.png"
            id="com.odcgroup.t24.helptext.ui.wizard.HelptextImportWizard"
            name="Import T24 Helptext">
      </wizard>
   </extension>

</plugin>
