<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="com.ose.event.ui"
   name="Log Manager"
   version="1.6.0"
   provider-name="Enea Software AB"
   class="com.ose.event.ui.EventPlugin">

   <runtime>
      <library name="eventui.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.ui.forms"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="com.ose.gateway"/>
      <import plugin="com.ose.plugin.control"/>
      <import plugin="com.ose.pmd"/>
      <import plugin="com.ose.sigdb"/>
      <import plugin="com.ose.system"/>
      <import plugin="com.ose.system.ui"/>
      <import plugin="com.ose.xmleditor"/>
   </requires>

   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Log Management"
            icon="icons/cview16/logo.gif"
            id="com.ose.event.ui.EventPerspective"
            class="com.ose.event.ui.EventPerspective">
      </perspective>
   </extension>

   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.ose.event.ui.EventPerspective">
         <perspectiveShortcut
               id="com.ose.system.ui.SystemBrowserPerspective">
         </perspectiveShortcut>
         <perspectiveShortcut
               id="com.ose.prof.ui.ProfilerPerspective">
         </perspectiveShortcut>
         <perspectiveShortcut
               id="org.eclipse.ui.resourcePerspective">
         </perspectiveShortcut>
         <perspectiveShortcut
               id="org.eclipse.debug.ui.DebugPerspective">
         </perspectiveShortcut>
         <perspectiveShortcut
               id="org.eclipse.cdt.ui.CPerspective">
         </perspectiveShortcut>
         <newWizardShortcut
               id="com.ose.event.ui.editors.action.NewEventActionSettingsWizard">
         </newWizardShortcut>
         <actionSet
               id="org.eclipse.debug.ui.launchActionSet">
         </actionSet>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="com.ose.system.ui.SystemBrowserPerspective">
         <perspectiveShortcut
               id="com.ose.event.ui.EventPerspective">
         </perspectiveShortcut>
         <viewShortcut
               id="com.ose.event.ui.view.EventView">
         </viewShortcut>
         <newWizardShortcut
               id="com.ose.event.ui.editors.action.NewEventActionSettingsWizard">
         </newWizardShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <perspectiveShortcut
               id="com.ose.event.ui.EventPerspective">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.debug.ui.DebugPerspective">
         <perspectiveShortcut
               id="com.ose.event.ui.EventPerspective">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.cdt.ui.CPerspective">
         <perspectiveShortcut
               id="com.ose.event.ui.EventPerspective">
         </perspectiveShortcut>
      </perspectiveExtension>
   </extension>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="Log Manager"
            icon="icons/elcl16/event.gif"
            id="com.ose.event.ui.view.EventView"
            category="com.ose.view.category"
            class="com.ose.event.ui.view.EventView">
      </view>
   </extension>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Event Editor"
            icon="icons/elcl16/event.gif"
            extensions="pmd, event"
            id="com.ose.event.ui.editors.event.EventEditor"
            class="com.ose.event.ui.editors.event.EventEditor">
      </editor>
      <editor
            name="Event Action Editor"
            icon="icons/obj16/event_action.gif"
            extensions="action"
            id="com.ose.event.ui.editors.action.EventActionFormEditor"
            class="com.ose.event.ui.editors.action.EventActionFormEditor"
            contributorClass="com.ose.event.ui.editors.action.MultiPageEditorContributor">
      </editor>
   </extension>

   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="com.ose.event.ui.view.ShowEventsActionContribution"
            targetID="com.ose.system.ui.views.system.SystemView">
         <visibility>
            <or>
               <objectClass name="com.ose.system.Target"/>
               <objectClass name="com.ose.system.Segment"/>
               <objectClass name="com.ose.system.Block"/>
               <objectClass name="com.ose.system.Process"/>
            </or>
         </visibility>
         <action
               id="com.ose.event.ui.view.ShowEventsAction"
               label="Show in Log Manager"
               menubarPath="showViewAdditions"
               class="com.ose.event.ui.view.ShowEventsActionDelegate"
               enablesFor="1">
            <enablement>
               <and>
                  <or>
                     <objectClass name="com.ose.system.Target"/>
                     <objectClass name="com.ose.system.Segment"/>
                     <objectClass name="com.ose.system.Block"/>
                     <objectClass name="com.ose.system.Process"/>
                  </or>
                  <objectState name="isKilled" value="false"/>
                  <objectState name="hasAttachDetachSupport" value="true"/>
               </and>
            </enablement>
         </action>
      </viewerContribution>
   </extension>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
         name="Signal Database"
         id="com.ose.event.ui.preferences.SignalDbPreferencePage"
         class="com.ose.event.ui.preferences.SignalDbPreferencePage"
         category="com.ose.system.ui.SystemModelPreferencePage">
      </page>
      <page
         name="Event Database"
         id="com.ose.event.ui.preferences.EventDbPreferencePage"
         class="com.ose.event.ui.preferences.EventDbPreferencePage"
         category="com.ose.system.ui.SystemModelPreferencePage">
      </page>
   </extension>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
         id="com.ose.wizard.category"
         name="Optima">
      </category>
      <wizard
         id="com.ose.event.ui.editors.action.NewEventActionSettingsWizard"
         name="Event Action Settings"
         icon="icons/obj16/event_action.gif"
         category="com.ose.wizard.category"
         class="com.ose.event.ui.editors.action.NewEventActionSettingsWizard"
         canFinishEarly="false"
         hasPages="true">
         <description>Create a new Event Action Settings file</description>
      </wizard>
   </extension>

   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
         type="new"
         wizardId="com.ose.event.ui.editors.action.NewEventActionSettingsWizard">
         <enablement></enablement>
      </commonWizard>
   </extension>

   <extension
         point="org.eclipse.ui.decorators">
      <decorator
         id="com.ose.event.ui.editors.action.decorator"
         label="Event Action Settings"
         class="com.ose.event.ui.editors.action.LabelDecorator"
         adaptable="true"
         state="false"
         lightweight="false"
         location="BOTTOM_LEFT">
         <description>Decorates Event Action resources.</description>
         <enablement>
            <and>
               <objectClass name="org.eclipse.core.resources.IFile"/>
               <objectState name="extension" value="action"/>
            </and>
         </enablement>
      </decorator>
   </extension>
</plugin>
