<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.odcgroup.workbench.generation.m2cCartridge">
      <cartridge
            category="T24 Interaction Framework (IRIS) Metadata"
            class="com.odcgroup.iris.generator.IRISMetadataGenerator2"
            enabledByDefault="false"
            id="com.odcgroup.iris.metadata.generation"
            name="Configuration (metadata.xml, *.properties), old ID">
      </cartridge>
      <!-- We need to keep this one with the old id for existing client projects.. but note how above (now) just points to the same implementation as below -->
   </extension>
   <extension
         point="com.odcgroup.workbench.generation.m2cCartridge">
      <cartridge
            category="T24 Interaction Framework (IRIS) Metadata"
            class="com.odcgroup.iris.generator.IRISMetadataGenerator2"
            enabledByDefault="false"
            id="com.odcgroup.iris.metadata.generation2"
            name="Configuration (metadata.xml, *.properties)">
      </cartridge>
   </extension>

</plugin>
