<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         point="com.odcgroup.workbench.migration.metamodelversionhandler">
      <metamodelversionhandler
            class="com.odcgroup.menu.migration.MenuMetaModelVersionHandler"
            modelType="menu">
      </metamodelversionhandler>
   </extension> 
</plugin>
