/* GENERAL */

body {
	font: 80% Verdana, Arial, Helvetica, sans-serif;
	width: 690px;
    margin: 10px 0 10px 0;
	padding: 100px 5px 10px 5px;		
	background-repeat: no-repeat;
	background-color: white;
	text-align: justify;
}

td {
	text-align: left;
	font: 80% Verdana, Arial, Helvetica, sans-serif;
}

a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: black;
}

a:link {
	text-decoration: underline;
}

a:visited {
	text-decoration: underline;
	color: black
}

blockquote {
	font-style: italic;
	background-image: url('icon_quote_34x24.gif');
	background-repeat: no-repeat;
	background-position: top left;
	padding-left: 30px;
}

hr {
	color: #F7BD8F;
}

h1 {
	color: #F28411;
	text-transform: uppercase;
	font: bolder 12px Georgia, "Times New Roman", Times, serif;
}

h2 {
	font-size: 13px;
	font-weight: bold;
	color: #F28411;
}
h2.sectiontitle {
	font-size: 13px;
	font-weight: bold;
	color: #F28411;
	padding-bottom: 5px;
}

h3 {
	font-size: 12px;
	color: #F28411;
	font-weight: normal;
}

h4 {
	font-size: 11px;
	color: #F28411;
	font-weight: normal;
}

strong {
	color: #F28411
}

/* DITA SEMANTIC */

div.taskbody {}

div.shortdesc {margin-top: 10px;}

div.prereq {margin-left:0px;}
h2.prereq {}

div.step {}

div.stepexample {padding-top: 5px;}
.stepexample-title {color: #F28411; padding-right: 5px; }

div.stepresult {padding-top: 5px;}
.stepresult-title {color: #F28411; padding-right: 5px; }

div.stepinfo {}

div.stepcmd {}

div.tutorialinfo {}

div.context {}

div.taskresult {}

div.section {}

div.example {margin-top: 50px;}

div.related-links {margin-top: 50px;}

.filepath {
	font-family: courier
}

.note {
	background-color: #B9C9D0;
	border: 1px dashed black;
	padding: 2px;
}

.notetitle {}

.tip {
	background-color: #B9C9D0;
	border: 1px dashed black;
	padding: 2px;
}

.fastpath {
	background-color: #B9C9D0;
	border: 1px dashed black;
	padding: 2px;
}

.important {
	background-color: #F28411;
	border: 1px dashed black;
	padding: 2px;
}

.remember {
	background-color: #F28411;
	border: 1px dashed black;
	padding: 2px;
}

.restriction {
	background-color: #F28411;
	border: 1px dashed black;
	padding: 2px;
}

.attention {
	background-color: #F28411;
	border: 1px dashed black;
	padding: 2px;
}

.danger {
	background-color: #F28411;
	border: 1px dashed black;
	padding: 2px;
}

.caution {
	background-color: #F28411;
	border: 1px dashed black;
	padding: 2px;
}

div.example-content{
	padding-bottom: 20px;
}
.example-title {
	padding-top: 20px;	
	font-weight: bold;
}
.example-code {
	font-size: 110%;
	overflow: auto;
	background-color: #dfdfdf;
}
.codeblock {
	font-size: 120%;
}
.codeph {
	font-size: 120%;
}

.header {
	background-repeat:repeat;
  background-image:url(banner.jpg);
  margin: 10px 0 10px 0;
	padding: 10px 5px 10px 5px;
}

/* Title */
#title {color:#000000;font-size:20px;font-weight:bold;}
#custo {position:absolute;top:10px;left:700px;width:150px;height:200px;z-index:1;}
#tutorials {position:absolute;top:37px;left:800px;width:150px;height:200px;z-index:2;}
#nav{position:absolute;top:72px;width:100%;}
ul#tabnav {font:bold 12px verdana, arial, sans-serif;list-style-type:none;padding-bottom:24px;border-bottom:1px solid #000000;margin: 0;}
ul#tabnav li {float:left;height: 21px;background-color:rgb(255, 204, 153);margin:2px 2px 0 2px;border:solid #000000;border-width:1px 1px 0px 1px;}
ul#tabnav li.active {border-bottom:1px solid #fff;background-color:#fff;}
#tabnav a {float:left;display:block;color:#666;text-decoration: none;padding: 4px;}
#tabnav a:hover {background: #fff;}



