<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
    <markerResolutionGenerator
          class="com.odcgroup.page.validation.ui.internal.markers.ValidationProblemResolutionGenerator"
          markerType="com.odcgroup.workbench.validation.ProblemMarker">
    </markerResolutionGenerator>
   </extension>

</plugin>
