<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="com.odcgroup.workbench"
            class="com.odcgroup.t24.aa.product.importer.ui.wizard.AAProductsImportWizard"
            icon="icons/domain_dsl.gif"
            id="com.odcgroup.t24.aa.product.importer.ui.aaProductsWizard"
            name="Import T24 AA Products">
         <description>
            Import preferences from the local file system.
         </description>
      </wizard>
   </extension>

</plugin>
