<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="eventDefinitionDialog" name="Page Event Definition Dialog" schema="src/main/resources/schema/pageEventDef.exsd"/>

     <extension
         point="org.eclipse.ui.editors">

      <editor
            default="true"
            name="Fragment Model Editor"
            extensions="fragment"
            icon="icons/obj16/fragment.png"
            class="com.odcgroup.page.ui.editor.PageDesignerEditor"
            contributorClass="com.odcgroup.page.ui.action.PageDesignerEditorActionBarContributor"
            id="com.odcgroup.page.ui.editor.pageDesignerEditorFragment">
      </editor>
      <editor
            default="true"
            name="Module Model Editor"
            extensions="module"
            icon="icons/obj16/module.png"
            class="com.odcgroup.page.ui.editor.PageDesignerEditor"
            contributorClass="com.odcgroup.page.ui.action.PageDesignerEditorActionBarContributor"
            id="com.odcgroup.page.ui.editor.pageDesignerEditorModule">
      </editor>
      <editor
            default="true"
            name="Page Model Editor"
            extensions="page"
            icon="icons/obj16/page.png"
            class="com.odcgroup.page.ui.editor.PageDesignerEditor"
            contributorClass="com.odcgroup.page.ui.action.PageDesignerEditorActionBarContributor"
            id="com.odcgroup.page.ui.editor.pageDesignerEditorPage">
      </editor>
   </extension>  
   
     <extension
         point="org.eclipse.ui.propertyPages">
         <page
            category="com.odcgroup.workbench.properties.ofs"
            icon="icons/obj16/page.png"
            class="com.odcgroup.page.ui.preferences.CorporateDesignPreferencePage"
            id="com.odcgroup.page.ui.preferences.CorporateDesignPreferencePage"
            name="Corporate Design">
            <filter
               name="nature"
               value="com.odcgroup.workbench.core.OfsNature"/>
            <enabledWhen>
                 <adapt type="org.eclipse.core.resources.IProject"/> 
            </enabledWhen>
         </page>   
         <page
            category="com.odcgroup.workbench.properties.ofs"
            icon="icons/images.png"
            class="com.odcgroup.page.ui.preferences.CorporateImagePreferencesPage"
            id="com.odcgroup.page.ui.preferences.images"
            name="Available Icons">
            <filter
               name="nature"
               value="com.odcgroup.workbench.core.OfsNature"/>
            <enabledWhen>
                 <adapt type="org.eclipse.core.resources.IProject"/> 
            </enabledWhen>
         </page>   
     </extension>      
   	
     <extension point="org.eclipse.ui.newWizards">
  	  <wizard
  	     name="Fragment Diagram"
  	     icon="icons/obj16/fragment.png"
  	     category="com.odcgroup.workbench"
  	     class="com.odcgroup.page.ui.wizard.NewFragmentWizard"
  	     id="com.odcgroup.page.ui.wizard.NewFragmentWizardID">
  	  	 <description>
  	  		Creates Fragment diagram.
  	  	 </description>  
      </wizard>
  	  <wizard
  	     name="Layer Diagram"
  	     icon="icons/obj16/fragment.png"
  	     category="com.odcgroup.workbench"
  	     class="com.odcgroup.page.ui.wizard.NewLayerWizard"
  	     id="com.odcgroup.page.ui.wizard.NewLayerWizardID">
  	  	 <description>
  	  		Creates Layer diagram.
  	  	 </description>  
      </wizard>
  	  <wizard
  	     name="Module Diagram"
  	     icon="icons/obj16/module.png"
  	     category="com.odcgroup.workbench"
  	     class="com.odcgroup.page.ui.wizard.NewModuleWizard"
  	     id="com.odcgroup.page.ui.wizard.workbench.NewModuleWizardID">
  	  	 <description>
  	  		Creates Module diagram.
  	  	 </description>  
      </wizard>
  	  <wizard
  	     name="Page Diagram"
  	     icon="icons/obj16/page.png"
  	     category="com.odcgroup.workbench"
  	     class="com.odcgroup.page.ui.wizard.NewPageWizard"
  	     id="com.odcgroup.page.ui.wizard.workbench.NewPageWizardID">
  	  	 <description>
  	  		Creates Page diagram.
  	  	 </description>  
      </wizard>
   </extension>
   
   <extension point="org.eclipse.ui.navigator.navigatorContent">
      <actionProvider
          class="com.odcgroup.page.ui.workbench.FragmentActionProvider"
          id="com.odcgroup.workbench.ui.navigator.action.fragment">
          <enablement>
              <and>
                  <adapt type="com.odcgroup.workbench.core.IOfsModelPackage"/>
                  <test property="com.odcgroup.workbench.core.modelType" value="fragment"/>
              </and>
          </enablement>
      </actionProvider>
      <actionProvider
          class="com.odcgroup.page.ui.workbench.ModuleActionProvider"
          id="com.odcgroup.workbench.ui.navigator.action.module">
          <enablement>
              <and>
                  <adapt type="com.odcgroup.workbench.core.IOfsModelPackage"/>
                  <test property="com.odcgroup.workbench.core.modelType" value="module"/>
              </and>
          </enablement>
      </actionProvider>
      <actionProvider
          class="com.odcgroup.page.ui.workbench.EditActionProvider"
          id="com.odcgroup.workbench.ui.navigator.action.Edit2"
          overrides="com.odcgroup.workbench.ui.navigator.action.editAction">
          <enablement>
           	 <or>
             	<and>
                	<adapt type="com.odcgroup.workbench.core.IOfsModelPackage"/>
                    <or>
                     	<test property="com.odcgroup.workbench.core.modelType" value="page"/>
                     	<test property="com.odcgroup.workbench.core.modelType" value="module"/>
                    	<test property="com.odcgroup.workbench.core.modelType" value="fragment"/>
                    </or>
             	</and>
           	 	<and>
                  	<adapt type="com.odcgroup.workbench.core.IOfsModelResource"/>
                	<or>
                     	<test property="com.odcgroup.workbench.core.modelType" value="module"/>
                    	<test property="com.odcgroup.workbench.core.modelType" value="fragment"/>
                    	<test property="com.odcgroup.workbench.core.modelType" value="page"/>
                  	</or>
             	</and>
             </or>
          </enablement>
      </actionProvider>
      <actionProvider
          class="com.odcgroup.page.ui.workbench.PageActionProvider"
          id="com.odcgroup.workbench.ui.navigator.action.page">
          <enablement>
              <and>
                  <adapt type="com.odcgroup.workbench.core.IOfsModelPackage"/>
                  <test  property="com.odcgroup.workbench.core.modelType" value="page"/>
              </and>
          </enablement>
      </actionProvider>
   </extension> 
   
   <extension point="org.eclipse.ui.navigator.linkHelper">
      <linkHelper
            id="com.odcgroup.workbench.ui.navigator.LinkHelper"
            class="com.odcgroup.page.ui.navigator.PageLinkHelper">
         <editorInputEnablement>
         <and>
               <instanceof value="org.eclipse.ui.IEditorInput"/>
            </and>
         </editorInputEnablement>
         <selectionEnablement>
           <and>
               <instanceof
                     value="com.odcgroup.workbench.core.IOfsElement">
               </instanceof>
            </and>
         </selectionEnablement>
      </linkHelper>
   </extension>   
    
   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
 	   <propertyContributor 
 	  		typeMapper="com.odcgroup.page.ui.properties.WidgetTypeMapper"
 	        labelProvider="com.odcgroup.page.ui.properties.WidgetLabelProvider"
 	        contributorId="com.odcgroup.page.ui.pageDesignerEditor">
 	        <propertyCategory category="General"/>
            <propertyCategory category="Presentation"/>
 	        <propertyCategory category="Description"/>
 	        <propertyCategory category="Translation"/>
 	        <propertyCategory category="Limitation"/>
 	        <propertyCategory category="Event"/>
 	        <propertyCategory category="Technical"/>
 	        <propertyCategory category="TableTransform"/>
 	        <propertyCategory category="TableColumn"/>
 	        <propertyCategory category="FilterSet"/>
 	        <propertyCategory category="Sorting"/>
 	        <propertyCategory category="Autocomplete"/>
 	        <propertyCategory category="Parameters"/>
 	        <propertyCategory category="Lines"/>
          <propertyCategory
                category="Xtooltip">
          </propertyCategory>
       </propertyContributor>
    </extension>
    
	<extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
    	<propertyTabs contributorId="com.odcgroup.page.ui.pageDesignerEditor">
           <propertyTab label="General" category="General" id="widget.tab.general"/>
           <propertyTab category="Presentation" id="widget.tab.presentation" label="Presentation"/>
           <propertyTab label="Description" category="Description" id="widget.tab.description" />
           <propertyTab label="Translation" category="Translation" id="widget.tab.translation" />
           <propertyTab label="Limitation" category="Limitation" id="widget.tab.limitation" />
           <propertyTab label="Event" category="Event" id="widget.tab.event" />
           <propertyTab label="Technical" category="Technical" id="widget.tab.technical" />
           <propertyTab label="Transformation" category="TableTransform" id="widget.tab.table.transform" />
           <propertyTab label="Computation" category="TableColumn" id="widget.tab.table.column" />
           <propertyTab label="Filter Set" category="FilterSet" id="widget.tab.filterset" />
           <propertyTab label="Sorting" category="Sorting" id="widget.tab.sort" />
           <propertyTab label="Auto-complete" category="Autocomplete" id="widget.tab.auto" />
           <propertyTab label="Parameters" category="Parameters" id="widget.tab.param" />
           <propertyTab label="Lines" category="Lines" id="widget.tab.lines" />
           <propertyTab afterTab="widget.tab.general" category="Xtooltip" id="widget.tab.xtooltip" label="Xtooltip"/>
        </propertyTabs>
   </extension>
   
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections contributorId="com.odcgroup.page.ui.pageDesignerEditor">
         <propertySection
               class="com.odcgroup.page.ui.properties.sections.GeneralSection"
               filter="com.odcgroup.page.ui.properties.sections.GeneralSectionFilter"
               enablesFor="1"
               id="widget.section.general"
               tab="widget.tab.general">
            <input type="com.odcgroup.page.model.Widget" />
         </propertySection>
         <propertySection
               class="com.odcgroup.page.ui.properties.sections.PresentationSection"
               enablesFor="1"
               filter="com.odcgroup.page.ui.properties.sections.PresentationSectionFilter"
               id="widget.section.presentation"
               tab="widget.tab.presentation">
            <input
                  type="com.odcgroup.page.model.Widget">
            </input>
         </propertySection>
         <propertySection
               class="com.odcgroup.page.ui.properties.sections.DescriptionSection"
               filter="com.odcgroup.page.ui.properties.sections.DescriptionSectionFilter"
               enablesFor="1"
               id="widget.section.description"
               tab="widget.tab.description">
            <input type="com.odcgroup.page.model.Widget" />
         </propertySection>
        <propertySection
               class="com.odcgroup.page.ui.properties.sections.AutoCompleteSection"
               filter="com.odcgroup.page.ui.properties.sections.AutoCompleteSectionFilter"
               enablesFor="1"
               id="widget.section.auto"
               tab="widget.tab.auto">
            <input type="com.odcgroup.page.model.Widget" />
         </propertySection>
         <propertySection
               class="com.odcgroup.page.ui.properties.sections.TranslationSection"
               filter="com.odcgroup.page.ui.properties.sections.TranslationSectionFilter"
               enablesFor="1"
               id="widget.section.translation"
               tab="widget.tab.translation">
            <input type="com.odcgroup.page.model.Widget" />
         </propertySection>        
          <propertySection
               class="com.odcgroup.page.ui.properties.sections.LimitationSection"
               filter="com.odcgroup.page.ui.properties.sections.LimitationSectionFilter"
               enablesFor="1"
               id="widget.section.limitation"
               tab="widget.tab.limitation">
            <input type="com.odcgroup.page.model.Widget" />
         </propertySection>
         <propertySection
               class="com.odcgroup.page.ui.properties.sections.EventSection"
               filter="com.odcgroup.page.ui.properties.sections.EventSectionFilter"
               enablesFor="1"
               id="widget.section.event"
               tab="widget.tab.event">
            <input type="com.odcgroup.page.model.Widget" />
         </propertySection>         
         <propertySection
               class="com.odcgroup.page.ui.properties.sections.TechnicalSection"
               filter="com.odcgroup.page.ui.properties.sections.TechnicalSectionFilter"
               enablesFor="1"
               id="widget.section.technical"
               tab="widget.tab.technical">
            <input type="com.odcgroup.page.model.Widget" />
         </propertySection>
         <propertySection
               class="com.odcgroup.page.ui.properties.sections.table.TableTransformationPropertySection"
               filter="com.odcgroup.page.ui.properties.sections.table.TableSectionFilter"
               enablesFor="1"
               id="widget.section.table.transform"
               tab="widget.tab.table.transform">
            <input type="com.odcgroup.page.model.Widget" />
         </propertySection>
         <propertySection
               class="com.odcgroup.page.ui.properties.sections.matrix.MatrixTransformationPropertySection"
               filter="com.odcgroup.page.ui.properties.sections.matrix.MatrixSectionFilter"
               enablesFor="1"
               id="widget.section.matrix.transform"
               tab="widget.tab.table.transform">
            <input type="com.odcgroup.page.model.Widget" />
         </propertySection>
         <propertySection
               class="com.odcgroup.page.ui.properties.sections.matrix.MatrixCssClassPropertySection"
               filter="com.odcgroup.page.ui.properties.sections.matrix.MatrixCssSectionFilter"
               enablesFor="1"
               id="widget.section.matrix.presentation"
               tab="widget.tab.presentation">
            <input type="com.odcgroup.page.model.Widget" />
         </propertySection>
         <propertySection
               class="com.odcgroup.page.ui.properties.sections.matrix.MatrixAxisSortPropertySection"
               filter="com.odcgroup.page.ui.properties.sections.matrix.MatrixAxisSortSectionFilter"
               enablesFor="1"
               id="widget.section.matrix.sort"
               tab="widget.tab.sort">
            <input type="com.odcgroup.page.model.Widget" />
         </propertySection> 
         <propertySection
               class="com.odcgroup.page.ui.properties.sections.matrix.MatrixComputationPropertySection"
               filter="com.odcgroup.page.ui.properties.sections.matrix.MatrixComputationSectionFilter"
               enablesFor="1"
               id="widget.section.matrix.computation"
               tab="widget.tab.table.column">
            <input type="com.odcgroup.page.model.Widget" />
         </propertySection>
         <propertySection
               class="com.odcgroup.page.ui.properties.sections.table.TableColumnPropertySection"
               filter="com.odcgroup.page.ui.properties.sections.table.TableColumnSectionFilter"
               enablesFor="1"
               id="widget.section.table.column"
               tab="widget.tab.table.column">
            <input type="com.odcgroup.page.model.Widget" />
         </propertySection>  
         <propertySection
               class="com.odcgroup.page.ui.properties.sections.FilterSetPropertySection"
               filter="com.odcgroup.page.ui.properties.sections.FilterSetSectionFilter"
               enablesFor="1"
               id="widget.section.filterset"
               tab="widget.tab.filterset">
            <input type="com.odcgroup.page.model.Widget" />
         </propertySection>   
         <propertySection
               class="com.odcgroup.page.ui.properties.sections.ParameterPropertySection"
               filter="com.odcgroup.page.ui.properties.sections.ParameterSectionFilter"
               enablesFor="1"
               id="widget.section.param"
               tab="widget.tab.param">
            <input type="com.odcgroup.page.model.Widget" />
         </propertySection>    
         <propertySection
               class="com.odcgroup.page.ui.properties.sections.AutoCompleteLinePropertySection"
               filter="com.odcgroup.page.ui.properties.sections.AutoCompleteLineSectionFilter"
               enablesFor="1"
               id="widget.section.lines"
               tab="widget.tab.lines">
            <input type="com.odcgroup.page.model.Widget" />
         </propertySection>
         <propertySection
               afterSection="widget.section.event"
               class="com.odcgroup.page.ui.properties.sections.XtooltipSection"
               filter="com.odcgroup.page.ui.properties.sections.XtooltipSectionFilter"
               id="widget.section.xtooltip"
               tab="widget.tab.xtooltip">
            <input
                  type="com.odcgroup.page.model.Widget">
            </input>
         </propertySection>          
      </propertySections>                 
   </extension>
    
	<extension
         point="org.eclipse.wst.xml.core.catalogContributions">
    	<catalogContribution>
        	<public
               publicId="-//ODYSSSEY/DTD XGUI"
               uri="platform:/plugin/com.odcgroup.page.ui/src/main/resources/xgui.dtd" />
        </catalogContribution>              
	</extension>                   
    
    
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.odcgroup.page.ui.edit.WidgetEditPart"
            class="com.odcgroup.page.ui.properties.adapters.WidgetPropertySourceAdapterFactory">
         <adapter
               type="com.odcgroup.page.ui.properties.IWidgetPropertySource">
         </adapter>
      </factory>
   </extension>
   	
   <extension
         point="com.odcgroup.mdf.editor.dialogpage">
      <factory
            class="com.odcgroup.page.external.mdf.MdfBusinessTypePagesFactory"
            type="businesstype">
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.odcgroup.page.ui.commands.SaveAndGenerate"
            contextId="com.odcgroup.page.ui.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+G">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.odcgroup.page.ui.command.handler.SaveAndGenerateHandler"
            id="com.odcgroup.page.ui.commands.SaveAndGenerate"
            name="Save and Generate">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="com.odcgroup.page.ui.context"
            name="Page UI Context"
            parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
      </context>
   </extension>
   
  <extension
        point="com.odcgroup.translation.collector">
     <collectorProvider
           class="com.odcgroup.page.translation.PageModelTranslationCollectorProvider"
           defaultActive="false"
           displayName="Module"
           fileExtensions="module"
           id="com.odcgroup.page.translation.ModuleCollectorProvider">
     </collectorProvider>
     <collectorProvider
           class="com.odcgroup.page.translation.PageModelTranslationCollectorProvider"
           defaultActive="false"
           displayName="Fragment"
           fileExtensions="fragment"
           id="com.odcgroup.page.translation.FragmentCollectorProvider">
     </collectorProvider>
     <collectorProvider
           class="com.odcgroup.page.translation.PageModelTranslationCollectorProvider"
           defaultActive="false"
           displayName="Page"
           fileExtensions="page"
           id="com.odcgroup.page.translation.PageCollectorProvider">
     </collectorProvider>
  </extension>
  

	<extension
		point="com.odcgroup.translation.viewer.command">
		<provider
			id="com.odcgroup.page.ui.translation.tablecommandprovider"
			name="Table Commands Provider for the Page Designer"
			class="com.odcgroup.page.ui.command.translation.PageTranslationCommandProvider"
			natureId="com.odcgroup.workbench.core.OfsNature"
			priority="2">
			<input type="com.odcgroup.page.model.Widget"/>
			<input type="com.odcgroup.page.model.Event"/>
		</provider>
	</extension>  
  
  	<extension
		point="org.eclipse.ui.commands">
      	<command 
        	defaultHandler="com.odcgroup.page.ui.command.translation.PageUpdateTranslationHandler"
            id="com.odcgroup.page.ui.command.translation.update"
            name="Change Translation">
         	<commandParameter id="text" name="text" optional="false"/>
		</command>
		<command
            defaultHandler="com.odcgroup.page.ui.command.translation.PageRemoveTranslationHandler"
            id="com.odcgroup.page.ui.command.translation.remove"
            name="Remove Translation">
		</command>
	</extension>
  
</plugin>
