<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>   
   <extension
         point="com.odcgroup.page.transformmodel.ofsModelTransformer">
      <transformer
            class="com.odcgroup.page.event.transformation.PageflowTransformer"
            type="pageflow">
      </transformer>
   </extension>
</plugin>
