<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
       point="com.odcgroup.workbench.validation.check">
    <metaModel
          nsURI="http://www.odcgroup.com/process">
       <checkFile
             category="com.odcgroup.validation/workflow"
             path="checks/ProcessTechBatchErrorsDE.chk">
       </checkFile>
    </metaModel>
 </extension>
  <extension
        point="org.eclipse.emf.validation.constraintProviders">
     <category
           id="com.odcgroup.validation/workflow"
           mandatory="false"
           name="Workflow">
     </category>
  </extension>

</plugin>
