<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.odcgroup.workbench.generation.m2cCartridge">
         <cartridge
            category="T24 Data Framework"
            class="com.odcgroup.dataframework.generation.T24DataFrameworkGenerator"
            enabledByDefault="false"
            id="com.odcgroup.dataframework.generation"
            name="T24 Data Framework (DDL &amp; XSLT)">
      </cartridge>
   </extension>

</plugin>
