<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
<!--   <extension-point id="com.odcgroup.workbench.generation.cartridge.m2m" name="Model to model transformation cartridges" schema="src/main/resources/schema/m2mCartridge.exsd"/>-->
   <extension-point id="com.odcgroup.workbench.generation.m2cCartridge" name="Model to code cartridge" schema="src/main/resources/schema/m2cCartridge.exsd"/>
   <extension-point id="com.odcgroup.workbench.generation.selectionProvider" name="Model resources selection provider" schema="src/main/resources/schema/selectionProvider.exsd"/>
   <extension-point id="standardProjectProvider" name="Standard Project Provider" schema="schema/standardProjectProvider.exsd"/>

   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="com.odcgroup.workbench.generation.preferences.PreferenceInitializer"/>
   </extension>
   <extension
         id="OfsTechnicalNature"
         name="Ofs Technical Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.odcgroup.workbench.generation.internal.nature.OfsTechnicalNature">
         </run>
      </runtime>
      <requires-nature
            id="com.odcgroup.workbench.core.OfsNature">
      </requires-nature>
   </extension>
   <extension
         id="projectProblem"
         name="Code Generation Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="com.odcgroup.workbench.core.OfsProblem">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="com.odcgroup.workbench.core.natureExtension">
      <natureExtension
            enabledByDefault="false"
            id="com.odcgroup.workbench.generation.natureExtension"
            initializer="com.odcgroup.workbench.generation.init.CodeGenInitializer"
            label="enable &quot;technical&quot; nature"
            markerId="com.odcgroup.workbench.generation.projectProblem"
            natureId="com.odcgroup.workbench.generation.OfsTechnicalNature"
            priority="3">
         <initializer
               class="com.odcgroup.workbench.generation.init.CodeGenInitializer"
               priority="3">
         </initializer>
      </natureExtension>
   </extension>
   <extension
         id="headless"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="*"
            thread="main"
            visible="true">
         <run
               class="com.odcgroup.workbench.generation.headless.RunGeneration">
         </run></application>
   </extension>
   <extension
         id="dsgenerator"
         name="DS Generator"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.odcgroup.workbench.generation.headless"
            name="DSGenerator">
         <property
               name="startupForegroundColor"
               value="C8D5EA">
         </property>
         <property
               name="startupProgressRect"
               value="0,280,456,15">
         </property>
         <property
               name="startupMessageRect"
               value="7,260,456,20">
         </property>
         <property
               name="appName"
               value="DSGenerator">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="com.odcgroup.workbench.core.initializer">
      <initializer
            class="com.odcgroup.workbench.generation.init.CheckForDuplicatePathInitializer"
            id="com.odcgroup.workbench.generation.checkforduplicatepathinitializer"
            markerId="com.odcgroup.workbench.generation.duplicatesProblem">
      </initializer>
   </extension>
   <extension
         id="duplicatesProblem"
         name="Duplicate Path Problem"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="com.odcgroup.workbench.core.OfsProblem">
      </super>
   </extension>
   <extension
         id="dsgeneratorT24"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.odcgroup.workbench.generation.headless"
            name="DSGeneratorT24">
         <property
               name="startupForegroundColor"
               value="C8D5EA">
         </property>
         <property
               name="startupProgressRect"
               value="0,280,456,15">
         </property>
         <property
               name="startupMessageRect"
               value="7,260,456,20">
         </property>
         <property
               name="appName"
               value="DSGeneratorT24">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         id="dsgeneratorT24"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.odcgroup.workbench.generation.headless"
            name="DSGeneratorT24">
         <property
               name="startupForegroundColor"
               value="C8D5EA">
         </property>
         <property
               name="startupProgressRect"
               value="0,280,456,15">
         </property>
         <property
               name="startupMessageRect"
               value="7,260,456,20">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         id="dsgeneratorT24"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.odcgroup.workbench.generation.headless"
            name="DSGeneratorT24">
         <property
               name="startupForegroundColor"
               value="C8D5EA">
         </property>
         <property
               name="startupProgressRect"
               value="0,280,456,15">
         </property>
         <property
               name="startupMessageRect"
               value="7,260,456,20">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
<!--
   <extension
         id="dsgeneratorT24"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.odcgroup.workbench.generation.headless"
            name="DSGeneratorT24">
         <property
               name="startupForegroundColor"
               value="C8D5EA">
         </property>
         <property
               name="startupProgressRect"
               value="0,280,456,15">
         </property>
         <property
               name="startupMessageRect"
               value="7,260,456,20">
         </property>
         <property
               name="appName"
               value="DSGeneratorT24">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
-->
</plugin>
