<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
       point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension
          targetID="com.odcgroup.workbench.ui.perspectives.ofs">
       <view
             id="org.eclipse.jdt.ui.PackageExplorer"
             minimized="false"
             relationship="stack"
             relative="com.odcgroup.workbench.ui.navigator"
             showTitle="true"
             visible="true">
       </view>
    </perspectiveExtension>
 </extension>
 <extension
       point="org.eclipse.ui.activities">
    <activity
          id="com.odcgroup.t24.workbench.ui.navigator.activity"
          name="Hide DS Navigator for T24">
    </activity>
    <activityPatternBinding
          activityId="com.odcgroup.t24.workbench.ui.navigator.activity"
          isEqualityPattern="true"
          pattern="com.odcgroup.workbench.ui/com.odcgroup.workbench.ui.navigator">
    </activityPatternBinding>
 </extension>
 
</plugin>
