<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.compare.contentMergeViewers">
      <viewer
            class="com.odcgroup.pageflow.compare.internal.viewer.PageflowContentMergeViewerCreator"
            extensions="pageflow"
            id="com.odcgroup.pageflow.compare.content">
      </viewer>
   </extension>
   <extension
         point="org.eclipse.compare.structureMergeViewers">
      <viewer
            class="com.odcgroup.pageflow.compare.internal.viewer.PageflowStructureMergeViewerCreator"
            extensions="pageflow"
            id="com.odcgroup.pageflow.compare.structure">
      </viewer>
   </extension>
  <extension
        point="org.eclipse.emf.compare.match.engine">
     <matchengine
           engineClass="com.odcgroup.pageflow.compare.internal.engine.PageflowMatchEngine"
           fileExtension="pageflow"
           label="Pageflow Match Engine">
     </matchengine>
  </extension>
  <extension
        point="org.eclipse.emf.compare.diff.extension">
     <diffExtension
           extensionClass="com.odcgroup.pageflow.compare.internal.engine.PageflowDiffEngineExtension"
           fileExtension="pageflow">
     </diffExtension>
  </extension>
</plugin>
