<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/packager_nature.png"
            id="tafc_packager.image"
            natureId="com.odcgroup.tafc.packager">
      </image>
      <image
            icon="icons/packager_nature.png"
            id="tafj_packager.image"
            natureId="com.odcgroup.tafj.packager">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="com.odcgroup.workbench.action.contribution.popup"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IResource">
         <filter
               name="projectNature"
               value="com.odcgroup.tafc.packager">
         </filter>
         <action
               class="com.odcgroup.t24.packager.ui.launcher.CreateTafcPackageAction"
               enablesFor="*"
               icon="icons/packager_action.png"
               id="com.odcgroup.workbench.action.contribution.navigator.createTafcPackage"
               label="Create Tafc package "
               menubarPath="com.odcgroup.tafc/packager">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="com.odcgroup.workbench.action.contribution.popup"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IResource">
         <filter
               name="projectNature"
               value="com.odcgroup.tafj.packager">
         </filter>
         <action
               class="com.odcgroup.t24.packager.ui.launcher.CreateTafjPackageAction"
               enablesFor="*"
               icon="icons/packager_action.png"
               id="com.odcgroup.workbench.action.contribution.navigator.createTafjPackage"
               label="Create Tafj Package "
               menubarPath="com.odcgroup.tafj/packager">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <actionProvider
            class="com.odcgroup.t24.packager.ui.launcher.CreateTafcPackageActionProvider"
            id="com.odcgroup.workbench.ui.navigator.action.createTafcPackage"
            priority="high">
         <enablement>
            <and>
               <adapt
                     type="org.eclipse.core.resources.IProject">
               </adapt>
            </and>
         </enablement>
      </actionProvider>
      <actionProvider
            class="com.odcgroup.t24.packager.ui.launcher.CreateTafjPackageActionProvider"
            id="com.odcgroup.workbench.ui.navigator.action.createTafjPackage"
            priority="high">
         <enablement>
            <and>
               <adapt
                     type="org.eclipse.core.resources.IProject">
               </adapt>
            </and>
         </enablement>
      </actionProvider>
   </extension>

</plugin>
