<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="simpleFilters" name="SimpleFilters" schema="schema/simpleFilters.exsd"/>
   <extension-point id="viewSetViewContribition" name="ViewSetViewContribition" schema="schema/viewSetViewContribition.exsd"/>

<extension
         point="org.eclipse.ui.popupMenus">
           
      <objectContribution
            adaptable="true"
            id="com.zealcore.se.ui.TimeClusterContribution"
            objectClass="com.zealcore.se.ui.ITimeCluster">
         
         <action
               class="com.zealcore.se.ui.actions.PlaceLogmarkAction"
               enablesFor="1"
               icon="icons/logmarks_view.gif"
               id="com.zealcore.se.ui.actions.PlaceLogmarkAction"
               label="Place Logmark"
               menubarPath="group.viewset"/>
         <action
               class="com.zealcore.se.ui.actions.SynchLogset"
               icon="icons/cluster_chain.gif"
               id="com.zealcore.se.ui.actions.SynchLogset"
               label="Synchronize..."
               menubarPath="group.viewset"/>
         <action
               class="com.zealcore.se.ui.actions.GotoAction"
               id="com.zealcore.se.ui.actions.GotoAction"
               label="Goto..."
               menubarPath="group.viewset"/>
         <action
               class="com.zealcore.se.ui.actions.OpenPlottableAction"
               enablesFor="1"
               icon="icons/graph_small.gif"
               id="com.zealcore.se.ui.actions.OpenPlottableAction"
               label="Plot"
               menubarPath="com.zealcore.se.ui.popuopSubMenu/contents"
               tooltip="Open the plot dialog"/>
		
			<menu
               id="com.zealcore.se.ui.popuopSubMenu"
               label="Open"
               path="group.new">
               
            <separator name="contents"/>
         </menu>
   <action
         class="com.zealcore.se.ui.actions.TextualBrowserAction"
         enablesFor="1"
         icon="icons/abcsmall.gif"
         id="com.zealcore.se.ui.actions.TextualBrowserAction"
         label="Text Browser"
         menubarPath="com.zealcore.se.ui.popuopSubMenu/contents">
   </action>
   <action
         class="com.zealcore.se.ui.actions.EventTimelineBrowserAction"
         enablesFor="1"
         icon="icons/eventsmall.gif"
         id="com.zealcore.se.ui.actions.EventTimelineBrowser"
         label="Timeline Browser"
         menubarPath="com.zealcore.se.ui.popuopSubMenu/contents">
   </action>
   <action
         class="com.zealcore.se.ui.actions.OpenGanttOverviewAction"
         icon="icons/gant_small.gif"
         id="com.zealcore.se.ui.actions.OpenGanttOverviewAction"
         label="Gantt Chart Overview"
         menubarPath="com.zealcore.se.ui.popuopSubMenu/contents">
   </action>
   <action
         class="com.zealcore.se.ui.actions.OpenGanttChartAction"
         icon="icons/gant_small.gif"
         id="com.zealcore.se.ui.actions.OpenGanttChartAction"
         label="Gantt Chart"
         menubarPath="com.zealcore.se.ui.popuopSubMenu/contents">
   </action>
   <action
         class="com.zealcore.se.ui.actions.OpenSequenceDiagramAction"
         icon="icons/sequencesmall.png"
         id="com.zealcore.se.ui.actions.OpenSequenceDiagramAction"
         label="Sequence Diagram"
         menubarPath="com.zealcore.se.ui.popuopSubMenu/contents">
   </action>    
               
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="com.zealcore.se.ui.ILogContribution"
            objectClass="com.zealcore.se.ui.editors.ILogSessionWrapper">
		 <action
	           class="com.zealcore.se.ui.actions.DeleteLogItem"
               enablesFor="1"
	       icon="icons/delete.png"
               id="com.zealcore.se.ui.actions.DeleteLogItem"
               label="Delete"
               menubarPath="additions"
	       tooltip="Delete Log Analyzer Logset"/>


   <action
         class="com.zealcore.se.ui.actions.BasicSearch"
         icon="icons/search/search.gif"
         id="com.zealcore.se.ui.actions.BasicSearch"
         label="Search"
         menubarPath="group.logset"/>
   <action
         class="com.zealcore.se.ui.actions.RunAssertions"
         enablesFor="1"
         icon="icons/assertions.gif"
         id="com.zealcore.se.ui.actions.RunAssertions"
         label="Run Assertions">
   </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="com.zealcore.se.ui.ICaseFileContribution"
            objectClass="com.zealcore.se.ui.ICaseFile">
      </objectContribution>


      <objectContribution
            adaptable="false"
            id="com.zealcore.se.ui.ArtifactSelectionContribution"
            objectClass="com.zealcore.se.ui.util.ArtifactSelection">
         <visibility>
            <objectState
                  name="visibleJumpTo"
                  value="true">
            </objectState>
         </visibility>
         <action
               class="com.zealcore.se.ui.actions.JumpToSequenceAction"
               enablesFor="1"
               id="com.zealcore.se.ui.actions.JumpTo"
               label="Jump To"
               menubarPath="com.zealcore.se.ui.gotomenu/contents">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="com.zealcore.se.ui.ArtifactSelectionContribution"
            objectClass="com.zealcore.se.ui.util.ArtifactSelection">
         <action
               class="com.zealcore.se.ui.actions.ResetResourceColorAction"
               enablesFor="1"
               id="com.zealcore.se.ui.actions.ResetResourceColorAction"
               label="Clear"
               menubarPath="com.zealcore.se.ui.colormenu/contents"
               style="push">
         </action>
         <action
               class="com.zealcore.se.ui.actions.SetResourceColorAction"
               enablesFor="1"
               id="com.zealcore.se.ui.actions.SetResourceColorAction"
               label="Assign..."
               menubarPath="com.zealcore.se.ui.colormenu/contents"
               style="push">
         </action>
         <menu
               id="com.zealcore.se.ui.colormenu"
               label="Color"
               path="additions">
            <separator
                  name="contents">
            </separator>
         </menu>
         </objectContribution>
         <objectContribution
            adaptable="false"
            id="com.zealcore.se.ui.ArtifactSelectionContribution"
            objectClass="com.zealcore.se.ui.util.ArtifactSelection">
         <visibility>
            <objectState
                  name="visibleGoto"
                  value="true">
            </objectState>
         </visibility>
         <action
               class="com.zealcore.se.ui.actions.GotoDurationStartAction"
               id="com.zealcore.se.ui.actions.GotoDurationStartAction"
               label="Current Pointer Position"
               menubarPath="com.zealcore.se.ui.gotomenu/contents">
         </action>
         <menu
               id="com.zealcore.se.ui.gotomenu"
               label="Goto"
               path="additions">
            <separator
                  name="contents">
            </separator>
         </menu>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="com.zealcore.se.ui.IFileContribution"
            objectClass="com.zealcore.se.ui.internal.ILogFileSuspect">
         <action
               class="com.zealcore.se.ui.UseAsLogFile"
               enablesFor="1"
               icon="icons/icon_logfile.gif"
               id="com.zealcore.se.ui.actions.UseAsLogFile"
               label="Use as Log File"
               menubarPath="group.logset"/>
         <action
               class="com.zealcore.se.ui.actions.DeleteFileAction"
               enablesFor="1"
               icon="icons/delete.png"
               id="com.zealcore.se.ui.actions.DeleteFileAction"
               label="Delete"
               tooltip="Delete Log Analyzer File">
         </action>
      </objectContribution>
      <objectContribution
            id="com.zealcore.se.ui.EventContribution"
            objectClass="com.zealcore.se.core.model.ILogEvent">
 <!--             <action
               class="com.zealcore.se.ui.actions.ResetEventTypeColorAction"
               enablesFor="1"
               id="com.zealcore.se.ui.actions.ResetEventTypeColorAction2"
               label="Clear"
               menubarPath="com.zealcore.se.ui.colormenuevents/contents"
               style="push">
            <selection
                  class="com.zealcore.se.core.model.ILogEvent"
                  name="com.zealcore.se.core.model.AbstractLogEvent">
            </selection>
         </action> -->
         <action
               class="com.zealcore.se.ui.actions.SetEventTypeColorAction"
               enablesFor="1"
               id="com.zealcore.se.ui.actions.SetEventTypeColorAction2"
               label="Assign..."
               menubarPath="com.zealcore.se.ui.colormenuevents/contents"
               style="push">
            <selection
                  class="com.zealcore.se.core.model.ILogEvent"
                  name="com.zealcore.se.core.model.AbstractLogEvent"/>
         </action>
         <menu
               id="com.zealcore.se.ui.colormenuevents"
               label="Color"
               path="additions">
            <separator
                  name="contents">
            </separator>
         </menu>
      </objectContribution>
      <objectContribution
            id="com.zealcore.se.ui.StateContribution"
            objectClass="com.zealcore.se.core.model.IState">
      </objectContribution>
      <viewerContribution
            id="com.zealcore.se.ui.StateDiagramContribution"
            targetID="com.zealcore.se.ui.editors.LogsetEditor">
         <action
               class="com.zealcore.se.ui.actions.RunForwardToHereEditorAction"
               enablesFor="1"
               id="com.zealcore.se.ui.actions.RunForwardToHereEditorAction"
               label="Run forward to here"
               menubarPath="additions"
               style="push">
         </action>
         <action
               class="com.zealcore.se.ui.actions.RunBackwardToHereEditorAction"
               enablesFor="1"
               id="com.zealcore.se.ui.actions.RunBackwardToHereEditorAction"
               label="Run backward to here"
               menubarPath="additions"
               style="push">
         </action>
      </viewerContribution>
      <viewerContribution
            id="com.zealcore.se.ui.GanttContribution"
            targetID="com.zealcore.se.ui.editors.LogsetEditor">
         <action
               class="com.zealcore.se.ui.actions.PlotTaskAction"
               id="com.zealcore.se.ui.actions.PlotTaskAction"
               label="Plot Task"
               menubarPath="additions"
               style="push">
         </action>
      </viewerContribution>
      <objectContribution
            adaptable="false"
            id="com.zealcore.se.ui.AssertionContribution"
            objectClass="org.eclipse.core.resources.IProject">
         <filter name="nature" value="com.zealcore.se.ui.SystemExplorerNature"/>
         <action
               class="com.zealcore.se.ui.actions.EditAssertions"
               enablesFor="1"
               icon="icons/assertions.gif"
               id="com.zealcore.se.ui.actions.EditAssertions"
               label="Edit Assertions">
         </action>
         <action
               class="com.zealcore.se.ui.actions.DeleteProjectAction"
               enablesFor="1"
               icon="icons/delete.png"
               id="com.zealcore.se.ui.actions.DeleteProjectAction"
               label="Delete"
               tooltip="Delete Log Analyzer Project">
         </action>
      </objectContribution>
      
   </extension>
   <extension
         id="com.zealcore.se.ui.ZealcoreViews"
         name="Zealcore"
         point="org.eclipse.ui.views">
      <category
            id="com.zealcore.se.ui.ZealcoreViewsCategory"
            name="Log Analyzer"/>


            
      <view
            category="com.zealcore.se.ui.ZealcoreViewsCategory"
            class="com.zealcore.se.ui.views.LogmarkView"
            icon="icons/logmarks_view.gif"
            id="com.zealcore.se.ui.views.LogmarkView"
            name="Logmarks"/>
      
      <view
            allowMultiple="true"
            category="com.zealcore.se.ui.ZealcoreViewsCategory"
            class="com.zealcore.se.ui.views.PlottableViewer"
            icon="icons/graph_small.gif"
            id="com.zealcore.se.ui.views.PlottableViewer"
            name="Plot"/>
      <view
            category="com.zealcore.se.ui.ZealcoreViewsCategory"
            class="com.zealcore.se.ui.views.ResourceNavigator"
            icon="icons/artifact.png"
            id="com.zealcore.se.ui.views.ResourceNavigator"
            name="Resource Navigator"/>
      <view
            allowMultiple="false"
            category="com.zealcore.se.ui.ZealcoreViewsCategory"
            class="com.zealcore.se.ui.views.AssertionResultView"
            icon="icons/assertions.gif"
            id="com.zealcore.se.ui.views.AssertionResultView"
            name="Assertion Result"/>
      <view
            allowMultiple="false"
            category="com.zealcore.se.ui.ZealcoreViewsCategory"
            class="com.zealcore.se.ui.views.OverviewTimeclusters"
            icon="icons/timeclustersmall.gif"
            id="com.zealcore.se.ui.views.OverviewTimeclusters"
            name="Logset Overview">
      </view>
      <view
            allowMultiple="false"
            category="com.zealcore.se.ui.ZealcoreViewsCategory"
            class="com.zealcore.se.ui.views.SystemNavigator"
            icon="icons/logo/zealcore_logo_16.png"
            id="com.zealcore.se.ui.views.SystemNavigator"
            name="System Navigator"/>
            
            
            
   </extension>
   
   
    <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.zealcore.se.ui.wizards.ZealCoreCategory"
            name="Log Analyzer"/>
      <wizard
            canFinishEarly="false"
            category="com.zealcore.se.ui.wizards.ZealCoreCategory"
            class="com.zealcore.se.ui.wizards.NewZealcoreProjectWizard"
            finalPerspective="com.zealcore.se.ui.PerspectiveFactory"
            icon="icons/logo/zealcore_logo_16.png"
            id="com.zealcore.se.ui.wizards.NewZealcoreProjectWizard"
            name="Log Analyzer Project"
            preferredPerspectives="com.zealcore.se.ui.PerspectiveFactory"
            project="true"/>
            
       <wizard
             category="com.zealcore.se.ui.wizards.ZealCoreCategory"
             class="com.zealcore.se.ui.wizards.NewReportWizard"
             icon="icons/report/report-16.png"
             id="com.zealcore.se.ui.wizards.NewReportWizard"
             name="Report"
             preferredPerspectives="com.zealcore.se.ui.PerspectiveFactory"/>
       <wizard
             canFinishEarly="false"
             category="com.zealcore.se.ui.wizards.ZealCoreCategory"
             class="com.zealcore.se.ui.wizards.NewLogsetWizard"
             icon="icons/logfilesmall.gif"
             id="com.zealcore.se.ui.wizards.NewLogsetWizard"
             name="Logset"
             project="false">
       </wizard>
             
             
       <!-- DISABLED       
       <wizard
             category="com.zealcore.se.ui.wizards.ZealCoreCategory"
             class="com.zealcore.se.ui.wizards.NewFilterWizard"
             icon="icons/cfilter.gif"
             id="com.zealcore.se.ui.wizards.NewFilterWizard"
             name="Filter"/>     
       -->
            
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.zealcore.se.ui.PerspectiveFactory"
            icon="icons/explorer.gif"
            id="com.zealcore.se.ui.PerspectiveFactory"
            name="Log Analyzer"/>
   </extension>

   
   <extension
         point="org.eclipse.search.searchResultViewPages">
      <viewPage
            class="com.zealcore.se.ui.search.SearchResultView"
            id="com.zealcore.se.ui.search.SearchResultView"
            searchResultClass="com.zealcore.se.ui.search.SearchResult"/>
   </extension>
   
   
   
   
<extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="com.zealcore.se.ui.PerspectiveFactory">
         <perspectiveShortcut id="org.eclipse.ui.resourcePerspective"/> 
         <perspectiveShortcut id="com.ose.system.ui.SystemBrowserPerspective"/> 
         <perspectiveShortcut id="com.ose.event.ui.EventPerspective"/>
         <newWizardShortcut id="org.eclipse.ui.wizards.new.folder"/>
         <newWizardShortcut id="org.eclipse.ui.wizards.new.file"/>
         <viewShortcut id="org.eclipse.pde.runtime.LogView"/>
         <viewShortcut id="com.zealcore.se.ui.views.OverviewTimeclusters"/>
         <viewShortcut id="org.eclipse.ui.views.PropertySheet"/>
         <viewShortcut id="com.zealcore.se.ui.views.LogmarkView"/>
         <viewShortcut id="com.zealcore.se.ui.views.SystemNavigator"/>
         <viewShortcut id="com.zealcore.se.ui.views.ResourceNavigator"/>
         <viewShortcut id="com.zealcore.se.ui.views.AssertionResultView"/>
         <newWizardShortcut id="com.zealcore.se.ui.wizards.NewReportWizard"/>
         <newWizardShortcut id="com.zealcore.se.ui.wizards.NewLogsetWizard"/>
         <newWizardShortcut id="com.zealcore.se.ui.wizards.NewZealcoreProjectWizard"/>
      </perspectiveExtension>
      <perspectiveExtension
         targetID="com.ose.system.ui.SystemBrowserPerspective">
         <perspectiveShortcut id="com.zealcore.se.ui.PerspectiveFactory"/>
      </perspectiveExtension>
      <perspectiveExtension
         targetID="com.ose.event.ui.EventPerspective">
         <perspectiveShortcut id="com.zealcore.se.ui.PerspectiveFactory"/>
      </perspectiveExtension>
   </extension>
   
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/zealcorenature.gif"
            id="com.zealcore.se.ui.SystemExplorerNature"
            natureId="com.zealcore.se.ui.SystemExplorerNature"/>
   </extension>
   
   <extension
         id="SystemExplorerNature"
         name="System Explorer Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="com.zealcore.se.ui.SystemExplorerNature"/>
      </runtime>
   </extension>
   <!--extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="com.zealcore.se.ui.export.ZealcoreCategory"
            class="com.zealcore.se.ui.export.ExportLogsetEvents"
            icon="icons/logo/zealcore_logo_16.png"
            id="com.zealcore.se.ui.export.LogsetEvents"
            name="Imported Logset Events"/>
      <category
            id="com.zealcore.se.ui.export.ZealcoreCategory"
            name="Log Analyzer"/>
   </extension!-->
   <extension
         point="com.zealcore.se.ui.viewSetViewContribition">
      <viewerContribution
            class="com.zealcore.se.ui.internal.AssertionGanttContribution"
            id="com.zealcore.se.ui.internal.AssertionGanttContribution"
            label="Assertions"
            viewerId="com.zealcore.se.ui.views.ZGantChart">
      </viewerContribution>
      <viewerContribution
            class="com.zealcore.se.ui.contributions.TaskInstanceContribution"
            id="com.zealcore.se.ui.contributions.TaskInstanceContribution"
            label="Task Instance"
            viewerId="com.zealcore.se.ui.views.ZGantChart">
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.search.searchPages">
      <page
            canSearchEnclosingProjects="false"
            class="com.zealcore.se.ui.search.DebuggerSearch"
            enabled="true"
            icon="icons/logo/zealcore_logo_16.png"
            id="com.zealcore.se.ui.search.formSearch"
            label="Log Analyzer Search"
            showScopeSection="false"
            tabPosition="0">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="com.zealcore.se.ui.internal.IconDecorator"
            id="com.zealcore.se.ui.internal.icondecorator"
            label="Log Analyzer File Decorator"
            lightweight="true"
            state="true">
         <enablement>
            <objectClass
                  name="org.eclipse.core.resources.IFile">
            </objectClass>
         </enablement>
      </decorator>
   </extension>
    <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="com.zealcore.se.ui.internal.FolderDecorator"
            id="com.zealcore.se.ui.internal.folderdecorator"
            label="Log Analyzer Folder Decorator"
            lightweight="true"
            state="true">
         <enablement>
            <objectClass
                  name="org.eclipse.core.resources.IFolder">
            </objectClass>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.zealcore.se.ui.editors.LogsetEditor"
            contributorClass="com.zealcore.se.ui.editors.LogsetEditorActionContributor"
            icon="icons/eventsmall.gif"
            id="com.zealcore.se.ui.editors.LogsetEditor"
            name="Logset Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="com.zealcore.se.ui.editors.LogsetEditorInputFactory"
            id="com.zealcore.se.ui.editors.LogsetEditorInputFactory">
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="com.zealcore.se.ui.editors.LogBrowserContribution"
            targetID="com.zealcore.se.ui.editors.LogsetEditor">
         <action
               class="com.zealcore.se.ui.actions.LogsetEditorFilterAction"
               icon="icons/cfilter.gif"
               id="com.zealcore.se.ui.actions.LogsetEditorFilterAction"
               label="Filters..."
               toolbarPath="com.zealcore.sd.navigate">
         </action>
         <action
               class="com.zealcore.se.ui.actions.LogmarkEditorAction"
               icon="icons/bookmark.png"
               id="com.zealcore.se.ui.actions.LogmarkEditorAction"
               label="Logmark"
               toolbarPath="com.zealcore.sd.navigate">
         </action>
         <action
               class="com.zealcore.se.ui.actions.StepOver"
               definitionId="org.eclipse.debug.ui.commands.StepOver"
               icon="icons/stepover_co.gif"
               id="com.zealcore.se.ui.actions.StepOver"
               label="Step Over"
               toolbarPath="com.zealcore.sd.navigate">
         </action>
         <action
               class="com.zealcore.se.ui.actions.StepReturn"
               definitionId="org.eclipse.debug.ui.commands.StepReturn"
               icon="icons/stepreturn_co.gif"
               id="com.zealcore.se.ui.actions.StepReturn"
               label="Step Return"
               toolbarPath="com.zealcore.sd.navigate">
         </action>
      </editorContribution>
      
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.zealcore.se.ui.preferences.LogAnalyzer"
            id="com.zealcore.se.ui.preferences.LogAnalyzer"
            name="Log Analyzer">
      </page>
      <page
            category="com.zealcore.se.ui.preferences.LogAnalyzer"
            class="com.zealcore.se.ui.preferences.GanttPreferencePage"
            id="com.zealcore.se.ui.preferences.Gantt"
            name="Gantt Chart">
      </page>
      <page
            category="com.zealcore.se.ui.preferences.LogAnalyzer"
            class="com.zealcore.se.ui.preferences.MiscPreferences"
            id="com.zealcore.se.ui.preferences.MiscPreferences"
            name="Misc">
      </page>
      <page
            category="com.zealcore.se.ui.preferences.LogAnalyzer"
            class="com.zealcore.se.ui.preferences.SearchPreferences"
            id="com.zealcore.se.ui.preferences.SearchPreferences"
            name="Search">
      </page>
      <page
            category="com.zealcore.se.ui.preferences.LogAnalyzer"
            class="com.zealcore.se.ui.preferences.AssertionPreferences"
            id="com.zealcore.se.ui.preferences.AssertionPreferences"
            name="Assertion">
      </page>
   </extension>

   <extension
         point="org.eclipse.ui.importWizards">
         <category
            id="com.zealcore.se.ui.Import.ZealCoreCategory"
            name="Log Analyzer"/>
      <wizard
            category="com.zealcore.se.ui.Import.ZealCoreCategory"
            class="com.zealcore.se.ui.wizards.ImportLTTng"
            icon="icons/logo/zealcore_logo_16.png"
            id="com.zealcore.se.ui.wizards.importlttng"
            name="Import LTTng Traces">
      </wizard>
   </extension>


   <!--  REMOVED UTIL LATER, this enables the quick open view buttons in the tool bar
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.zealcore.se.ui.actionSet"
            label="Sample Action Set"
            visible="true">
         <menu
               id="sampleMenu"
               label="Sample &amp;Menu">
         </menu>
         <action
               class="com.zealcore.se.ui.actions.OpenTextBrowserActionSet"
               icon="icons/abcsmall.gif"
               id="com.zealcore.se.ui.actions.OpenTextBrowserActionSet"
               label="&amp;Open Text Browser"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               tooltip="Opens a Text Browser">
         </action>
         <action
               class="com.zealcore.se.ui.actions.OpenGanttChartActionSet"
               icon="icons/gant_small.gif"
               id="com.zealcore.se.ui.actions.OpenGanttChartActionSet"
               label="&amp;Open Gantt Chart"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               tooltip="Opens a Gantt Chart">
         </action>
         <action
               class="com.zealcore.se.ui.actions.OpenSequenceDiagramActionSet"
               icon="icons/sequencesmall.png"
               id="com.zealcore.se.ui.actions.OpenSequenceDiagramActionSet"
               label="&amp;Open Sequence Diagram"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               tooltip="Opens a Sequence Diagram">
         </action>
         <action
               class="com.zealcore.se.ui.actions.OpenEventTimelineBrowserActionSet"
               icon="icons/eventsmall.gif"
               id="com.zealcore.se.ui.actions.OpenEventTimelineBrowserActionSet"
               label="&amp;Open Event Timeline Browser"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               tooltip="Opens a Event Timeline Browser">
         </action>
      </actionSet>
   </extension>
   -->
</plugin>
