<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.odcgroup.com/ofs/pageflow" 
       class = "com.odcgroup.pageflow.model.PageflowPackage"
       genModel = "model/pageflow.genmodel" /> 
  </extension>  
  
     <extension point="com.odcgroup.workbench.core.model">
	     <model
	      name="pageflow"/>
	</extension> 
  
</plugin>

