<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.visualrules.core.objectFactories">
      <objectFactory
            class="com.odcgroup.workbench.core.internal.repository.maven.MavenSettingsCustomizerFactory">
         <objectId
               objectId="de.visualrules.artifact.maven.util.ISettingsCustomizer">
         </objectId>
      </objectFactory>
   </extension>
   
   	     <extension	 
           point="de.visualrules.core.objectFactories">	 
        <objectFactory	 
              class="com.odcgroup.workbench.core.internal.repository.maven.ModelCustomizerObjectFactory">	 
           <objectId objectId="de.visualrules.artifact.maven.util.IModelCustomizer">	 
           </objectId>	 
        </objectFactory>	 
     </extension>
         <extension
               point="com.odcgroup.workbench.core.dependencyManager">
            <depMgr
                  class="com.odcgroup.workbench.core.internal.repository.maven.MavenDependencyManager"
                  id="com.odcgroup.workbench.core.depmgr.vr"
                  name="VR Model Project Dependency Support"
                  priority="0">
            </depMgr>
         </extension>	 

</plugin>
