<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.odcgroup.documentation.generation.docGenCartridge">
      <cartridge
            category="Domain (XLS)"
            class="com.odcgroup.t24.mdf.generation.T24ExcelDocGenerator"
            enabledByDefault="true"
            id="com.odcgroup.t24.mdf.generation.T24ExcelDocGenerator"
            name="Domain (XLS)"
            terminal="false">
      </cartridge>
   </extension>
   <extension
         point="com.odcgroup.workbench.generation.m2cCartridge">
      <cartridge
            category="T24 Models (XML)"
            class="com.odcgroup.t24.mdf.generator.T24MdfGenerator"
            enabledByDefault="true"
            id="com.odcgroup.t24.mdf.generation.T24MdfGenerator"
            name="XML for Local Fields">
      </cartridge>
   </extension>
</plugin>
