<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
  <extension-point id="diffitem_feature" name="Compare Diff Item Feature" schema="schema/diffitem_feature.exsd"/>
 
  <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <actionProvider
            class="com.odcgroup.workbench.compare.ui.navigator.TeamActionProvider"
            id="com.odcgroup.workbench.ui.navigator.be.action.team">
         <enablement>
           <adapt type="org.eclipse.core.resources.IResource">
           </adapt>
         </enablement>
      </actionProvider>
      <actionProvider
            class="com.odcgroup.workbench.compare.ui.navigator.CompareActionProvider"
            id="com.odcgroup.workbench.ui.navigator.be.action.compare">
         <enablement>
            <adapt
                  type="org.eclipse.core.resources.IResource">
            </adapt>
         </enablement>
      </actionProvider>
      
   </extension>
   
  <extension
        point="org.eclipse.emf.compare.ui.team.handler">
     <handler
           class="com.odcgroup.workbench.compare.ui.team.OfsTeamHandler"
           id="com.odcgroup.workbench.compare.ui.team.OfsTeamHandler">
     </handler>
  </extension>
   
  
</plugin>
