<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="com.ose.plugin.control"
   name="Optima Plugin Controller"
   version="1.4.2"
   provider-name="Enea Software AB"
   class="com.ose.plugin.control.LicensePlugin">

   <requires>
      <import plugin="org.eclipse.core.runtime"/>
   </requires>

   <runtime>
      <library name="control.jar">
         <export name="com.ose.plugin.control.*"/>
      </library>
      <library name="lm.jar">
      </library>
   </runtime>
</plugin>
