<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="com.ose.pmd"
   name="PMD Support"
   version="1.4.0"
   provider-name="Enea Software AB">

   <runtime>
      <library name="pmd.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="com.ose.gateway"/>
      <import plugin="com.ose.plugin.control"/>
      <import plugin="com.ose.system"/>
   </requires>
</plugin>
