<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.odcgroup.translation.generation.xlscolumnprovider">
      <column
            class="com.odcgroup.page.translation.generation.internal.WidgetIdColumnProvider"
            name="widgetId"
            priority="3">
      </column>
   </extension>

   <extension
         point="com.odcgroup.translation.generation.keyprovider">
      <provider
            id="com.odcgroup.page.widget.translation.keyprovider"
            name="Translation Key Provider for Widget"
            class="com.odcgroup.page.translation.generation.WidgetTranslationKeyProvider">
          <input type="com.odcgroup.page.model.Widget" /> 
      </provider>
      <provider
            id="com.odcgroup.page.event.translation.keyprovider"
            name="Translation Key Provider for Event"
            class="com.odcgroup.page.translation.generation.EventTranslationKeyProvider">
          <input type="com.odcgroup.page.model.Event" /> 
      </provider>
   </extension>
   <extension
         point="com.odcgroup.workbench.generation.selectionProvider">
      <selectionProvider
            class="com.odcgroup.page.translation.generation.internal.FragmentSelectionProvider">
      </selectionProvider>
   </extension>

</plugin>
