<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

	<extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
    <factory 
       uri = "http://www.odcgroup.com/mdf" 
       class = "com.odcgroup.mdf.editor.ui.editors.providers.MdfItemProviderAdapterFactory" 
       supportedTypes = 
         "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
          org.eclipse.emf.edit.provider.IStructuredItemContentProvider
          org.eclipse.emf.edit.provider.ITreeItemContentProvider
          org.eclipse.emf.edit.provider.IItemLabelProvider
          org.eclipse.emf.edit.provider.IItemPropertySource" />
 	</extension>
 	
 	<!-- make Domain Model editor with same ID with XText Domain Editor ID-->
 	<extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.odcgroup.domain.ui.editor.DomainMultiPageEditor"
            contributorClass="com.odcgroup.mdf.editor.ui.editors.DomainModelEditorContributor"
            default="true"
            extensions="domain"
            icon="icons/domain_dsl.gif"
            id="com.odcgroup.domain.Domain"
            name="Domain Model Editor">
      </editor>
   </extension>
    <!-- <extension
    point="org.eclipse.ui.editors">
        <editor
              class="com.odcgroup.domain.ui.DomainExecutableExtensionFactory:com.odcgroup.domain.ui.DomainDSLEditor"
              contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
              default="false"
              extensions="domain"
              icon="icons/domain_dsl.gif"
              id="com.odcgroup.domain.Domain"
              name="Domain DSL Editor">
        </editor>
    </extension> -->
    <extension
        point="org.eclipse.ui.handlers">
        <handler
            class="com.odcgroup.domain.ui.DomainExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
            commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
            <activeWhen>
                <reference
                    definitionId="com.odcgroup.domain.Domain.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
        <handler
            class="com.odcgroup.domain.ui.DomainExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
            commandId="com.odcgroup.domain.Domain.validate">
         <activeWhen>
            <reference
                    definitionId="com.odcgroup.domain.Domain.Editor.opened">
            </reference>
         </activeWhen>
      </handler>
    </extension>
    <extension point="org.eclipse.core.expressions.definitions">
        <definition id="com.odcgroup.domain.Domain.Editor.opened">
            <and>
                <with variable="activeEditor">
		            <adapt
		                  type="com.odcgroup.domain.ui.editor.DomainMultiPageEditor">
		            </adapt>
                </with>        
            </and>
        </definition>
    </extension>
    <extension
            point="org.eclipse.ui.preferencePages">
        <page
              category="com.odcgroup.workbench.dsl.preferences"
              class="com.odcgroup.domain.ui.DomainExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
              id="com.odcgroup.domain.Domain"
              name="Domain">
            <keywordReference id="com.odcgroup.domain.ui.keyword_Domain"/>
        </page>
        <page
            category="com.odcgroup.domain.Domain"
            class="com.odcgroup.domain.ui.DomainExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
            id="com.odcgroup.domain.Domain.coloring"
            name="Syntax Coloring">
            <keywordReference id="com.odcgroup.domain.ui.keyword_Domain"/>
        </page>
        <page
            category="com.odcgroup.domain.Domain"
            class="com.odcgroup.domain.ui.DomainExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
            id="com.odcgroup.domain.Domain.templates"
            name="Templates">
            <keywordReference id="com.odcgroup.domain.ui.keyword_Domain"/>
        </page>
    </extension>
    <extension
        point="org.eclipse.ui.keywords">
        <keyword
            id="com.odcgroup.domain.ui.keyword_Domain"
            label="Domain"/>
    </extension>
    <extension
         point="org.eclipse.ui.commands">
      <command
            description="Trigger expensive validation"
            id="com.odcgroup.domain.Domain.validate"
            name="Validate">
      </command>
    </extension>
    <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
             <command
                 commandId="com.odcgroup.domain.Domain.validate"
                 style="push"
                 tooltip="Trigger expensive validation">
            <visibleWhen checkEnabled="false">
                <reference
                    definitionId="com.odcgroup.domain.Domain.Editor.opened">
                </reference>
            </visibleWhen>
         </command>
         </menuContribution>
    </extension>
    <extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
                	<reference definitionId="com.odcgroup.domain.Domain.Editor.opened">
                	</reference>
            	</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
	    <handler
            class="com.odcgroup.domain.ui.DomainExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
            commandId="org.eclipse.xtext.ui.editor.FindReferences">
            <activeWhen>
                <reference
                    definitionId="com.odcgroup.domain.Domain.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
    </extension>   

<!-- adding resource factories -->

	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="com.odcgroup.domain.ui.DomainExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="domain">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
        <resourceServiceProvider
            class="com.odcgroup.domain.ui.DomainExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
            uriExtension="domain">
        </resourceServiceProvider>
    </extension>

    <!-- marker definitions for com.odcgroup.domain.Domain -->
    <extension
            id="domain.check.fast"
            name="Domain Problem"
            point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.xtext.ui.check.fast"/>
        <persistent value="true"/>
    </extension>
    <extension
            id="domain.check.normal"
            name="Domain Problem"
            point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.xtext.ui.check.normal"/>
        <persistent value="true"/>
    </extension>
    <extension
            id="domain.check.expensive"
            name="Domain Problem"
            point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.xtext.ui.check.expensive"/>
        <persistent value="true"/>
    </extension>

	<!-- Quick Outline -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler
			class="com.odcgroup.domain.ui.DomainExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
			commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
			<activeWhen>
				<reference
					definitionId="com.odcgroup.domain.Domain.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Open the quick outline."
			id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
			name="Quick Outline">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
				style="push"
				tooltip="Open Quick Outline">
				<visibleWhen checkEnabled="false">
					<reference definitionId="com.odcgroup.domain.Domain.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>

   <!-- quickfix marker resolution generator -->
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="com.odcgroup.domain.ui.DomainExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator">
      </markerResolutionGenerator>
   </extension>
   
   <extension
         point="org.eclipse.xtext.ui.searchFilter">
      <filter
            class="com.odcgroup.domain.ui.DomainExecutableExtensionFactory:com.odcgroup.domain.ui.search.DomainSearchFilter">
      </filter>
   </extension>
   
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="com.odcgroup.domain.dsl.ui"
            labelProvider="com.odcgroup.domain.ui.labeling.DomainDSLLabelProvider"
            typeMapper="com.odcgroup.domain.ui.properties.DomainDSLTypeMapper">
         <propertyCategory
               category="self"></propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="com.odcgroup.domain.dsl.ui">
         <propertyTab
               afterTab="domain.dsl.tab.domain"
               category="self"
               id="domain.dsl.tab.java"
               label="Java">
         </propertyTab>
         <propertyTab
               category="self"
               id="domain.dsl.tab.domain"
               label="Domain">
         </propertyTab>
         <propertyTab
               afterTab="domain.dsl.tab.java"
               category="self"
               id="domain.dsl.tab.sql"
               label="SQL">
         </propertyTab>
         <propertyTab
               afterTab="domain.dsl.tab.sql"
               category="self"
               id="domain.dsl.tab.translation"
               label="Translation">
         </propertyTab>
         <propertyTab
               afterTab="domain.dsl.tab.annotations"
               category="self"
               id="domain.dsl.tab.doc"
               label="Documentation">
         </propertyTab>
         <propertyTab
               afterTab="domain.dsl.tab.ui:domain.dsl.tab.translation"
               category="self"
               id="domain.dsl.tab.annotations"
               label="Annotations">
         </propertyTab>
         <propertyTab
               category="self"
               id="domain.dsl.tab.bt"
               label="Business Type">
         </propertyTab>
         <propertyTab
               category="self"
               id="domain.dsl.tab.class"
               label="Class">
         </propertyTab>
         <propertyTab
               category="self"
               id="domain.dsl.tab.attr"
               label="Attribute">
         </propertyTab>
         <propertyTab
               category="self"
               id="domain.dsl.tab.assoc"
               label="Association">
         </propertyTab>
         <propertyTab
               category="self"
               id="domain.dsl.tab.ds"
               label="Dataset">
         </propertyTab>
         <propertyTab
               category="self"
               id="domain.dsl.tab.dsclassattr"
               label="Dataset Class Attribute">
         </propertyTab>
         <propertyTab
               category="self"
               id="domain.dsl.tab.enum"
               label="Enumeration">
         </propertyTab>
         <propertyTab
               category="self"
               id="domain.dsl.tab.enumval"
               label="Enumerated Value">
         </propertyTab>
         <propertyTab
               category="self"
               id="domain.dsl.tab.revassoc"
               label="Reverse Association">
         </propertyTab>
         <propertyTab
               category="self"
               id="domain.dsl.tab.dscalcattr"
               label="Dataset Calculated Attribute">
         </propertyTab>
         <propertyTab
               afterTab="domain.dsl.tab.translation"
               category="self"
               id="domain.dsl.tab.ui"
               label="UI">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="com.odcgroup.domain.dsl.ui">
         <propertySection
               class="com.odcgroup.domain.ui.properties.JavaPropertySection"
               id="domain.dsl.section.java"
               tab="domain.dsl.tab.java">
            <input
                  type="com.odcgroup.mdf.metamodel.MdfDomain">
            </input>
         </propertySection>
         <propertySection
               class="com.odcgroup.domain.ui.properties.DomainPropertySection"
               id="domain.dsl.section.domain"
               tab="domain.dsl.tab.domain">
            <input
                  type="com.odcgroup.mdf.metamodel.MdfDomain">
            </input>
         </propertySection>
         <propertySection
               class="com.odcgroup.domain.ui.properties.TranslationPropertySection"
               id="domain.dsl.section.translation"
               tab="domain.dsl.tab.translation">
            <input
                  type="com.odcgroup.mdf.metamodel.MdfDomain">
            </input>
         </propertySection>
         <propertySection
               class="com.odcgroup.domain.ui.properties.SQLPropertySection"
               id="domain.dsl.section.sql"
               tab="domain.dsl.tab.sql">
            <input
                  type="com.odcgroup.mdf.metamodel.MdfDomain">
            </input>
            <input
                  type="com.odcgroup.mdf.metamodel.MdfBusinessType">
            </input>
            <input
                  type="com.odcgroup.mdf.metamodel.MdfClass">
            </input>
            <input
                  type="com.odcgroup.mdf.metamodel.MdfAttribute">
            </input>
            <input
                  type="com.odcgroup.mdf.metamodel.MdfAssociation">
            </input>
            <input
                  type="com.odcgroup.mdf.metamodel.MdfReverseAssociation">
            </input>
         </propertySection>
         <propertySection
               class="com.odcgroup.domain.ui.properties.TranslationPropertySection"
               id="domain.dsl.section.translation"
               tab="domain.dsl.tab.translation">
            <input
                  type="com.odcgroup.mdf.metamodel.MdfModelElement">
            </input>
         </propertySection>
         <propertySection
               class="com.odcgroup.domain.ui.properties.UIPropertySection"
               id="domain.dsl.section.ui"
               tab="domain.dsl.tab.ui">
            <input
                  type="com.odcgroup.mdf.metamodel.MdfBusinessType">
            </input>
         </propertySection>
         <propertySection
               class="com.odcgroup.domain.ui.properties.AnnotationsPropertySection"
               id="domain.dsl.section.annotations"
               tab="domain.dsl.tab.annotations">
            <input
                  type="com.odcgroup.mdf.metamodel.MdfModelElement">
            </input>
         </propertySection>
         <propertySection
               class="com.odcgroup.domain.ui.properties.DocumentationPropertySection"
               id="domain.dsl.section.doc"
               tab="domain.dsl.tab.doc">
            <input
                  type="com.odcgroup.mdf.metamodel.MdfModelElement">
            </input>
         </propertySection>
         <propertySection
               class="com.odcgroup.domain.ui.properties.BusinessTypePropertySection"
               id="domain.dsl.section.bt"
               tab="domain.dsl.tab.bt">
            <input
                  type="com.odcgroup.mdf.metamodel.MdfBusinessType">
            </input>
         </propertySection>
         <propertySection
               class="com.odcgroup.domain.ui.properties.ClassPropertySection"
               id="domain.dsl.section.class"
               tab="domain.dsl.tab.class">
            <input
                  type="com.odcgroup.mdf.metamodel.MdfClass">
            </input>
         </propertySection>
         <propertySection
               class="com.odcgroup.domain.ui.properties.AttributePropertySection"
               id="domain.dsl.section.attr"
               tab="domain.dsl.tab.attr">
            <input
                  type="com.odcgroup.mdf.metamodel.MdfAttribute">
            </input>
         </propertySection>
         <propertySection
               class="com.odcgroup.domain.ui.properties.AssociationPropertySection"
               id="domain.dsl.section.assoc"
               tab="domain.dsl.tab.assoc">
            <input
                  type="com.odcgroup.mdf.metamodel.MdfAssociation">
            </input>
         </propertySection>
         <propertySection
               class="com.odcgroup.domain.ui.properties.DatasetPropertySection"
               id="domain.dsl.section.ds"
               tab="domain.dsl.tab.ds">
            <input
                  type="com.odcgroup.mdf.metamodel.MdfDataset">
            </input>
         </propertySection>
         <propertySection
               class="com.odcgroup.domain.ui.properties.DatasetClassAttributePropertySection"
               id="domain.dsl.section.dsclassattr"
               tab="domain.dsl.tab.dsclassattr">
            <input
                  type="com.odcgroup.mdf.metamodel.MdfDatasetMappedProperty">
            </input>
         </propertySection>
         <propertySection
               class="com.odcgroup.domain.ui.properties.DatasetCalculatedAttributePropertySection"
               id="domain.dsl.section.dscalcattr"
               tab="domain.dsl.tab.dscalcattr">
            <input
                  type="com.odcgroup.mdf.metamodel.MdfDatasetDerivedProperty">
            </input>
         </propertySection>
         <propertySection
               class="com.odcgroup.domain.ui.properties.EnumerationPropertySection"
               id="domain.dsl.section.enum"
               tab="domain.dsl.tab.enum">
            <input
                  type="com.odcgroup.mdf.metamodel.MdfEnumeration">
            </input>
         </propertySection>
         <propertySection
               class="com.odcgroup.domain.ui.properties.EnumeratedValuePropertySection"
               id="domain.dsl.section.enumval"
               tab="domain.dsl.tab.enumval">
            <input
                  type="com.odcgroup.mdf.metamodel.MdfEnumValue">
            </input>
         </propertySection>
         <propertySection
               class="com.odcgroup.domain.ui.properties.ReverseAssociationPropertySection"
               id="domain.dsl.section.revassoc"
               tab="domain.dsl.tab.revassoc">
            <input
                  type="com.odcgroup.mdf.metamodel.MdfReverseAssociation">
            </input>
         </propertySection>
      </propertySections>
   </extension>
</plugin>
