<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.odcgroup.workbench.generation.m2cCartridge">
      <cartridge
            category="API (Domain)"
            class="com.odcgroup.mdf.generation.ManifestGenerator"
            enabledByDefault="false"
            id="com.odcgroup.mdf.generation.ManifestGenerator"
            name="%Manifest.generator.name">
      </cartridge>
      <cartridge
            category="API (Domain)"
            class="com.odcgroup.mdf.generation.ModelCopyGenerator"
            enabledByDefault="true"
            id="com.odcgroup.mdf.generation.ModelCopyGenerator"
            name="%MML.generator.name">
      </cartridge>
      <cartridge
            category="API (Domain)"
            class="com.odcgroup.mdf.generation.JavaModelGenerator"
            enabledByDefault="true"
            id="com.odcgroup.mdf.generation.JavaModelGenerator"
            name="%JavaModel.generator.name">
      </cartridge>
      <cartridge
            category="Implementation (Domain)"
            class="com.odcgroup.mdf.generation.JavaModelSerializerGenerator"
            enabledByDefault="true"
            id="com.odcgroup.mdf.generation.JavaModelSerializerGenerator"
            name="%JavaModelSerializer.generator.name">
      </cartridge>
      <cartridge
            category="Implementation (Domain)"
            class="com.odcgroup.mdf.generation.JavaBeanSerializerGenerator"
            enabledByDefault="true"
            id="com.odcgroup.mdf.generation.JavaBeanSerializerGenerator"
            name="%JavaBeanSerializer.generator.name">
      </cartridge>
      <cartridge
            category="Implementation (Domain)"
            class="com.odcgroup.mdf.generation.ModelSerializerGenerator"
            enabledByDefault="true"
            id="com.odcgroup.mdf.generation.ModelSerializerGenerator"
            name="%ModelSerializer.generator.name">
      </cartridge>
      <cartridge
            category="Implementation (Domain)"
            class="com.odcgroup.mdf.generation.JavaBeanGenerator"
            enabledByDefault="true"
            id="com.odcgroup.mdf.generation.JavaBeanGenerator"
            name="%JavaBean.generator.name">
      </cartridge>
      <cartridge
            category="Implementation (Domain)"
            class="com.odcgroup.mdf.generation.XMLSchemaGenerator"
            enabledByDefault="true"
            id="com.odcgroup.mdf.generation.XMLSchemaGenerator"
            name="%XMLSchema.generator.name">
      </cartridge>
      <cartridge
            category="Implementation (Domain)"
            class="com.odcgroup.mdf.generation.CastorXMLMapGenerator"
            enabledByDefault="true"
            id="com.odcgroup.mdf.generation.CastorXMLMapGenerator"
            name="%CastorXML.generator.name">
      </cartridge>
      <cartridge
            category="Implementation (Domain)"
            class="com.odcgroup.mdf.generation.CastorJDOMapGenerator"
            enabledByDefault="true"
            id="com.odcgroup.mdf.generation.CastorJDOMapGenerator"
            name="%CastorJDO.generator.name">
      </cartridge>
      <cartridge
            category="Implementation (Domain)"
            class="com.odcgroup.mdf.generation.TorqueGenerator"
            enabledByDefault="true"
            id="com.odcgroup.mdf.generation.TorqueGenerator"
            name="%Torque.generator.name">
      </cartridge>
      <cartridge
            category="EJB (Domain)"
            class="com.odcgroup.mdf.generation.ManifestGenerator"
            enabledByDefault="false"
            id="com.odcgroup.mdf.generation.ManifestGenerator"
            name="%Manifest.generator.name">
      </cartridge>
      <cartridge
            category="EJB (Domain)"
            class="com.odcgroup.mdf.generation.ServiceDelegateGenerator"
            enabledByDefault="false"
            id="com.odcgroup.mdf.generation.ServiceDelegateGenerator"
            name="%ServiceDelegate.generator.name">
      </cartridge>
      <cartridge
            category="EJB (Domain)"
            class="com.odcgroup.mdf.generation.ServiceEJBGenerator"
            enabledByDefault="false"
            id="com.odcgroup.mdf.generation.ServiceEJBGenerator"
            name="%ServiceEJB.generator.name">
      </cartridge>
      <cartridge
            category="API (Domain)"
            class="com.odcgroup.mdf.generation.ServiceModelGenerator"
            enabledByDefault="false"
            id="com.odcgroup.mdf.generation.ServicesModelGenerator"
            name="%ServiceModel.generator.name">
      </cartridge>
       <cartridge
            category="WUI Block"
            class="com.odcgroup.mdf.generation.ActionGenerator"
            enabledByDefault="false"
            id="com.odcgroup.mdf.generation.ActionGenerator"
            name="%ServiceAction.generator.name">
      </cartridge>
      <cartridge
            category="API (Domain)"
            class="com.odcgroup.mdf.generation.EcoreGenerator"
            enabledByDefault="false"
            id="com.odcgroup.mdf.generation.EcoreGenerator"
            name="Ecore">
      </cartridge>
      <cartridge
            category="API (Domain)"
            class="com.odcgroup.mdf.generation.EcoreBinaryGenerator"
            enabledByDefault="false"
            id="com.odcgroup.mdf.generation.EcoreBinaryGenerator"
            name="Ecore Binary">
      </cartridge>
   </extension>
   <extension
		point="com.odcgroup.translation.generation.keyprovider">
		<provider
        	id="com.odcgroup.mdf.generation.translation.keyprovider"
            name="Translation Key Provider for MDF"
            class="com.odcgroup.mdf.generation.translation.MdfTranslationKeyProvider">
          	<input type="com.odcgroup.mdf.metamodel.MdfModelElement" /> 
		</provider>
	</extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="com.odcgroup.mdf.generation.ecore.BinaryResourceFactoryImpl"
            type="ecorebin">
      </parser>
   </extension>   
</plugin>
