<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.RuntimeWorkbench">
<booleanAttribute key="append.args" value="true"/>
<booleanAttribute key="askclear" value="true"/>
<booleanAttribute key="automaticAdd" value="true"/>
<booleanAttribute key="automaticValidate" value="true"/>
<stringAttribute key="bootstrap" value=""/>
<stringAttribute key="checked" value="[NONE]"/>
<booleanAttribute key="clearConfig" value="false"/>
<booleanAttribute key="clearws" value="false"/>
<booleanAttribute key="clearwslog" value="false"/>
<stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/DS"/>
<booleanAttribute key="default" value="true"/>
<booleanAttribute key="includeOptional" value="true"/>
<stringAttribute key="location" value="D:\Temenos\BR103C\workspace"/>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl} -consoleLog"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xms128m -Xmx6192m -XX:PermSize=256m -XX:MaxPermSize=384m -XX:MaxHeapFreeRatio=40 -XX:MinHeapFreeRatio=20 -ea&#13;&#10;-XX:+CMSClassUnloadingEnabled -XX:+UseConcMarkSweepGC&#13;&#10;-Dlogback.configurationFile=configuration/standard-logging.xml&#13;&#10;-Dds.target.platform.version=14.2-SNAPSHOT&#13;&#10;-DANTLR_DO_NOT_EXIT=true&#13;&#10;-Dorg.eclipse.update.reconcile=false&#13;&#10;-Djava.util.Arrays.useLegacyMergeSort=true&#13;&#10;-Dds.maven.mirror=http://hemel-nexus.temenosgroup.com/content/groups/all/&#13;&#10;-Degen.options.useNewEnqResultsTableColWidthEqualizationMethod=true&#13;&#10;-Degen.options.forceGeneration=Y"/>
<stringAttribute key="pde.version" value="3.3"/>
<stringAttribute key="product" value="com.odcgroup.workbench.t24.products.edsT24"/>
<booleanAttribute key="show_selected_only" value="false"/>
<stringAttribute key="templateConfig" value="${target_home}\configuration\config.ini"/>
<booleanAttribute key="tracing" value="false"/>
<booleanAttribute key="useCustomFeatures" value="false"/>
<booleanAttribute key="useDefaultConfig" value="true"/>
<booleanAttribute key="useDefaultConfigArea" value="true"/>
<booleanAttribute key="useProduct" value="true"/>
</launchConfiguration>
