<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.odcgroup.workbench.generation.m2cCartridge">
      <cartridge
            category="T24 Models Edge Browser"
            class="com.odcgroup.edge.t24.generation.T24EdgeGenerator"
            enabledByDefault="true"
            id="com.odcgroup.edge.t24.generation"
            name="T24 Models Edge Browser POC">
      </cartridge>
   </extension>
   <extension
          point="org.eclipse.ui.bindings">
       <key
             commandId="com.odcgroup.workbench.generation.ui.SaveAndGenerate"
             contextId="org.eclipse.emf.eson.ui.context"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
             sequence="M1+G">
       </key>
    </extension>
    <extension
          point="org.eclipse.ui.contexts">
       <context
             id="org.eclipse.emf.eson.ui.context"
             name="Efactory context"
             parentId="org.eclipse.ui.contexts.window">
       </context>
    </extension>   
</plugin>
