<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.odcgroup.t24.server.properties.ui.ServerMultiPageEditor"
            contributorClass="com.odcgroup.t24.server.properties.ui.ServerMultiPageEditorContributor"
            default="true"
            filenames="server.properties"
            icon="icons/serverProperties.png"
            id="com.odcgroup.t24.server.properties.ui.ServerFormEditor"
            name="server.properties">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="com.odcgroup.workbench"
            class="com.odcgroup.t24.server.properties.wizards.ServerPropertiesNewWizard"
            finalPerspective="com.odcgroup.workbench.ui.perspectives.ofs"
            icon="icons/serverProperties.png"
            id="com.odcgroup.t24.server.properties.wizard"
            name="Design Studio T24 Server Connectivity"
            preferredPerspectives="com.odcgroup.workbench.ui.perspectives.ofs"
            project="true">
      </wizard>
   </extension>
   <extension
         point="com.odcgroup.server.ui.serverproperties">
      <editor
            id="com.odcgroup.t24.server.properties.ui.ServerFormEditor">
      </editor>
   </extension>

</plugin>
