<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.odcgroup.documentation.generation.docGenCartridge">
      <cartridge
            category="Page (HTML)"
            class="com.odcgroup.page.docgen.cartridges.PageDescriptionCartridge"
            enabledByDefault="true"
            id="com.odcgroup.page.docgen.PageDescriptionCartridge"
            name="Page Description"
            terminal="false">
      </cartridge>
      <cartridge
            category="Page (HTML)"
            class="com.odcgroup.page.docgen.cartridges.PageContainersCartridge"
            enabledByDefault="true"
            id="com.odcgroup.page.docgen.PageContainersCartridge"
            name="Page Containers"
            terminal="false">
      </cartridge>
      <cartridge
            category="Page (HTML)"
            class="com.odcgroup.page.docgen.cartridges.PageIncludesCartridge"
            enabledByDefault="true"
            id="com.odcgroup.page.docgen.PageIncludesCartridge"
            name="Page Includes"
            terminal="false">
      </cartridge>
      <cartridge
            category="Page (HTML)"
            class="com.odcgroup.page.docgen.cartridges.XPageContainersCartridge"
            enabledByDefault="true"
            id="com.odcgroup.page.docgen.XPageContainersCartridge"
            name="XPage Containers"
            terminal="false">
      </cartridge>
      <cartridge
            category="Module/Fragment (HTML)"
            class="com.odcgroup.page.docgen.cartridges.ModuleContainerCartridge"
            enabledByDefault="true"
            id="com.odcgroup.page.docgen.ModuleContainerCartridge"
            name="Module Container"
            terminal="false">
      </cartridge>
      <cartridge
            category="Module/Fragment (HTML)"
            class="com.odcgroup.page.docgen.cartridges.ModuleIncludesCartridge"
            enabledByDefault="true"
            id="com.odcgroup.page.docgen.ModuleIncludesCartridge"
            name="Module Include"
            terminal="false">
      </cartridge>
      <cartridge
            category="Module/Fragment (HTML)"
            class="com.odcgroup.page.docgen.cartridges.ModuleDescriptionCartridge"
            enabledByDefault="true"
            id="com.odcgroup.page.docgen.ModuleDescriptionCartridge"
            name="Module Description"
            terminal="false">
      </cartridge>
      <cartridge
            category="Module/Fragment (HTML)"
            class="com.odcgroup.page.docgen.cartridges.ModuleAttributesCartridge"
            enabledByDefault="true"
            id="com.odcgroup.page.docgen.cartridges.ModuleAttributesCartridge"
            name="Module Attribute"
            terminal="false">
      </cartridge>
      <cartridge
            category="Module/Fragment (HTML)"
            class="com.odcgroup.page.docgen.cartridges.ModuleActionsCartridge"
            enabledByDefault="true"
            id="com.odcgroup.page.docgen.cartridges.ModuleActionsCartridge"
            name="Module Action"
            terminal="false">
      </cartridge>
            <cartridge
                  category="Module/Fragment (HTML)"
                  class="com.odcgroup.page.docgen.cartridges.ModuleActionFiltersCartridge"
                  enabledByDefault="true"
                  id="com.odcgroup.page.docgen.cartridges.ModuleActionFiltersCartridge"
                  name="Module Action Filters"
                  terminal="false">
      </cartridge>
      <cartridge
            category="Module/Fragment (HTML)"
            class="com.odcgroup.page.docgen.cartridges.ModuleActionSearchCartridge"
            enabledByDefault="true"
            id="com.odcgroup.page.docgen.cartridges.ModuleActionSearchCartridge"
            name="Module Action Search"
            terminal="false">
      </cartridge>
      <cartridge
            category="Module/Fragment (HTML)"
            class="com.odcgroup.page.docgen.cartridges.ModuleAutoCompleteDesignCartridge"
            enabledByDefault="true"
            id="com.odcgroup.page.docgen.cartridges.ModuleAutoCompleteDesignCartridge"
            name="Module Auto Complete Design"
            terminal="false">
      </cartridge>
      <cartridge
            category="Module/Fragment (HTML)"
            class="com.odcgroup.page.docgen.cartridges.ModuleTranslationsCartridge"
            enabledByDefault="true"
            id="com.odcgroup.page.docgen.cartridges.ModuleTranslationsCartridge"
            name="Module Translations"
            terminal="false">
      </cartridge>
      <cartridge
            category="Module/Fragment (HTML)"
            class="com.odcgroup.page.docgen.cartridges.ModuleXContainerCartridge"
            enabledByDefault="true"
            id="com.odcgroup.page.docgen.cartridges.ModuleXContainerCartridge"
            name="XModule Container"
            terminal="false">
      </cartridge>
      <cartridge
            category="Module table (HTML)"
            class="com.odcgroup.page.docgen.cartridges.TableDescriptionDesignCartridge"
            enabledByDefault="true"
            id="com.odcgroup.page.docgen.cartridges.TableDescriptionDesignCartridge"
            name="Table Description"
            terminal="false">
      </cartridge>
      <cartridge
            category="Module table (HTML)"
            class="com.odcgroup.page.docgen.cartridges.TableGroupingDesignCartridge"
            enabledByDefault="true"
            id="com.odcgroup.page.docgen.cartridges.TableGroupingDesignCartridge"
            name="Table Grouping"
            terminal="false">
      </cartridge>
      <cartridge
            category="Module table (HTML)"
            class="com.odcgroup.page.docgen.cartridges.TableSortingDesignCartridge"
            enabledByDefault="true"
            id="com.odcgroup.page.docgen.cartridges.TableSortingDesignCartridge"
            name="Table Sorting"
            terminal="false">
      </cartridge>
      <cartridge
            category="Module table (HTML)"
            class="com.odcgroup.page.docgen.cartridges.TableFilteringDesignCartridge"
            enabledByDefault="true"
            id="com.odcgroup.page.docgen.cartridges.TableFilteringDesignCartridge"
            name="Table Filtering"
            terminal="false">
      </cartridge>
      <cartridge
            category="Module table (HTML)"
            class="com.odcgroup.page.docgen.cartridges.TableExtraDesignCartridge"
            enabledByDefault="true"
            id="com.odcgroup.page.docgen.cartridges.TableExtraDesignCartridge"
            name="Table Extra Column"
            terminal="false">
      </cartridge>
      <cartridge
            category="Module table (HTML)"
            class="com.odcgroup.page.docgen.cartridges.TableColumnsDesignCartridge"
            enabledByDefault="true"
            id="com.odcgroup.page.docgen.cartridges.TableColumnsDesignCartridge"
            name="Table Columns"
            terminal="false">
      </cartridge>
      <cartridge
            category="Module matrix (HTML)"
            class="com.odcgroup.page.docgen.cartridges.MatrixDescriptionCartridge"
            enabledByDefault="true"
            id="com.odcgroup.page.docgen.cartridges.MatrixDescriptionCartridge"
            name="Matrix Description"
            terminal="false">
      </cartridge>
      <cartridge
            category="Module matrix (HTML)"
            class="com.odcgroup.page.docgen.cartridges.MatrixAxisCartridge"
            enabledByDefault="true"
            id="com.odcgroup.page.docgen.cartridges.MatrixAxisCartridge"
            name="Matrix Axis"
            terminal="false">
      </cartridge>
      <cartridge
            category="Module matrix (HTML)"
            class="com.odcgroup.page.docgen.cartridges.MatrixExtraCartridge"
            enabledByDefault="true"
            id="com.odcgroup.page.docgen.cartridges.MatrixExtraCartridge"
            name="Matrix Extra"
            terminal="false">
      </cartridge>
      <cartridge
            category="Module matrix (HTML)"
            class="com.odcgroup.page.docgen.cartridges.MatrixFilterCartridge"
            enabledByDefault="true"
            id="com.odcgroup.page.docgen.cartridges.MatrixFilterCartridge"
            name="Matrix Filters"
            terminal="false">
      </cartridge>
      <cartridge
            category="Module matrix (HTML)"
            class="com.odcgroup.page.docgen.cartridges.MatrixCellCartridge"
            enabledByDefault="true"
            id="com.odcgroup.page.docgen.cartridges.MatrixCellCartridge"
            name="Matrix Cell"
            terminal="false">
      </cartridge>
      <cartridge
            category="Module matrix (HTML)"
            class="com.odcgroup.page.docgen.cartridges.MatrixXAttributesCartridge"
            enabledByDefault="true"
            id="com.odcgroup.page.docgen.cartridges.MatrixXAttributesCartridge"
            name="Matrix Attributes"
            terminal="false">
      </cartridge>
   </extension>

</plugin>
