<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="com.odcgroup.workbench"
            class="com.odcgroup.t24.application.importer.ui.wizard.ApplicationImportWizard"
            icon="icons/domain_dsl.gif"
            id="com.odcgroup.t24.application.importer.ui.wizard.ApplicationImportWizard"
            name="Import T24 Applications ">
         <description>
            Import T24 Applications
         </description>
      </wizard>
   	</extension>
   
  	<extension
         point="org.eclipse.ui.navigator.navigatorContent">
		<actionProvider
		      class="com.odcgroup.t24.application.importer.ui.action.ApplicationImportActionProvider"
		      id="com.odcgroup.t24.application.importer.ui.action.ApplicationImportActionProvider">
		   <enablement>
		      <and>
		       <adapt
		             type="com.odcgroup.workbench.core.IOfsModelFolder">
		       </adapt>
		      <test
		            property="com.odcgroup.workbench.core.modelType"
		            value="domain"/>
		      </and>
		</enablement>
		</actionProvider>
   </extension>
   <extension
         point="com.odcgroup.t24.server.external.ui.deploylistener">
      <deploylistener
            class="com.odcgroup.t24.application.importer.ui.listener.LocalRefDeployReImportListener">
      </deploylistener>
   </extension>
      
</plugin>
