<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="com.odcgroup.visualrules.integration.template" name="Design Studio Rule Template" schema="schema/com.odcgroup.visualrules.integration.template.exsd"/>>
   <extension
         point="de.visualrules.license.container">
      <container id="5423323648677110352">
      </container>
   </extension>
   <extension
         point="de.visualrules.model.edit.advisor">
      <advisor
            class="com.odcgroup.visualrules.integration.advisor.Advisor">
      </advisor>
   </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package  
       uri = "http://www.odcgroup.com/ruletranslation" 
       class = "com.odcgroup.visualrules.integration.model.ruletranslation.RuletranslationPackage"
       genModel = "model/ruletranslation.genmodel" /> 
  </extension> 
   <extension
         point="com.odcgroup.workbench.core.model">
      <model
            initializer="com.odcgroup.visualrules.integration.init.RulesInitializer"
            name="rule"
            validation="false"/>
   </extension>
   <extension
         point="com.odcgroup.visualrules.integration.template">
      <Template
            configClass="com.odcgroup.visualrules.integration.template.ValidationTemplate"
            name="Validation"
            qualifiedTemplateName="Validation/ValidationRuleTemplate"
            type="Validation"/>
      <Template
            configClass="com.odcgroup.visualrules.integration.template.CompletionTemplate"
            name="Completion"
            qualifiedTemplateName="Completion/CompletionRuleTemplate"
            type="Completion">
      </Template>
   </extension>
   
   <extension
         id="OfsVRBuilder"
         name="Rule Model Synchronization"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="false"
            hasNature="false"
            isConfigurable="false">
         <run
               class="com.odcgroup.visualrules.integration.datasync.DataTypeBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="ruleProblem"
         name="Rule Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="com.odcgroup.workbench.generation.m2cCartridge">
      <cartridge
            category="Implementation (Rules)"
            class="com.odcgroup.visualrules.integration.generation.VisualRulesCodeGenerator"
            enabledByDefault="false"
            id="visualrules.generation.m2c"
            name="VisualRules Code">
      </cartridge>
   </extension>
 
   	<extension point="org.eclipse.team.svn.core.resourceIgnoreRules">
		<resourceIgnoreRules class="com.odcgroup.visualrules.integration.team.RulesSvnIgnoreRecommendations"/>
	</extension>
    <extension
          point="com.odcgroup.workbench.migration.metamodelversionhandler">
       <metamodelversionhandler
             class="com.odcgroup.visualrules.integration.migration.VRMetamodelVersionHandler"
             modelType="rule">
       </metamodelversionhandler>
    </extension>
    <extension
          point="com.odcgroup.workbench.migration.modelmigration">
       <ModelMigration
             class="com.odcgroup.visualrules.integration.migration.VRMigration"
             modelType="rule"
             name="com.odcgroup.visualrules.integration.VRMigration"
             sourceVersion="1.0.0"
             targetVersion="latest">
       </ModelMigration>
    </extension>
   <extension
         point="com.odcgroup.translation.provider">
      <provider
            id="com.odcgroup.visualrules.integration.translation.ruletranslationprovider"
            name="Rule Translation Provider"
            class="com.odcgroup.visualrules.integration.translation.RuleTranslationProvider"
            natureId="com.odcgroup.workbench.core.OfsNature"
            priority="2">
          <kind  name="NAME" display="Message"/>
          <input type="com.odcgroup.visualrules.integration.model.ruletranslation.RuleMessageProxy"/> 
     </provider>
    </extension>
    <extension
         point="com.odcgroup.translation.generation.keyprovider">
      <provider
            id="com.odcgroup.visualrules.integration.translation.keyprovider"
            name="Translation Key Provider for Rule"
            class="com.odcgroup.visualrules.integration.translation.RuleTranslationKeyProvider">
          <input type="com.odcgroup.visualrules.integration.model.ruletranslation.RuleMessageProxy" /> 
      </provider>
   </extension>
   <!--
   <extension
         point="com.odcgroup.translation.visitor">
      <provider
            id="com.odcgroup.visualrules.integration.translation.visitorprovider"
            name="Rule Model Translation Visitor Provider"
            class="com.odcgroup.visualrules.integration.translation.RuleTranslationModelVisitorProvider">
          <input type="de.visualrules.???"/> 
      </provider>
   </extension>
   -->    
   <extension
         point="com.odcgroup.translation.migration.migrator">
      <migrator
            class="com.odcgroup.visualrules.integration.translation.RuleTranslationMigrator"
            executeLast="false">
      </migrator>
   </extension>
   <extension
         point="com.odcgroup.translation.visitor">
      <provider
            class="com.odcgroup.visualrules.integration.translation.RuleTranslationModelVisitorProvider"
            id="com.odcgroup.visualrules.integration.translation.visitorprovider"
            name="Translation Visitor Provider for Rule">
         <input
               type="com.odcgroup.visualrules.integration.model.ruletranslation.RuleTranslationRepo">
         </input>
      </provider>
   </extension> 
   <extension
         id="DataSyncProblem"
         name="VisualRules DataSync Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="com.odcgroup.workbench.generation.projectProblem">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="com.odcgroup.workbench.core.initializer">
      <initializer
            class="com.odcgroup.visualrules.integration.init.RulesIntegrationInitializer"
            id="com.odcgroup.visualrules.integration.codegeninit"
            markerId="com.odcgroup.visualrules.integration.DataSyncProblem">
      </initializer>
   </extension>
</plugin>
