<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="com.odcgroup.ocs.server.ui.external"
         name="External Server"
         point="com.odcgroup.server.ui.contribution">
      <contribution
            type="com.odcgroup.ocs.server.external.ui.ExternalServerContributions">
      </contribution>
   </extension>
   
   <extension
         id="com.odcgroup.ocs.server.builder"
         name="Design Studio Deployment Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="false"
            hasNature="true">
         <run
               class="com.odcgroup.ocs.server.external.ui.builder.DeployBuilder">
         </run>
      </builder>
   </extension>

   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.odcgroup.ocs.server.external.ui.builder.internal.propertyTester.GenProjectPropertyTester"
            id="com.odcgroup.ocs.server.genProjectPropertyTester"
            namespace="com.odcgroup.ocs.server"
            properties="isGenProject"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="com.odcgroup.ocs.server.external.ui.builder.internal.propertyTester.HasDeployBuilderPropertyTester"
            id="com.odcgroup.ocs.server.hasDeployBuilderPropertyTester"
            namespace="com.odcgroup.ocs.server"
            properties="hasDeployBuilder"
            type="java.lang.Object">
      </propertyTester>
   </extension>

</plugin>
