<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="com.ose.system"
   name="System Model"
   version="1.9.0"
   provider-name="Enea Software AB"
   class="com.ose.system.SystemModelPlugin">

   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="com.ose.gateway"/>
   </requires>

   <runtime>
      <library name="system.jar">
         <export name="*"/>
      </library>
   </runtime>
</plugin>
