<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
   <extension
         point="com.odcgroup.workbench.generation.m2cCartridge">
      <cartridge
            category="API (Domain)"
            class="com.odcgroup.pageflow.generation.PageflowGenerator"
            enabledByDefault="true"
            id="pageflow.generation.m2c"
            name="Triple'A Plus Pageflow Config">
      </cartridge>
   </extension>
<!--   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            category="com.odcgroup.workbench.properties.generation.model"
            class="com.odcgroup.pageflow.generation.pim.PageflowPimPropertyPage"
            id="com.odcgroup.pageflow.generation.properties"
            name="Pageflows"
            objectClass="org.eclipse.core.resources.IProject">
         <filter
               name="nature"
               value="com.odcgroup.workbench.core.OfsNature"/>
      </page>
   </extension>
-->
   	

</plugin>

