<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

	<extension-point id="com.odcgroup.translation.provider" name="Translation Provider" schema="schema/com.odcgroup.translation.core.provider.exsd"/>
	<extension-point id="com.odcgroup.translation.visitor" name="Translation Model Visitor" schema="schema/com.odcgroup.translation.core.visitor.exsd"/>

	<extension
		point="org.eclipse.core.runtime.preferences">
		<initializer
			class="com.odcgroup.translation.core.internal.preferences.TranslationPreferenceInitializer">
		</initializer>
	</extension>
 <extension
       point="com.odcgroup.workbench.core.initializer">
    <initializer
          class="com.odcgroup.translation.core.initializer.TranslationModelProjectInitializer"
          id="translation.migration.initializer"
          markerId="com.odcgroup.translation.core.TranslationMigrationProblem">
    </initializer>
 </extension>

   <extension
         point="org.eclipse.ui.ide.markerSupport">
      <markerTypeCategory
            name="Design Studio Problems">
         <markerTypeReference
               id="com.odcgroup.translation.core.TranslationMigrationProblem">
         </markerTypeReference>
      </markerTypeCategory>
   </extension>

   <extension
     id="com.odcgroup.translation.core.TranslationMigrationProblem"
     name="Translation Migration Problem"
     point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>

</plugin>
