<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
	<modelVersion>4.0.0</modelVersion>

	<parent>
		<groupId>com.odcgroup.ds</groupId>
		<artifactId>common-config</artifactId>
		<version>2015.8.0-SNAPSHOT</version>
		<relativePath>../common-config/module.xml</relativePath>
	</parent>

	<artifactId>tests</artifactId>
	<packaging>pom</packaging>

	<properties>
		<b2.aggregate.feature.sdk.filter>com.odcgroup.ds.**.feature</b2.aggregate.feature.sdk.filter>
		<sites>internal</sites>
	</properties>

	<build>
		<plugins>
			<plugin>
				<groupId>org.eclipse.tycho.extras</groupId>
				<artifactId>tycho-p2-extras-plugin</artifactId>
				<version>${tycho.version}</version>
				<executions>
					<execution>
						<id>publish-to-DS-common</id>
						<phase>install</phase>
						<goals>
<goal>publish-features-and-bundles</goal>
</goals>
						<configuration>
							<append>true</append>
							<sourceLocation>${source-location}</sourceLocation>
							<artifactRepositoryLocation>${project.basedir}/small</artifactRepositoryLocation>
							<metadataRepositoryLocation>${project.basedir}/small</metadataRepositoryLocation>
						</configuration>
					</execution>
				</executions>
			</plugin>
		</plugins>
	</build>

	<dependencies>
		<dependency>
			<groupId>com.odcgroup.ds</groupId>
			<artifactId>3rdparty</artifactId>
			<version>${project.version}</version>
			<classifier>internal</classifier>
			<type>module</type>
		</dependency>
		<dependency>
			<groupId>com.odcgroup.ds</groupId>
			<artifactId>workbench</artifactId>
			<version>${project.version}</version>
			<classifier>internal</classifier>
			<type>module</type>
		</dependency>
		<dependency>
			<groupId>com.odcgroup.ds</groupId>
			<artifactId>tap-workbench</artifactId>
			<version>${project.version}</version>
			<classifier>internal</classifier>
			<type>module</type>
		</dependency>
		<dependency>
			<groupId>com.odcgroup.ds</groupId>
			<artifactId>domain</artifactId>
			<version>${project.version}</version>
			<classifier>internal</classifier>
			<type>module</type>
		</dependency>
		<dependency>
			<groupId>com.odcgroup.ds</groupId>
			<artifactId>page</artifactId>
			<version>${project.version}</version>
			<classifier>internal</classifier>
			<type>module</type>
		</dependency>
		<dependency>
			<groupId>com.odcgroup.ds</groupId>
			<artifactId>pageflow</artifactId>
			<version>${project.version}</version>
			<classifier>internal</classifier>
			<type>module</type>
		</dependency>
		<dependency>
			<groupId>com.odcgroup.ds</groupId>
			<artifactId>process</artifactId>
			<version>${project.version}</version>
			<classifier>internal</classifier>
			<type>module</type>
		</dependency>
		<dependency>
			<groupId>com.odcgroup.ds</groupId>
			<artifactId>rule</artifactId>
			<version>${project.version}</version>
			<classifier>internal</classifier>
			<type>module</type>
		</dependency>
		<dependency>
			<groupId>com.odcgroup.ds</groupId>
			<artifactId>aaa</artifactId>
			<version>${project.version}</version>
			<classifier>internal</classifier>
			<type>module</type>
		</dependency>
		<dependency>
			<groupId>com.odcgroup.ds</groupId>
			<artifactId>cdm</artifactId>
			<version>${project.version}</version>
			<classifier>internal</classifier>
			<type>module</type>
		</dependency>
		<dependency>
			<groupId>com.odcgroup.ds</groupId>
			<artifactId>ocs</artifactId>
			<version>${project.version}</version>
			<classifier>internal</classifier>
			<type>module</type>
		</dependency>
		<dependency>
			<groupId>com.odcgroup.ds</groupId>
			<artifactId>crossintegration</artifactId>
			<version>${project.version}</version>
			<classifier>internal</classifier>
			<type>module</type>
		</dependency>
		<dependency>
			<groupId>com.odcgroup.ds</groupId>
			<artifactId>aaa</artifactId>
			<version>${project.version}</version>
			<classifier>internal</classifier>
			<type>module</type>
		</dependency>
		<dependency>
			<groupId>com.odcgroup.ds</groupId>
			<artifactId>server</artifactId>
			<version>${project.version}</version>
			<classifier>internal</classifier>
			<type>module</type>
		</dependency>
		<dependency>
			<groupId>com.odcgroup.ds</groupId>
			<artifactId>service</artifactId>
			<version>${project.version}</version>
			<classifier>internal</classifier>
			<type>module</type>
		</dependency>
		<dependency>
			<groupId>com.odcgroup.ds</groupId>
			<artifactId>t24</artifactId>
			<version>${project.version}</version>
			<classifier>internal</classifier>
			<type>module</type>
		</dependency>
		<dependency>
			<groupId>com.odcgroup.ds</groupId>
			<artifactId>t24server</artifactId>
			<version>${project.version}</version>
			<classifier>internal</classifier>
			<type>module</type>
		</dependency>
		<dependency>
			<groupId>com.odcgroup.ds</groupId>
			<artifactId>basic</artifactId>
			<version>${project.version}</version>
			<classifier>internal</classifier>
			<type>module</type>
		</dependency>
		<dependency>
			<groupId>com.odcgroup.ds</groupId>
			<artifactId>basic-eds</artifactId>
			<version>${project.version}</version>
			<classifier>internal</classifier>
			<type>module</type>
		</dependency>
		<dependency>
			<groupId>com.odcgroup.ds</groupId>
			<artifactId>headlessgenstartup</artifactId>
			<version>${project.version}</version>
			<classifier>internal</classifier>
			<type>module</type>
		</dependency>
		<dependency>
			<groupId>com.odcgroup.ds</groupId>
			<artifactId>iris</artifactId>
			<version>${project.version}</version>
			<classifier>internal</classifier>
			<type>module</type>
		</dependency>
		<dependency>
			<groupId>com.odcgroup.ds</groupId>
			<artifactId>tapdomain</artifactId>
			<version>${project.version}</version>
			<classifier>internal</classifier>
			<type>module</type>
		</dependency>
		<dependency>
			<groupId>com.odcgroup.ds</groupId>
			<artifactId>tap-translation</artifactId>
			<version>${project.version}</version>
			<classifier>internal</classifier>
			<type>module</type>
		</dependency>
		<dependency>
			<groupId>com.odcgroup.ds</groupId>
			<artifactId>edge</artifactId>
			<version>${project.version}</version>
			<classifier>internal</classifier>
			<type>module</type>
		</dependency>
		<dependency>
			<groupId>com.odcgroup.ds</groupId>
			<artifactId>dataframework</artifactId>
			<version>${project.version}</version>
			<classifier>internal</classifier>
			<type>module</type>
		</dependency>
		<dependency>
			<groupId>com.odcgroup.ds</groupId>
			<artifactId>tapmenu</artifactId>
			<version>${project.version}</version>
			<classifier>internal</classifier>
			<type>module</type>
		</dependency>
                <dependency>
			<groupId>com.odcgroup.ds</groupId>
			<artifactId>integrationfwk</artifactId>
			<version>${project.version}</version>
			<classifier>internal</classifier>
			<type>module</type>
		</dependency>
                <dependency>
			<groupId>com.odcgroup.ds</groupId>
			<artifactId>t24jbpm</artifactId>
			<version>${project.version}</version>
			<classifier>internal</classifier>
			<type>module</type>
		</dependency>
	</dependencies>

</project>
