<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
	<modelVersion>4.0.0</modelVersion>

	<groupId>com.odcgroup.ds</groupId>
	<artifactId>common-config-generator</artifactId>
	<version>2015.8.0-SNAPSHOT</version>
	<packaging>pom</packaging>

	<properties>
		<tycho.version>0.13.0</tycho.version>
		<tycho.groupid>org.eclipse.tycho</tycho.groupid>
		<project.build.sourceEncoding>Cp1252</project.build.sourceEncoding>
		<b2.extension.version>0.1.0-alpha-2</b2.extension.version>
		<REMOTE_MNGT_SRV>http://maven.oams.com</REMOTE_MNGT_SRV>
		<REMOTE_DIST_MNGT>${REMOTE_MNGT_SRV}/content/repositories</REMOTE_DIST_MNGT>
		<DEFAULT.RELEASE.REPOSITORY>releases</DEFAULT.RELEASE.REPOSITORY>
		<DEFAULT.SNAPSHOT.REPOSITORY>snapshots</DEFAULT.SNAPSHOT.REPOSITORY>
	</properties>

  <distributionManagement>
      <!-- use the following if you're not using a snapshot version. -->
      <repository>
          <id>releases</id>
          <name>Odyssey Integration repository</name>
          <url>${REMOTE_DIST_MNGT}/${DEFAULT.RELEASE.REPOSITORY}</url>
      </repository>
      <!-- use the following if you ARE using a snapshot version. -->
      <snapshotRepository>
          <id>snapshots</id>
          <name>Odyssey Development repository</name>
          <url>${REMOTE_DIST_MNGT}/${DEFAULT.SNAPSHOT.REPOSITORY}</url>
      </snapshotRepository>
  </distributionManagement>

	<repositories>
		<repository>
			<id>repo-org.eclipse.m2e-1.4.1</id>
			<url>file:/${ds.p2cache.location}/repositories/releases/org.eclipse.m2e-1.4.1</url>
			<layout>p2</layout>
		</repository>
		<repository>
			<id>repo-org.eclipse.orbit-R20140525021250</id>
			<url>file:/${ds.p2cache.location}/repositories/releases/org.eclipse.orbit-R20140525021250</url>
			<layout>p2</layout>
		</repository>
		<repository>
			<id>repo-com.odcgroup.logback-1.0.7</id>
			<url>file:/${ds.p2cache.location}/repositories/releases/com.odcgroup.logback-1.0.7</url>
			<layout>p2</layout>
		</repository>
		<repository>
			<id>repo-org.apache.ant.ivyde-2.2.0</id>
			<url>file:/${ds.p2cache.location}/repositories/releases/org.apache.ant.ivyde-2.2.0</url>
			<layout>p2</layout>
		</repository>
		<repository>
			<id>repo-org.apache.ant.ivy-2.3.0</id>
			<url>file:/${ds.p2cache.location}/repositories/releases/org.apache.ant.ivy-2.3.0</url>
			<layout>p2</layout>
		</repository>
		<repository>
			<id>repo-org.eclipse-R-3.7.2-201202080800</id>
			<url>file:/${ds.p2cache.location}/repositories/releases/org.eclipse-R-3.7.2-201202080800</url>
			<layout>p2</layout>
		</repository>
		<repository>
			<id>repo-org.eclipse.datatools-1.10.1</id>
			<url>file:/${ds.p2cache.location}/repositories/releases/org.eclipse.datatools-1.10.1</url>
			<layout>p2</layout>
		</repository>
		<repository>
			<id>repo-org.eclipse.emf-2.10.1</id>
			<url>file:/${ds.p2cache.location}/repositories/releases/org.eclipse.emf-2.10.1</url>
			<layout>p2</layout>
		</repository>
		<repository>
			<id>repo-org.eclipse.emf.transaction-1.4.0</id>
			<url>file:/${ds.p2cache.location}/repositories/releases/org.eclipse.emf.transaction-1.4.0</url>
			<layout>p2</layout>
		</repository>
		<repository>
			<id>repo-org.eclipse.emf.compare-1.2.2</id>
			<url>file:/${ds.p2cache.location}/repositories/releases/org.eclipse.emf.compare-1.2.2</url>
			<layout>p2</layout>
		</repository>
		<repository>
			<id>repo-org.eclipse.emf.query-1.3.0</id>
			<url>file:/${ds.p2cache.location}/repositories/releases/org.eclipse.emf.query-1.3.0</url>
			<layout>p2</layout>
		</repository>
		<repository>
			<id>repo-org.eclipse.emf.validation-1.4.0</id>
			<url>file:/${ds.p2cache.location}/repositories/releases/org.eclipse.emf.validation-1.4.0</url>
			<layout>p2</layout>
		</repository>
		<repository>
			<id>repo-org.eclipse.emft.mwe-2.7.0</id>
			<url>file:/${ds.p2cache.location}/repositories/releases/org.eclipse.emft.mwe-2.7.0</url>
			<layout>p2</layout>
		</repository>
		<repository>
			<id>repo-org.eclipse.emft.mwe2.lang-2.7.1</id>
			<url>file:/${ds.p2cache.location}/repositories/releases/org.eclipse.emft.mwe2.lang-2.7.1</url>
			<layout>p2</layout>
		</repository>
		<repository>
			<id>repo-org.eclipse.gmf.runtime-1.5.0</id>
			<url>file:/${ds.p2cache.location}/repositories/releases/org.eclipse.gmf.runtime-1.5.0</url>
			<layout>p2</layout>
		</repository>
		<repository>
			<id>repo-org.eclipse.gef-3.9.0</id>
			<url>file:/${ds.p2cache.location}/repositories/releases/org.eclipse.gef-3.9.0</url>
			<layout>p2</layout>
		</repository>
		<repository>
			<id>repo-org.eclipse.m2t.xpand.xtend-2.0.0</id>
			<url>file:/${ds.p2cache.location}/repositories/releases/org.eclipse.m2t.xpand.xtend-2.0.0</url>
			<layout>p2</layout>
		</repository>
		<repository>
			<id>repo-org.eclipse.rse-3.4</id>
			<url>file:/${ds.p2cache.location}/repositories/releases/org.eclipse.rse-3.4</url>
			<layout>p2</layout>
		</repository>
		<repository>
			<id>repo-org.eclipse.team.svn-1.1.0.I20130527-1700</id>
			<url>file:/${ds.p2cache.location}/repositories/releases/org.eclipse.team.svn-1.1.0.I20130527-1700</url>
			<layout>p2</layout>
		</repository>
		<repository>
			<id>repo-org.eclipse.xtext-2.7.3</id>
			<url>file:/${ds.p2cache.location}/repositories/releases/org.eclipse.xtext-2.7.3</url>
			<layout>p2</layout>
		</repository>
		<repository>
			<id>repo-org.eclipselabs.xtext.utils.unittesting-0.9.3.201204261440</id>
			<url>file:/${ds.p2cache.location}/repositories/releases/org.eclipselabs.xtext.utils.unittesting-0.9.3.201204261440</url>
			<layout>p2</layout>
		</repository>
		<repository>
			<id>repo-org.jboss.soa-5.0.3.v20130128-1900-H4-GA</id>
			<url>file:/${ds.p2cache.location}/repositories/releases/org.jboss.soa-5.0.3.v20130128-1900-H4-GA</url>
			<layout>p2</layout>
		</repository>
		<repository>
			<id>repo-jbosstools-3.3.1.Final.aggregate-Update-2012-07-14_23-57-15-H211</id>
			<url>file:/${ds.p2cache.location}/repositories/releases/jbosstools-3.3.1.Final.aggregate-Update-2012-07-14_23-57-15-H211</url>
			<layout>p2</layout>
		</repository>
		<repository>
			<id>repo-org.jbpm-5.3.6-ds-fork</id>
			<url>file:/${ds.p2cache.location}/repositories/releases/org.jbpm-5.3.6-ds-fork</url>
			<layout>p2</layout>
		</repository>
		<repository>
			<id>repo-Subversive-connectors-3.0.5.I20140122-1700</id>
			<url>file:/${ds.p2cache.location}/repositories/releases/Subversive-connectors-3.0.5.I20140122-1700</url>
			<layout>p2</layout>
		</repository>
		<repository>
			<id>repo-ch.vorburger.el-3.1.0</id>
			<url>file:/${ds.p2cache.location}/repositories/releases/ch.vorburger.el-3.1.0</url>
			<layout>p2</layout>
		</repository>
		<repository>
			<id>repo-IRIS-RIM-DSL-0.6.2</id>
			<url>file:/${ds.p2cache.location}/repositories/releases/com.temenos.iris.rimdsl-0.6.2</url>
			<layout>p2</layout>
		</repository>
		<repository>
			<id>repo-RTC-LatestClient-4.5.0-auto-filtered</id>
			<url>file:/${ds.p2cache.location}/repositories/snapshots/RTC-LatestClient-4.5.0-auto-filtered</url>
			<layout>p2</layout>
		</repository>
		<repository>
			<id>repo-timesheet-3.2.0-SNAPSHOT</id>
			<url>file:/${ds.p2cache.location}/repositories/snapshots/timesheet-3.2.0-SNAPSHOT</url>
			<layout>p2</layout>
		</repository>
		<repository>
			<id>ESON</id>
			<url>file:/${ds.p2cache.location}/repositories/releases/org.eclipse.emf.eson-0.10.0-e94e11efc600135b89aebe16ec9766476e7968d3</url>
			<layout>p2</layout>
		</repository>
		<repository>
			<id>repo-org.eclipse.wtp-R-3.3.2-20120210195245</id>
			<url>file:/${ds.p2cache.location}/repositories/releases/org.eclipse.wtp-R-3.3.2-20120210195245</url>
			<layout>p2</layout>
		</repository>
		<repository>
			<id>repo-de.visualrules-5.3</id>
			<url>file:/${ds.p2cache.location}/repositories/releases/de.visualrules-5.3</url>
			<layout>p2</layout>
		</repository>
		<repository>
			<id>repo-org.mockito.mockito-core_1.8.5</id>
			<url>file:/${ds.p2cache.location}/repositories/releases/org.mockito.mockito-core_1.8.5</url>
			<layout>p2</layout>
		</repository>
		<repository>
			<id>repo-org.mockito.mockito-core_1.9.5</id>
			<url>file:/${ds.p2cache.location}/repositories/releases/org.mockito.mockito-core_1.9.5</url>
			<layout>p2</layout>
		</repository>
		<repository>
			<id>repo-org.slf4j.api-1.6.4</id>
			<url>file:/${ds.p2cache.location}/repositories/releases/org.slf4j.api-1.6.4</url>
			<layout>p2</layout>
		</repository>
		<repository>
			<id>repo-org.apache.poi_3.0.1.200802141036</id>
			<url>file:/${ds.p2cache.location}/repositories/releases/org.apache.poi_3.0.1.200802141036</url>
			<layout>p2</layout>
		</repository>
		<repository>
			<id>repo-org.apache.velocity-1.7.0</id>
			<url>file:/${ds.p2cache.location}/repositories/releases/org.apache.velocity-1.7.0</url>
			<layout>p2</layout>
		</repository>
		<repository>
			<id>repo-edu.umd.cs.findbugs.plugin.eclipse_2.0.0.20111221</id>
			<url>file:/${ds.p2cache.location}/repositories/releases/edu.umd.cs.findbugs.plugin.eclipse_2.0.0.20111221</url>
			<layout>p2</layout>
		</repository>
		<repository>
			<id>repo-jd.ide.eclipse-decompiler-0.1.3</id>
			<url>file:/${ds.p2cache.location}/repositories/releases/jd.ide.eclipse-decompiler-0.1.3</url>
			<layout>p2</layout>
		</repository>
		<repository>
			<id>repo-org.eclipse.jet-1.1.1</id>
			<url>file:/${ds.p2cache.location}/repositories/releases/org.eclipse.jet-1.1.1</url>
			<layout>p2</layout>
		</repository>
		<repository>
			<id>repo-org.eclipse.ocl-3.1.2a</id>
			<url>file:/${ds.p2cache.location}/repositories/releases/org.eclipse.ocl-3.1.2a</url>
			<layout>p2</layout>
		</repository>
		<repository>
			<id>repo-org.eclipse.jdt.annotation-1.1.0</id>
			<url>file:/${ds.p2cache.location}/repositories/releases/org.eclipse.jdt.annotation-1.1.0</url>
			<layout>p2</layout>
		</repository>
		<repository>
			<id>repo-net.sf.eclipsecs.checkstyle-6.1.1</id>
			<url>file:/${ds.p2cache.location}/repositories/releases/net.sf.eclipsecs.checkstyle-6.1.1</url>
			<layout>p2</layout>
		</repository>
		<repository>
			<id>repo-org.eclipse.swtbot-2.0.5.20111003_1754-3676ac8-dev-e36</id>
			<url>file:/${ds.p2cache.location}/repositories/releases/org.eclipse.swtbot-2.0.5.20111003_1754-3676ac8-dev-e36</url>
			<layout>p2</layout>
		</repository>
		<repository>
			<id>repo-org.eclipse.swtbot.eclipse-2.0.5.20111003_1754-3676ac8-dev-e36</id>
			<url>file:/${ds.p2cache.location}/repositories/releases/org.eclipse.swtbot.eclipse-2.0.5.20111003_1754-3676ac8-dev-e36</url>
			<layout>p2</layout>
		</repository>
		<repository>
			<id>repo-org.eclipse.swtbot.eclipse.gef-2.0.5.20111003_1754-3676ac8-dev-e36</id>
			<url>file:/${ds.p2cache.location}/repositories/releases/org.eclipse.swtbot.eclipse.gef-2.0.5.20111003_1754-3676ac8-dev-e36</url>
			<layout>p2</layout>
		</repository>
		<repository>
			<id>repo-org.eclipse.swtbot.eclipse.test.junit4-2.0.5.20111003_1754-3676ac8-dev-e36</id>
			<url>file:/${ds.p2cache.location}/repositories/releases/org.eclipse.swtbot.eclipse.test.junit4-2.0.5.20111003_1754-3676ac8-dev-e36</url>
			<layout>p2</layout>
		</repository>

		<!-- link this build with the repository of the common product -->
		<repository>
			<id>repo-designstudio-common</id>
			<url>file:///${designstudio.dir}/products/.b2/products/designstudio-common/target/repository</url>
			<layout>p2</layout>
		</repository>
	</repositories>

	<build>
		<extensions>
			<extension>
				<groupId>org.apache.maven.wagon</groupId>
				<artifactId>wagon-webdav-jackrabbit</artifactId>
				<version>1.0-beta-7</version>
			</extension>
			<extension>
				<groupId>org.sourcepit.b2</groupId>
				<artifactId>b2-maven-plugin</artifactId>
				<version>0.1.0-alpha-2</version>
			</extension>
		</extensions>
		<plugins>
      <plugin>
        <groupId>${tycho.groupid}</groupId>
        <artifactId>tycho-compiler-plugin</artifactId>
        <version>${tycho.version}</version>
        <configuration>
          <encoding>UTF-8</encoding>
          <source>1.6</source>
          <target>1.6</target>
		  <compilerArgument>-XDignore.symbol.file=true</compilerArgument>
        </configuration>
      </plugin>
			<plugin>
				<groupId>org.sourcepit.b2</groupId>
				<artifactId>b2-maven-plugin</artifactId>
				<version>${b2.extension.version}</version>
				<extensions>true</extensions>
				<dependencies>
					<dependency>
						<groupId>com.odcgroup.ds</groupId>
						<artifactId>ds-b2-templates</artifactId>
						<version>${project.version}</version>
						<scope>compile</scope>
					</dependency>
					<dependency>
						<groupId>org.eclipse.emf</groupId>
						<artifactId>org.eclipse.emf.ecore</artifactId>
						<version>2.7.0.v20110605-0747</version>
						<exclusions>
							<exclusion>
								<artifactId>org.eclipse.core.runtime</artifactId>
								<groupId>org.eclipse.core</groupId>
							</exclusion>
						</exclusions>
					</dependency>
					<dependency>
						<groupId>org.eclipse.emf</groupId>
						<artifactId>org.eclipse.emf.common</artifactId>
						<version>2.7.0.v20110605-0747</version>
						<exclusions>
							<exclusion>
								<artifactId>org.eclipse.core.runtime</artifactId>
								<groupId>org.eclipse.core</groupId>
							</exclusion>
						</exclusions>
					</dependency>
				</dependencies>
			</plugin>
			<plugin>
				<groupId>org.eclipse.tycho</groupId>
				<artifactId>target-platform-configuration</artifactId>
				<version>${tycho.version}</version>
				<configuration>
					<resolver>p2</resolver>
					<environments>
						<environment>
							<os>win32</os>
							<ws>win32</ws>
							<arch>x86_64</arch>
						</environment>
					</environments>
				</configuration>
			</plugin>
			<plugin>
				<groupId>org.eclipse.tycho</groupId>
				<artifactId>tycho-p2-director-plugin</artifactId>
				<version>${tycho.version}</version>
				<configuration>
					<formats>
						<linux>tar.gz</linux>
						<macosx>tar.gz</macosx>
					</formats>
				</configuration>
			</plugin>
			<plugin>
				<groupId>org.eclipse.tycho</groupId>
				<artifactId>tycho-packaging-plugin</artifactId>
				<version>${tycho.version}</version>
				<configuration>
					<strictBinIncludes>false</strictBinIncludes>
				</configuration>
			</plugin>
			<plugin>
				<groupId>org.eclipse.tycho</groupId>
				<artifactId>tycho-source-plugin</artifactId>
				<version>${tycho.version}</version>
				<configuration>
					<strictSrcIncludes>false</strictSrcIncludes>
				</configuration>
			</plugin>
			
		</plugins>
	</build>
	
</project>
