<?xml version="1.0" encoding="UTF-8"?>
<!-- This is the initial settings.xml of DS -->
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <localRepository></localRepository>
  
	<!-- This seems to work only if referred as user settings not global settings -->
	<offline>true</offline>
	
    <!-- To prevent any external access -->
    <mirrors/>
	
    <pluginGroups>
        <pluginGroup>com.odcgroup.maven.plugin</pluginGroup>
    </pluginGroups>
	
  	<profiles>
		<profile>
			<id>DefaultRepository</id>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>

			<repositories>
				<repository>
					<id>central</id>
					<name>Central repository (redefinition)</name>
					<releases><enabled>true</enabled></releases>
					<snapshots><enabled>true</enabled></snapshots>
					<url>http://repo1.maven.org/maven2</url>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>central</id>
					<name>Central repository (redefinition)</name>
					<releases><enabled>true</enabled></releases>
					<snapshots><enabled>true</enabled></snapshots>
					<url>http://repo1.maven.org/maven2</url>
				</pluginRepository>
			</pluginRepositories>
		</profile>
  	</profiles>

</settings>
