<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="com.enea.optima"
   name="Optima"
   version="2.8.0"
   provider-name="Enea Software AB">

   <extension id="ide" point="org.eclipse.core.runtime.products">
      <product
            name="Optima"
            application="org.eclipse.ui.ide.workbench"
            description="%productBlurb">
         <property
            name="appName"
            value="Optima"/>
         <property
            name="windowImages"
            value="logo16.gif,logo32.png"/>
         <property
            name="aboutText"
            value="%productBlurb"/>
         <property
            name="aboutImage"
            value="about.gif"/>
         <property
            name="preferenceCustomization"
            value="plugin_customization.ini"/>
         <property
            name="startupProgressRect"
            value="0,345,430,15"/>
         <property
            name="startupMessageRect"
            value="5,320,420,20"/>
         <property
            name="startupForegroundColor"
            value="000000"/>
      </product>
   </extension>
</plugin>
