<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.zealcore.se.core.extendedimporters">
      <importer
            class="com.zealcore.se.core.importer.lttng.LTTngImporter"
            description="Lttng Importer"
            id="com.zealcore.sd.lttng.importer"
            name="Lttng Importer">
      </importer>
   </extension>

</plugin>
