<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="com.ose.prof.ui"
   name="System Profiler"
   version="1.7.1"
   provider-name="Enea Software AB"
   class="com.ose.prof.ui.ProfilerPlugin">

   <runtime>
      <library name="profui.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.ui.forms"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="com.ose.chart"/>
      <import plugin="com.ose.gateway"/>
      <import plugin="com.ose.plugin.control"/>
      <import plugin="com.ose.pmd"/>
      <import plugin="com.ose.system"/>
      <import plugin="com.ose.system.ui"/>
      <import plugin="com.ose.xmleditor"/>
   </requires>

   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="System Profiling"
            icon="icons/cview16/logo.gif"
            id="com.ose.prof.ui.ProfilerPerspective"
            class="com.ose.prof.ui.ProfilerPerspective">
      </perspective>
   </extension>

   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.ose.prof.ui.ProfilerPerspective">
         <perspectiveShortcut
               id="com.ose.system.ui.SystemBrowserPerspective">
         </perspectiveShortcut>
         <perspectiveShortcut
               id="com.ose.event.ui.EventPerspective">
         </perspectiveShortcut>
         <perspectiveShortcut
               id="org.eclipse.ui.resourcePerspective">
         </perspectiveShortcut>
         <perspectiveShortcut
               id="org.eclipse.debug.ui.DebugPerspective">
         </perspectiveShortcut>
         <perspectiveShortcut
               id="org.eclipse.cdt.ui.CPerspective">
         </perspectiveShortcut>
         <newWizardShortcut
               id="com.ose.prof.ui.editors.process.NewProfiledProcessesSettingsWizard">
         </newWizardShortcut>
         <actionSet
               id="org.eclipse.debug.ui.launchActionSet">
         </actionSet>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="com.ose.system.ui.SystemBrowserPerspective">
         <perspectiveShortcut
               id="com.ose.prof.ui.ProfilerPerspective">
         </perspectiveShortcut>
         <viewShortcut
               id="com.ose.prof.ui.view.ProfilerView">
         </viewShortcut>
         <newWizardShortcut
               id="com.ose.prof.ui.editors.process.NewProfiledProcessesSettingsWizard">
         </newWizardShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <perspectiveShortcut
               id="com.ose.prof.ui.ProfilerPerspective">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.debug.ui.DebugPerspective">
         <perspectiveShortcut
               id="com.ose.prof.ui.ProfilerPerspective">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.cdt.ui.CPerspective">
         <perspectiveShortcut
               id="com.ose.prof.ui.ProfilerPerspective">
         </perspectiveShortcut>
      </perspectiveExtension>
   </extension>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="System Profiler"
            icon="icons/elcl16/prof.gif"
            id="com.ose.prof.ui.view.ProfilerView"
            category="com.ose.view.category"
            class="com.ose.prof.ui.view.ProfilerView">
      </view>
   </extension>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="System Profiler Editor"
            icon="icons/elcl16/prof.gif"
            extensions="pmd, report"
            id="com.ose.prof.ui.editors.profiler.ProfilerEditorProxy"
            class="com.ose.prof.ui.editors.profiler.ProfilerEditorProxy">
      </editor>
      <editor
            name="CPU Usage Editor"
            icon="icons/elcl16/prof.gif"
            id="com.ose.prof.ui.editors.profiler.CPUProfilerEditor"
            class="com.ose.prof.ui.editors.profiler.CPUProfilerEditor">
      </editor>
      <editor
            name="CPU Usage / Priority Editor"
            icon="icons/elcl16/prof.gif"
            id="com.ose.prof.ui.editors.profiler.CPUPriorityProfilerEditor"
            class="com.ose.prof.ui.editors.profiler.CPUPriorityProfilerEditor">
      </editor>
      <editor
            name="CPU Usage / Process Editor"
            icon="icons/elcl16/prof.gif"
            id="com.ose.prof.ui.editors.profiler.CPUProcessProfilerEditor"
            class="com.ose.prof.ui.editors.profiler.CPUProcessProfilerEditor">
      </editor>
      <editor
            name="CPU Usage / Block Editor"
            icon="icons/elcl16/prof.gif"
            id="com.ose.prof.ui.editors.profiler.CPUBlockProfilerEditor"
            class="com.ose.prof.ui.editors.profiler.CPUBlockProfilerEditor">
      </editor>
      <editor
            name="Turnover Heap / Process Profiling Editor"
            icon="icons/elcl16/prof.gif"
            id="com.ose.prof.ui.editors.profiler.HeapProfilerEditor"
            class="com.ose.prof.ui.editors.profiler.HeapProfilerEditor">
      </editor>
      <editor
            name="Accumulated Heap / Process Profiling Editor"
            icon="icons/elcl16/prof.gif"
            id="com.ose.prof.ui.editors.profiler.AccumulatedHeapProcessProfilerEditor"
            class="com.ose.prof.ui.editors.profiler.AccumulatedHeapProcessProfilerEditor">
      </editor>
      <editor
            name="Accumulated Heap / Heap Profiling Editor"
            icon="icons/elcl16/prof.gif"
            id="com.ose.prof.ui.editors.profiler.AccumulatedHeapProfilerEditor"
            class="com.ose.prof.ui.editors.profiler.AccumulatedHeapProfilerEditor">
      </editor>
      <editor
            name="Custom Profiling Editor"
            icon="icons/elcl16/prof.gif"
            id="com.ose.prof.ui.editors.profiler.UserProfilerEditor"
            class="com.ose.prof.ui.editors.profiler.UserProfilerEditor">
      </editor>
      <editor
            name="Profiled Processes Editor"
            icon="icons/obj16/prof_procs.gif"
            extensions="process"
            id="com.ose.prof.ui.editors.process.ProcessFormEditor"
            class="com.ose.prof.ui.editors.process.ProcessFormEditor"
            contributorClass="com.ose.prof.ui.editors.process.MultiPageEditorContributor">
      </editor>
   </extension>

   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="com.ose.prof.ui.view.ShowProfilerActionContribution"
            targetID="com.ose.system.ui.views.system.SystemView">
         <visibility>
            <objectClass name="com.ose.system.Target"/>
         </visibility>
         <action
               id="com.ose.prof.ui.view.ShowProfilerAction"
               label="Show in System Profiler"
               menubarPath="showViewAdditions"
               class="com.ose.prof.ui.view.ShowProfilerActionDelegate"
               enablesFor="1">
            <enablement>
               <and>
                  <objectClass name="com.ose.system.Target"/>
                  <objectState name="isKilled" value="false"/>
               </and>
            </enablement>
         </action>
      </viewerContribution>
      <objectContribution
            id="com.ose.prof.ui.editors.profiler.SynchronizedScrollPartActionContribution"
            objectClass="org.eclipse.core.resources.IFile"
            adaptable="true">
         <visibility>
            <or>
               <objectState name="extension" value="pmd"/>
               <objectState name="extension" value="report"/>
            </or>
         </visibility>
         <action
               id="com.ose.prof.ui.editors.profiler.RemoveSynchronizedScrollPartAction"
               label="Remove from Synchronized Profiling Set"
               menubarPath="additions"
               class="com.ose.prof.ui.editors.profiler.SynchronizedScrollPartActionDelegate"
               enablesFor="+">
         </action>
         <action
               id="com.ose.prof.ui.editors.profiler.AddSynchronizedScrollPartAction"
               label="Add to Synchronized Profiling Set"
               menubarPath="additions"
               class="com.ose.prof.ui.editors.profiler.SynchronizedScrollPartActionDelegate"
               enablesFor="+">
         </action>
      </objectContribution>
   </extension>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
         id="com.ose.wizard.category"
         name="Optima">
      </category>
      <wizard
         id="com.ose.prof.ui.editors.process.NewProfiledProcessesSettingsWizard"
         name="Profiled Processes Settings"
         icon="icons/obj16/prof_procs.gif"
         category="com.ose.wizard.category"
         class="com.ose.prof.ui.editors.process.NewProfiledProcessesSettingsWizard"
         canFinishEarly="false"
         hasPages="true">
         <description>Create a new Profiled Processes Settings file</description>
      </wizard>
   </extension>

   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
         type="new"
         wizardId="com.ose.prof.ui.editors.process.NewProfiledProcessesSettingsWizard">
         <enablement></enablement>
      </commonWizard>
   </extension>

   <extension
         point="org.eclipse.ui.decorators">
      <decorator
         id="com.ose.prof.ui.editors.process.decorator"
         label="Profiled Processes Settings"
         class="com.ose.prof.ui.editors.process.LabelDecorator"
         adaptable="true"
         state="false"
         lightweight="false"
         location="BOTTOM_LEFT">
         <description>Decorates Profiled Processes resources.</description>
         <enablement>
            <and>
               <objectClass name="org.eclipse.core.resources.IFile"/>
               <objectState name="extension" value="process"/>
            </and>
         </enablement>
      </decorator>
      <decorator
         id="com.ose.prof.ui.editors.profiler.SynchronizedScrollPartDecorator"
         label="Synchronized Profiling Decorator"
         class="com.ose.prof.ui.editors.profiler.SynchronizedScrollPartDecorator"
         adaptable="true"
         state="false"
         lightweight="true">
         <description>Decorates synchronized profiling files.</description>
         <enablement>
            <and>
               <objectClass name="org.eclipse.core.resources.IFile"/>
               <or>
                  <objectState name="extension" value="pmd"/>
                  <objectState name="extension" value="report"/>
               </or>
            </and>
         </enablement>
      </decorator>
   </extension>
</plugin>
