<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.ui.views">
	 <category
            id="com.temenos.t24.tools.eclipse.basic.category"
            name="T24 jBC (TAF/C)"
            />
	     <view
	           allowMultiple="false"
	           category="com.temenos.t24.tools.eclipse.basic.category"
	           class="com.temenos.t24.tools.eclipse.basic.doc.views.ComponentLandscapeView"
	           icon="icons/comment.gif"
	           id="com.temenos.t24.tools.eclipse.view.ComponentView"
	           name="Component Landscape"/>
	     <view
	           allowMultiple="false"
	           category="com.temenos.t24.tools.eclipse.basic.category"
	           class="com.temenos.t24.tools.eclipse.basic.doc.views.ComponentInteractionView"
	           icon="icons/Zest.gif"
	           id="com.temenos.t24.tools.eclipse.basic.graphical.componentInteractionView" 
	           name="Component Interaction View"/>
         <view
		  		allowMultiple="false"
	            name="T24 Doc"
	            icon="icons/component.gif"
	            category="com.temenos.t24.tools.eclipse.basic.category"
	            class="com.temenos.t24.tools.eclipse.basic.doc.views.T24DocumentView"
	            id="com.temenos.t24.tools.eclipse.basic.T24DocumentView"/>
     </extension>
     <extension
           point="com.odcgroup.basic.ui.docViewProvider">
        <docview
              class="com.temenos.t24.tools.eclipse.basic.doc.views.T24DocViewProvider"
              enabledByDefault="true">
        </docview>
     </extension>
     <extension
           point="org.eclipse.ui.actionSets">
        <actionSet
              id="com.temenos.t24.tools.eclipse.basic.doc.actionSet"
              label="jBC (TAF/C)"
              visible="false">
           <menu
                 id="eclipse.basic.workbenchMenu.T24Basic"
                 label="T24&amp;Basic"
                 path="additions">
              <groupMarker
                    name="group">
              </groupMarker>
              <separator
                    name="separator1">
              </separator>
              <separator
                    name="separator2">
              </separator>
              <separator
                    name="separator3">
              </separator>
           </menu>
           <action
                 class="com.temenos.t24.tools.eclipse.basic.actions.local.OpenComponentViewActionDelegate"
                 icon="icons/comment.gif"
                 id="eclipse.basic.openComponentView"
                 label="Open Component Landscape"
                 menubarPath="eclipse.basic.workbenchMenu.T24Basic/separator1"
                 style="push">
           </action>
           <action
                 class="com.temenos.t24.tools.eclipse.basic.actions.local.GenerateCommentActionDelegate"
                 icon="icons/doc_generation.gif"
                 id="eclipse.basic.action.docGeneration"
                 label="Generate &amp;Docs"
                 menubarPath="eclipse.basic.workbenchMenu.T24Basic/group"
                 style="push">
           </action>
        </actionSet>
     </extension>
     <extension
           point="org.eclipse.ui.perspectiveExtensions">
        <perspectiveExtension
              targetID="com.temenos.t24.tools.eclipse.basic.t24BasicPerspective">
           <actionSet
                 id="com.temenos.t24.tools.eclipse.basic.doc.actionSet">
           </actionSet>
        </perspectiveExtension>
     </extension>
</plugin>
