<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

  <extension
         point="com.odcgroup.mdf.editor.dialogpage">
      <factory
            class="com.odcgroup.domain.translation.ui.internal.page.MdfTranslationDialogPagesFactory"
            type="translation">
      </factory>
   </extension>
   
  <extension
        point="com.odcgroup.translation.collector">
     <collectorProvider
           class="com.odcgroup.domain.translation.editor.MdfTranslationCollectorProvider"
           defaultActive="true"
           displayName="Domain"
           fileExtensions="mml, domain"
           id="com.odcgroup.mdf.translation.CollectorProvider">
     </collectorProvider>
  </extension>
  

	<extension
		point="com.odcgroup.translation.viewer.command">
		<provider
			id="com.odcgroup.domain.translation.ui.tablecommandprovider"
			name="Table Commands Provider for the Domain Designer"
			class="com.odcgroup.domain.translation.ui.command.DomainTranslationCommandProvider"
			natureId="org.eclipse.jdt.core.javanature"
			priority="2">
			<input type="com.odcgroup.mdf.metamodel.MdfModelElement"/>
		</provider>
	</extension>  
  
  	<extension
		point="org.eclipse.ui.commands">
      	<command 
        	defaultHandler="com.odcgroup.domain.translation.ui.command.DomainUpdateTranslationHandler"
            id="com.odcgroup.domain.translation.ui.command.update"
            name="Change Translation">
         	<commandParameter id="text" name="text" optional="false"/>
		</command>
		<command
            defaultHandler="com.odcgroup.domain.translation.ui.command.DomainRemoveTranslationHandler"
            id="com.odcgroup.domain.translation.ui.command.remove"
            name="Remove Translation">
		</command>
	</extension>  

</plugin>
