<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="com.ose.optima.doc.isv"
   name="Optima Plug-in Developer Guide"
   version="1.1.1"
   provider-name="Enea Software AB">

   <extension
         point="org.eclipse.help.toc">
      <toc file="toc.xml" primary="true"/>
   </extension>
</plugin>
