<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="com.odcgroup.tafc.packager"
         name="TAFC Packager Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.odcgroup.t24.packager.nature.TafcPackagerProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         id="com.odcgroup.tafj.packager"
         name="TAFJ Packager Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.odcgroup.t24.packager.nature.TafjPackagerProjectNature">
         </run>
      </runtime>
   </extension>

</plugin>
