<?xml version="1.0" encoding="UTF-8"?>
<!-- This is the initial settings.xml of DS -->
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <localRepository></localRepository>
  
	<!-- This seems to work only if referred as user settings not global settings -->
	<offline>true</offline>
	
    <!-- To prevent any external access -->
    <mirrors/>
	
    <pluginGroups>
        <pluginGroup>com.odcgroup.maven.plugin</pluginGroup>
    </pluginGroups>
</settings>
