<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="com.odcgroup.workbench"
            class="com.odcgroup.t24.localref.ui.wizard.LocalRefImportWizard"
            icon="icons/domain_dsl.gif"
            id="com.odcgroup.t24.localref.importer.ui.wizard.LocalRefImportWizard"
            name="Import T24 Local Fields Definition">
         <description>
            Import T24 Local Fields Definition
         </description>
      </wizard>
   	</extension>
</plugin>
