<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

	
 <extension
       point="org.eclipse.core.contenttype.contentTypes">
    <file-association
          content-type="com.odcgroup.workbench.dsl.model"
          file-extensions="menu">
    </file-association>
 </extension>
 
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.odcgroup.com/menu/model/Menu" 
       class = "com.odcgroup.menu.model.MenuPackage"
       genModel = "src/com/odcgroup/menu/model/Menu.genmodel" />
	
  </extension>
  
   <extension
         point="com.odcgroup.workbench.core.model">
      <model
            initializer="com.odcgroup.menu.model.init.MenuModelProjectInitializer"
            name="menu"
            proxyresolution="lazy"
            validation="true">
      </model>
   </extension>

 <extension
       point="com.odcgroup.translation.provider">
    <provider
          class="com.odcgroup.menu.model.translation.MenuItemTranslationProvider"
          filter="com.odcgroup.menu.model.translation.MenuItemTranslationFilter"
          id="com.odcgroup.menu.model.provider"
          name="MenuItem Translation Provider"
          natureId="org.eclipse.jdt.core.javanature"
          priority="2">
       <kind
             display="Display Name"
             name="NAME">
       </kind>
       <input
             type="com.odcgroup.menu.model.MenuItem">
       </input>
    </provider>
 </extension>
 <extension
       point="com.odcgroup.translation.visitor">
    <provider
          class="com.odcgroup.menu.model.translation.TranslationVisitorProvider"
          id="com.odcgroup.menu.model.translation.visitorprovider">
       <input
             type="com.odcgroup.menu.model.MenuRoot">
       </input>
    </provider>
 </extension>


</plugin>
