<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         id="ofs"
         name="Design Studio for Triple&apos;A Plus"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="*"
            thread="main"
            visible="true">
         <run
               class="com.odcgroup.workbench.rcpapp.Application">
         </run>
      </application>
   </extension>
    <extension id="designstudioT24" point="org.eclipse.core.runtime.products"> 
      <product 
      	application="org.eclipse.ui.ide.workbench"
      	name="Design Studio for T24"> 
         <property
               name="startupForegroundColor"
               value="FFFFFF">
         </property>
         <property
               name="startupProgressRect"
               value="3,230,495,15">
         </property>
         <property
               name="startupMessageRect"
               value="3,215,500,20">
         </property>
         <property
               name="appName"
               value="Design Studio for T24">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization_designstudio_t24.ini">
         </property>
         <property
               name="aboutImage"
               value="imgs/about_box.gif">
         </property>
         <property
               name="aboutText"
               value="%aboutTextT24">
         </property>
         <property
               name="windowImages"
               value="icons/temenos_cube-16.png,icons/temenos_cube-32.png,icons/temenos_cube-48.png">
         </property>
      </product> 
    </extension>
    <extension
         id="edsT24"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            description="The IDE used for internal T24 development"
            name="Design Studio for T24 (EDS, TEMENOS internal)">
         <property
               name="preferenceCustomization"
               value="plugin_customization_eds_t24.ini">
         </property>
         <property
               name="appName"
               value="Design Studio for T24 (EDS, TEMENOS internal)">
         </property>
         <property
               name="aboutImage"
               value="imgs/about_box.gif">
         </property>
         <property
               name="aboutText"
               value="%aboutTextT24">
         </property>
         <property
               name="windowImages"
               value="icons/temenos_cube-16.png,icons/temenos_cube-32.png,icons/temenos_cube-48.png">
         </property>
         <property
               name="startupForegroundColor"
               value="FFFFFF">
         </property>
         <property
               name="startupProgressRect"
               value="3,230,495,15">
         </property>
         <property
               name="startupMessageRect"
               value="3,215,500,20">
         </property>
      </product>
   </extension>
    <extension
          point="org.eclipse.ui.activities">
       <activity
             id="com.odcgroup.workbench.t24.products.runlasttool"
             name="Run Last Tool">
       </activity>
       <activityPatternBinding
             activityId="com.odcgroup.workbench.t24.products.runlasttool"
             isEqualityPattern="true"
             pattern="org.eclipse.ui.externaltools.ExternalToolMenuDelegateToolbar">
       </activityPatternBinding>
       <activity
             id="com.odcgroup.workbench.t24.products.opentype"
             name="Open Type">
       </activity>
       <activityPatternBinding
             activityId="com.odcgroup.workbench.t24.products.opentype"
             isEqualityPattern="true"
             pattern="org.eclipse.jdt.ui.navigate.open.type">
       </activityPatternBinding>
       <activity
             id="com.odcgroup.workbench.t24.products.nextannotation"
             name="Next Annotation">
       </activity>
       <activityPatternBinding
             activityId="com.odcgroup.workbench.t24.products.nextannotation"
             isEqualityPattern="true"
             pattern="org.eclipse.ui.navigate.next">
       </activityPatternBinding>
       <activity
             id="com.odcgroup.workbench.t24.products.previousannotation"
             name="Previous Annotation">
       </activity>
       <activityPatternBinding
             activityId="com.odcgroup.workbench.t24.products.previousannotation"
             isEqualityPattern="true"
             pattern="org.eclipse.ui.navigate.previous">
       </activityPatternBinding>
       <activity
       		id="com.odcgroup.workbench.t24.products.toogle"
			name="Toogle mark Occurences">
		</activity>
		<activityPatternBinding
			activityId="com.odcgroup.workbench.t24.products.toogle"
			isEqualityPattern="true"
			pattern="org.eclipse.jdt.ui.edit.text.java.togglemarkOccurrences">
		</activityPatternBinding>
    </extension> 
</plugin>
