<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="com.odcgroup.page.ui.eventDefinitionDialog">
      <eventDialog
            class="com.odcgroup.page.pageflow.integration.ui.dialog.AdvancedEventDialogCreator">
      </eventDialog>
   </extension>
</plugin>
