<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
	<copyright>
	</copyright>
	
	$Id$
-->

<plugin>

	<extension point="com.odcgroup.workbench.generation.m2cCartridge">			
		<cartridge
	        category="Implementation (Domain) component-specific"
	        class="com.odcgroup.cdm.generation.enumerations.EnumerationsCodeGenerator"
	        enabledByDefault="false"
	        id="com.odcgroup.cdm.generation.enumerations.EnumerationsCodeGenerator"
	        name="CDM Enumerations">
		</cartridge>
		<cartridge
	        category="Implementation (Domain) component-specific"
	        class="com.odcgroup.cdm.generation.services.ServicesCodeGenerator"
	        enabledByDefault="false"
	        id="com.odcgroup.cdm.generation.services.ServicesCodeGenerator"
	        name="CDM Services Configuration File">
		</cartridge>
		<cartridge
	        category="Implementation (Domain) component-specific"
	        class="com.odcgroup.cdm.generation.dataset.CdmDatasetBeanGenerator"
	        enabledByDefault="false"
	        id="com.odcgroup.cdm.generation.dataset.CdmDatasetBeanGenerator"
	        name="CDM Datasets Implementations">
		</cartridge>
	    <cartridge
	        category="WUI Block component-specific"
	        class="com.odcgroup.cdm.generation.dataset.CdmDatasetActionGenerator"
	        enabledByDefault="false"
	        id="com.odcgroup.cdm.generation.dataset.CdmDatasetActionGenerator"
	        name="CDM Dataset Pageflow Actions">
	   </cartridge>
	</extension>
   
   

</plugin>
