<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="com.ose.fmd.freescale.pa"
   name="Freescale CodeWarrior for Power Architecture Kernel Awareness Integration"
   version="1.1.0"
   provider-name="Enea Software AB"
   class="com.ose.fmd.freescale.DebuggerPlugin">

   <runtime>
      <library name="fmd.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="com.ose.fmm"/>
      <import plugin="com.ose.pmd"/>
      <import plugin="org.eclipse.cdt.core"/>
      <import plugin="org.eclipse.cdt.debug.core"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.debug.core"/>
      <import plugin="org.eclipse.debug.ui"/>
      <import plugin="org.eclipse.ui"/>
   </requires>

   <extension
      point="org.eclipse.debug.ui.launchConfigurationTabs">
      <tab
            name="OSE Tab"
            group="com.freescale.cdt.launch.cw.attach.tabgroups"
            class="com.ose.fmd.freescale.OseTab"
            id="com.ose.fmd.freescale.oseTab">
      </tab>
   </extension>

   <extension
      point="org.eclipse.debug.ui.launchConfigurationTabs">
      <tab
            name="OSE Tab"
            group="com.freescale.cdt.launch.cw.download.tabgroups"
            class="com.ose.fmd.freescale.OseTab"
            id="com.ose.fmd.freescale.oseTab">
      </tab>
   </extension>

   <extension
      point="org.eclipse.ui.startup">
      <startup/>
   </extension>

   <extension
      point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="com.ose.fmd.freescale.ExtractNexusHardwareTraceActionContribution"
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.pmd"
            adaptable="true">
         <action
               id="com.ose.fmd.freescale.ExtractNexusHardwareTraceAction"
               label="Extract Nexus Hardware Trace"
               menubarPath="additions"
               class="com.ose.fmd.freescale.ExtractNexusHardwareTraceActionDelegate"
               enablesFor="+">
         </action>
      </objectContribution>
   </extension>
</plugin>
