<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<!--
 <extension
       point="com.odcgroup.workbench.validation.check">
    <metaModel
          nsURI="http://www.odcgroup.com/ofs/pageflow">
       <checkFile
             category="com.odcgroup.validation/pageflow"
             path="checks/PageflowTechBatchErrorsDE.chk">
       </checkFile>
    </metaModel>
 </extension>
 <extension
       point="org.eclipse.emf.validation.constraintProviders">
    <category
          id="com.odcgroup.validation/pageflow"
          mandatory="false"
          name="Pageflow">
    </category>
 </extension>
-->
 
    <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <category
            id="com.odcgroup.validation/pageflow"
            mandatory="false"
            name="Pageflow">
      </category>
      
      <constraintProvider
            cache="true">
         <package
               namespaceUri="http://www.odcgroup.com/ofs/pageflow">
         </package>
         <constraints
               categories="com.odcgroup.validation/pageflow">
            <constraint
                  class="com.odcgroup.pageflow.validation.internal.PageflowPageflowConstraints"
                  id="com.odcgroup.pageflow.validation.PageflowPageflowConstraints"
                  lang="Java"
                  mode="Batch"
                  name="Pageflow Constraints"
                  severity="ERROR"
                  statusCode="0">
               <message>
                  PageFlow validation error
               </message>
               <target
                     class="Pageflow">
               </target>
            </constraint>
         </constraints>
      </constraintProvider>
      
      <constraintProvider
            cache="true">
         <package
               namespaceUri="http://www.odcgroup.com/ofs/pageflow">
         </package>
         <constraints
               categories="com.odcgroup.validation/pageflow">
            <constraint
                  class="com.odcgroup.pageflow.validation.internal.PageflowActionConstraints"
                  id="com.odcgroup.pageflow.validation.PageflowActionConstraints"
                  lang="Java"
                  mode="Batch"
                  name="Pageflow Action Constraints"
                  severity="ERROR"
                  statusCode="0">
               <message>
                  Pageflow action validation error
               </message>
               <target
                     class="Action">
               </target>
            </constraint>
         </constraints>
      </constraintProvider>      
      
      <constraintProvider
            cache="true">
         <package
               namespaceUri="http://www.odcgroup.com/ofs/pageflow">
         </package>
         <constraints
               categories="com.odcgroup.validation/pageflow">
            <constraint
                  class="com.odcgroup.pageflow.validation.internal.PageflowTransitionConstraints"
                  id="com.odcgroup.pageflow.validation.PageflowTransitionConstraints"
                  lang="Java"
                  mode="Batch"
                  name="Pageflow Transition Constraints"
                  severity="ERROR"
                  statusCode="0">
               <message>
                  Pageflow Transition validation error
               </message>
               <target
                     class="Transition">
               </target>
            </constraint>
         </constraints>
      </constraintProvider>     
      
      <constraintProvider
            cache="true">
         <package
               namespaceUri="http://www.odcgroup.com/ofs/pageflow">
         </package>
         <constraints
               categories="com.odcgroup.validation/pageflow">
            <constraint
                  class="com.odcgroup.pageflow.validation.internal.PageflowPropertyConstraints"
                  id="com.odcgroup.pageflow.validation.PageflowPropertyConstraints"
                  lang="Java"
                  mode="Batch"
                  name="Pageflow Property Constraints"
                  severity="ERROR"
                  statusCode="0">
               <message>
                  Pageflow Property validation error
               </message>
               <target
                     class="Property">
               </target>
            </constraint>
         </constraints>
      </constraintProvider>      
      
      <constraintProvider
            cache="true">
         <package
               namespaceUri="http://www.odcgroup.com/ofs/pageflow">
         </package>
         <constraints
               categories="com.odcgroup.validation/pageflow">
            <constraint
                  class="com.odcgroup.pageflow.validation.internal.PageflowStateConstraints"
                  id="com.odcgroup.pageflow.validation.PageflowStateConstraints"
                  lang="Java"
                  mode="Batch"
                  name="Pageflow State Constraints"
                  severity="ERROR"
                  statusCode="0">
               <message>
                  Pageflow State validation error
               </message>
               <target
                     class="State">
               </target>
            </constraint>
         </constraints>
      </constraintProvider>      
      
      
   </extension>
 
 
</plugin>
