<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="com.ose.chart"
   name="Chart Engine"
   version="1.3.1"
   provider-name="Enea Software AB">

   <runtime>
      <library name="chart.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="javax.media.opengl"/>
      <import plugin="com.ose.system.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
   </requires>
</plugin>
