<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="com.odcgroup.ocs.server.embeddedserver"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.odcgroup.ocs.server.embedded.nature.EmbeddedServerNature">
         </run>
      </runtime>
   </extension>
</plugin>
 
