<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="modelmigration" name="Model Migration Extension Point" schema="schema/modelmigration.exsd"/>
   <extension-point id="metamodelversionhandler" name="Meta Model Version Handler Extension Point" schema="schema/metamodelversionhandler.exsd"/>
   <extension
         point="com.odcgroup.workbench.core.initializer">
      <initializer
            class="com.odcgroup.workbench.migration.internal.init.MigrationProjectInitializer"
            id="com.odcgroup.workbench.migration.initializer"
            markerId="com.odcgroup.workbench.migration.ProblemMarker">
      </initializer>
   </extension>
   <extension
         id="ProblemMarker"
         name="Version Problem"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.odcgroup.workbench.core.IOfsModelResource"
            class="com.odcgroup.workbench.migration.internal.adapter.MigrationAdapterFactory">
         <adapter
               type="com.odcgroup.workbench.core.IMetaModelVersioned">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="java.lang.String"
            class="com.odcgroup.workbench.migration.internal.adapter.MigrationAdapterFactory">
         <adapter
               type="com.odcgroup.workbench.core.IMetaModelVersioned">
         </adapter>
      </factory>
   </extension>
   <extension
         point="com.odcgroup.workbench.core.migration.provider">
         <migration
               class="com.odcgroup.workbench.migration.TAPMigrationProcessor">
         </migration>
   </extension>
</plugin>
