<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.temenos.t24.tools.eclipse.basic.rtc.actionSet"
            label="jBC (TAF/C) RTC"
            visible="false">
  <!-- start -->            
         <menu
               id="eclipse.basic.workbenchMenu.RTCTools"
               label="T24 RTC Tools"
               path="additions">
            <groupMarker name="group"/>
            <separator name="separator1"/>
            <separator name="separator2"/>
            <separator name="separator3"/>
         </menu> 
         <action
               class="com.temenos.t24.tools.eclipse.basic.rtc.actions.InstallChangeSetActionDelegate"
               icon="icons/skip.png"
               id="eclipse.basic.actionset.TemplatesMacros"
               label="Install Change Set"
               menubarPath="eclipse.basic.workbenchMenu.RTCTools/group"
               style="push"
               toolbarPath="Normal/additions"/>
           <action
               class="com.temenos.t24.tools.eclipse.basic.rtc.views.CheckDependencyActionDelegate"
               icon="icons/skip.png"
               id="eclipse.basic.actionset.checkdependency"
               label="Check dependency"
               menubarPath="eclipse.basic.workbenchMenu.RTCTools/group"
               style="push"
               toolbarPath="Normal/additions"/>
   <!-- end -->  
    </actionSet>
   </extension>
   <extension point="org.eclipse.ui.views">
		<view
			category="com.temenos.t24.tools.eclipse.basic.category"
			class="com.temenos.t24.tools.eclipse.basic.views.checkDependency.CheckDependencyView"
			icon="icons/skip.png"
			id="com.temenos.t24.tools.eclipse.basic.view.checkDependencyView"
			name="Change Set Dependency Report View"/> 
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.temenos.t24.tools.eclipse.basic.t24BasicPerspective">
         <actionSet
               id="com.temenos.t24.tools.eclipse.basic.rtc.actionSet">
         </actionSet>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            class="com.temenos.t24.tools.eclipse.basic.wizards.rtc.install.InstallChangeSetWizard"
            icon="icons/skip.png"
            id="basic-rtc-ui.wizard1"
            name="InstallChangeSet">
      </wizard>
   </extension>
</plugin>
