<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension point="com.odcgroup.workbench.core.model">
	     <model
	      name="rim"
	      initializer="com.odcgroup.iris.model.RimProjectInitializer" />
	</extension> 

   <extension
         point="com.odcgroup.workbench.generation.m2cCartridge">
      <cartridge
            category="T24 Interaction Framework (IRIS)"
            class="com.odcgroup.iris.java.generation.IRISJavaGenerator"
            enabledByDefault="false"
            id="com.odcgroup.iris.generation.java"
            name="Java classes from IRIS RIM model">
            <!-- NOTE The id String is DUPLICATED here and in the IRISJavaGenerator class -->
      </cartridge>
   </extension>

</plugin>
