<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="com.odcgroup.t24.server.deploynature"
         name="Triple&apos;A Plus Deploy Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.odcgroup.t24.server.external.internal.nature.T24DeployNature">
         </run>
      </runtime>
      <builder
            id="com.odcgroup.t24.server.builder">
      </builder>
   </extension>
   <extension
         id="com.odcgroup.t24.server.t24server"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.odcgroup.t24.server.external.nature.T24ExternalServerNature">
         </run>
      </runtime>
   </extension>
   <extension point="org.eclipse.core.runtime.preferences">  
      <initializer class="com.odcgroup.t24.server.external.preferences.T24ServerPreferenceInitializer">  
      </initializer>  
   </extension>  
</plugin>
