<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/packager_nature.png"
            id="packager.image"
            natureId="com.odcgroup.ocs.packager">
      </image>
   </extension>

   <extension point="org.eclipse.ui.popupMenus">
		<objectContribution 
		      id="com.odcgroup.workbench.action.contribution.popup"
		      objectClass="org.eclipse.core.resources.IResource"
		      adaptable="true"
		      nameFilter="*"> 
		   <filter name="projectNature" value="com.odcgroup.ocs.packager"/>
          <action
          	 id="com.odcgroup.workbench.action.contribution.navigator.createCustoPackage" 
             label="Create Custo Package"
             icon="icons/packager_action.png"
             menubarPath="com.odcgroup.ocs/packager" 
             class="com.odcgroup.ocs.packager.ui.launcher.CreateCustoPackageAction"
             enablesFor="*">
          </action> 
   		</objectContribution> 
   </extension>
   
      <extension
         point="org.eclipse.ui.navigator.navigatorContent"> 
         <actionProvider
            class="com.odcgroup.ocs.packager.ui.launcher.CreateCustoPackageActionProvider"
            id="com.odcgroup.workbench.ui.navigator.action.createCustoPackage"
            priority="high">
     	<enablement>      
          <and>
             <adapt
                   type="org.eclipse.core.resources.IProject">
<!--                   <test 
                     forcePluginActivation="true"
                     property="org.eclipse.core.resources.projectNature" 
                     value="org.eclipse.jdt.core.javanature"/>
                   <test
                     forcePluginActivation="true"
                     property="org.eclipse.core.resources.projectNature"
                     value="com.odcgroup.ocs.packager.nature.PackagerProjectNature"/>
-->
             </adapt>
          </and>          
        </enablement>
      </actionProvider>
   </extension>
</plugin>
