<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 	<extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonFilter
            activeByDefault="true"
            class="com.odcgroup.visualrules.integration.ui.filter.OfsVRResourceFilter"
            description="Filters internal Visual Rules resources"
            id="com.odcgroup.workbench.ui.navigator.vrResourceFilter"
            name="Design Studio internal rule resources"/>
      <actionProvider
            class="com.odcgroup.visualrules.integration.ui.action.mdf.MdfRuleActionProvider"
            id="com.odcgroup.workbench.ui.navigator.be.action.mdfrules">
         <enablement>
            <or>
               <instanceof
                     value="com.odcgroup.mdf.metamodel.MdfClass">
               </instanceof>
               <instanceof
                     value="com.odcgroup.mdf.metamodel.MdfDataset">
               </instanceof>
            </or>
         </enablement>
      </actionProvider>
      <navigatorContent
            activeByDefault="true"
            contentProvider="com.odcgroup.visualrules.integration.ui.navigator.RulesContentProvider"
            icon="icons/temenos_cube-16.png"
            id="com.odcgroup.workbench.ui.navigator.rules"
            labelProvider="com.odcgroup.visualrules.integration.ui.navigator.RulesLabelProvider"
            name="Design Studio Business Rules "
            priority="highest">
         <triggerPoints>
            <adapt
                  type="com.odcgroup.workbench.core.IOfsProject">
            </adapt>
         </triggerPoints>
         <possibleChildren>
            <instanceof
                  value="org.eclipse.core.resources.IFolder">
            </instanceof>
         </possibleChildren>
      </navigatorContent>
   </extension>  

   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding viewerId="com.odcgroup.workbench.ui.navigator">
         <includes>
            <contentExtension
                  isRoot="false"
                  pattern="de.visualrules.ui.navigator.NavigatorContent"/>
            <contentExtension pattern="de.visualrules.ui.navigator.internal.provider.LinkHelper"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="com.odcgroup.workbench.ui.navigator">
         <includes>
            <actionExtension pattern="de.visualrules.ui.navigator.*"/>
            <actionExtension pattern="de.visualrules.model.*"/>
         </includes>
      </viewerActionBinding>
   </extension>
   
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="com.odcgroup.visualrules.integration.menu.mdf"
            objectClass="com.odcgroup.mdf.metamodel.MdfModelElement">
         <menu
               id="rules"
               label="Rules"
               path="edit">
            <separator
                  name="standard">
            </separator>
         </menu>
         <menu
               id="validation"
               label="Validation"
               path="rules/standard">
            <separator
                  name="standard">
            </separator>
         </menu>
         <menu
               id="completion"
               label="Completion"
               path="rules/standard">
            <separator
                  name="standard">
            </separator>
         </menu>
         <visibility>
         	<and>
            	<or>
               		<objectClass name="com.odcgroup.mdf.metamodel.MdfClass"/>
               		<objectClass name="com.odcgroup.mdf.metamodel.MdfDataset"/>
            	</or>
             <not>
                <objectState
                   name="ds.filtered"
                   value="edit.rules.menu">
             	</objectState>
             </not>
            </and>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="com.odcgroup.visualrules.integration.action.mdf"
            objectClass="com.odcgroup.mdf.metamodel.MdfModelElement">
         <action
               class="com.odcgroup.visualrules.integration.ui.action.mdf.ValidationRuleDeleteAction"
               enablesFor="1"
               icon="icons/delete.gif"
               id="validateDelete"
               label="Delete"
               menubarPath="rules/validation/standard"
               style="push">
            <enablement>
               <objectState
                     name="ds.edit.rule.category.enabled"
                     value="VALIDATION">
               </objectState>
            </enablement>
         </action>
         <action
               class="com.odcgroup.visualrules.integration.ui.action.mdf.ValidationRuleAction"
               enablesFor="1"
               icon="icons/rule.gif"
               id="validateEdit"
               label="Edit"
               menubarPath="rules/validation/standard"
               style="push">
            <enablement>
               <objectState
                     name="ds.edit.rule.category.enabled"
                     value="VALIDATION">
               </objectState></enablement>
         </action>
         <action
               class="com.odcgroup.visualrules.integration.ui.action.mdf.ValidationRuleAction"
               enablesFor="1"
               icon="icons/arrow_right.png"
               id="validateCreate"
               label="New"
               menubarPath="rules/validation/standard"
               style="push">
            <enablement>
            	<not>
	               <objectState
	                     name="ds.edit.rule.category.enabled"
	                     value="VALIDATION">
	               </objectState>
	            </not>
            </enablement>
         </action>
         <action
               class="com.odcgroup.visualrules.integration.ui.action.mdf.CompletionRuleDeleteAction"
               enablesFor="1"
               icon="icons/delete.gif"
               id="completeDelete"
               label="Delete"
               menubarPath="rules/completion/standard"
               style="push">
            <enablement>
               <objectState
                     name="ds.edit.rule.category.enabled"
                     value="COMPLETION">
               </objectState>
            </enablement>
         </action>
         <action
               class="com.odcgroup.visualrules.integration.ui.action.mdf.CompletionRuleAction"
               enablesFor="1"
               icon="icons/rule.gif"
               id="completeEdit"
               label="Edit"
               menubarPath="rules/completion/standard"
               style="push">
            <enablement>
               <objectState
                     name="ds.edit.rule.category.enabled"
                     value="COMPLETION">
               </objectState>
            </enablement>
         </action>
         <action
               class="com.odcgroup.visualrules.integration.ui.action.mdf.CompletionRuleAction"
               enablesFor="1"
               icon="icons/arrow_right.png"
               id="completeCreate"
               label="New"
               menubarPath="rules/completion/standard"
               style="push">
            <enablement>
            	<not>
	               <objectState
	                     name="ds.edit.rule.category.enabled"
	                     value="COMPLETION">
	               </objectState>
	            </not>
            </enablement>
         </action>
         <visibility>
         	<and>
            	<or>
               		<objectClass name="com.odcgroup.mdf.metamodel.MdfClass"/>
               		<objectClass name="com.odcgroup.mdf.metamodel.MdfDataset"/>
            	</or>
             <not>
             	<or>
	                <objectState
	                   name="ds.filtered"
	                   value="edit.rules.action">
	             	</objectState>
	                <objectState
	                   name="ds.filtered"
	                   value="edit.rules.menu">
	             	</objectState>
				</or>
             </not>
            </and>
         </visibility>
      </objectContribution>
<!--      <objectContribution
            adaptable="true"
            id="com.odcgroup.visualrules.integration.decisionStateEditPart"
            objectClass="com.odcgroup.pageflow.editor.diagram.edit.parts.DecisionStateEditPart">
         <action
               class="com.odcgroup.visualrules.integration.action.pageflow.DecisionRuleAction"
               enablesFor="1"
               icon="icons/rule.gif"
               id="decision"
               label="Decision Rule"
               menubarPath="edit"/>
      </objectContribution>-->
   </extension>
   
   <extension
         id="customMessageActionUI"
         name="customMessageActionUI"
         point="de.visualrules.custom.ui.customUI">
      <customActionUI
            execUI="com.odcgroup.visualrules.integration.ui.custom.CustomMessageActionUI"
            type="MessageActionType">
      </customActionUI>
   </extension>     
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="com.odcgroup.visualrules.integration.ui.datasync.RuleMarkerResolutionGenerator"
            markerType="com.odcgroup.visualrules.integration.ruleProblem">
      </markerResolutionGenerator>
   </extension>
   <extension
         point="com.odcgroup.workbench.ui.actionFilter">
      <actionFilter
            class="com.odcgroup.visualrules.integration.ui.filter.RuleActionFilter">
         <filterId
               id="ds.edit.rule.category.enabled">
         </filterId>
         <filterId
               id="ds.filtered">
         </filterId>
      </actionFilter>
   </extension> 
   
   <extension point="de.visualrules.custom.ui.iconFactory">
  	<static type="MessageActionType" largeDisabledIconPath="icons/messageAction_large_disabled.gif" 
  		largeEnabledIconPath="icons/messageAction_large.gif" smallIconPath="icons/messageAction_small.gif" /> 
  </extension> 
  
  <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <actionProvider
            class="com.odcgroup.workbench.compare.ui.navigator.CompareActionProvider"
            id="com.odcgroup.workbench.ui.navigator.be.action.compare.rules">
         <enablement>
            <adapt
                  type="de.visualrules.model.provider.IExtendedItemProviderAdapter">
            </adapt>
         </enablement>
      </actionProvider>
      <actionProvider
            class="com.odcgroup.workbench.generation.ui.action.CodeGenerationActionProvider"
            id="com.odcgroup.workbench.ui.navigator.action.generate.rules">
         <enablement>
            <adapt
                  type="de.visualrules.model.navigator.adapter.IResourceProvider">
            </adapt>
         </enablement>
      </actionProvider>
   </extension>
  <extension
        point="org.eclipse.core.runtime.adapters">
     <factory
           adaptableType="de.visualrules.model.navigator.adapter.IResourceProvider"
           class="com.odcgroup.visualrules.integration.ui.internal.adapter.RuleResourceAdapterFactory">
        <adapter
              type="com.odcgroup.workbench.core.IOfsElement">
        </adapter>
        <adapter
              type="org.eclipse.core.resources.IResource">
        </adapter>
     </factory>
  </extension>
  
   <extension
       point="com.odcgroup.translation.collector">
    <collectorProvider
          class="com.odcgroup.visualrules.integration.ui.translation.RuleTranslationCollectorProvider"
          displayName="Rule"
          fileExtensions="rule"
          id="com.odcgroup.visualrules.translation.RuleTranslationCollectorProvider">
    </collectorProvider>
 </extension>
 
	<extension
		point="com.odcgroup.translation.viewer.command">
		<provider
			id="com.odcgroup.visualrules.translation.tablecommandprovider"
			name="Table Commands Provider for visual rules"
			class="com.odcgroup.visualrules.integration.ui.translation.command.RuleTranslationCommandProvider"
			natureId="com.odcgroup.workbench.core.OfsNature"
			priority="2">
            <input type="com.odcgroup.visualrules.integration.model.ruletranslation.RuleMessageProxy"/> 
		</provider>
	</extension>  
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="com.odcgroup.visualrules.integration.ui.markers.RuleIntegrationMarkerResolutionGenerator"
            markerType="com.odcgroup.visualrules.integration.DataSyncProblem">
      </markerResolutionGenerator>
   </extension>
     <extension
         point="org.eclipse.ui.ide.markerSupport">
      <markerTypeCategory
            name="Design Studio Problems">
         <markerTypeReference
               id="com.odcgroup.visualrules.integration.DataSyncProblem">
         </markerTypeReference>
      </markerTypeCategory>
   </extension>

</plugin>
