<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="docViewProvider" name="T24 Doc View Provider" schema="schema/docViewProvider.exsd"/>

   <extension point="org.eclipse.ui.editors">
      <editor
            class="com.temenos.t24.tools.eclipse.basic.editors.T24BasicMultiPageEditor"
            contributorClass="com.temenos.t24.tools.eclipse.basic.editors.T24BasicEditorContributor"
            default="true"
            extensions="b,basic"
            icon="icons/sample.gif"
            id="t24.tools.eclipse.basic.editors.T24BasicMultipageEditor"
            name="T24 jBC (TAF/C) Multipage Editor">
      </editor>
   </extension>
   
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="T24 Data Editor"
            default="true"
            icon="icons/data.gif"
            extensions="d"
            class="com.temenos.t24.tools.eclipse.basic.editors.remote.T24DataFileEditor"
            id="t24.tools.eclipse.basic.editors.T24DataEditor">
      </editor>
   </extension>
   
   <extension point="org.eclipse.ui.views">
   	 <category
            id="com.temenos.t24.tools.eclipse.basic.category"
            name="T24Basic"
            />
	              
            
      <view
            category="com.temenos.t24.tools.eclipse.basic.category"
            class="com.temenos.t24.tools.eclipse.basic.views.calls.CallsView"
            icon="icons/callImage.gif"
            id="com.temenos.t24.tools.eclipse.basic.viewCalls"
            name="Calls"/>
      <view
            category="com.temenos.t24.tools.eclipse.basic.category"
            class="com.temenos.t24.tools.eclipse.basic.views.inserts.InsertsView"
            icon="icons/insertImage.gif"
            id="com.temenos.t24.tools.eclipse.basic.viewInserts"
            name="Inserts"/>
            
      <!-- InLine Documentation Tree View -->
      <view
      		category="com.temenos.t24.tools.eclipse.basic.category"
            class="com.temenos.t24.tools.eclipse.basic.views.inlineDocs.InLineDocsView"
            icon="icons/notebook.gif"
            id="com.temenos.t24.tools.eclipse.basic.InLineDocView"
            name="InLine Doc View"/>
            
      <view
            category="com.temenos.t24.tools.eclipse.basic.category"
            class="com.temenos.t24.tools.eclipse.basic.views.labels.T24LabelsRegionsView"
            icon="icons/labelImage.gif"
            id="com.temenos.t24.tools.eclipse.basic.viewLabelsRegions"
            name="Labels/Regions"/>
      <view
            category="com.temenos.t24.tools.eclipse.basic.category"
            class="com.temenos.t24.tools.eclipse.basic.views.macrotemplate.MacrosView"
            icon="icons/macroImage.gif"
            id="com.temenos.t24.tools.eclipse.basic.viewMacros"
            name="Macros"/>
      <view
            category="com.temenos.t24.tools.eclipse.basic.category"
            class="com.temenos.t24.tools.eclipse.basic.views.todo.TodoView"
            icon="icons/todoImage.gif"
            id="com.temenos.t24.tools.eclipse.basic.viewTodo"
            name="Todo  List"/>
      <view
            category="com.temenos.t24.tools.eclipse.basic.category"
            class="com.temenos.t24.tools.eclipse.basic.views.tasks.TasksView"
            icon="icons/compileFile.gif"
            id="com.temenos.t24.tools.eclipse.basic.viewTask"
            name="Compile Results"/>
      <view
            category="com.temenos.t24.tools.eclipse.basic.category"
            class="com.temenos.t24.tools.eclipse.basic.views.macrotemplate.TemplatesView"
            icon="icons/templateImage.gif"
            id="com.temenos.t24.tools.eclipse.basic.viewTemplates"
            name="Templates"/>
      <view
            category="com.temenos.t24.tools.eclipse.basic.category"
            class="com.temenos.t24.tools.eclipse.basic.views.variables.VariablesView"
            icon="icons/variable.png"
            id="com.temenos.t24.tools.eclipse.basic.viewVariables"
            name="Variables"/>      
      <view
            category="com.temenos.t24.tools.eclipse.basic.category"
            class="com.temenos.t24.tools.eclipse.basic.views.t24unit.T24UnitTestView"
            icon="icons/tsuite.png"
            id="com.temenos.t24.tools.eclipse.basic.viewT24UnitTest"
            name="T24Unit"/>      
     <view
            category="com.temenos.t24.tools.eclipse.basic.category"
            class="com.temenos.t24.tools.eclipse.basic.views.remote.RemoteSiteView"
            icon="icons/remote.gif"
            id="com.temenos.t24.tools.eclipse.view.RemoteSystem"
            allowMultiple="true"            
            name="Remote System"/> 
     <view
            category="com.temenos.t24.tools.eclipse.basic.category"
            class="com.temenos.t24.tools.eclipse.basic.views.callsHierarchy.CallsHierarchyView"
            icon="icons/hierarchy.PNG"
            id="com.temenos.t24.tools.eclipse.basic.view.callsHierarchyView"
            name="Calls Hierarchy"/> 
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.temenos.t24.basic.wizards.T24BasicCategory"
            name="T24 jBC"/>
      <wizard
            category="com.temenos.t24.basic.wizards.T24BasicCategory"
            class="com.temenos.t24.tools.eclipse.basic.wizards.SelectTemplateWizard"
            finalPerspective="com.temenos.t24.tools.eclipse.basic.t24BasicPerspective"
            icon="icons/fileImage.gif"
            id="com.temenos.t24.selectTemplateWizard"
            name="T24 routine from Template"
            preferredPerspectives="com.temenos.t24.tools.eclipse.basic.t24BasicPerspective"/>
      <wizard
            category="com.temenos.t24.basic.wizards.T24BasicCategory"
            class="com.temenos.t24.tools.eclipse.basic.wizards.NewBasicFileWizard"
            icon="icons/sample.gif"
            id="com.temenos.t24.newFileWizard"
            name="T24 routine">
      </wizard>
      <wizard
            category="com.temenos.t24.basic.wizards.T24BasicCategory"
            class="com.temenos.t24.tools.eclipse.basic.wizards.t24objects.T24ObjectCreationWizard"
            icon="icons/compileFile.gif"
            id="com.temenos.t24.T24ObjectWizard"
            name="T24 Object">
      </wizard>      
      <wizard
            category="com.temenos.t24.basic.wizards.T24BasicCategory"
            class="com.temenos.t24.tools.eclipse.basic.wizards.t24unit.T24UnitTestGenerationWizard"
            icon="icons/test.png"
            id="com.temenos.t24.TUnitTestGenerationWizard"
            name="T24Unit test">
      </wizard>
      <wizard
            category="com.temenos.t24.basic.wizards.T24BasicCategory"
            class="com.temenos.t24.tools.eclipse.basic.wizards.data.T24DataFileCreationWizard"
            icon="icons/data.gif"
            id="com.temenos.t24.T24DataFileCreationWizard"
            name="T24 Data Item">
      </wizard>      
     <!-- wizard for doc generation -->
   </extension>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.temenos.t24.tools.eclipse.basic.actionSet"
            label="jBC (TAF/C)"
            visible="false">
   <!-- start -->            
   <!-- end -->                    
         <menu
               id="eclipse.basic.workbenchMenu.T24Basic"
               label="T24&amp;Basic"
               path="additions">
            <groupMarker name="group"/>
            <separator name="separator1"/>
            <separator name="separator2"/>
            <separator name="separator3"/>
         </menu>
           <!-- action for doc generation -->
         <action
               class="com.temenos.t24.tools.eclipse.basic.actions.local.MacrosTemplatesActionDelegate"
               icon="icons/templateImage.gif"
               id="eclipse.basic.actionset.TemplatesMacros"
               label="&amp;Templates/Macros"
               menubarPath="eclipse.basic.workbenchMenu.T24Basic/group"
               style="push"
               toolbarPath="Normal/additions"/>
         <action
               class="com.temenos.t24.tools.eclipse.basic.actions.local.DisplayT24PluginOptionsAction"
               icon="icons/displayOptions.gif"
               id="eclipse.basic.action.displayT24PluginOptions"
               label="Displa&amp;y Plugin Preferences"
               menubarPath="eclipse.basic.workbenchMenu.T24Basic/group"
               style="push"/>
         <action
               class="com.temenos.t24.tools.eclipse.basic.actions.local.RefreshViewsActionDelegate"
               icon="icons/refresh.gif"
               id="eclipse.basic.action.refresh"
               label="Refres&amp;h"
               menubarPath="eclipse.basic.workbenchMenu.T24Basic/group"
               style="push"
               toolbarPath="Normal/additions"
               tooltip="Refreshes active views"/>
         <action
               class="com.temenos.t24.tools.eclipse.basic.actions.local.FormattingActionDelegate"
               icon="icons/formatCodeImage.gif"
               id="eclipse.basic.actionset.FormatCode"
               label="&amp;Format Code"
               menubarPath="eclipse.basic.workbenchMenu.T24Basic/group"
               style="push"
               toolbarPath="Normal/additions"
               tooltip="Format the source code."/>
         <action
               class="com.temenos.t24.tools.eclipse.basic.actions.local.BlockCommentActionDelegate"
               icon="icons/comment.gif"
               id="eclipse.basic.action.commentBlock"
               label="&amp;Block Comment"
               menubarPath="eclipse.basic.workbenchMenu.T24Basic/group"
               style="push"/>
         <action
               class="com.temenos.t24.tools.eclipse.basic.actions.local.BlockUnCommentActionDelegate"
               icon="icons/comment.gif"
               id="eclipse.basic.action.unCommentBlock"
               label="Block &amp;Uncomment"
               menubarPath="eclipse.basic.workbenchMenu.T24Basic/group"
               style="push"/>
         <action
               class="com.temenos.t24.tools.eclipse.basic.actions.local.InsertCommentActionDelegate"
               icon="icons/insertCommentImage.gif"
               id="eclipse.basic.action.insertComment"
               label="Insert Co&amp;mment Line"
               menubarPath="eclipse.basic.workbenchMenu.T24Basic/group"
               style="push"/>
         
               
         <action
               class="com.temenos.t24.tools.eclipse.basic.actions.local.OpenInsertsViewActionDelegate"
               icon="icons/insertImage.gif"
               id="eclipse.basic.openInsertsView"
               label="Open Inserts View"
               menubarPath="eclipse.basic.workbenchMenu.T24Basic/separator1"
               style="push"/>
         <action
               class="com.temenos.t24.tools.eclipse.basic.actions.local.OpenLabelsViewActionDelegate"
               icon="icons/labelImage.gif"
               id="eclipse.basic.action.openBasicLabelsView"
               label="Open Labels/Regions View"
               menubarPath="eclipse.basic.workbenchMenu.T24Basic/separator1"
               style="push"/>
         <action
               class="com.temenos.t24.tools.eclipse.basic.actions.local.OpenTodoViewActionDelegate"
               icon="icons/todoImage.gif"
               id="eclipse.basic.action.openTodoView"
               label="Todo List View"
               menubarPath="eclipse.basic.workbenchMenu.T24Basic/separator1"
               style="push"/>
         <action
               class="com.temenos.t24.tools.eclipse.basic.actions.local.OpenTaskViewActionDelegate"
               icon="icons/compileFile.gif"
               id="eclipse.basic.action.openTaskView"
               label="Compile &amp;Results View"
               menubarPath="eclipse.basic.workbenchMenu.T24Basic/separator1"
               style="push"/>
         <action
               class="com.temenos.t24.tools.eclipse.basic.actions.local.CallsHierarchyViewActionDelegate"
               icon="icons/hierarchy.PNG"
               id="eclipse.basic.openCallsHierarchyView"
               label="Open Calls Hierarchy View"
               menubarPath="eclipse.basic.workbenchMenu.T24Basic/separator1"
               style="push"/>               
         <action
               class="com.temenos.t24.tools.eclipse.basic.actions.local.OpenCallsViewActionDelegate"
               icon="icons/callImage.gif"
               id="eclipse.basic.openCallsView"
               label="Open Calls View"
               menubarPath="eclipse.basic.workbenchMenu.T24Basic/separator1"
               style="push"/>
         <action
               class="com.temenos.t24.tools.eclipse.basic.actions.local.OpenVariablesViewActionDelegate"
               icon="icons/variable.png"
               id="eclipse.basic.action.openVariablesView"
               label="Open &amp;Variables View"
               menubarPath="eclipse.basic.workbenchMenu.T24Basic/separator1"
               style="push"/>                
         <action
               class="com.temenos.t24.tools.eclipse.basic.actions.local.GosubCreationActionDelegate"
               icon="icons/regionImage.gif"
               id="eclipse.basic.createGosubRegion"
               label="Create &amp;GOSUB"
               menubarPath="eclipse.basic.workbenchMenu.T24Basic/group"
               style="push"/>
         <action
               class="com.temenos.t24.tools.eclipse.basic.actions.local.RegionCreationActionDelegate"
               icon="icons/regionImage.gif"
               id="eclipse.basic.createRegion"
               label="Create &amp;Region"
               menubarPath="eclipse.basic.workbenchMenu.T24Basic/group"
               style="push"
               toolbarPath="Normal/additions"
               tooltip="Create Region"/>
         <action
               class="com.temenos.t24.tools.eclipse.basic.actions.local.RegionExpandAllActionDelegate"
               icon="icons/expandRegionImage.gif"
               id="eclipse.basic.expandAllRegions"
               label="Expand all Regions"
               menubarPath="eclipse.basic.workbenchMenu.T24Basic/group"
               style="push"/>
         <action
               class="com.temenos.t24.tools.eclipse.basic.actions.local.RegionCollapseAllActionDelegate"
               icon="icons/collapseRegionImage.gif"
               id="eclipse.basic.collapseAllRegions"
               label="Collapse all Regions"
               menubarPath="eclipse.basic.workbenchMenu.T24Basic/group"
               style="push"/>
         <action
               class="com.temenos.t24.tools.eclipse.basic.actions.local.OpenHistoryViewActionDelegate"
               icon="icons/binImage.gif"
               id="eclipse.basic.action.ShowHistory"
               label="Show &amp;History"
               menubarPath="eclipse.basic.workbenchMenu.T24Basic/group"
               style="push">
         </action>
         <action
               class="com.temenos.t24.tools.eclipse.basic.actions.local.SetLocalDefaultProjectActionDelegate"
               icon="icons/directoryImage2.gif"
               id="eclipse.basic.action.setLocalDefaultProject"
               label="Set Local &amp;Default Project"
               menubarPath="eclipse.basic.workbenchMenu.T24Basic/group">
         </action>                  
         <menu
               id="eclipse.basic.workbenchMenu.T24Server"
               label="T24&amp;Server"
               path="additions">
            <groupMarker name="group"/>
            <separator name="separator1"/>
         </menu>               
         <action
               class="com.temenos.t24.tools.eclipse.basic.actions.remote.SetServerDirectoryActionDelegate"
               icon="icons/directoryImage2.gif"
               id="eclipse.basic.setServerDirectory"
               label="Set Server &amp;Dir"
               menubarPath="eclipse.basic.workbenchMenu.T24Server/group"
               style="push"/>         
         <action
               class="com.temenos.t24.tools.eclipse.basic.actions.remote.ViewLocksInServerActionDelegate"
               icon="icons/lockImage.gif"
               id="eclipse.basic.viewLocks"
               label="&amp;View Locks"
               menubarPath="eclipse.basic.workbenchMenu.T24Server/group"
               style="push"
               toolbarPath="Normal/additions"
               tooltip="Display locks held by user"/>                                       
         <action
               class="com.temenos.t24.tools.eclipse.basic.actions.remote.CompileFileInServerActionDelegate"
               icon="icons/compileFile.gif"
               id="eclipse.basic.compileInServer"
               label="&amp;Compile File in Server"
               menubarPath="eclipse.basic.workbenchMenu.T24Server/group"
               style="push"
               toolbarPath="Normal/additions"
               tooltip="Compiles file in remote server"/>
         <action
               class="com.temenos.t24.tools.eclipse.basic.actions.remote.CompileProjectInServerActionDelegate"
               icon="icons/copileProject.gif"
               id="eclipse.basic.compileProjectToServer"
               label="Compil&amp;e Project in Server"
               menubarPath="eclipse.basic.workbenchMenu.T24Server/group"
               style="push"/>         
         <action
               class="com.temenos.t24.tools.eclipse.basic.actions.remote.SaveAsRemoteActionDelegate" 
               icon="icons/saveserver.gif"
               id="eclipse.basic.saveAsRemote"
               label="Save &amp;As Server File"
               menubarPath="eclipse.basic.workbenchMenu.T24Server/group"
               style="push"
               tooltip="Save As Server File"/>
         <action
               class="com.temenos.t24.tools.eclipse.basic.actions.local.SaveAsLocalActionDelegate" 
               icon="icons/saveFile.gif"
               id="eclipse.basic.saveAsLocal"
               label="Save As &amp;Local File"
               menubarPath="eclipse.basic.workbenchMenu.T24Server/group"
               style="push"
               tooltip="Save as local file"/>
         <!-- This action will be removed during refactoring.
         <action
               class="com.temenos.t24.tools.eclipse.basic.actions.remote.SaveProjectToServerActionDelegate"
               icon="icons/saveAll.gif"
               id="eclipse.basic.saveProjectToServer"
               label="Save &amp;Project to Server"
               menubarPath="eclipse.basic.workbenchMenu.T24Server/group"
               style="push"/> -->                                                          
         <action
               class="com.temenos.t24.tools.eclipse.basic.actions.remote.GetFileFromServerActionDelegate"
               icon="icons/openFile.gif"
               id="eclipse.basic.openFileFromServer"
               label="&amp;Open File from Server"
               menubarPath="eclipse.basic.workbenchMenu.T24Server/group"
               style="push"
               toolbarPath="Normal/additions"
               tooltip="Open File from Server"/>         

      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.temenos.t24.tools.eclipse.basic.perspectives.T24BasicPerspectiveFactory"
            icon="icons/t24BlueImage.gif"
            id="com.temenos.t24.tools.eclipse.basic.t24BasicPerspective"
            name="jBC (TAF/C)"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="com.temenos.t24.tools.eclipse.basic.preferences.T24PreferenceInitializer"/>"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="t24.tools.eclipse.T24BasicPreferences"
            class="com.temenos.t24.tools.eclipse.basic.preferences.T24BasicPreferenceColorPage"
            id="t24.tools.eclipse.T24BasicPreferences.EditorColors"
            name="EditorColors"/>
      <page
            class="com.temenos.t24.tools.eclipse.basic.preferences.T24BasicPreferenceCorePage"
            id="t24.tools.eclipse.T24BasicPreferences"
            name="T24 jBC (TAF/C)"/>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="com.temenos.t24.popupMenu"
            objectClass="org.eclipse.core.resources.IResource">
         <action
               class="com.temenos.t24.tools.eclipse.basic.actions.local.SetLocalDefaultProjectActionDelegate"
               enablesFor="?"
               icon="icons/directoryImage2.gif"
               id="com.temenos.t24.action.popup.setLocalDefaultProject"
               label="Set as Local Default Project"
               menubarPath="com.temenos.t24.popupSubMenu/content"/>
         <action
               class="com.temenos.t24.tools.eclipse.basic.actions.remote.SaveAsRemoteActionDelegate"
               enablesFor="?"
               icon="icons/saveserver.gif"
               id="com.temenos.t24.action.popup.saveRemoteFile"
               label="Save As Server File"
               menubarPath="com.temenos.t24.popupSubMenu/content"/>
         <action
               class="com.temenos.t24.tools.eclipse.basic.actions.local.SaveAsLocalActionDelegate" 
               icon="icons/saveFile.gif"
               id="com.temenos.t24.action.popup.saveLocalFile"
               label="Save As Local File"
               menubarPath="com.temenos.t24.popupSubMenu/content"/>
          <!-- This action will be removed during refactoring.
           <action
               class="com.temenos.t24.tools.eclipse.basic.actions.remote.SaveProjectToServerActionDelegate"
               enablesFor="?"
               icon="icons/saveAll.gif"
               id="com.temenos.t24..action.popup.saveProjectFiles"
               label="Save Project to Server"
               menubarPath="com.temenos.t24.popupSubMenu/content"/> -->
         <action
               class="com.temenos.t24.tools.eclipse.basic.actions.remote.CompileFileInServerActionDelegate"
               enablesFor="?"
               icon="icons/compileFile.gif"
               id="com.temenos.t24.action.popup.compileInServer"
               label="Compile File In Server"
               menubarPath="com.temenos.t24.popupSubMenu/content"/>
         <action
               class="com.temenos.t24.tools.eclipse.basic.actions.remote.GetFileFromServerActionDelegate"
               enablesFor="?"
               icon="icons/openFile.gif"
               id="com.temenos.t24.action.popup.getFileFromServer"
               label="Open File From Server"
               menubarPath="com.temenos.t24.popupSubMenu/content"/>
		 <action
               class="com.temenos.t24.tools.eclipse.basic.actions.remote.CompileProjectInServerActionDelegate"
               enablesFor="?"
               icon="icons/copileProject.gif"
               id="com.temenos.t24.action.popup.compileProjectInServer"
               label="Compile Project in Server"
               menubarPath="com.temenos.t24.popupSubMenu/content"/>     
         <action
               class="com.temenos.t24.tools.eclipse.basic.actions.remote.SendToT24ActionDelegate"
               icon="icons/up.gif"
               id="com.temenos.t24.tools.eclipse.basic.uploadtot24"
               label="Send To T24"
               menubarPath="com.temenos.t24.popupSubMenu/content">
         </action>
         <action
               class="com.temenos.t24.tools.eclipse.basic.actions.remote.GetFromT24ActionDelegate"
               icon="icons/skip.png"
               id="com.temenos.t24.tools.eclipse.basic.downloadfromt24"
               label="Get From T24"
               menubarPath="com.temenos.t24.popupSubMenu/content">
         </action>
         <action
               class="com.temenos.t24.tools.eclipse.basic.actions.remote.SyncToT24ActionDelegate"
               icon="icons/skip.png"
               id="com.temenos.t24.tools.eclipse.basic.syncToT24"
               label="Sync To T24"
               menubarPath="com.temenos.t24.popupSubMenu/content">
         </action>
         <menu
               id="com.temenos.t24.popupSubMenu"
               label="T24 jBC (TAF/C)">
            <groupMarker name="content"/>
         </menu>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup class="com.temenos.t24.tools.eclipse.basic.StartUpActions"/>
   </extension>
<!-- TODO remove
   <extension
         id="id1"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.temenos.t24.tools.eclipse.basic.T24BasicProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerType="annotation.type.hovered.word"
            name="annotation.type.hovered.word">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="annotation.type.call"
            colorPreferenceKey="blue"
            isGoToNextNavigationTarget="true">
      </specification>
   </extension>
   <extension
         point="org.eclipse.ui.dropActions">
      <action
            class="com.temenos.t24.tools.eclipse.basic.views.server.ServerViewPluginDropAdapter"
            id="com.temenos.t24.tools.eclipse.basic.serverViewPluginDropAdapter">
      </action>
   </extension>
-->   
         
<extension
         id="com.temenos.t24.eclipse.unittest.launch.shortcut"
         name="t24 Launch Shortcuts"
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="com.temenos.t24.tools.eclipse.basic.t24unit.T24UnitShortcut"
            icon="icons/t24BlueImage.gif"
            id="T24UnitShortcut"
            label="T24UnitTest"
            modes="run">
              <contextualLaunch>
            <enablement>
               <with variable="selection">
                  <count value="+"/>
                  <iterate>
                   <or>
                    <and>
          				<test  property="org.eclipse.debug.ui.matchesPattern" value="*Test*.b"/>
          				<instanceof value="org.eclipse.core.resources.IFile"/>
          				</and>
        			 <and>
           				<test  property="org.eclipse.debug.ui.matchesPattern" value="*Test*"/>
         					<not>
         						<instanceof value="org.eclipse.core.resources.IFile"/>
          					</not>
         			</and>
        			</or>
	             </iterate>
               </with>
            </enablement>
         </contextualLaunch>
     </shortcut>
  </extension>
<extension
      point="org.eclipse.ui.navigator.navigatorContent">
   <actionProvider
         class="com.temenos.t24.tools.eclipse.basic.navigator.actions.T24NewActionProvider"
         id="com.odcgroup.workbench.ui.navigator.action.newT24Action"
         priority="high">
      <enablement></enablement>
   </actionProvider>
</extension>
 <extension
       id="com.odcgroup.tafj.activities"
       name="TAFJ Activities"
       point="org.eclipse.ui.activities">
   <activity
         id="com.odcgroup.tafj.activity"
         name="RTC Tools">
   </activity>
   <activityPatternBinding
         activityId="com.odcgroup.tafj.activity"
         isEqualityPattern="true"
         pattern="com.temenos.tafj.launcher/eclipse.tafj.actionset.InstallChangeSetActionDelegate">
   </activityPatternBinding>
</extension>
</plugin>
