<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="com.odcgroup.workbench.ui.natureExtension" name="com.odcgroup.workbench.ui.natureExtension" schema="src/main/resources/schema/com.odcgroup.workbench.ui.natureExtension.exsd"/>
   <extension-point id="com.odcgroup.workbench.ui.actionFilter" name="com.odcgroup.workbench.ui.actionFilter" schema="src/main/resources/schema/com.odcgroup.workbench.ui.actionFilter.exsd"/>
   <extension-point id="com.odcgroup.workbench.ui.modelImage" name="com.odcgroup.workbench.ui.modelImage" schema="src/main/resources/schema/com.odcgroup.workbench.ui.modelImage.exsd"/>

   <extension
         point="org.eclipse.ui.perspectives">
	  <perspective
          class="com.odcgroup.workbench.ui.internal.perspective.OfsPerspective"
          icon="icons/temenos_cube-16.png"
          id="com.odcgroup.workbench.ui.perspectives.ofs"
          name="Design">
	  </perspective>
   </extension>
   
   <extension point="org.eclipse.ui.views">
      <category
            id="OFS_View_Cat"
            name="Design Studio"
            >
      </category>
      <view
            allowMultiple="false"
            category="OFS_View_Cat"
            class="com.odcgroup.workbench.ui.internal.navigator.DSNavigator"
            icon="icons/temenos_cube-16.png"
            id="com.odcgroup.workbench.ui.navigator"
            name="DS Navigator"/>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
			contentProvider="com.odcgroup.workbench.ui.navigator.OfsContentProvider"
            icon="icons/temenos_cube-16.png"
            id="com.odcgroup.workbench.ui.navigator.content"
            labelProvider="com.odcgroup.workbench.ui.navigator.OfsLabelProvider"
            name="Design Studio Project Content"
            priority="higher"
            providesSaveables="true">
         <triggerPoints>
				<or>
					<adapt type="org.eclipse.core.resources.IProject" >
						<test property="org.eclipse.core.resources.projectNature" value="com.odcgroup.workbench.core.OfsNature"/>
					</adapt>
	               <instanceof
	                     value="com.odcgroup.workbench.core.IOfsElement">
	               </instanceof>
	               <instanceof
          				value="org.eclipse.core.resources.IWorkspaceRoot">
    				</instanceof>
 				</or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="com.odcgroup.workbench.core.IOfsElement">
               </instanceof>
               <instanceof value="org.eclipse.core.resources.IResource"/>
            </or>
         </possibleChildren>
         <dropAssistant
               class="com.odcgroup.workbench.ui.internal.navigator.OfsModelDropAdapterAssistant"
               id="com.odcgroup.workbench.ui.navigator.dropAssistant">
            <possibleDropTargets>
               <adapt type="org.eclipse.core.resources.IFolder"/>
            </possibleDropTargets>
         </dropAssistant>
         <!-- commonSorter
               class="com.odcgroup.workbench.ui.internal.navigator.sorter.OdysseyViewerSorter"
               id="com.odcgroup.workbench.ui.navigator.sorter">
         </commonSorter -->
      </navigatorContent>
      <commonFilter
            activeByDefault="true"
            class="com.odcgroup.workbench.ui.internal.navigator.filter.OfsResourceFilter"
            description="Filters internal Design Studio project resources"
            id="com.odcgroup.workbench.ui.navigator.resoúrceFilter"
            name="Design Studio internal project resources">
      </commonFilter>
     <actionProvider
            class="com.odcgroup.workbench.ui.internal.navigator.RefreshActionProvider"
            id="com.odcgroup.workbench.ui.navigator.be.action.refresh">
         <enablement>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IProject">
               </adapt>
               <adapt
                     type="org.eclipse.core.resources.IResource">
               </adapt>
            </or>
         </enablement>
      </actionProvider>
      <actionProvider
            class="com.odcgroup.workbench.ui.internal.navigator.OpenActionProvider"
            id="com.odcgroup.workbench.ui.navigator.action.open">
         <enablement>
            <or>
               <adapt
                  type="com.odcgroup.workbench.core.IOfsModelResource">
               </adapt>
               <instanceof
                     value="org.eclipse.core.resources.IResource">
               </instanceof>
            </or>
         </enablement>
      </actionProvider>
      <actionProvider
            class="com.odcgroup.workbench.ui.internal.navigator.NewPackageActionProvider"
            id="com.odcgroup.workbench.ui.navigator.action.newPackageAction">
         <enablement>
            <or>
               <adapt
                     type="com.odcgroup.workbench.core.IOfsModelFolder">
               </adapt>
               <adapt
                     type="com.odcgroup.workbench.core.IOfsModelPackage">
	               </adapt>
            </or>
         </enablement>
      </actionProvider>
      <actionProvider
            class="com.odcgroup.workbench.ui.internal.navigator.ProjectExportActionProvider"
            id="com.odcgroup.workbench.ui.navigator.be.action.exportAction">
         <enablement>
            <adapt
                  type="com.odcgroup.workbench.core.IOfsProject">
            </adapt>
         </enablement>
      </actionProvider>
      <actionProvider
            class="com.odcgroup.workbench.ui.internal.navigator.EditActionProvider"
            id="com.odcgroup.workbench.ui.navigator.action.editAction">
         <enablement>
            <and>
               <or>
	               <instanceof
	                     value="com.odcgroup.workbench.core.IOfsModelPackage">
	               </instanceof>
	               <instanceof
	                     value="com.odcgroup.workbench.core.IOfsModelResource">
	               </instanceof>
			   </or>
               <test
                     forcePluginActivation="true"
                     property="com.odcgroup.workbench.core.scope"
                     value="1"/>
            </and>
         </enablement>
      </actionProvider>
      <actionProvider
            class="org.eclipse.ui.internal.navigator.resources.actions.RefactorActionProvider"
            id="com.odcgroup.workbench.ui.navigator.pe.action.refactorAction">
         <enablement>
            <and>
               <or>
	               <instanceof
	                     value="com.odcgroup.workbench.core.IOfsModelPackage">
	               </instanceof>
	               <instanceof
	                     value="com.odcgroup.workbench.core.IOfsModelResource">
	               </instanceof>
			   </or>
               <test
                     forcePluginActivation="true"
                     property="com.odcgroup.workbench.core.scope"
                     value="1"/>
            </and>
         </enablement>
      </actionProvider>
      <actionProvider
            class="com.odcgroup.workbench.ui.internal.navigator.ShowDepResourcesActionProvider"
            id="com.odcgroup.workbench.ui.navigator.action.showDepResources"
            priority="normal">
         <enablement></enablement>
      </actionProvider>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding viewerId="com.odcgroup.workbench.ui.navigator">
         <includes>
            <contentExtension
                pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
				pattern="org.eclipse.ui.navigator.resources.filters.startsWithDot">
            </contentExtension>
            <contentExtension 
            	pattern="org.eclipse.ui.navigator.resources.linkHelper">
            </contentExtension>
            <contentExtension 
            	pattern="org.eclipse.ui.navigator.resources.workingSets">
            </contentExtension>
            <contentExtension
                pattern="org.eclipse.jdt.java.ui.javaContent">
            </contentExtension>
            <contentExtension
                isRoot="false"
                pattern="com.odcgroup.workbench.ui.navigator.*"/>
            <contentExtension
                isRoot="false"
                pattern="com.odcgroup.workbench.ui.odysseynavigator.*">
            </contentExtension>
            <contentExtension
                  pattern="com.odcgroup.workbench.ui.navigator.content">
            </contentExtension>
            <contentExtension pattern="org.eclipse.ui.navigator.resources.filters.*"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="com.odcgroup.workbench.ui.navigator">
         <includes>
            <actionExtension pattern="org.eclipse.ui.navigator.resources.PropertiesActionProvider"/>
            <actionExtension pattern="com.odcgroup.mdf.editor.ui.actions.MdfActionProvider"/>
            <actionExtension pattern="com.odcgroup.workbench.ui.navigator.action.*"/>
            <actionExtension
                  pattern="de.visualrules.ui.navigator.internal.provider.NavigatorActionProvider">
            </actionExtension>
<!--            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.ResourceMgmtActions">
            </actionExtension>
-->
                  <actionExtension
                        pattern="com.odcgroup.workbench.ui.navigator.be.action.*">
                  </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewer viewerId="com.odcgroup.workbench.ui.navigator">
         <popupMenu
               allowsPlatformContributions="false"
               id="com.odcgroup.workbench.ui.navigator.popupmenu">
            <insertionPoint
                  name="group.top"
                  separator="false">
            </insertionPoint>
            <insertionPoint
                  name="group.new"
                  separator="true"/>
            <insertionPoint
                  name="group.open"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.openWith"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.edit"
                  separator="true"/>
            <insertionPoint
                  name="group.reorganize"
                  separator="true"/>
            <insertionPoint
                  name="group.port"
                  separator="true"/>
            <insertionPoint name="additions"/>
            <insertionPoint
                  name="group.build"
                  separator="true"/>
            <insertionPoint
                  name="group.properties"
                  separator="true"/>
            <insertionPoint
                  name="group.generate"
                  separator="true"/>
            <insertionPoint
                  name="group.search"
                  separator="true"/>
         </popupMenu>
      </viewer>
      <dragAssistant
            class="org.eclipse.ui.navigator.resources.ResourceDragAdapterAssistant"
            viewerId="com.odcgroup.workbench.ui.navigator">
      </dragAssistant>
   </extension>
<!-- DS-2003: deactivate contributions to the Project Explorer
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer viewerId="org.eclipse.ui.navigator.ProjectExplorer"/>
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
                  isRoot="false"
                  pattern="com.odcgroup.workbench.ui.navigator.*"/>
         </includes>
     </viewerContentBinding>
     <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension pattern="com.odcgroup.workbench.ui.navigator.action.*"/>
            <actionExtension
                  pattern="com.odcgroup.workbench.ui.navigator.pe.action.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
-->
       <extension
             point="org.eclipse.ui.newWizards">
          <category
                id="com.odcgroup.workbench"
                name="%ofs.wizard.name">
          </category>
      <wizard
            category="com.odcgroup.workbench"
            class="com.odcgroup.workbench.ui.internal.wizards.TemplateWizard"
            finalPerspective="com.odcgroup.workbench.ui.perspectives.ofs"
            icon="icons/new_project.gif"
            id="com.odcgroup.workbench.ui.wizards.NewTemplateWizard"
            name="Design Studio Template Projects"
            preferredPerspectives="com.odcgroup.workbench.ui.perspectives.ofs"
            project="true">
         <description>
            Create projects based on Design Studio Template Projects
         </description>
      </wizard>
       </extension>
       
      <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="com.odcgroup.workbench.ui.internal.properties.OfsPropertyPage"
            icon="icons/temenos_cube-16.png"
            id="com.odcgroup.workbench.properties.ofs"
            name="Design Studio"
            >
         <filter
               name="nature"
               value="com.odcgroup.workbench.core.OfsNature"/>
         <enabledWhen>
               <adapt type="org.eclipse.core.resources.IProject"/> 
         </enabledWhen>
      </page>
   </extension>
   <!-- DS-1593 -->
   <extension point="org.eclipse.ui.navigator.linkHelper">
      <linkHelper
            id="com.odcgroup.workbench.ui.navigator.LinkHelper"
            class="com.odcgroup.workbench.ui.navigator.OfsLinkHelper">
         <editorInputEnablement>
         <and>
               <instanceof value="org.eclipse.ui.IEditorInput"/>
            </and>
         </editorInputEnablement>
         <selectionEnablement>
           <and>
               <instanceof
                     value="com.odcgroup.workbench.core.IOfsElement">
               </instanceof>
            </and>
         </selectionEnablement>
      </linkHelper>
   </extension>

   <extension point="org.eclipse.core.runtime.preferences">
      <initializer class="com.odcgroup.workbench.ui.internal.preferences.WorkbenchPreferenceInitializer"/>
   </extension>
   <!-- DS-1593 -->
   
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.odcgroup.workbench.ui.internal.properties.OfsPropertyPage"
            id="com.odcgroup.workbench.preferences.ofs"
            name="Design Studio"/>
   </extension>
      <extension
            point="org.eclipse.ui.ide.projectNatureImages">
         <image
               icon="icons/ofs_deco.png"
               id="com.odcgroup.workbench.core.OfsNatureImage"
               natureId="com.odcgroup.workbench.core.OfsNature">
         </image>
      </extension>
<!--      
      	<extension
			point="org.eclipse.ui.navigator.navigatorContent">
		<navigatorContent
				activeByDefault="true"
				contentProvider="org.eclipse.jdt.internal.ui.navigator.JavaNavigatorContentProvider"
				icon="icons/appl.gif"
				id="com.odcgroup.workbench.ui.odysseynavigator.javaContent"
				labelProvider="org.eclipse.jdt.internal.ui.navigator.JavaNavigatorLabelProvider"
				name="Design Studio Java Content"
				priority="high">
			<triggerPoints>
				<or>
					<adapt type="org.eclipse.core.resources.IProject" >
						<test property="org.eclipse.core.resources.projectNature" value="org.eclipse.jdt.core.javanature"/>
					</adapt>
					<instanceof	value="org.eclipse.core.resources.IResource" />
					<instanceof value="org.eclipse.jdt.core.IJavaElement" />
					<instanceof value="org.eclipse.jdt.core.IJarEntryResource" />
					<instanceof value="org.eclipse.jdt.internal.ui.packageview.PackageFragmentRootContainer" />
 				</or>
			</triggerPoints>
			<possibleChildren>
				<or>
					<instanceof	value="org.eclipse.core.resources.IResource" />
					<instanceof value="org.eclipse.jdt.core.IJavaElement" />
					<instanceof value="org.eclipse.jdt.core.IJarEntryResource" />
				</or>
			</possibleChildren> 
					   
			<override
					policy="InvokeAlwaysRegardlessOfSuppressedExt"
					suppressedExtensionId="org.eclipse.ui.navigator.resourceContent"/>
		   
  			<dropAssistant
    			class="org.eclipse.jdt.internal.ui.navigator.JavaDropAdapterAssistant"
   				id="org.eclipse.jdt.ui.dropAssistant">
 				<possibleDropTargets>
    				<or>
       					<instanceof value="org.eclipse.core.resources.IResource"/>
       					<instanceof value="org.eclipse.jdt.core.IJavaElement"/>
    				</or>
 				</possibleDropTargets>
 			</dropAssistant>		   
		</navigatorContent>
		    <commonFilter
		        activeByDefault="true"
		        class="com.odcgroup.workbench.ui.internal.navigator.filter.DefaultPackageFilter"
		        name="Design Studio default package"
		        description="Hides default package"
		        id="com.odcgroup.workbench.ui.odysseynavigator.filters.HideEmptyInnerPackages"/>
   </extension>
-->
      <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="com.odcgroup.workbench.ui.internal.markers.OfsMarkerResolutionGenerator"
            markerType="com.odcgroup.workbench.core.OfsProblem">
      </markerResolutionGenerator>
   </extension>

   <extension point="org.eclipse.ui.themes">
     <themeElementCategory
           id="com.odcgroup.workbench.ui.theme"
           label="Design Studio"/>
      <colorDefinition
            categoryId="com.odcgroup.workbench.ui.theme"
            id="com.odcgroup.workbench.ui.colorDependencies"
            isEditable="true"
            label="Colored labels - models in dependent project"
            value="192,192,192"> <!-- DS-1613 changed the color to gray -->
      </colorDefinition>
   </extension>

   <extension
         point="org.eclipse.ui.ide.markerSupport">
      <markerTypeCategory
            name="Design Studio Problems">
         <markerTypeReference
               id="com.odcgroup.workbench.core.OfsProblem">
         </markerTypeReference>
      </markerTypeCategory>
   </extension>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Java Action Set"
            description="ActionSet for Java"
            visible="false"
            id="com.odcgroup.workbench.ui.javaactionset">
         <action
               id="openType"
               class="org.eclipse.jdt.internal.ui.actions.OpenTypeAction"
               definitionId="org.eclipse.jdt.ui.navigate.open.type"
               label="Open Type">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:file?before=import">
         <command
               commandId="com.odcgroup.workbench.ui.importProjects.command"
               icon="icons/temenos_cube-16.png"
               id="importProjects"
               label="Import Projects..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <test
                     property="com.odcgroup.workbench.ui.perspective"
                     value="com.odcgroup.workbench.ui.perspectives.ofs">
               </test>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.odcgroup.workbench.ui.command.ImportProjectHandler"
            description="Opens directly the &quot;import projects&quot; wizard"
            id="com.odcgroup.workbench.ui.importProjects.command"
            name="Import Projects">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.odcgroup.workbench.ui.internal.properties.PerspectivePropertyTester"
            id="com.odcgroup.workbench.ui.perspectiveTest"
            namespace="com.odcgroup.workbench.ui"
            properties="perspective"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="false"
            class="com.odcgroup.workbench.ui.internal.navigator.ProblemDecorator"
            id="com.odcgroup.workbench.ui.decorator"
            label="Model Validation Problem"
            lightweight="false"
            location="BOTTOM_LEFT"
            state="true">
         <enablement>
            <objectClass
                  name="com.odcgroup.workbench.core.IOfsElement">
            </objectClass>
         </enablement>
      </decorator>
   </extension>
    <extension
         id="com.odcgroup.workbench.ui.javaProblem"
         name="Java Project Configuration Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
    <extension
         point="org.eclipse.ui.ide.markerSupport">
      <markerTypeCategory
            name="Design Studio Problems">
         <markerTypeReference
               id="com.odcgroup.workbench.ui.javaProblem">
         </markerTypeReference>
      </markerTypeCategory>
   </extension>
 <extension point="org.eclipse.ui.startup">
    <startup></startup>
   </extension>
 <extension
       point="org.eclipse.ui.ide.markerResolution">
    <markerResolutionGenerator
          class="com.odcgroup.workbench.ui.internal.markers.JavaProblemResolutionGenerator"
          markerType="com.odcgroup.workbench.ui.javaProblem">
    </markerResolutionGenerator>
 </extension>
 <extension
       point="org.eclipse.ui.editors">
    <editor
          class="com.odcgroup.workbench.ui.internal.pomeditor.FilteredPomEditor"
          extensions="xml"
          filenames="pom.xml"
          icon="icons/link.png"
          id="com.odcgroup.workbench.ui.internal.pomeditor.FilteredPomEditor"
          name="Filtered Pom Editor">
    </editor>
 </extension>
	<extension point="org.eclipse.ui.popupMenus">
		<objectContribution adaptable="true"
			id="com.odcgroup.ocs.resourceContributions"
			objectClass="org.eclipse.core.resources.IResource">
			<menu
         icon="icons/temenos_cube-16.png"
         id="com.odcgroup.ocs"
         label="Design Studio"
         path="additions">
				<groupMarker name="additions" />
    <separator
          name="validation">
    </separator>
    <separator
          name="generationSeparator">
    </separator>
    <groupMarker
          name="documentation">
    </groupMarker>
    <groupMarker
          name="generation">
    </groupMarker>
    <separator
          name="migration">
    </separator>
			</menu>
		</objectContribution>
	</extension>
 <extension
       point="org.eclipse.ui.preferencePages">
    <page
          category="com.odcgroup.workbench.preferences.ofs"
          class="com.odcgroup.workbench.ui.internal.properties.OfsPropertyPage"
          id="com.odcgroup.workbench.dsl.preferences"
          name="DSL Editors">
    </page>
 </extension>
 <extension
       point="org.eclipse.xtext.builder.participant">
    <participant
          class="com.odcgroup.workbench.ui.internal.builder.OfsXtextBuilderParticipant">
    </participant>
 </extension>
 <extension
       point="org.eclipse.xtext.ui.shared.overridingGuiceModule">
    <module
       class="com.odcgroup.workbench.ui.xtext.SharedModule2">
    </module>
 </extension> 
</plugin>
