<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.odcgroup.workbench.generation.m2cCartridge">
      <cartridge
            category="API Dynamic (Domain)"
            class="com.odcgroup.mdf.entity.generator.BootstrapCodeGenerator"
            enabledByDefault="false"
            id="com.odcgroup.mdf.entity.bootstrap.generator"
            name="MDF Bootstrap">
      </cartridge>
      <!-- It has been decided to disable the Class cartridge as it is not
      supported by the Triple'A Plus DynaBean feature for now
      <cartridge
            category="API Dynamic (Domain)"
            class="com.odcgroup.mdf.entity.generator.ClassCodeGenerator"
            enabledByDefault="false"
            id="com.odcgroup.mdf.entity.class.generator"
            name="Class">
      </cartridge>-->
      <cartridge
            category="API Dynamic (Domain)"
            class="com.odcgroup.mdf.entity.generator.DatasetCodeGenerator"
            enabledByDefault="false"
            id="com.odcgroup.mdf.entity.dataset.generator"
            name="Dataset">
      </cartridge>
      <cartridge
            category="API Dynamic (Domain)"
            class="com.odcgroup.mdf.entity.generator.EnumCodeGenerator"
            enabledByDefault="false"
            id="com.odcgroup.mdf.entity.enum.generator"
            name="Enum">
      </cartridge>
   </extension>

</plugin>
