<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

  <extension-point 
  		id="com.odcgroup.page.model.symbols.expander" 
  		name="Symbol Expander" 
  		schema="src/main/resources/schema/com.odcgroup.page.model.symbols.expander.exsd"/>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.odcgroup.com/page/model" 
       class = "com.odcgroup.page.model.ModelPackage"
       genModel = "model/PageModel.genmodel" /> 
  </extension>
  
  <extension
        point="org.eclipse.core.runtime.preferences">
     <initializer
           class="com.odcgroup.page.model.preferences.PageModelPreferenceInitializer">
     </initializer>
  </extension>
  
  	<extension point="com.odcgroup.workbench.core.model">
	     <model
	      name="fragment"
	      initializer="com.odcgroup.page.model.init.FragmentProjectInitializer" />
	</extension> 
	
	<extension point="com.odcgroup.workbench.core.model">
	     <model
	      name="module"
	      initializer="com.odcgroup.page.model.init.ModuleProjectInitializer" />
	</extension> 
	
	<extension point="com.odcgroup.workbench.core.model">
	     <model
	      name="page"
	      initializer="com.odcgroup.page.model.init.PageProjectInitializer" />
	</extension>  
  
  	<extension 
		point="com.odcgroup.page.model.symbols.expander">
		<expander name="Page Designer Symbol Expander"
        		  description="bla bla"
        		  symbol-pattern="[a-z]([\-]?[a-z0-9])*"
        		  symbol-prefix="\$\{"
        		  symbol-suffix="\}"
        	      class="com.odcgroup.page.model.symbols.impl.DefaultSymbolExpander">
	        <symbol	name="tabid"
	        		description="this symbol will be replace by the tab id"
	        		class="com.odcgroup.page.model.symbols.impl.TabIdSymbolResolver"/>
	        <symbol	name="corporatehalign"
	        		description="this symbol will be replace by the corporate horizontal alignment"
	        		class="com.odcgroup.page.model.symbols.impl.CorporateHAlignSymbolResolver"/>
	        <symbol	name="corporate-table-page-size"
	        		description="this symbol will be replace by the corporate table page size"
	        		class="com.odcgroup.page.model.symbols.impl.CorporateTablePageSizeSymbolResolver"/>
        </expander>           
	</extension>
  
   <extension
         point="com.odcgroup.translation.provider">
      <provider
            id="com.odcgroup.page.model.translation.widgetprovider"
            name="Widget Translation Provider"
            class="com.odcgroup.page.model.translation.WidgetTranslationProvider"
            filter="com.odcgroup.page.model.translation.WidgetTranslationFilter"
            natureId="org.eclipse.jdt.core.javanature"
            priority="2">
          <kind  name="NAME" display="Label"/>
          <kind  name="TEXT" display="ToolTip"/>
          <input type="com.odcgroup.page.model.Widget"/> 
      </provider>
      <provider
            id="com.odcgroup.page.model.translation.eventprovider"
            name="Event Translation Provider"
            class="com.odcgroup.page.model.translation.EventTranslationProvider"
            filter="com.odcgroup.page.model.translation.EventTranslationFilter"
            natureId="org.eclipse.jdt.core.javanature"
            priority="2">
          <kind  name="NAME" display="Label"/>
          <kind  name="TEXT" display="ToolTip"/>
          <input type="com.odcgroup.page.model.Event"/> 
      </provider>
   </extension>
   
   <extension
         point="com.odcgroup.translation.visitor">
      <provider
            id="com.odcgroup.page.model.translation.visitorprovider"
            name="Page Model Translation Visitor Provider"
            class="com.odcgroup.page.model.translation.PageTranslationModelVisitorProvider">
          <input type="com.odcgroup.page.model.Model"/> 
      </provider>
   </extension>

</plugin>

