<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            category="com.odcgroup.workbench.properties.ofs"
            class="com.odcgroup.workbench.generation.ui.internal.preferences.CodeGenerationPropertyPage"
            icon="icons/cog_go.png"
            id="com.odcgroup.workbench.properties.generation.code"
            name="Code Generation">
            <filter
               name="nature"
               value="com.odcgroup.workbench.core.OfsNature"/>
            <enabledWhen>
                 <adapt type="org.eclipse.core.resources.IProject"/> 
            </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="com.odcgroup.workbench"
            name="Design Studio"/>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="com.odcgroup.workbench"
            name="Design Studio"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="com.odcgroup.workbench.generation.ui.internal.preferences.PreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <actionProvider
            class="com.odcgroup.workbench.generation.ui.action.CodeGenerationActionProvider"
            id="com.odcgroup.workbench.ui.navigator.action.codeGeneration">
         <enablement>
            <and>
               <or>
                  <adapt
                     type="com.odcgroup.workbench.core.IOfsProject">
                  </adapt>
                  <adapt
                     type="org.eclipse.core.resources.IProject">
                  </adapt>
                  <and>
	                  <adapt
	                     type="com.odcgroup.workbench.core.IOfsElement">
	                  </adapt>
	                  <or>
		                  <and>
			                  <adapt
				                    type="com.odcgroup.workbench.core.IOfsModelPackage">
				              </adapt>
			                 <not> 
					         	 <test property="com.odcgroup.workbench.core.modelType" value="fragment"/>
				             </not>
				          </and>
		                  <and>
			                  <adapt
				                    type="com.odcgroup.workbench.core.IOfsModelFolder">
				              </adapt>
			                 <not>
					         	 <test property="com.odcgroup.workbench.core.modelType" value="fragment"/>
				             </not>
				          </and>
		                  <and>
			                  <adapt
				                    type="com.odcgroup.workbench.core.IOfsModelResource">
				              </adapt>
				         	 <not>
				         	 	<test property="com.odcgroup.workbench.core.modelType" value="fragment"/>
				         	 </not>
				          </and>
 			          </or>
			      </and>
                  <and>
				      <instanceof value="org.eclipse.core.resources.IFolder"/>
		         	  <test
                    property="org.eclipse.core.resources.name"
                    value="rules"/>
		          </and>
				  <and>
				      <instanceof value="org.eclipse.core.resources.IFile"/>
				      <test
                property="org.eclipse.core.resources.extension"
                value="translation"/>
				  </and>
      <and>
         <instanceof
               value="IResourceProvider">
         </instanceof>
      </and>
               </or>
               <test
                     property="com.odcgroup.workbench.core.nature"
                     value="com.odcgroup.workbench.generation.OfsTechnicalNature">
               </test>
            </and>
         </enablement>
      </actionProvider>
      <commonFilter
            activeByDefault="true"
            class="com.odcgroup.workbench.generation.ui.internal.filter.PackagingResourceFilter"
            description="internal files used for packaging and deployment to Triple'A Plus"
            id="com.odcgroup.workbench.ui.navigator.packagingFilter"
            name="Design Studio internal Triple'A Plus packaging resources (sketching projects only)">
      </commonFilter>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerSupport">
      <markerTypeCategory
            name="Design Studio Problems">
         <markerTypeReference
               id="com.odcgroup.workbench.generation.projectProblem">
         </markerTypeReference>
         <markerTypeReference
               id="com.odcgroup.workbench.generation.duplicatesProblem">
         </markerTypeReference>
      </markerTypeCategory>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/ofsgen_deco.png"
            id="com.odcgroup.workbench.generation.OfsTechnicalNatureImage"
            natureId="com.odcgroup.workbench.generation.OfsTechnicalNature">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="com.odcgroup.workbench.generation.ui.internal.marker.CodeGenMarkerResolutionGenerator"
            markerType="com.odcgroup.workbench.generation.projectProblem">
      </markerResolutionGenerator>
   </extension>
   
   <extension point="org.eclipse.ui.popupMenus">
		<objectContribution 
		      id="com.odcgroup.workbench.action.contribution.popup"
		      objectClass="org.eclipse.core.resources.IResource"
		      adaptable="true"
		      nameFilter="*"> 
		   <filter name="projectNature" value="com.odcgroup.workbench.core.OfsNature"/>
		   <filter name="projectNature" value="org.eclipse.jdt.core.javanature"/>
          <action
          	 id="com.odcgroup.workbench.action.contribution.navigator.codeGeneration" 
             label="Generate Code"
             icon="icons/cog_go.png"
             menubarPath="com.odcgroup.ocs/generation" 
             class="com.odcgroup.workbench.generation.ui.action.CodeGenerationAction"
             enablesFor="*">
          </action> 
   		</objectContribution>    		
    </extension>
    
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.odcgroup.workbench.generation.ui.internal.command.GenerateCodeHandler"
            id="com.odcgroup.workbench.generation.ui.GenerateCodeHandler"
            name="Generate Code">
         <commandParameter
               id="locationURI"
               name="locationURI"
               optional="false">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.odcgroup.workbench.generation.ui.internal.command.SaveAndGenerateHandler"
            id="com.odcgroup.workbench.generation.ui.SaveAndGenerate"
            name="Save and Generate">
      </command>
   </extension>
   <extension
         point="com.odcgroup.workbench.core.initializer">
      <initializer
            class="com.odcgroup.workbench.generation.ui.init.UICodeGenInitializer"
            id="com.odcgroup.workbench.generation.ui.natureExtension">
      </initializer>
   </extension>

</plugin>
