<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package  
       uri = "http://www.odcgroup.com/process" 
       class = "com.odcgroup.process.model.ProcessPackage"
       genModel = "model/process.genmodel" /> 
  </extension> 

	<extension point="com.odcgroup.workbench.core.model">
	     <model 
	      name="workflow" />
	</extension>
 <extension
       point="com.odcgroup.translation.provider">
    <provider
          class="com.odcgroup.process.model.translation.ProcessTranslationProvider"
          id="com.odcgroup.process.model.translation"
          name="Process Translation Provider"
          natureId="com.odcgroup.workbench.core.OfsNature"
          priority="2">
       <kind  name="NAME" display="Display Name"/>
       <kind  name="TEXT" display="Description"/>
       <input
             type="com.odcgroup.process.model.Task">
       </input>
       <input
             type="com.odcgroup.process.model.Process">
       </input>
    </provider>
 </extension>
   
   <extension
         point="com.odcgroup.translation.visitor">
      <provider
            id="com.odcgroup.process.model.translation.visitorprovider"
            name="Process Model Translation Visitor Provider"
            class="com.odcgroup.process.model.translation.ProcessTranslationModelVisitorProvider">
          <input type="com.odcgroup.process.model.Process"/> 
      </provider>
   </extension>
   
</plugin>

