<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="com.ose.optima"
   name="Optima"
   version="2.8.0"
   provider-name="Enea Software AB">

   <runtime>
      <library name="optima.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.ui.intro"/>
   </requires>

   <extension id="ide" point="org.eclipse.core.runtime.products">
      <product
            name="Optima"
            application="org.eclipse.ui.ide.workbench"
            description="%productBlurb">
         <property
            name="appName"
            value="Optima"/>
         <property
            name="windowImages"
            value="logo16.gif,logo32.png"/>
         <property
            name="aboutText"
            value="%productBlurb"/>
         <property
            name="aboutImage"
            value="about.gif"/>
         <property
            name="preferenceCustomization"
            value="plugin_customization.ini"/>
         <property
            name="startupProgressRect"
            value="0,345,430,15"/>
         <property
            name="startupMessageRect"
            value="5,320,420,20"/>
         <property
            name="startupForegroundColor"
            value="000000"/>
         <property
            name="introTitle"
            value="Welcome to Optima"/>
         <property
            name="introBrandingImage"
            value="product:logo48.png"/>
         <property
            name="introBrandingImageText"
            value="Optima"/>
         <property
            name="introDescription-overview"
            value="%introDescription-overview"/>
      </product>
   </extension>

   <extension
         point="org.eclipse.ui.intro">
      <introProductBinding
            introId="org.eclipse.ui.intro.universal"
            productId="com.ose.optima.ide">
      </introProductBinding>
   </extension>

   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="intro/overview-help.xml">
      </configExtension>
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="intro/overview-links.xml">
      </configExtension>
   </extension>
</plugin>
