<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.odcgroup.workbench.generation.m2cCartridge">
      <cartridge
            category="T24 Interaction Framework (RIM)"
            class="com.odcgroup.iris.rim.generation.T24ResourceModelsGenerator"
            enabledByDefault="true"
            id="com.odcgroup.iris.rim.generation.cartridge"
            name="Resource model (RIM) from T24 models">
      </cartridge>
   </extension>
   <extension
        point="org.eclipse.ui.bindings">
      <key
           commandId="com.odcgroup.workbench.generation.ui.SaveAndGenerate"
           contextId="com.temenos.interaction.rimdsl.ui.context"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
           sequence="M1+G">
      </key>
   </extension>
   <extension
        point="org.eclipse.ui.contexts">
      <context
           id="com.temenos.interaction.rimdsl.ui.context"
           name="RIM Context"
           parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>
</plugin>
