<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <category
            id="com.odcgroup.validation/page"
            mandatory="false"
            name="Page">
      </category>
      
      <constraintProvider
            cache="true">
         <package
               namespaceUri="http://www.odcgroup.com/page/model">
         </package>
         <constraints
               categories="com.odcgroup.validation/page">
            <constraint
                  class="com.odcgroup.page.validation.internal.constraint.PageWidgetConstraints"
                  id="com.odcgroup.page.validation.PageWidgetConstraints"
                  lang="Java"
                  mode="Batch"
                  name="Page Widget Constraints"
                  severity="ERROR"
                  statusCode="0">
               <message>
                  Page widget validation error
               </message>
               <target
                     class="Widget">
               </target>
            </constraint>
         </constraints>
      </constraintProvider>
      
      <constraintProvider
            cache="true">
         <package
               namespaceUri="http://www.odcgroup.com/page/model">
         </package>
         <constraints
               categories="com.odcgroup.validation/page">
            <constraint
                  class="com.odcgroup.page.validation.internal.constraint.PagePropertyConstraints"
                  id="com.odcgroup.page.validation.PagePropertyConstraints"
                  lang="Java"
                  mode="Batch"
                  name="Page Property Constraints"
                  severity="ERROR"
                  statusCode="0">
               <message>
                  Page property validation error
               </message>
               <target
                     class="Property">
               </target>
            </constraint>
         </constraints>
      </constraintProvider>
      
   </extension>

</plugin>
