<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.ide.markerSupport">
      <markerTypeCategory
            name="Design Studio Problems">
         <markerTypeReference
               id="com.odcgroup.workbench.validation.ProblemMarker">
         </markerTypeReference>
      </markerTypeCategory>
   </extension>
      <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="com.odcgroup.workbench.migration.ui.internal.markers.MigrationMarkerResolutionGenerator"
            markerType="com.odcgroup.workbench.migration.ProblemMarker">
      </markerResolutionGenerator>
   </extension>

</plugin>
