<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   
    <extension id="designstudio-common" point="org.eclipse.core.runtime.products"> 
      <product 
      	application="org.eclipse.ui.ide.workbench"
      	name="Design Studio Common"> 
         <property
               name="startupForegroundColor"
               value="FFFFFF">
         </property>
         <property
               name="startupProgressRect"
               value="3,230,495,15">
         </property>
         <property
               name="startupMessageRect"
               value="3,215,500,20">
         </property>
         <property
               name="appName"
               value="Design Studio for Triple&apos;A Plus">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization_ds_common.ini">
         </property>
         <property
               name="aboutImage"
               value="imgs/about_box.gif">
         </property>
         <property
               name="aboutText"
               value="%aboutText">
         </property>
         <property
               name="windowImages"
               value="icons/temenos_cube-16.png,icons/temenos_cube-32.png,icons/temenos_cube-48.png">
         </property>
      </product> 
    </extension>
   <extension
         id="ofs"
         name="Design Studio for Triple&apos;A Plus"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="*"
            thread="main"
            visible="true">
         <run
               class="com.odcgroup.workbench.rcpapp.Application">
         </run>
      </application>
   </extension>
</plugin>
