<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="com.ose.launch"
   name="Launching Support"
   version="1.0.2"
   provider-name="Enea Software AB"
   class="com.ose.launch.ui.LaunchUIPlugin">

   <runtime>
      <library name="launch.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="com.ose.gateway"/>
      <import plugin="com.ose.plugin.control"/>
      <import plugin="com.ose.pmd"/>
      <import plugin="com.ose.system"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.debug.ui"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.ui.ide"/>
   </requires>

   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            name="OSE C/C++ Postmortem Dump"
            delegate="com.ose.launch.DumpLaunchConfigurationDelegate"
            modes="run"
            public="true"
            id="com.ose.launch.dumpLaunch">
      </launchConfigurationType>
   </extension>

   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            icon="icons/obj16/c_app.gif"
            configTypeID="com.ose.launch.dumpLaunch"
            id="com.ose.launch.dumpLaunchImage">
      </launchConfigurationTypeImage>
   </extension>

   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            type="com.ose.launch.dumpLaunch"
            class="com.ose.launch.ui.DumpLaunchConfigurationTabGroup"
            id="com.ose.launch.dumpLaunchConfigurationTabGroup">
            <launchMode
               mode="run">
            </launchMode>
      </launchConfigurationTabGroup>
   </extension>

   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            id="com.ose.launch.dumpLaunchShortcut"
            class="com.ose.launch.DumpLaunchShortcut"
            modes="run"
            label="OSE C/C++ Postmortem Dump"
            icon="icons/obj16/c_app.gif">
            <contextualLaunch>
               <enablement>
                  <with variable="selection">
                     <count value="1"/>
                     <iterate>
                        <test property="org.eclipse.debug.ui.matchesPattern" value="*.pmd"/>
                     </iterate>
                  </with>
               </enablement>
            </contextualLaunch>
      </shortcut>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <command
            name="Run OSE C/C++ Postmortem Dump"
            description="Run OSE C/C++ Postmortem Dump"
            id="com.ose.launch.dumpLaunchShortcut.run"
            categoryId="org.eclipse.debug.ui.category.run">
      </command>
   </extension>

   <extension
         point="org.eclipse.ui.bindings">
      <key
            sequence="M3+M2+X D"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            commandId="com.ose.launch.dumpLaunchShortcut.run">
      </key>
   </extension>
</plugin>
