<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
	<modelVersion>4.0.0</modelVersion>

	<parent>
		<groupId>com.odcgroup.ds</groupId>
		<artifactId>common-config-generator</artifactId>
		<version>2015.8.0-SNAPSHOT</version>
		<relativePath>common-config/module.xml</relativePath>
	</parent>

	<groupId>com.odcgroup.ds</groupId>
	<artifactId>build-reactor</artifactId>
	<version>2015.8.0-SNAPSHOT</version>
	<packaging>pom</packaging>

	<properties>
		<b2.skipInterpolator>true</b2.skipInterpolator>
		<b2.aggregate.feature.sdk.filter>com.odcgroup.ds.**</b2.aggregate.feature.sdk.filter>
		<b2.modules>!tests</b2.modules>
		<sites>sdk</sites>
	</properties>

	<distributionManagement>
		<repository>
			<id>b2-releases</id>
			<url>file:////${user.home}/repository/releases</url>
		</repository>
		<snapshotRepository>
			<id>b2-snapshots</id>
			<url>file:////${user.home}/repository/snapshots</url>
		</snapshotRepository>
	</distributionManagement>

	<build>
		<extensions>
			<extension>
				<groupId>org.sourcepit.b2</groupId>
				<artifactId>b2-maven-plugin</artifactId>
				<version>0.1.0-alpha-1</version>
			</extension>
			<extension>
				<groupId>org.apache.maven.wagon</groupId>
				<artifactId>wagon-webdav-jackrabbit</artifactId>
				<version>1.0-beta-7</version>
			</extension>
		</extensions>
	</build>

	<profiles>
		<profile>
      <id>srcpit-repositories</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <pluginRepositories>
        <pluginRepository>
          <id>srcpit-public</id>
          <url>http://nexus.sourcepit.org/content/groups/public/</url>
        </pluginRepository>
      </pluginRepositories>
    </profile>
		<profile>
			<id>winOnly</id>
			<activation>
				<activeByDefault>false</activeByDefault>
			</activation>
			<build>
				<plugins>
					<plugin>
						<groupId>org.eclipse.tycho</groupId>
						<artifactId>target-platform-configuration</artifactId>
						<version>${tycho.version}</version>
						<configuration>
							<resolver>p2</resolver>
							<environments>
								<environment>
									<os>win32</os>
									<ws>win32</ws>
									<arch>x86</arch>
								</environment>
							</environments>
						</configuration>
					</plugin>
				</plugins>
			</build>
		</profile>
		<profile>
			<id>linuxOnly</id>
			<activation>
				<activeByDefault>false</activeByDefault>
			</activation>
			<build>
				<plugins>
					<plugin>
						<groupId>org.eclipse.tycho</groupId>
						<artifactId>target-platform-configuration</artifactId>
						<version>${tycho.version}</version>
						<configuration>
							<resolver>p2</resolver>
							<environments>
								<environment>
									<os>linux</os>
									<ws>gtk</ws>
									<arch>x86_64</arch>
								</environment>
							</environments>
						</configuration>
					</plugin>
				</plugins>
			</build>
		</profile>

	</profiles>
</project>
