<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <actionProvider
            class="com.odcgroup.translation.generation.ui.internal.actions.TranslationGenerationActionProvider"
            id="com.odcgroup.workbench.ui.navigator.action.translationCodeGeneration">
         <enablement>
            <and>
               <instanceof
                     value="com.odcgroup.translation.ui.navigator.TranslationNode">
               </instanceof>
               <test
                     property="com.odcgroup.workbench.core.nature"
                     value="com.odcgroup.workbench.generation.OfsTechnicalNature">
               </test>
            </and>
         </enablement>
      </actionProvider>
   </extension>
</plugin>
