*------------------------------------------------------------------------------------------
* Insert describing the complex type: ResponseDetails
*------------------------------------------------------------------------------------------
* Generated Insert - DO NOT CHANGE
*------------------------------------------------------------------------------------------

EQU responseDetails.returnCode  TO responseDetails<1> ;* String: SUCCESS or FAILURE (for overall Operation)
EQU responseDetails.serviceName TO responseDetails<2> ;* String: Name of service
EQU responseDetails.responses TO responseDetails<3>   ;* Multivalued list of responses

    