## BasicClassInsert.vm
*----------------------------------------------------------------------------------------
* Insert describing the complex type: $classDef used by the service: $service 
*----------------------------------------------------------------------------------------
* Generated Insert - DO NOT CHANGE 
*----------------------------------------------------------------------------------------
#foreach($attribute in $attributeList)
EQU $classDef.$attribute.getName() TO $velocityCount
#end

*----------------------------------------------------------------------------------------
