*------------------------------------------------------------------------------------------
* Insert describing the complex type: Response
*------------------------------------------------------------------------------------------
* Generated Insert - DO NOT CHANGE
*------------------------------------------------------------------------------------------

EQU response.messageCode TO response<1> ;* (Integer)
EQU response.messageType TO response<2> ;* (String)
                                                *  FATAL.ERROR, NON.FATAL.ERROR, WARNING or MESSAGE
EQU response.messageText TO response<3> ;* (String)
EQU response.messageInfo TO response<4> ;* (String)
    