#set($stdClassRefList = ${service.getStdClsRefListInAdaptorCpp()})
#foreach($stdClassRef in $stdClassRefList)
\#include <${stdClassRef}>
#end

\#include <VARObject.h>
\#include <Logger.h>
\#include <SOAException.h>
\#include <JBCVarHandler.h>
\#include <SOAResponseDetailHandler.h>
\#include <T24ContextCallbackFactory.h>

// Include TAFC session support.
\#include "TAFCSession.h"

#set($temenosClassRefList = ${service.getTemenosClsRefListInAdaptorCpp()})
#foreach($temenosClassRef in $temenosClassRefList)
\#include "${temenosClassRef}.h"
#end
#set($userClassRefList = ${service.getUserClsRefListInAdaptorCpp()})
#foreach($userClassRef in $userClassRefList)
\#include "${userClassRef}.h"
#end

\#include "${service.getServiceProxyName()}.h" 
\#include "${service.getServiceProxyAdaptorName()}.h"

namespace temenos {${formatter.indent()}
  namespace soa {${formatter.indent()}
    namespace ${service.getNamespace()} {${formatter.indent()}

#set($umlOperationList = ${service.getGenOperations()})
#foreach($umlOperation in $umlOperationList)
${umlOperation.defineCppProxyAdaptor()}
#end

  	}${formatter.outdent()}
  }${formatter.outdent()}
}${formatter.outdent()}