#set($stdClassRefList = ${umlClass.getStdClsRefListInBOHandlerCpp()})
#foreach($stdClassRef in $stdClassRefList)
\#include <${stdClassRef}>
#end

#set($temenosClassRefList = ${umlClass.getTemenosClsRefListInBOHandlerCpp()})
#foreach($temenosClassRef in $temenosClassRefList)
\#include <${temenosClassRef}.h>
#end

\#include <VARObject.h>
\#include <Logger.h>
\#include <SOAException.h>
\#include <JBCVarHandler.h>

#set($userClassRefList = ${umlClass.getUserClsRefListInBOHandlerCpp()})
#foreach($userClassRef in $userClassRefList)
\#include "${userClassRef}.h"
#end

\#include "${umlClass.getHandlerClassHeaderFileName()}"

namespace temenos {${formatter.indent()}
  namespace soa {${formatter.indent()}
    namespace ${namespace} {${formatter.indent()}

#set($members = ${umlClass.getMembers()})
#foreach($member in $members)
${member.defineCppIndexHelperVarInBOHandler()}

#end

${umlClass.defineBOToJBCVarMethod()}

${umlClass.defineJBCVarToBOMethod()}

	}${formatter.outdent()}
  }${formatter.outdent()}
}${formatter.outdent()}

