\#include "${umlClass.getDotNetClassName()}.h"

#set($dotNetUserClassRefList = ${umlClass.getDotNetUserClsRefListInBO()})
#foreach($dotNetUserClassRef in $dotNetUserClassRefList)
\#include "${dotNetUserClassRef}.h"
#end

namespace temenos {${formatter.indent()}
  namespace soa {${formatter.indent()}
    namespace ${namespace} {${formatter.indent()}
	
${umlClass.defineDotNetDefaultConstructor()}
${umlClass.defineDotNetConstructor()}
${umlClass.defineDotNetDestructor()}

#set($members = ${umlClass.getMembers()})
#foreach($member in $members)
${member.defineDotNetProperty()}
#end
	  }${formatter.outdent()}
  }${formatter.outdent()}
}${formatter.outdent()}

