#ifndef SOA_${umlClass.getMarshalClassName().toUpperCase()}_H
\#define SOA_${umlClass.getMarshalClassName().toUpperCase()}_H

\#include <vector>
\#include <msclr/gcroot.h>

\#include "${umlClass.getParent().getDotNetDLLDeclHeaderName()}"

using System::Collections::Generic::List;
using msclr::gcroot;

namespace temenos {${formatter.indent()}
  namespace soa {${formatter.indent()}
    namespace ${namespace} {${formatter.indent()}
    class ${umlClass.getCppClassName()};
    ref class ${umlClass.getDotNetClassName()};

    class DLLDECL ${umlClass.getMarshalClassName()} {${formatter.indent()}
    public:
${umlClass.declareMarshalBO()}
${umlClass.declareMarshalBOCollection()}
${umlClass.declareUnmarshalBO()}
${umlClass.declareUnmarshalBOCollection()}
      };${formatter.outdent()}
    }${formatter.outdent()}
  }${formatter.outdent()}
}${formatter.outdent()}


#endif