\#include "${umlClass.getMarshalClassName()}.h"

\#include <${umlClass.getCppClassName()}.h>
#set($cppTemenosUserClsRefList = ${umlClass.getCppTemenosUserClsRefListInHelperCpp()})
#foreach($cppTemenosUserClsRef in $cppTemenosUserClsRefList)
\#include <${cppTemenosUserClsRef}.h>
#end

#set($cppUserClsRefList = ${umlClass.getCppUserClsRefListInHelperCpp()})
#foreach($cppUserClsRef in $cppUserClsRefList)
\#include "${cppUserClsRef}.h"
#end

\#include "${umlClass.getDotNetClassName()}.h"
#set($dotNetUserClsRefList = ${umlClass.getDotNetUserClsRefListInHelperCpp()})
#foreach($dotNetUserClsRef in $dotNetUserClsRefList)
\#include "${dotNetUserClsRef}.h"
#end


namespace temenos {${formatter.indent()}
  namespace soa {${formatter.indent()}
    namespace ${namespace} {${formatter.indent()}
	
${umlClass.defineMarshalBO()}
${umlClass.defineMarshalBOCollection()}
${umlClass.defineUnmarshalBO()}
${umlClass.defineUnmarshalBOCollection()}

	  }${formatter.outdent()}
  }${formatter.outdent()}
}${formatter.outdent()}

