## DDOTNET_WCFServiceCS.vm

// Standard Imports
using System;
using System.Collections.Generic;
using System.Linq;
using System.Runtime.Serialization;
using System.ServiceModel;
using System.ServiceModel.Web;
using System.Text;

using temenos.soa.common;

namespace temenos {${formatter.indent()}
  namespace soa {${formatter.indent()}
    namespace ${service.getNamespace()} {${formatter.indent()}
		[ServiceContract]
        public interface I${service.getServiceName()}WS
        {
#set( $operationList = $service.getGenOperations())
#foreach($operation in $operationList)
${operation.defineDotNetWCFOperationContract()}
#end
		}
	}${formatter.outdent()}
  }${formatter.outdent()}
}${formatter.outdent()}