## DOTNET_WCFServiceSVCMarkupXML.vm
<%@ ServiceHost Language="C#" Debug="true" 
	Service="temenos.soa.${service.getNamespace()}.${service.getServiceName()}WS" 
	CodeBehind="${service.getServiceName()}WS.svc.cs" %>