## JavaServiceResponseClass.vm
package ${service.getOperationDataResponsePackageName()};

import java.io.Serializable;
#foreach($outParam in $outParamList) 
#if(${outParam.getComplexity()} == "COMPLEX")
import ${service.getPackageName()}.data.${outParam.getTypeName()};
#end
#end
import com.temenos.soa.services.data.ResponseDetails;

public class $className implements Serializable {
	// Java Serialization
	private static final long serialVersionUID = ${operation.getOpResClassSerialVersionUID()}L;

#foreach($outParam in $outParamList)
#if(${outParam.getCardinality()} == "SINGLE")
    ${outParam.getTypeName()} ${outParam.getName()};
#else
    ${outParam.getTypeName()}[] ${outParam.getName()};
#end
#end
    ResponseDetails responseDetails;


#foreach($outParam in $outParamList)
#if(${outParam.getCardinality()} == "SINGLE")
    public ${outParam.getTypeName()} get${outParam.getUpperCamelCaseName()}() {
#else
    public ${outParam.getTypeName()}[] get${outParam.getUpperCamelCaseName()}() {
#end
        return ${outParam.getName()};
    }

#if(${outParam.getCardinality()} == "SINGLE")
    public void set${outParam.getUpperCamelCaseName()}(${outParam.getTypeName()} ${outParam.getName()}) {
#else
    public void set${outParam.getUpperCamelCaseName()}(${outParam.getTypeName()}[] ${outParam.getName()}) {
#end
        this.${outParam.getName()} = ${outParam.getName()};
    }
#end
    
    public ResponseDetails getResponseDetails() {
        return responseDetails;
    }

    public void setResponseDetails(ResponseDetails responseDetails) {
        this.responseDetails = responseDetails;
    }
}