## Java_ProxyServiceAPI.vm
package ${service.getPackageName()};

// T24 ResponseDetails
import com.temenos.soa.services.UserContextCallBack;

/** This interface is the gateway to call T24 Impl within TAFJ system **/
public interface ${service.getName()}ProxyAPI extends ${service.getName()} {

	// Security context can be useful for external calls
	void setSecurityContext(UserContextCallBack userContextCallBack);
}
