## JavaProviderInterface.vm
package ${service.getPackageName()};

// Soaframework Classes
import com.temenos.soa.services.UserContextCallBack;


// Service INTERFACE
import ${service.getPackageName()}.${service.getName()};

public interface ${service.getName()}${provider}API extends ${service.getName()} {

	// Extra operation which will be part of Provider Implementation
	void setUserContextCallBack(UserContextCallBack userContextCallback);
	UserContextCallBack getUserContextCallBack();
}
