## Java_ServiceAPI.vm
package ${service.getPackageName()};

// Soaframework import
import com.temenos.soa.services.tafj.TAFJServiceHandler;
import com.temenos.soa.services.UserContextCallBack;

/** This interface is the gateway to call T24 Impl within TAFJ system **/
public interface ${service.getName()}API extends ${service.getName()} {

	// Following are some extra functionality required by Java API which are not pure business functions.
	String getMetaData();
	void setServiceHandler(TAFJServiceHandler serviceHandler);
	TAFJServiceHandler getServiceHandler();
	void setUserContextCallBack(UserContextCallBack userContextCallback);
	UserContextCallBack getUserContextCallBack();
	void cleanup();
}
