## JavaWSRequestContext
package ${service.getWsPackageName()};

class ${webServiceName}RequestContext {
	private final static ThreadLocal<${webServiceName}RequestContext> currentContext = new ThreadLocal<${webServiceName}RequestContext>();

    public static void setRequestContext(${webServiceName}RequestContext context) {
        currentContext.set(context);
    }

    public static ${webServiceName}RequestContext getRequestContext() {
        return currentContext.get();
    }

    public static void clearRequestContext() {
        currentContext.remove();
    }
    
    private String userPrincipal;
    
    public ${webServiceName}RequestContext(String principal) {
    	this.userPrincipal = principal;
    }
    
    public String getUserPrincipal(){
    	return this.userPrincipal;
    }
}