## JavaEJBAPI.vm
package ${service.getPackageName()}.ejb;

// J2EE imports
import javax.ejb.${interfaceName};

// Service Complex Data Classes
import ${service.getDataPackageName()}.*;

// Service Operation Response Objects
#foreach($operation in ${service.getGenOperations()})
import ${service.getOperationDataResponsePackageName()}.${operation.getUpperName()}Response;
#end

@$interfaceName
public interface ${interfaceClassName} {
#foreach($operation in ${service.getGenOperations()})
    ${operation.getUpperName()}Response ${operation.getLowerName()}(${operation.getOperationParamsForRMI()});
#end
	void cleanup();
}