<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<!--
	Temenos Application Framework Runtime Environment : TAFC
	Following is the bean definition for TAFC System. Please uncomment following configuration
	if TAF runtime environment is TAFC.
	Bean definition are;
		${serviceName}Provider			: To load T24 Service Provider Implementation for TAFC system
	-->
	<bean id="${serviceName}Provider" class="${service.getPackageName()}.tafc.${service.getName()}ProviderImplTAFC" />
</beans>