## ProxyAdaptorInterface.vm
package com.temenos.t24;

import com.temenos.tafj.common.jSession;
import com.temenos.tafj.runtime.jRunTime;

public class ${tafjClassName} extends jRunTime
{
    public static jRunTime INSTANCE(jSession session)
    {
        return ${proxyAdaptorPackage}.${proxyAdaptorClassName}.INSTANCE(session);
    }
}