<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
                       
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.odcgroup.com/page/metamodel" 
       class = "com.odcgroup.page.metamodel.MetaModelPackage"
       genModel = "model/PageMetaModel.genmodel" /> 
  </extension>  
  <extension
        point="org.eclipse.core.runtime.preferences">
     <initializer
           class="com.odcgroup.page.preferences.PagePreferenceInitializer">
     </initializer>
  </extension>

   
</plugin>

