<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.debug.ui.DebugPerspective">
         <view
               closeable="false"
               id="com.cdt.keil.debug.ui.RegisterView"
               minimized="true"
               ratio="0.45"
               relationship="stack"
               relative="org.eclipse.ui.views.ContentOutline"
               showTitle="true"
               visible="false">
         </view>
         <view
               id="com.cdt.keil.debug.ui.SFRView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.console.ConsoleView"
               visible="false">
         </view>
         <view
               closeable="false"
               id="com.cdt.keil.debug.ui.FlashCodeMemoryView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.console.ConsoleView"
               showTitle="true"
               visible="false">
         </view>
         <view
               closeable="false"
               id="com.cdt.keil.debug.ui.FlashDataMemoryView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.console.ConsoleView"
               showTitle="true"
               visible="false">
         </view>
         <view
               closeable="false"
               id="com.cdt.keil.debug.ui.SRAMDataMemoryView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.console.ConsoleView"
               showTitle="true"
               visible="false">
         </view>
         <view
               closeable="false"
               id=" com.cdt.keil.debug.ui.ScratchpadRAMView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.console.ConsoleView"
               showTitle="true"
               visible="false">
         </view>
         <view
               closeable="false"
               id="com.cdt.keil.debug.ui.FlashSRAMBufferCodeView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.console.ConsoleView"
               showTitle="true"
               visible="false">
         </view>
         <view
               closeable="false"
               id="com.cdt.keil.debug.ui.FlashSRAMBufferDataView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.console.ConsoleView"
               showTitle="true"
               visible="false">
         </view>
         <view
               closeable="false"
               id="com.cdt.keil.debug.ui.ProgramSecurityMemory"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.console.ConsoleView"
               showTitle="true"
               visible="false">
         </view>
         <view
               closeable="false"
               id="com.cdt.keil.debug.ui.DataSecurityMemory"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.console.ConsoleView"
               showTitle="true"
               visible="false">
         </view>
         <view
               id="org.eclipse.cdt.ui.CView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.debug.ui.DebugView"
               showTitle="true"
               visible="false">
         </view>
         
      </perspectiveExtension>
      <perspectiveExtension
            targetID="com.cdt.managedbuilder.keil.ui.perspective">
            
            <view
               closeable="false"
               id="com.cdt.keil.debug.ui.RegisterView"
               ratio="0.45"
               relationship="stack"
               relative="org.eclipse.ui.views.PropertySheet"
               showTitle="true"
               visible="false">
         </view>
         <view
               closeable="false"
               id="com.cdt.keil.debug.ui.FlashCodeMemoryView"
               ratio="0.5"
               relationship="stack"
               relative="com.cdt.keil.debug.ui.RegisterView"
               showTitle="true"
               standalone="true"
               visible="false">
         </view>
         <view
               closeable="false"
               id="com.cdt.keil.debug.ui.FlashDataMemoryView"
               ratio="0.5"
               relationship="stack"
               relative="com.cdt.keil.debug.ui.RegisterView"
               showTitle="true"
               standalone="true"
               visible="false">
         </view>
         <view
               closeable="false"
               id="com.cdt.keil.debug.ui.SFRView"
               ratio="0.5"
               relationship="stack"
               relative="com.cdt.keil.debug.ui.RegisterView"
               showTitle="true"
               standalone="true"
               visible="false">
         </view>
         <view
               closeable="false"
               id="com.cdt.keil.debug.ui.SRAMDataMemoryView"
               ratio="0.5"
               relationship="stack"
               relative="com.cdt.keil.debug.ui.RegisterView"
               showTitle="true"
               standalone="true"
               visible="false">
         </view>
         <view
               closeable="false"
               id=" com.cdt.keil.debug.ui.ScratchpadRAMView"
               ratio="0.5"
               relationship="stack"
               relative="com.cdt.keil.debug.ui.RegisterView"
               showTitle="true"
               standalone="true"
               visible="false">
         </view>
         <view
               closeable="false"
               id="com.cdt.keil.debug.ui.FlashSRAMBufferCodeView"
               ratio="0.5"
               relationship="stack"
               relative="com.cdt.keil.debug.ui.RegisterView"
               showTitle="true"
               standalone="true"
               visible="false">
         </view>
         <view
               closeable="false"
               id="com.cdt.keil.debug.ui.FlashSRAMBufferDataView"
               ratio="0.5"
               relationship="stack"
               relative="com.cdt.keil.debug.ui.RegisterView"
               showTitle="true"
               standalone="true"
               visible="false">
         </view>
         <view
               closeable="false"
               id="com.cdt.keil.debug.ui.ProgramSecurityMemory"
               ratio="0.5"
               relationship="stack"
               relative="com.cdt.keil.debug.ui.RegisterView"
               showTitle="true"
               standalone="true"
               visible="false">
         </view>
         <view
               closeable="false"
               id="com.cdt.keil.debug.ui.DataSecurityMemory"
               ratio="0.5"
               relationship="stack"
               relative="com.cdt.keil.debug.ui.RegisterView"
               showTitle="true"
               standalone="true"
               visible="false">
         </view>
         <actionSet
               id="com.cdt.managedbuilder.keil.ui.sourceActionSet">
         </actionSet>
         <actionSet
               id="com.cdt.keil.debug.ui.resetAction">
         </actionSet>
         <actionSet
               id="com.cdt.keil.debug.ui.launchActionSet">
         </actionSet>
         <actionSet
               id="com.cdt.keil.debug.ui.downloadActionSet">
         </actionSet>
            
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.cdt.keil.debug.ui.breakPointActionSet"
            label="Break Point"
            visible="false">
         <menu
               id="com.cdt.keil.debug.ui.breakpointMenu"
               label="BreakPoint"
               path="org.eclipse.ui.run">
         </menu>
         <action
               class="org.eclipse.debug.internal.ui.actions.breakpoints.RetargetToggleLineBreakpointAction"
               definitionId="org.eclipse.debug.ui.commands.ToggleLineBreakpoint"
               disabledIcon="icon/brkp.gif"
               hoverIcon="icon/brkp.gif"
               icon="icon/brkp.gif"
               id="com.cdt.keil.debug.ui.toggleLineBreakPoint"
               label="Toggle &amp;Line Breakpoint"
               menubarPath="org.eclipse.ui.run/com.cdt.keil.debug.ui.breakpointMenu"
               tooltip="Toggle Line Breakpoint">
         </action>
         <action
               class="org.eclipse.debug.internal.ui.actions.breakpoints.RetargetToggleBreakpointAction"
               definitionId="org.eclipse.debug.ui.commands.ToggleBreakpoint"
               disabledIcon="icon/brkp.gif"
               hoverIcon="icon/brkp.gif"
               icon="icon/brkp.gif"
               id="com.cdt.keil.debug.ui.toggleBreakPoint"
               label="Toggle Brea&amp;kpoint"
               menubarPath="org.eclipse.ui.run/com.cdt.keil.debug.ui.breakpointMenu"
               tooltip="Toggle Breakpoint">
         </action>
         <action
               class="org.eclipse.debug.internal.ui.actions.breakpoints.RetargetMethodBreakpointAction"
               definitionId="org.eclipse.debug.ui.commands.ToggleMethodBreakpoint"
               disabledIcon="icon/brkp.gif"
               hoverIcon="icon/brkp.gif"
               icon="icon/brkp.gif"
               id="com.cdt.keil.debug.ui.toggleMethodBreakPoint"
               label="Toggle &amp;Method Breakpoint"
               menubarPath="org.eclipse.ui.run/com.cdt.keil.debug.ui.breakpointMenu"
               tooltip="Toggle Method Breakpoint">
         </action>
         <action
               class="org.eclipse.debug.internal.ui.actions.breakpoints.RetargetWatchpointAction"
               definitionId="org.eclipse.debug.ui.commands.ToggleWatchpoint"
               disabledIcon="icon/watch_obj.gif"
               hoverIcon="icon/watch_obj.gif"
               icon="icon/watch_obj.gif"
               id="com.cdt.keil.debug.ui.toggleWatchAction"
               label="Toggle &amp;Watchpoint"
               menubarPath="org.eclipse.ui.run/com.cdt.keil.debug.ui.breakpointMenu"
               tooltip="Toggle Watchpoint">
         </action>
         <action
               class="org.eclipse.debug.internal.ui.actions.breakpoints.SkipAllBreakpointsAction"
               definitionId="org.eclipse.debug.ui.commands.SkipAllBreakpoints"
               disabledIcon="icon/skip_brkp.gif"
               hoverIcon="icon/skip_brkp.gif"
               icon="icon/skip_brkp.gif"
               id="com.cdt.keil.debug.ui.skipAllBreakpointAction"
               label="S&amp;kip All Breakpoints"
               menubarPath="org.eclipse.ui.run/com.cdt.keil.debug.ui.breakpointMenu"
               style="toggle"
               tooltip="Skip All Breakpoints">
         </action>
         <action
               class="org.eclipse.debug.internal.ui.actions.breakpoints.RemoveAllBreakpointsAction"
               definitionId="org.eclipse.debug.ui.commands.RemoveAllBreakpoints"
               disabledIcon="icon/rem_all.gif"
               hoverIcon="icon/rem_all.gif"
               icon="icon/rem_all.gif"
               id="com.cdt.keil.debug.ui.removeAllBreakpointAction"
               label="Remo&amp;ve All Breakpoints"
               menubarPath="org.eclipse.ui.run/com.cdt.keil.debug.ui.breakpointMenu"
               style="push">
         </action>
      </actionSet>
      <actionSet
            id="com.cdt.keil.debug.ui.downloadActionSet"
            label="Debug">
         <action
               class="com.cdt.keil.debug.ui.debug.DebugAction"
               definitionId="com.cdt.keil.debug.ui.debugCommand"
               disabledIcon="icon/debug_dis.gif"
               enablesFor="1"
               hoverIcon="icon/debug_exc.gif"
               icon="icon/debug_exc.gif"
               id="com.cdt.keil.debug.ui.debugAction"
               label="&amp;Debug"
               menubarPath="org.eclipse.ui.run/relaunchGroup"
               style="push"
               toolbarPath="add"
               tooltip="Debug">
         </action>
      </actionSet>
      <actionSet
            id="com.cdt.keil.debug.ui.debugActionSet"
            label="DebugAction"
            visible="false">
            <action
                  class="com.cdt.keil.debug.ui.debug.RunToCursor"
                  disabledIcon="icon/runtoline.gif"
                  icon="icon/runtoline.gif"
                  id="com.cdt.keil.debug.ui.runToCursor"
                  label="Run to Cursor"
                  menubarPath="org.eclipse.ui.run/com.cdt.keil.debug.ui.launchMenu"
                  style="push"
                  toolbarPath="add">
         </action>
         <action
               class="com.cdt.keil.debug.ui.debug.StepReturnAction"
               disabledIcon="icon/stepreturn.gif"
               hoverIcon="icon/stepreturn.gif"
               icon="icon/stepreturn.gif"
               id="com.cdt.keil.debug.ui.stepReturnAction"
               label="Step Return"
               menubarPath="org.eclipse.ui.run/com.cdt.keil.debug.ui.launchMenu"
               style="push"
               toolbarPath="add"
               tooltip="Step Return">
         </action>
         <action
               class="com.cdt.keil.debug.ui.debug.StepOverAction"
               definitionId="com.cdt.keil.debug.ui.stepOverCommand"
               disabledIcon="icon/stepover.gif"
               hoverIcon="icon/stepover.gif"
               icon="icon/stepover.gif"
               id="com.cdt.keil.debug.ui.stepOverAction"
               label="Step Over"
               menubarPath="org.eclipse.ui.run/com.cdt.keil.debug.ui.launchMenu"
               style="push"
               toolbarPath="add"
               tooltip="Step Over">
         </action>
         <action
               class="com.cdt.keil.debug.ui.debug.StepIntoAction"
               definitionId="com.cdt.keil.debug.ui.stepIntoCommand"
               disabledIcon="icon/stepinto.gif"
               hoverIcon="icon/stepinto.gif"
               icon="icon/stepinto.gif"
               id="com.cdt.keil.debug.ui.stepIntoAction"
               label="Step_Into"
               menubarPath="org.eclipse.ui.run/com.cdt.keil.debug.ui.launchMenu"
               style="push"
               toolbarPath="add"
               tooltip="Step Into">
         </action>
      </actionSet>
      <actionSet
            id="com.cdt.keil.debug.ui.debugActionSet"
            label="Debug"
            visible="false">
         <menu
               id="com.cdt.keil.debug.ui.debugMenu"
               label="Debug"
               path="org.eclipse.ui.run">
         </menu>
         <action
               class="org.eclipse.debug.internal.ui.commands.actions.ToggleStepFiltersCommandActionDelegate"
               definitionId="org.eclipse.debug.ui.commands.ToggleStepFilters"
               disabledIcon="icon/step_filter.gif"
               hoverIcon="icon/step_filter.gif"
               icon="icon/step_filter.gif"
               id="com.cdt.keil.debug.ui.useStepFiltersAction"
               label="Use Step &amp;Filters"
               menubarPath="org.eclipse.ui.run/com.cdt.keil.debug.ui.debugMenu"
               state="false"
               style="toggle"
               tooltip="Use Step Filers">
         </action>
         <action
               class="org.eclipse.debug.internal.ui.actions.RetargetRunToLineAction"
               definitionId="org.eclipse.debug.ui.commands.RunToLine"
               disabledIcon="icon/runtoline.gif"
               hoverIcon="icon/runtoline.gif"
               icon="icon/runtoline.gif"
               id="com.cdt.keil.debug.ui.runToLineAction"
               label="Run To &amp;Line"
               menubarPath="org.eclipse.ui.run/com.cdt.keil.debug.ui.debugMenu"
               tooltip="Run To Line">
         </action>
         <action
               class="org.eclipse.debug.internal.ui.commands.actions.StepReturnCommandActionDelegate"
               definitionId="org.eclipse.debug.ui.commands.StepReturn"
               disabledIcon="icon/stepreturn.gif"
               hoverIcon="icon/stepreturn.gif"
               icon="icon/stepreturn.gif"
               id="com.cdt.keil.debug.ui.stepreturnAction"
               label="Step Ret&amp;urn"
               menubarPath="org.eclipse.ui.run/com.cdt.keil.debug.ui.debugMenu"
               tooltip="Step Return">
         </action>
         <action
               class="org.eclipse.debug.internal.ui.commands.actions.StepOverCommandActionDelegate"
               definitionId="org.eclipse.debug.ui.commands.StepOver"
               disabledIcon="icon/stepover.gif"
               hoverIcon="icon/stepover.gif"
               icon="icon/stepover.gif"
               id="com.cdt.keil.debug.ui.stepoverAction"
               label="Step &amp;Over"
               menubarPath="org.eclipse.ui.run/com.cdt.keil.debug.ui.debugMenu"
               tooltip="Step Over">
         </action>
         <action
               class="org.eclipse.debug.internal.ui.commands.actions.StepIntoCommandActionDelegate"
               definitionId="org.eclipse.debug.ui.commands.StepInto"
               disabledIcon="icon/stepinto.gif"
               hoverIcon="icon/stepinto.gif"
               icon="icon/stepinto.gif"
               id="com.cdt.keil.debug.ui.stepintoAction"
               label="Step &amp;Into"
               menubarPath="org.eclipse.ui.run/com.cdt.keil.debug.ui.debugMenu"
               tooltip="Step Into">
         </action>
         <action
               class="org.eclipse.debug.internal.ui.commands.actions.TerminateCommandActionDelegate"
               definitionId="org.eclipse.debug.ui.commands.Terminate"
               disabledIcon="icon/terminate.gif"
               hoverIcon="icon/terminate.gif"
               icon="icon/terminate.gif"
               id="com.cdt.keil.debug.ui.terminateAction"
               label="&amp;Terminate"
               menubarPath="org.eclipse.ui.run/com.cdt.keil.debug.ui.debugMenu"
               tooltip="Terminate">
         </action>
         <action
               class="org.eclipse.debug.internal.ui.commands.actions.SuspendCommandActionDelegate"
               definitionId="org.eclipse.debug.ui.commands.Suspend"
               disabledIcon="icon/suspend.gif"
               hoverIcon="icon/suspend.gif"
               icon="icon/suspend.gif"
               id="com.cdt.keil.debug.ui.suspendAction"
               label="&amp;Suspend"
               menubarPath="org.eclipse.ui.run/com.cdt.keil.debug.ui.debugMenu"
               tooltip="Suspend">
         </action>
         <action
               class="org.eclipse.debug.internal.ui.commands.actions.ResumeCommandActionDelegate"
               definitionId="org.eclipse.debug.ui.commands.Resume"
               disabledIcon="icon/resume.gif"
               hoverIcon="icon/resume.gif"
               icon="icon/resume.gif"
               id="com.cdt.keil.debug.ui.resumeAction"
               label="Resu&amp;me"
               menubarPath="org.eclipse.ui.run/com.cdt.keil.debug.ui.debugMenu"
               tooltip="Resume">
         </action>
      </actionSet>
      <actionSet
            id="com.cdt.keil.debug.ui.simulatorView"
            label="Simulator View">
         <menu
               id="com.cdt.keil.debug.ui.simRunMenu"
               label="SDK &amp;View"
               path="project">
            <separator
                  name="com.cdt.keil.debug.ui.separator5">
            </separator>
            <groupMarker
                  name="com.cdt.keil.debug.ui.view">
            </groupMarker>
            <separator
                  name="com.cdt.keil.debug.ui.separator1">
            </separator>
            <separator
                  name="com.cdt.keil.debug.ui.separator3">
            </separator>
            <separator
                  name="com.cdt.keil.debug.ui.separator4">
            </separator>
            <separator
                  name="com.cdt.keil.debug.ui.separator6">
            </separator>
            <separator
                  name="com.cdt.keil.debug.ui.separator2">
            </separator>
         </menu>
         <action
               class="com.cdt.keil.debug.ui.viewAction.SRAMDataMemory"
               disabledIcon="icon/sramdata.gif"
               hoverIcon="icon/sramdata.gif"
               icon="icon/sramdata.gif"
               id="com.cdt.keil.debug.ui.simulatorSRAM DataMemory"
               label="SRAM D&amp;ata Memory"
               menubarPath="com.cdt.keil.debug.ui.simRunMenu/com.cdt.keil.debug.ui.separator6"
               style="push"
               tooltip="Show SRAM Data Memory">
         </action>
         <action
               class="com.cdt.keil.debug.ui.viewAction.SRAMBufferData"
               disabledIcon="icon/srambufferdata.gif"
               hoverIcon="icon/srambufferdata.gif"
               icon="icon/srambufferdata.gif"
               id="com.cdt.keil.debug.ui.simulatorFlashSRAMBufferDataMemoryView"
               label="SRAM B&amp;uffer Data Memory"
               menubarPath="com.cdt.keil.debug.ui.simRunMenu/com.cdt.keil.debug.ui.separator4"
               style="push"
               tooltip="Show SRAM Buffer Data Memory">
         </action>
         <action
               class="com.cdt.keil.debug.ui.viewAction.SRAMBufferCode"
               disabledIcon="icon/srambufferprog.gif"
               hoverIcon="icon/srambufferprog.gif"
               icon="icon/srambufferprog.gif"
               id="com.cdt.keil.debug.ui.simulatorFlashSRAMBufferCodeMemoryView"
               label="SRAM Bu&amp;ffer Code Memory"
               menubarPath="com.cdt.keil.debug.ui.simRunMenu/com.cdt.keil.debug.ui.separator4"
               style="push"
               tooltip="Show Flash SRAM Buffer Code Memory">
         </action>
         <action
               class="com.cdt.keil.debug.ui.viewAction.DataSecurityMemory"
               disabledIcon="icon/datasecurity.gif"
               hoverIcon="icon/datasecurity.gif"
               icon="icon/datasecurity.gif"
               id="com.cdt.keil.debug.ui.simulatorDataSecurityView"
               label="Data S&amp;ecurity Memory"
               menubarPath="com.cdt.keil.debug.ui.simRunMenu/com.cdt.keil.debug.ui.separator3"
               style="push"
               tooltip="Show Data Security Memory">
         </action>
         <action
               class="com.cdt.keil.debug.ui.viewAction.ProgramSecurityMemory"
               disabledIcon="icon/progsecurity.gif"
               hoverIcon="icon/progsecurity.gif"
               icon="icon/progsecurity.gif"
               id="com.cdt.keil.debug.ui.simulatorProgramSecurityView"
               label="Program Securit&amp;y Memory"
               menubarPath="com.cdt.keil.debug.ui.simRunMenu/com.cdt.keil.debug.ui.separator3"
               style="push"
               tooltip="Show Program Security Memory">
         </action>
         <action
               class="com.cdt.keil.debug.ui.viewAction.FlashDataMemory"
               disabledIcon="icon/data.gif"
               hoverIcon="icon/data.gif"
               icon="icon/data.gif"
               id="com.cdt.keil.debug.ui.simulatorFlashDataMemoryView"
               label="Flash &amp;Data Memory"
               menubarPath="com.cdt.keil.debug.ui.simRunMenu/com.cdt.keil.debug.ui.separator1"
               style="push"
               tooltip="Show Flash Data Memory">
         </action>
         <action
               class="com.cdt.keil.debug.ui.viewAction.FlashCodeMemory"
               disabledIcon="icon/code.gif"
               hoverIcon="icon/code.gif"
               icon="icon/code.gif"
               id="com.cdt.keil.debug.ui.simulatorFlashCodeMemoryView"
               label="Flash &amp;Code Memory"
               menubarPath="com.cdt.keil.debug.ui.simRunMenu/com.cdt.keil.debug.ui.separator1"
               style="push"
               tooltip="Show Flash Code Memory">
         </action>
         <action
               class="com.cdt.keil.debug.ui.viewAction.ScratchpadRAM"
               disabledIcon="icon/scratch.gif"
               hoverIcon="icon/scratch.gif"
               icon="icon/scratch.gif"
               id="com.cdt.keil.debug.ui.simulatorScratchpadRAM"
               label="Scratch&amp;pad RAM"
               menubarPath="com.cdt.keil.debug.ui.simRunMenu/com.cdt.keil.debug.ui.separator5"
               style="push"
               tooltip="Show Scratchpad RAM">
         </action>
         <action
               class="com.cdt.keil.debug.ui.viewAction.SFRMemory"
               disabledIcon="icon/sfr.gif"
               hoverIcon="icon/sfr.gif"
               icon="icon/sfr.gif"
               id="com.cdt.keil.debug.ui.simulatorSFRMemory"
               label="&amp;SFR Memory"
               menubarPath="com.cdt.keil.debug.ui.simRunMenu/com.cdt.keil.debug.ui.separator5"
               style="push"
               tooltip="Show SFR Memory">
         </action>
         <action
               class="com.cdt.keil.debug.ui.viewAction.Register"
               disabledIcon="icon/reg.gif"
               hoverIcon="icon/reg.gif"
               icon="icon/reg.gif"
               id="com.cdt.keil.debug.ui.simulatorRegister"
               label="&amp;Register"
               menubarPath="com.cdt.keil.debug.ui.simRunMenu/com.cdt.keil.debug.ui.separator5"
               style="push"
               tooltip="Show Register">
         </action>
      </actionSet>
      <actionSet
            id="com.cdt.keil.debug.ui.resetAction"
            label="Operation">
         <action
               class="com.cdt.keil.debug.ui.debug.DownloadImageAction"
               disabledIcon="icon/download_dis.PNG"
               enablesFor="1"
               hoverIcon="icon/Download.png"
               icon="icon/Download.png"
               id="com.cdt.keil.debug.ui.downloadHex"
               label="Download Im&amp;age"
               menubarPath="org.eclipse.ui.run/relaunchGroup"
               style="push"
               toolbarPath="com.cdt.keil.debug.ui.downloadActionSet/add"
               tooltip="Download HEX File to the Target">
         </action>
         <action
               class="com.cdt.keil.debug.ui.debug.StopAction"
               hoverIcon="icon/stop-icon.gif"
               icon="icon/stop-icon.gif"
               id="com.cdt.keil.debug.ui.stopAction"
               label="Sto&amp;p Target"
               menubarPath="org.eclipse.ui.run/relaunchGroup"
               style="push"
               tooltip="Stop the Target">
         </action>
         <action
               class="com.cdt.keil.debug.ui.debug.ResetAction"
               definitionId="com.cdt.keil.debug.ui.resetCommand"
               disabledIcon="icon/reset_icon.gif"
               hoverIcon="icon/reset_icon.gif"
               icon="icon/reset_icon.gif"
               id="com.cdt.keil.debug.ui.resetAction"
               label="Emul&amp;ator Reset"
               menubarPath="org.eclipse.ui.run/relaunchGroup"
               style="push"
               tooltip="Target Reset">
         </action>
      </actionSet>
      <actionSet
            id="com.cdt.keil.debug.ui.modeActionSet"
            label="Mode">
         <action
               class="com.cdt.keil.debug.ui.debug.mode.MixedLevelModeAction"
               disabledIcon="icon/mixed.gif"
               hoverIcon="icon/mixed.gif"
               icon="icon/mixed.gif"
               id="com.cdt.keil.debug.ui.mixedLevelAction"
               label="Mixed Level Mode"
               style="toggle"
               toolbarPath="add"
               tooltip="Mixed Level Mode Debugging">
         </action>
         <action
               class="com.cdt.keil.debug.ui.debug.mode.HighLevelModeAction"
               disabledIcon="icon/high.gif"
               hoverIcon="icon/high.gif"
               icon="icon/high.gif"
               id="com.cdt.keil.debug.ui.highLevelAction"
               label="High Level Mode"
               style="toggle"
               toolbarPath="add"
               tooltip="High Level Mode Debugging">
         </action>
         <action
               class="com.cdt.keil.debug.ui.debug.mode.AssemblyLevelModeAction"
               disabledIcon="icon/asm.gif"
               hoverIcon="icon/asm.gif"
               icon="icon/asm.gif"
               id="com.cdt.keil.debug.ui.assemblyLevelAction"
               label="Assembly Level Mode"
               style="toggle"
               toolbarPath="add"
               tooltip="Assembly Level Mode Debugging">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.eclipse.ui.category.window"
            name="SDK">
      </category>
      <command
            description="Debugging"
            id="com.cdt.keil.debug.ui.debugCommand"
            name="Debugging">
      </command>
      <keyBinding
            command="com.cdt.keil.debug.ui.debugCommand"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration"
            keySequence="M1+F12"></keyBinding>
      <command
            description="StepInto"
            id="com.cdt.keil.debug.ui.stepIntoCommand"
            name="StepInto">
      </command>
      <keyBinding
            command="com.cdt.keil.debug.ui.stepIntoCommand"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration"
            keySequence="F10">
      </keyBinding>
      <command
            description="Step Over"
            id="com.cdt.keil.debug.ui.stepOverCommand"
            name="Step Over">
      </command>
      <keyBinding
            command="com.cdt.keil.debug.ui.stepOverCommand"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration"
            keySequence="M2+F9">
      </keyBinding>
      <command
            description="Cold Reset"
            id="com.cdt.keil.debug.ui.resetCommand"
            name="Reset">
      </command>
      <keyBinding
            command="com.cdt.keil.debug.ui.resetCommand"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration"
            keySequence="M1+R">
      </keyBinding>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <scheme
            id="com.cdt.keil.debug.ui.debugScheme"
            name="DebugScheme"
            parentId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </scheme>
   </extension>
   
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.cdt.keil.debug.ui.MemoryView"
            name="SDK View">
      </category>
      <view
            category="com.cdt.keil.debug.ui.MemoryView"
            class="com.cdt.keil.debug.ui.memory.views.FlashCodeMemoryView"
            fastViewWidthRatio="0.25"
            icon="icon/code.gif"
            id="com.cdt.keil.debug.ui.FlashCodeMemoryView"
            name="Flash Code Memory">
      </view>
      <view
            category="com.cdt.keil.debug.ui.MemoryView"
            class="com.cdt.keil.debug.ui.memory.views.FlashDataMemoryView"
            fastViewWidthRatio="0.25"
            icon="icon/data.gif"
            id="com.cdt.keil.debug.ui.FlashDataMemoryView"
            name="Flash Data Memory">
      </view>
      <view
            category="com.cdt.keil.debug.ui.MemoryView"
            class="com.cdt.keil.debug.ui.memory.views.SFRView"
            fastViewWidthRatio="0.25"
            icon="icon/sfr.gif"
            id="com.cdt.keil.debug.ui.SFRView"
            name="SFR">
      </view>
      <view
            category="com.cdt.keil.debug.ui.MemoryView"
            class="com.cdt.keil.debug.ui.memory.views.RegisterView"
            fastViewWidthRatio="0.25"
            icon="icon/reg.gif"
            id="com.cdt.keil.debug.ui.RegisterView"
            name="Register"
            restorable="true">
      </view>
      <view
            category="com.cdt.keil.debug.ui.MemoryView"
            class="com.cdt.keil.debug.ui.memory.views.SRAMDataMemoryView"
            fastViewWidthRatio="0.25"
            icon="icon/sramdata.gif"
            id="com.cdt.keil.debug.ui.SRAMDataMemoryView"
            name="SRAM Data Memory">
      </view>
      <view
            category="com.cdt.keil.debug.ui.MemoryView"
            class="com.cdt.keil.debug.ui.memory.views.ScratchpadRAMView"
            fastViewWidthRatio="0.25"
            icon="icon/scratch.gif"
            id="com.cdt.keil.debug.ui.ScratchpadRAMView"
            name="Scratchpad RAM">
      </view>
      <view
            category="com.cdt.keil.debug.ui.MemoryView"
            class="com.cdt.keil.debug.ui.memory.views.FlashSRAMBufferCodeView"
            fastViewWidthRatio="0.25"
            icon="icon/srambufferprog.gif"
            id="com.cdt.keil.debug.ui.FlashSRAMBufferCodeView"
            name="Flash SRAM Buffer Code">
      </view>
      <view
            category="com.cdt.keil.debug.ui.MemoryView"
            class="com.cdt.keil.debug.ui.memory.views.FlashSRAMBufferDataView"
            fastViewWidthRatio="0.25"
            icon="icon/srambufferdata.gif"
            id="com.cdt.keil.debug.ui.FlashSRAMBufferDataView"
            name="Flash SRAM Buffer Data">
      </view>
      <view
            category="com.cdt.keil.debug.ui.MemoryView"
            class="com.cdt.keil.debug.ui.memory.views.ProgramSecurityMemoryView"
            fastViewWidthRatio="0.25"
            icon="icon/progsecurity.gif"
            id="com.cdt.keil.debug.ui.ProgramSecurityMemory"
            name="Program Security Memory">
      </view>
      <view
            category="com.cdt.keil.debug.ui.MemoryView"
            class="com.cdt.keil.debug.ui.memory.views.DataSecurityMemoryView"
            fastViewWidthRatio="0.25"
            icon="icon/datasecurity.gif"
            id="com.cdt.keil.debug.ui.DataSecurityMemory"
            name="Data Security Memory">
      </view>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="com.cdt.keil.debug.ui.launch.run.SDKTabGroup"
            description="Run SDK Program"
            id="com.cdt.keil.debug.ui.launchConfigurationTabGroup"
            type="com.cdt.keil.debug.ui.launchConfigurationTabGroup.type">
         <launchMode
               description="SDK Program"
               mode="run"
               perspective="org.eclipse.debug.ui.DebugPerspective">
         </launchMode>
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="com.cdt.keil.debug.ui.launchConfigurationTabGroup.type"
            icon="icon/Keil.jpg"
            id="com.cdt.keil.debug.ui.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="com.cdt.keil.debug.ui.launch.run.SDKLaunchActionDelegate"
            id="com.cdt.keil.debug.ui.launchConfigurationTabGroup.type"
            modes="run"
            name="SDK">
         <fileExtension
               default="true"
               extension="DSM">
         </fileExtension>
      </launchConfigurationType>
   </extension>

<extension
         id="com.cdt.keil.debug.ui.markerType.lineBreakpoint"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.debug.core.lineBreakpointMarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.debug.core.breakpoints">
      <breakpoint
            class="com.cdt.keil.debug.ui.breakpoints.SDKLineBreakpoint"
            id="com.cdt.keil.debug.ui.breakpoint"
            markerType="com.cdt.keil.debug.ui.markerType.lineBreakpoint"
            name="SDK_Breakpoint">
      </breakpoint>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerImageProviders">
      <imageprovider
            icon="icon/brkp.gif"
            id="com.cdt.keil.debug.ui.imageprovider"
            markertype="com.cdt.keil.debug.ui.markerType.lineBreakpoint">
      </imageprovider>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="com.cdt.keil.debug.ui.editorContribution"
            targetID="org.eclipse.ui.DefaultTextEditor">
         <action
               actionID="RulerDoubleClick"
               class="com.cdt.keil.debug.ui.breakpoints.SDKBreakpointActionDelegate"
               icon="icon/brkp.gif"
               id="com.cdt.keil.debug.ui.breakpointAction"
               label="Add or Remove Breakpoint"
               state="true"
               style="push">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="com.cdt.keil.debug.ui.viewerContribution"
            targetID="#TextRulerContext">
         <action
               class="com.cdt.keil.debug.ui.breakpoints.SDKBreakpointActionDelegate"
               icon="icon/brkp.gif"
               id="com.cdt.keil.debug.ui.addRemoveBreakpointAction"
               label="Add/Remove Breakpoint"
               menubarPath="debug"
               style="push">
         </action>
         <action
               class="com.cdt.keil.debug.ui.breakpoints.SDKEnableBreakpointActionDelegate"
               icon="icon/brkp.gif"
               id="org.eclipse.jdt.ui.actions.ManageBreakpointRulerActionDelegate"
               label="Enable/Disable Breakpoint"
               menubarPath="debug"
               style="push">
         </action>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.ui.texteditor.ITextEditor"
            class="com.cdt.keil.debug.ui.breakpoints.SDKLineBreakpointAdapterFactory">
         <adapter
               type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget">
         </adapter>
      </factory>
   </extension>


</plugin>
