<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.odcgroup.workbench.core.template.provider">
      <provider
          type="com.odcgroup.t24.maven.ui.template.provider.T24ProjectTemplateProvider">
      </provider>
   </extension>

</plugin>
