<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension point="com.odcgroup.workbench.generation.m2cCartridge">
		<cartridge
	        category="config component-specific"
	        class="com.odcgroup.cdm.generation.custo.generator.CustomFieldsCodeGenerator"
	        enabledByDefault="false"
	        id="com.odcgroup.cdm.generation.CustomFieldsCodeGenerator"
	        name="CDM Custom Fields" >
		</cartridge>
	</extension>
	
</plugin>
