<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <file-association
            content-type="com.odcgroup.workbench.dsl.model"
            file-extensions="page,module,fragment">
      </file-association>
   </extension>
</plugin>
