<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="com.odcgroup.ocs.packager"
         name="Triple'A Plus Packager Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.odcgroup.ocs.packager.nature.PackagerProjectNature">
         </run>
      </runtime>
   </extension>

</plugin>
