<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="sample.rcp.SampleApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="sample.rcp.Perspective"
            id="SampleRCP.perspective"
            name="RCP Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="SampleRCP.actionSet1"
            label="MyActionSet"
            visible="true">
         <action
               class="sample.rcp.action.HelpAction"
               definitionId="org.eclipse.ui.help.helpContents"
               icon="icons/alt_window_16.gif"
               id="SampleRCP.help.action"
               label="Help Content"
               menubarPath="SampleRCP.Help.menu/SampleRCP.help.groupMarker"
               style="push"
               toolbarPath="lars">
         </action>
         <menu
               id="SampleRCP.Help.menu"
               label="Help">
            <groupMarker
                  name="SampleRCP.help.groupMarker">
            </groupMarker>
         </menu>
      </actionSet>
   </extension>

</plugin>
