<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="com.ose.gateway.serial"
   name="Serial Gateway"
   version="1.1.0"
   provider-name="Enea Software AB"
   class="com.ose.gateway.serial.SerialGatewayPlugin">

   <runtime>
      <library name="gateway.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="com.ose.gateway"/>
      <import plugin="com.ose.system"/>
      <import plugin="gnu.io.rxtx"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.debug.core"/>
      <import plugin="org.eclipse.debug.ui"/>
      <import plugin="org.eclipse.ui"/>
   </requires>

   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            name="Serial Gateway"
            delegate="com.ose.gateway.serial.launch.LaunchConfigurationDelegate"
            modes="run"
            public="true"
            id="com.ose.gateway.serial.launch.serialGatewayLaunch">
      </launchConfigurationType>
   </extension>

   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            icon="icons/view16/launch_type.gif"
            configTypeID="com.ose.gateway.serial.launch.serialGatewayLaunch"
            id="com.ose.gateway.serial.launch.serialGatewayLaunchImage">
      </launchConfigurationTypeImage>
   </extension>

   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            type="com.ose.gateway.serial.launch.serialGatewayLaunch"
            class="com.ose.gateway.serial.launch.LaunchConfigurationTabGroup"
            id="com.ose.gateway.serial.launch.serialGatewayLaunchConfigurationTabGroup">
      </launchConfigurationTabGroup>
   </extension>

   <extension
         point="org.eclipse.pde.core.source">
      <location path="src"/>
   </extension>
</plugin>
