<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 
	<extension-point id="com.odcgroup.translation.generation.keyprovider" name="Translation Key Provider" schema="schema/com.odcgroup.translation.generation.keyprovider.exsd"/>
	<extension-point id="com.odcgroup.translation.generation.generator" name="Translation Generator Provider" schema="schema/com.odcgroup.translation.generation.generator.exsd"/>
 <extension-point id="com.odcgroup.translation.generation.xlscolumnprovider" name="XLS Translation Generation Column Provider" schema="schema/com.odcgroup.translation.generation.xlscolumnprovider.exsd"/>
 
	<extension
    	point="com.odcgroup.workbench.generation.m2cCartridge">
		<cartridge
        	category="WUI Block"
            class="com.odcgroup.translation.generation.internal.generator.nls.TranslationCodeGenerator"
            id="com.odcgroup.translation.code.generator"
            name="Translations"
            enabledByDefault="true">
		</cartridge>
	</extension>
   
   <extension
         point="com.odcgroup.documentation.generation.docGenCartridge">
      <cartridge
            category="Translations (XLS)"
            class="com.odcgroup.translation.generation.internal.generator.xls.TranslationXLSGenerator"
            enabledByDefault="true"
            id="com.odcgroup.translation.doc.generator"
            name="Translations (XLS)"
            terminal="false">
      </cartridge>
   </extension>
   
   <extension
   		point="com.odcgroup.translation.generation.generator">
   		<provider
   			id="com.odcgroup.translaton.nls.generator"
   			name="NLS Generator"
   			class="com.odcgroup.translation.generation.internal.generator.nls.NLSGeneratorProvider"
            natureId="org.eclipse.jdt.core.javanature"
   			priority="2">
   		</provider>
   		<provider
   			id="com.odcgroup.translaton.xls.generator"
   			name="XLS Generator"
   			class="com.odcgroup.translation.generation.internal.generator.xls.XLSGeneratorProvider"
            natureId="org.eclipse.jdt.core.javanature"
   			priority="2">
   		</provider>
   	</extension>
      
</plugin>
