<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="com.zealcore.se.importwizard.logfileSubjectContribution"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="com.zealcore.se.iw.ConfigureImportWizardAction"
               enablesFor="1"
               id="com.zealcore.se.importwizard.actions.ConfigureImportWizard"
               label="Import Wizard..."
               menubarPath="group.logset"/>
      </objectContribution>
   </extension>
   <extension
         point="com.zealcore.se.core.importers">
      <importer
            class="com.zealcore.se.iw.GenericTextImporter"
            description="An importer which can be configured to import textual logs"
            id="com.zealcore.se.iw.wizard.GenericTextImporter"
            name="User defined Import Wizard Format"/>
   </extension>
   <extension
         point="com.zealcore.se.core.extendedimporters">
      <importer
            class="com.zealcore.se.iw.GenericTextExtendedImporter"
            id="com.zealcore.se.iw.wizard.GenericTextExtendedImporter"
            name="Generic Text Extended Importer">
      </importer>
   </extension>

</plugin>
