<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.odcgroup.com/t24/version/VersionDSL" 
       class = "com.odcgroup.t24.version.versionDSL.VersionDSLPackage"
       genModel = "model/generated/VersionDSL.genmodel" />
	
  </extension>

 <extension
       point="com.odcgroup.translation.provider">
    <provider
          class="com.odcgroup.t24.version.translation.VersionTranslationProvider"
          id="com.odcgroup.t24.version.translation"
          name="T24 Version Translation Provider"
          natureId="org.eclipse.jdt.core.javanature"
          priority="2">
       <kind  name="NAME"    display="Description"/>
       <kind  name="HEADER1" display="Header 1"/>
       <kind  name="HEADER2" display="Header 2"/>
       <kind  name="HEADER"  display="User Information (Header)"  />
       <kind  name="FOOTER"  display="Footer" />
       <input type="com.odcgroup.t24.version.versionDSL.Version"/>
    </provider>
    <provider
          class="com.odcgroup.t24.version.translation.FieldTranslationProvider"
          id="com.odcgroup.t24.version.translation"
          name="T24 Field Translation Provider"
          natureId="org.eclipse.jdt.core.javanature"
          priority="2">
          <kind  name="NAME" display="Label"/>
          <kind  name="TEXT" display="ToolTip"/>
          <input type="com.odcgroup.t24.version.versionDSL.Field"/>
    </provider>
   </extension>

   <extension
         point="com.odcgroup.translation.visitor">
      <provider
            id="com.odcgroup.t24.version.translation.visitorprovider"
            name="Version Model Translation Visitor Provider"
            class="com.odcgroup.t24.version.translation.VersionTranslationModelVisitorProvider">
          <input type="com.odcgroup.t24.version.versionDSL.Version"/> 
      </provider>
   </extension>
   <extension
         point="com.odcgroup.workbench.generation.m2cCartridge">
      <cartridge
            category="T24 Models (XML)"
            class="com.odcgroup.t24.version.xml.generator.VersionXMLGenerator"
            enabledByDefault="true"
            id="com.odcgroup.t24.version.model.cartridge2"
            name="XML for Versions">
      </cartridge>
   </extension>
   <!-- extension
         point="com.odcgroup.documentation.generation.docGenCartridge">
      <cartridge
            category="Translations (XLS)"
            class="com.odcgroup.t24.version.translation.VersionTranslationExcelGenerator"
            enabledByDefault="true"
            id="com.odcgroup.t24.version.translation.VersionTranslationExcelGenerator"
            name="Versions"
            terminal="false">
      </cartridge>
   </extension -->
   <extension point="com.odcgroup.workbench.core.model">
	     <model
            name="version"
            proxyresolution="lazy"/>
   </extension>
 <extension
       point="com.odcgroup.workbench.language.repository">
    <repository
          class="com.odcgroup.t24.version.repository.VersionRepository"
          language="version">
    </repository>
 </extension>   
</plugin>
