<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
    <extension
        point="org.eclipse.ui.keywords">
        <keyword
            id="com.odcgroup.workbench.dsl.ui.keyword_Common"
            label="Common"/>
    </extension>
   <extension
	       point="com.odcgroup.workbench.core.initializer">
	    <initializer
	          class="com.odcgroup.workbench.dsl.ui.quickfix.CommonXtextBuilderInitializer"
	          id="com.odcgroup.workbench.dsl.xtextBuilderInitializer">
	    </initializer>
   </extension>

</plugin>
