<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.zealcore.se.rcp.Application">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.zealcore.se.rcp.application"
            name="LogAnalyzer">
         <property
               name="aboutText"
               value="LICENSE&#x0A;&#x0A;This product is protected by copyright laws&#x0A;&#x0A;CONTACT&#x0A;&#x0A;This product is developed by Enea Zealcore AB&#x0A;&#x0A;http://www.enea.com&#x0A;&#x0A;THIRD PARTY CONTENT&#x0A;&#x0A;JFreeChart, (C)opyright 2000-2007 by Object Reﬁnery Limited and&#x0A;Contributors. Licensenced under LPGL v2.1&#x0A;&#x0A;"/>
         <property
               name="startupProgressRect"
               value="0,0,0,10"/>
         <property
               name="windowImages"
               value="platform:/plugin/com.zealcore.se.ui/icons/logo/zealcore_logo_16.png,platform:/plugin/com.zealcore.se.ui/icons/logo/zealcore_logo_32.png"/>
         <property
               name="startupForegroundColor"
               value="FFFFFF"/>
         <property
               name="startupMessageRect"
               value="0,0,0,10"/>
         <property
               name="aboutImage"
               value="icons/alt_about.gif"/>
         <property
               name="appName"
               value="LogAnalyzer">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension point="org.eclipse.help.contexts">
      <contexts file="contexts/SystemExplorerRcpContext.xml" plugin="org.eclipse.ui"/> 
  </extension>
</plugin>
