<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            category="com.odcgroup.workbench.properties.ofs"
            class="com.odcgroup.workbench.memoryanalyzer.ui.internal.properties.MemoryPropertyPage"
            icon="icons/sum.png"
            id="com.odcgroup.workbench.memoryanalyzer.ui.internal.properties.samplePropertyPage"
            name="Memory Analysis"
            nameFilter="*-models">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IProject">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>

</plugin>
