<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="modelvalidator" name="Model Validator" schema="schema/modelvalidator.exsd"/>
   <!-- DS-1691 -->
   <extension-point id="mdfmodelvalidator_override" name="MdfModel Validator Extension" schema="schema/mdfmodelvalidator_override.exsd"/>

   <extension-point id="domainvalidation" name="Domain Validation" schema="schema/DomainValidation.exsd"/>
   
   <!-- extension
         point="org.eclipse.emf.validation.constraintProviders">
      <category
            id="com.odcgroup.validation/mdf"
            mandatory="false"
            name="Domain">
      </category>
      <constraintProvider
            cache="true">
         <package
               namespaceUri="http://www.odcgroup.com/mdf">
         </package>
         <constraints
               categories="com.odcgroup.validation/mdf">
            <constraint
                  class="com.odcgroup.mdf.validation.internal.constraint.LegacyErrorsConstraint"
                  id="com.odcgroup.mdf.validation.LegacyErrors"
                  lang="Java"
                  mode="Batch"
                  name="Legacy Errors"
                  severity="ERROR"
                  statusCode="0">
               <message>
                  Domain legacy validation error
               </message>
               <target
                     class="MdfModelElement">
               </target>
            </constraint>
            <constraint
                  class="com.odcgroup.mdf.validation.internal.constraint.LegacyWarningsConstraint"
                  id="com.odcgroup.mdf.validation.LegacyWarnings"
                  lang="Java"
                  mode="Batch"
                  name="Legacy Warnings"
                  severity="WARNING"
                  statusCode="0">
               <message>
                  Domain legacy validation warnings
               </message>
               <target
                     class="MdfModelElement">
               </target>
            </constraint>
         </constraints>
      </constraintProvider>
   </extension -->

</plugin>
