<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="com.odcgroup.workbench"
            class="com.odcgroup.cdm.generation.custo.ui.wizards.CustomFieldsImportWizard"
            icon="icons/customattr.gif"
            id="com.odcgroup.cdm.generation.custom.CustomFieldsImportWizard"
            name="Import CDM Custom Fields">
         <description>
            Import CDM custom fields into the Domain Model.
         </description>
      </wizard>
   </extension>	
</plugin>
