<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>   
  <!-- Extensions required to enable Compare functionality JIRA OCS-25452 -->  
  <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
    <factory 
       uri = "http://www.odcgroup.com/mdf" 
       class = "com.odcgroup.mdf.editor.ui.editors.providers.MdfItemProviderAdapterFactory" 
       supportedTypes = 
         "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
          org.eclipse.emf.edit.provider.IStructuredItemContentProvider
          org.eclipse.emf.edit.provider.ITreeItemContentProvider
          org.eclipse.emf.edit.provider.IItemLabelProvider
          org.eclipse.emf.edit.provider.IItemPropertySource" />
  </extension>
   <extension
         point="org.eclipse.emf.compare.diff.engine">
      <diffengine
            engineClass="com.odcgroup.mdf.compare.MdfDiffEngine"
            fileExtension="domain"
            label="MDF Diff Engine"
            priority="high">
      </diffengine>
   </extension>
   <extension
         point="org.eclipse.emf.compare.match.engine">
      <matchengine
            engineClass="com.odcgroup.mdf.compare.MdfMatchEngine"
            fileExtension="domain"
            label="MDF Match Engine">
      </matchengine>
   </extension>
  <extension
        point="org.eclipse.emf.compare.diff.extension">
     <diffExtension
           extensionClass="com.odcgroup.mdf.compare.MdfAssociationExtension"
           fileExtension="domain">
     </diffExtension>
  </extension> 
  <extension
         point="org.eclipse.compare.contentMergeViewers">
      <viewer
            class="com.odcgroup.mdf.compare.viewer.content.MdfModelContentMergeViewerCreator"
            extensions="domain"
            id="com.odcgroup.mdf.compare.content"/> 
   </extension>
   <extension
         point="org.eclipse.compare.structureMergeViewers">
      <viewer
            class="com.odcgroup.mdf.compare.viewer.structure.MdfModelStructureMergeViewerCreator"
            extensions="domain"
            id="com.odcgroup.mdf.compare.structure"/>
   </extension>
   <extension
         point="org.eclipse.emf.compare.diff.mergerprovider">
      <mergerprovider
            fileExtension="domain"
            mergerProviderClass="com.odcgroup.mdf.compare.internal.merge.MdfMergerProvider"
            priority="highest">
      </mergerprovider>
   </extension>
  <!-- End Compare functionality -->
</plugin>
