<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.odcgroup.workbench.preferences.ofs"
            class="com.odcgroup.page.ocs.ui.preferences.DisplayFormatPreferencePage"
            id="com.odcgroup.page.ocs.ui.preferences.displayformat"
            name="Display Formats"/>         
   </extension>  
   
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.odcgroup.workbench.preferences.ofs"
            class="com.odcgroup.page.ocs.ui.preferences.ImagesPreferencePage"
            id="com.odcgroup.page.ocs.ui.preferences.images"
            name="Icons"/>         
   </extension>  
   
</plugin>
