<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="com.ose.system.ui"
   name="System Browser"
   version="1.9.2"
   provider-name="Enea Software AB"
   class="com.ose.system.ui.SystemBrowserPlugin">

   <runtime>
      <library name="systembrowser.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.birt.chart.engine"/>
      <import plugin="org.eclipse.debug.ui"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.ui.forms"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="com.ibm.icu"/>
      <import plugin="com.ose.httpd"/>
      <import plugin="com.ose.plugin.control"/>
      <import plugin="com.ose.system"/>
   </requires>

   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            class="com.ose.system.ui.SystemModelNodeAdapterFactory"
            adaptableType="com.ose.system.SystemModelNode">
         <adapter type="org.eclipse.ui.views.properties.IPropertySource"/>
         <adapter type="org.eclipse.ui.IActionFilter"/>
      </factory>
   </extension>

   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="com.ose.system.ui.SystemModelPreferenceInitializer"/>
   </extension>

   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="System Browsing"
            icon="icons/cview16/logo.gif"
            id="com.ose.system.ui.SystemBrowserPerspective"
            class="com.ose.system.ui.SystemBrowserPerspective">
      </perspective>
   </extension>

   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.ose.system.ui.SystemBrowserPerspective">
         <perspectiveShortcut
               id="org.eclipse.ui.resourcePerspective">
         </perspectiveShortcut>
         <perspectiveShortcut
               id="org.eclipse.debug.ui.DebugPerspective">
         </perspectiveShortcut>
         <perspectiveShortcut
               id="org.eclipse.cdt.ui.CPerspective">
         </perspectiveShortcut>
         <actionSet
               id="org.eclipse.debug.ui.launchActionSet">
         </actionSet>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <perspectiveShortcut
               id="com.ose.system.ui.SystemBrowserPerspective">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.debug.ui.DebugPerspective">
         <perspectiveShortcut
               id="com.ose.system.ui.SystemBrowserPerspective">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.cdt.ui.CPerspective">
         <perspectiveShortcut
               id="com.ose.system.ui.SystemBrowserPerspective">
         </perspectiveShortcut>
      </perspectiveExtension>
   </extension>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Optima"
            id="com.ose.view.category">
      </category>
      <view
            name="System Browser"
            icon="icons/cview16/logo.gif"
            id="com.ose.system.ui.views.system.SystemView"
            category="com.ose.view.category"
            class="com.ose.system.ui.views.system.SystemView">
      </view>
      <view
            name="Block List"
            icon="icons/obj16/block.gif"
            id="com.ose.system.ui.views.block.BlockView"
            category="com.ose.view.category"
            class="com.ose.system.ui.views.block.BlockView">
      </view>
      <view
            name="Process List"
            icon="icons/obj16/process.gif"
            id="com.ose.system.ui.views.process.ProcessView"
            category="com.ose.view.category"
            class="com.ose.system.ui.views.process.ProcessView">
      </view>
      <view
            name="Load Modules"
            icon="icons/obj16/load_module.gif"
            id="com.ose.system.ui.views.loadmodule.LoadModuleView"
            category="com.ose.view.category"
            class="com.ose.system.ui.views.loadmodule.LoadModuleView">
      </view>
      <view
            name="Pool Browser"
            icon="icons/obj16/pool.gif"
            id="com.ose.system.ui.views.pool.PoolView"
            category="com.ose.view.category"
            class="com.ose.system.ui.views.pool.PoolView">
      </view>
      <view
            name="Pool Optimizer"
            icon="icons/elcl16/pool_optimize.gif"
            id="com.ose.system.ui.views.pooloptimizer.PoolOptimizerView"
            category="com.ose.view.category"
            class="com.ose.system.ui.views.pooloptimizer.PoolOptimizerView">
      </view>
      <view
            name="Heap Browser"
            icon="icons/obj16/heap.gif"
            id="com.ose.system.ui.views.heap.HeapView"
            category="com.ose.view.category"
            class="com.ose.system.ui.views.heap.HeapView">
      </view>
   </extension>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="System Editor"
            icon="icons/cview16/logo.gif"
            id="com.ose.system.ui.editors.SystemModelNodeFormEditor"
            class="com.ose.system.ui.editors.SystemModelNodeFormEditor">
      </editor>
      <editor
            name="Chart Editor"
            icon="icons/obj16/chart.gif"
            id="com.ose.system.ui.editors.ChartModelFormEditor"
            class="com.ose.system.ui.editors.ChartModelFormEditor">
      </editor>
   </extension>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
         name="Optima"
         id="com.ose.system.ui.SystemModelPreferencePage"
         class="com.ose.system.ui.SystemModelPreferencePage">
      </page>
   </extension>

   <extension
         point="org.eclipse.debug.ui.memoryRenderings">
      <renderingBindings renderingIds="org.eclipse.debug.ui.rendering.raw_memory,
      	                               org.eclipse.debug.ui.rendering.ascii,
      	                               org.eclipse.debug.ui.rendering.signedint,
      	                               org.eclipse.debug.ui.rendering.unsignedint"
      	                 defaultIds="org.eclipse.debug.ui.rendering.raw_memory"
      	                 primaryId="org.eclipse.debug.ui.rendering.raw_memory">
         <enablement>
            <instanceof value="com.ose.system.debug.OseMemoryBlock"/>
         </enablement>
      </renderingBindings>
   </extension>
</plugin>
