<?xml version="1.0" encoding="utf-8"?>
<plugin>	
	<extension point="org.eclipse.help.toc">
		<toc category="com.odcgroup.ods" file="TAPDesignStudio_UserGuide.xml" primary="true"/>
	</extension>
	<extension point="org.eclipse.help.contexts">
		<contexts file="DSContextHelp.xml"/>
	</extension>
</plugin>
