/* Root Theme */
.root{
    -fx-base: #000000;
    -fx-background-color: #000000;
    -fx-focus-color: #000000;
}

/* Channel 1 - Button style */

#channel1_button_tab1 {
	-fx-text-fill: rgb(230,0,0);
}

#channel2_button_tab1 {
	-fx-text-fill: rgb(0,0,151);
}

#channel3_button_tab1 {
	-fx-text-fill: rgb(255,131,6);
}

#channel4_button_tab1 {
	-fx-text-fill: rgb(0,119,0);
}


#channel1_button_tab2 {
	-fx-text-fill: rgb(230,0,0);
}

#channel2_button_tab2 {
	-fx-text-fill: rgb(0,0,151);
}

#channel3_button_tab2 {
	-fx-text-fill: rgb(255,131,6);
}

#channel4_button_tab2 {
	-fx-text-fill: rgb(0,119,0);
}

#channel1_button_tab3 {
	-fx-text-fill: rgb(230,0,0);
}

#channel2_button_tab3 {
	-fx-text-fill: rgb(0,0,151);
}

#channel3_button_tab3 {
	-fx-text-fill: rgb(255,131,6);
}

#channel4_button_tab3 {
	-fx-text-fill: rgb(0,119,0);
}

#channel1_button_tab4 {
	-fx-text-fill: rgb(230,0,0);
}

#channel2_button_tab4 {
	-fx-text-fill: rgb(0,0,151);
}

#channel3_button_tab4 {
	-fx-text-fill: rgb(255,131,6);
}

#channel4_button_tab4 {
	-fx-text-fill: rgb(0,119,0);
}

#channel1_button_tab5 {
	-fx-text-fill: rgb(230,0,0);
}

#channel2_button_tab5 {
	-fx-text-fill: rgb(0,0,151);
}

#channel3_button_tab5 {
	-fx-text-fill: rgb(255,131,6);
}

#channel4_button_tab5 {
	-fx-text-fill: rgb(0,119,0);
}

#channel1_button_tab6 {
	-fx-text-fill: rgb(230,0,0);
}

#channel2_button_tab6 {
	-fx-text-fill: rgb(0,0,151);
}

#channel3_button_tab6 {
	-fx-text-fill: rgb(255,131,6);
}

#channel4_button_tab6 {
	-fx-text-fill: rgb(0,119,0);
}

#channel1_button_tab7 {
	-fx-text-fill: rgb(230,0,0);
}

#channel2_button_tab7 {
	-fx-text-fill: rgb(0,0,151);
}

#channel3_button_tab7 {
	-fx-text-fill: rgb(255,131,6);
}

#channel4_button_tab7 {
	-fx-text-fill: rgb(0,119,0);
}

#channel1_button_tab8 {
	-fx-text-fill: rgb(230,0,0);
}

#channel2_button_tab8 {
	-fx-text-fill: rgb(0,0,151);
}

#channel3_button_tab8 {
	-fx-text-fill: rgb(255,131,6);
}

#channel4_button_tab8 {
	-fx-text-fill: rgb(0,119,0);
}


/* Line chart Properties button */
#chartproperties_tab1 {
	-fx-background-image: url('../../../../../../../icons/properties.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}

#chartproperties_tab2 {
	-fx-background-image: url('../../../../../../../icons/properties.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}

#chartproperties_tab3 {
	-fx-background-image: url('../../../../../../../icons/properties.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}

#chartproperties_tab4 {
	-fx-background-image: url('../../../../../../../icons/properties.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}

#chartproperties_tab5 {
	-fx-background-image: url('../../../../../../../icons/properties.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}

#chartproperties_tab6 {
	-fx-background-image: url('../../../../../../../icons/properties.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}

#chartproperties_tab7 {
	-fx-background-image: url('../../../../../../../icons/properties.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}

#chartproperties_tab8 {
	-fx-background-image: url('../../../../../../../icons/properties.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}


/* Table Toolbar Buttons */
#tableproperties {
	-fx-background-image: url('../../../../../../../icons/properties.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}

#addvariable {
	-fx-background-image: url('../../../../../../../icons/add.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}

#removevariable {
	-fx-background-image: url('../../../../../../../icons/remove.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}

#refreshvariable {
	-fx-background-image: url('../../../../../../../icons/refresh.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}

#logvariable {
	-fx-background-image: url('../../../../../../../icons/datalog.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}


/* UP & DOWN Button Image for All Tabs */
#channel1_up_tab1{
   -fx-background-image: url('../../../../../../../icons/up.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}
#channel1_down_tab1{
   -fx-background-image: url('../../../../../../../icons/down.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}
#channel2_up_tab1{
   -fx-background-image: url('../../../../../../../icons/up.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}
#channel2_down_tab1{
   -fx-background-image: url('../../../../../../../icons/down.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}
#channel3_up_tab1{
   -fx-background-image: url('../../../../../../../icons/up.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}
#channel3_down_tab1{
   -fx-background-image: url('../../../../../../../icons/down.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}
#channel4_up_tab1{
   -fx-background-image: url('../../../../../../../icons/up.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}
#channel4_down_tab1{
   -fx-background-image: url('../../../../../../../icons/down.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}


#channel1_up_tab2{
   -fx-background-image: url('../../../../../../../icons/up.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}
#channel1_down_tab2{
   -fx-background-image: url('../../../../../../../icons/down.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}
#channel2_up_tab2{
   -fx-background-image: url('../../../../../../../icons/up.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}
#channel2_down_tab2{
   -fx-background-image: url('../../../../../../../icons/down.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}
#channel3_up_tab2{
   -fx-background-image: url('../../../../../../../icons/up.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}
#channel3_down_tab2{
   -fx-background-image: url('../../../../../../../icons/down.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}
#channel4_up_tab2{
   -fx-background-image: url('../../../../../../../icons/up.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}
#channel4_down_tab2{
   -fx-background-image: url('../../../../../../../icons/down.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}

#channel1_up_tab3{
   -fx-background-image: url('../../../../../../../icons/up.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}
#channel1_down_tab3{
   -fx-background-image: url('../../../../../../../icons/down.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}
#channel2_up_tab3{
   -fx-background-image: url('../../../../../../../icons/up.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}
#channel2_down_tab3{
   -fx-background-image: url('../../../../../../../icons/down.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}
#channel3_up_tab3{
   -fx-background-image: url('../../../../../../../icons/up.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}
#channel3_down_tab3{
   -fx-background-image: url('../../../../../../../icons/down.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}
#channel4_up_tab3{
   -fx-background-image: url('../../../../../../../icons/up.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}
#channel4_down_tab3{
   -fx-background-image: url('../../../../../../../icons/down.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}


#channel1_up_tab4{
   -fx-background-image: url('../../../../../../../icons/up.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}
#channel1_down_tab4{
   -fx-background-image: url('../../../../../../../icons/down.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}
#channel2_up_tab4{
   -fx-background-image: url('../../../../../../../icons/up.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}
#channel2_down_tab4{
   -fx-background-image: url('../../../../../../../icons/down.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}
#channel3_up_tab4{
   -fx-background-image: url('../../../../../../../icons/up.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}
#channel3_down_tab4{
   -fx-background-image: url('../../../../../../../icons/down.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}
#channel4_up_tab4{
   -fx-background-image: url('../../../../../../../icons/up.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}
#channel4_down_tab4{
   -fx-background-image: url('../../../../../../../icons/down.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}



#channel1_up_tab5{
   -fx-background-image: url('../../../../../../../icons/up.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}
#channel1_down_tab5{
   -fx-background-image: url('../../../../../../../icons/down.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}
#channel2_up_tab5{
   -fx-background-image: url('../../../../../../../icons/up.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}
#channel2_down_tab5{
   -fx-background-image: url('../../../../../../../icons/down.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}
#channel3_up_tab5{
   -fx-background-image: url('../../../../../../../icons/up.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}
#channel3_down_tab5{
   -fx-background-image: url('../../../../../../../icons/down.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}
#channel4_up_tab5{
   -fx-background-image: url('../../../../../../../icons/up.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}
#channel4_down_tab5{
   -fx-background-image: url('../../../../../../../icons/down.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}


#channel1_up_tab6{
   -fx-background-image: url('../../../../../../../icons/up.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}
#channel1_down_tab6{
   -fx-background-image: url('../../../../../../../icons/down.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}
#channel2_up_tab6{
   -fx-background-image: url('../../../../../../../icons/up.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}
#channel2_down_tab6{
   -fx-background-image: url('../../../../../../../icons/down.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}
#channel3_up_tab6{
   -fx-background-image: url('../../../../../../../icons/up.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}
#channel3_down_tab6{
   -fx-background-image: url('../../../../../../../icons/down.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}
#channel4_up_tab6{
   -fx-background-image: url('../../../../../../../icons/up.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}
#channel4_down_tab6{
   -fx-background-image: url('../../../../../../../icons/down.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}


#channel1_up_tab7{
   -fx-background-image: url('../../../../../../../icons/up.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}
#channel1_down_tab7{
   -fx-background-image: url('../../../../../../../icons/down.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}
#channel2_up_tab7{
   -fx-background-image: url('../../../../../../../icons/up.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}
#channel2_down_tab7{
   -fx-background-image: url('../../../../../../../icons/down.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}
#channel3_up_tab7{
   -fx-background-image: url('../../../../../../../icons/up.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}
#channel3_down_tab7{
   -fx-background-image: url('../../../../../../../icons/down.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}
#channel4_up_tab7{
   -fx-background-image: url('../../../../../../../icons/up.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}
#channel4_down_tab7{
   -fx-background-image: url('../../../../../../../icons/down.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}


#channel1_up_tab8{
   -fx-background-image: url('../../../../../../../icons/up.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}
#channel1_down_tab8{
   -fx-background-image: url('../../../../../../../icons/down.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}
#channel2_up_tab8{
   -fx-background-image: url('../../../../../../../icons/up.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}
#channel2_down_tab8{
   -fx-background-image: url('../../../../../../../icons/down.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}
#channel3_up_tab8{
   -fx-background-image: url('../../../../../../../icons/up.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}
#channel3_down_tab8{
   -fx-background-image: url('../../../../../../../icons/down.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}
#channel4_up_tab8{
   -fx-background-image: url('../../../../../../../icons/up.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}
#channel4_down_tab8{
   -fx-background-image: url('../../../../../../../icons/down.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}



/* Variable Label */
#variablelable {
-fx-background-color:rgb(192,192,192);
}

/* Toolbar */
#playtoolbar {
	-fx-background-image: url('../../../../../../../icons/play.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}

#stoptoolbar {
	-fx-background-image: url('../../../../../../../icons/stop.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}

#flashtoolbar {
	-fx-background-image: url('../../../../../../../icons/download.png');
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
}


/* Charts Style for Linechart-1 for All Tabs*/
.chart-vertical-grid-lines {
    -fx-stroke: rgb(0,128,64);

}
.chart-horizontal-grid-lines {
    -fx-stroke: rgb(0,128,64);
    -fx-border-style: none ;
}
.chart-alternative-row-fill {
    -fx-fill: #000000;
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}
.chart-plot-background {
    -fx-background-color: #000000;

}

.chart-series-line {
    -fx-stroke-width: 2px;
    -fx-effect: null;
}