<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Odyssey Financial Technologies
-->

<plugin>
<!--
   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="com.odcgroup.menu.editor.ui.MenuModelWizardID"
            name="%_UI_MenuModelWizard_label"
            class="com.odcgroup.menu.editor.ui.MenuModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/MenuModelFile.gif">
         <description>%_UI_MenuModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>
   
-->
   <extension point="org.eclipse.ui.editors">
      <editor
            class="com.odcgroup.menu.editor.ui.MenuEditor"
            contributorClass="com.odcgroup.menu.editor.ui.MenuActionBarContributor"
            default="true"
            extensions="menu"
            filenames="*.menu"
            icon="icons/full/obj16/MenuModelFile.gif"
            id="com.odcgroup.menu.editor.ui.MenuEditorID"
            name="%_UI_MenuEditor_label">
      </editor>
   </extension>
   
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            class="com.odcgroup.menu.editor.wizard.MenuWizard"
            icon="icons/full/obj16/MenuModelFile.gif"
            id="com.odcgroup.menu.wizard"
            name="Menu Wizard">
      </wizard>
   </extension>
   
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <actionProvider
            class="com.odcgroup.menu.editor.wizard.MenuActionProvider"
            id="com.odcgroup.workbench.ui.navigator.action.menu">
         <enablement>
            <and>
               <adapt type="com.odcgroup.workbench.core.IOfsModelPackage"/>
               <test property="com.odcgroup.workbench.core.modelType" value="menu"/>
            </and>
         </enablement>
      </actionProvider>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            class="com.odcgroup.menu.editor.decorators.MenuValidationDecorator"
            id="com.odcgroup.menu.editor.decorators.MenuValidationDecorator"
            label="Menu Item Validation Decorator"
            lightweight="true"
            state="true">
         <enablement>
            <objectClass
                  name="com.odcgroup.menu.model.MenuItem">
            </objectClass>
         </enablement>
      </decorator>
      <decorator
            class="com.odcgroup.menu.editor.decorators.MenuEnabledDecorator"
            id="com.odcgroup.menu.editor.decorators.MenuEnabledDecorator"
            label="Menu Item Pageflow Decorator"
            lightweight="true"
            state="true">
         <enablement>
            <objectClass
                  name="com.odcgroup.menu.model.MenuItem">
            </objectClass>
         </enablement>
      </decorator>
      <decorator
            class="com.odcgroup.menu.editor.decorators.MenuPageflowDecorator"
            id="com.odcgroup.menu.editor.decorators.MenuPageflowDecorator"
            label="Menu Item Pageflow Decorator"
            lightweight="true"
            state="true">
         <enablement>
            <objectClass
                  name="com.odcgroup.menu.model.MenuItem">
            </objectClass>
         </enablement>
      </decorator>      
   </extension>
   
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="com.odcgroup.menu.editor"
            labelProvider="com.odcgroup.menu.editor.properties.MenuLabelProvider"
            typeMapper="com.odcgroup.menu.editor.properties.MenuTypeMapper">
            <propertyCategory category="self"/>
      </propertyContributor>
   </extension>
   
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="com.odcgroup.menu.editor">
         <propertyTab
               category="self"
               id="menu.tab.general"
               label="General"/>
         <propertyTab
               afterTab="menu.tab.general"
               category="self"
               id="menu.tab.translation"
               label="Translation"/>
      </propertyTabs>
   </extension>
   
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="com.odcgroup.menu.editor">
         <propertySection
               class="com.odcgroup.menu.editor.properties.MenuTranslationPropertySection"
               id="menu.section.translation"
               tab="menu.tab.translation">
            <input type="com.odcgroup.menu.model.MenuItem" />
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="com.odcgroup.menu.editor">
         <propertySection
               class="com.odcgroup.menu.editor.properties.MenuPageflowPropertySection"
               id="menu.section.pageflow"
               tab="menu.tab.general">
            <input
                  type="com.odcgroup.menu.model.MenuItem">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="com.odcgroup.translation.viewer.command">
      <provider
            class="com.odcgroup.menu.editor.translation.command.MenuTranslationCommandProvider"
            id="com.odcgroup.menu.editor.translation.tablecommandprovider"
            name="Table Commands Provider for the Menu Designer"
            natureId="org.eclipse.jdt.core.javanature"
            priority="2">
         <input
               type="com.odcgroup.menu.model.MenuItem">
         </input>
      </provider>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.odcgroup.menu.editor.translation.command.MenuUpdateTranslationHandler"
            id="com.odcgroup.menu.command.translation.update"
            name="Change Translation">
         <commandParameter
               id="text"
               name="text"
               optional="false">
         </commandParameter>
      </command>
      <command
            defaultHandler="com.odcgroup.menu.editor.translation.command.MenuRemoveTranslationHandler"
            id="com.odcgroup.menu.command.translation.remove"
            name="Remove Translation">
      </command>
      <command
            defaultHandler="com.odcgroup.menu.editor.dnd.command.MenuItemDnDHandler"
            id="com.odcgroup.menu.editor.menudnd"
            name="MenuItemDnD">
      </command>
   </extension>
   <extension
         point="com.odcgroup.translation.collector">
      <collectorProvider
            class="com.odcgroup.menu.editor.translation.MenuModelTranslationCollectorProvider"
            defaultActive="false"
            displayName="Menu"
            fileExtensions="menu"
            id="com.odcgroup.menu.MenuCollectorProvider">
      </collectorProvider>
   </extension>
   <extension
         point="com.odcgroup.translation.visitor">
      <provider
            class="com.odcgroup.menu.editor.translation.MenuTranslationVisitorProvider"
            id="com.odcgroup.menu.editor.translation.visitorprovider"
            name="Menu visitor">
         <input
               type="com.odcgroup.menu.model.MenuRoot">
         </input>
      </provider>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="com.odcgroup.menu.editor.context"
            name="Menu Editor Context"
            parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
      </context>
   </extension>
   <extension
         id="com.odcgroup.menu.editor.keybindings"
         name="Menu KeyBindings"
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.odcgroup.menu.editor.menudnd"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+ARROW_UP">
      </key>
      <key
            commandId="com.odcgroup.menu.editor.menudnd"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+ARROW_DOWN">
      </key>
      <key
            commandId="com.odcgroup.menu.editor.menudnd"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+ARROW_LEFT">
      </key>
      <key
            commandId="com.odcgroup.menu.editor.menudnd"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+ARROW_RIGHT">
      </key>
      <key
            commandId="com.odcgroup.workbench.generation.ui.SaveAndGenerate"
            contextId="com.odcgroup.menu.editor.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+G">
      </key>
   </extension>
   
</plugin>
