<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="com.odcgroup.workbench"
            class="com.odcgroup.domain.edmx.ui.wizard.EDMXImportWizard"
            icon="icons/domain_dsl.gif"
            id="com.odcgroup.domain.edmx.ui.internal.wizard.DomainEdmxImportWizard"
            name="Import Entity Data Model(OData)">
         <description>
            Import Entity Data Model(OData)
         </description>
      </wizard>
   </extension>
</plugin>
