<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension point="com.odcgroup.mdf.editor.dialogpage">
		<factory
			class="com.odcgroup.t24.mdf.editor.ui.T24MdfPagesFactory"
            type="mdf"/>
	</extension>
	<extension point="com.odcgroup.mdf.editor.dialogpage">
		<factory
			class="com.odcgroup.t24.mdf.editor.ui.dialogs.doc.T24DocPagesFactory"
            type="doc"/>
   	</extension>
	<extension point="com.odcgroup.mdf.editor.dialogpage">
		<factory
        	class="com.odcgroup.t24.mdf.editor.ui.dialogs.page.T24MdfTranslationDialogPagesFactory"
	        type="translation">
		</factory>
	</extension>
   <extension
         point="com.odcgroup.mdf.editor.domain_attribute_sorter_override">
      <mdfAttributeSorter
            class="com.odcgroup.t24.mdf.editor.ui.attribute.sorter.T24MdfElementSorter"></mdfAttributeSorter>
   </extension>
   <extension
         point="com.odcgroup.mdf.editor.domaincreationpage">
      <pagecreator
            class="com.odcgroup.t24.mdf.editor.ui.wizardpage.T24DomainCreationPageCreator">
      </pagecreator>
   </extension>
   <extension
         point="com.odcgroup.mdf.editor.domainmodeleditorcontributor_override">
      <domaineditorcontributor
            class="com.odcgroup.t24.mdf.editor.ui.T24DomainModelContributorProvider">
      </domaineditorcontributor>
   </extension>
<extension
       point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension
          targetID="com.odcgroup.workbench.ui.perspectives.ofs">
       <newWizardShortcut
             id="com.odcgroup.t24.workbench.ui.newDomainWizard">
       </newWizardShortcut>
    </perspectiveExtension>
 </extension>
<extension
       point="org.eclipse.ui.newWizards">
     <wizard
          category="com.odcgroup.workbench"
          class="com.odcgroup.mdf.editor.ui.dialogs.NewDomainCreationWizard"
          finalPerspective="com.odcgroup.workbench.ui.perspectives.ofs"
          icon="icons/domain.gif"
          id="com.odcgroup.t24.workbench.ui.newDomainWizard"
          name="New Domain..."
          preferredPerspectives="com.odcgroup.workbench.ui.perspectives.ofs">
    </wizard>
  </extension>
</plugin>
