<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.compare.contentMergeViewers">
      <viewer
            class="com.odcgroup.process.compare.internal.viewer.ProcessContentMergeViewerCreator"
            extensions="workflow"
            id="com.odcgroup.process.compare.content">
      </viewer>
   </extension>
   <extension
         point="org.eclipse.compare.structureMergeViewers">
      <viewer
            class="com.odcgroup.process.compare.internal.viewer.ProcessStructureMergeViewerCreator"
            extensions="workflow"
            id="com.odcgroup.process.compare.structure">
      </viewer>
   </extension>
  <extension
         point="org.eclipse.emf.compare.match.engine">
      <matchengine
            engineClass="com.odcgroup.process.compare.internal.engine.ProcessMatchEngine"
            fileExtension="workflow"
            label="Workflow Match Engine"/>
   </extension>
  <extension
        point="org.eclipse.emf.compare.diff.extension">
     <diffExtension
           extensionClass="com.odcgroup.process.compare.internal.engine.ProcessDiffEngineExtension"
           fileExtension="workflow">
     </diffExtension>
  </extension>
</plugin>
