<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="com.ose.ui.tests"
   name="Optima UI Tests"
   version="1.3.0"
   provider-name="Enea Software AB">

   <runtime>
      <library name="tests.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.jface"/>
      <import plugin="org.eclipse.swt"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.junit"/>
      <import plugin="com.windowtester.runtime"/>
      <import plugin="com.windowtester.swt.runtime"/>
      <import plugin="com.ose.system"/>
      <import plugin="com.ose.system.ui"/>
      <import plugin="com.ose.event.ui"/>
      <import plugin="com.ose.prof.ui"/>
   </requires>
   <extension
         point="com.windowtester.runtime.runtimeFactory">
      <factory
            arch="x86"
            class="com.ose.windowtester.swt.runtime.WTRuntimeFactory"
            os="win32"
            priority="5"
            ws="win32">
      </factory>
   </extension>
   <extension
         point="com.windowtester.runtime.runtimeFactory">
      <factory
            arch="x86_64"
            class="com.ose.windowtester.swt.runtime.WTRuntimeFactory"
            os="win32"
            priority="5"
            ws="win32">
      </factory>
   </extension>
   <extension
         point="com.windowtester.runtime.runtimeFactory">
      <factory
            arch="x86"
            class="com.ose.windowtester.swt.runtime.WTRuntimeFactory"
            os="linux"
            priority="5"
            ws="gtk">
      </factory>
   </extension>
   <extension
         point="com.windowtester.runtime.runtimeFactory">
      <factory
            arch="x86"
            class="com.ose.windowtester.swt.runtime.WTRuntimeFactory"
            os="linux"
            priority="5"
            ws="motif">
      </factory>
   </extension>
   <extension
         point="com.windowtester.runtime.runtimeFactory">
      <factory
            arch="sparc"
            class="com.ose.windowtester.swt.runtime.WTRuntimeFactory"
            os="solaris"
            priority="5"
            ws="gtk">
      </factory>
   </extension>
   
   <!--
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Configure UI tests"
            visible="true"
            id="com.ose.ui.tests.actionSet">
         <menu
               label="Sample &amp;Menu"
               id="sampleMenu">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
               label="&amp;Configure UI tests"
               icon="icons/sample.gif"
               class="com.ose.ui.tests.framework.WTFrameWork"
               tooltip="Configure UI tests"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               id="com.ose.ui.tests.framework.WTFrameWork">
         </action>
      </actionSet>
   </extension>
   -->
   
</plugin>
