<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="com.ose.fmd.arm"
   name="ARM DS-5 Kernel Awareness Integration"
   version="1.0.0"
   provider-name="Enea Software AB"
   class="com.ose.fmd.arm.DebuggerPlugin">

   <runtime>
      <library name="fmd.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="com.ose.fmm"/>
      <import plugin="com.arm.debug.osext" optional="true"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.debug.core"/>
      <import plugin="org.eclipse.debug.ui"/>
      <import plugin="org.eclipse.ui"/>
   </requires>

   <!--
      We use the standard extension point
      org.eclipse.debug.ui.launchConfigurationTabs instead of ARM's custom
      extension point com.arm.debug.osext.launch in order to be able to build
      this plugin outside of ARM DS-5.
   -->
   <extension
      point="org.eclipse.debug.ui.launchConfigurationTabs">
      <tab
            name="OSE Tab"
            group="com.arm.debugger.launcher2"
            class="com.ose.fmd.arm.OseTab"
            id="com.ose.fmd.arm.oseTab">
            <placement after="com.arm.debugger.launcher2.tabs.eventviewer.EventViewerTab"/>
      </tab>
   </extension>

   <extension
      point="org.eclipse.ui.startup">
      <startup/>
   </extension>
</plugin>
