<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.odcgroup.documentation.generation.docGenCartridge">
      <cartridge
            category="Pageflow (HTML)"
            class="com.odcgroup.pageflow.docgen.cartridges.PageflowDescriptionCartridge"
            enabledByDefault="true"
            id="com.odcgroup.pageflow.docgen.cartridges.PageflowDescriptionCartridge"
            name="Pageflow Descriptions"
            terminal="false">
      </cartridge>
      <cartridge
            category="Pageflow (HTML)"
            class="com.odcgroup.pageflow.docgen.cartridges.PageflowPropertiesCartridge"
            enabledByDefault="true"
            id="com.odcgroup.pageflow.docgen.cartridges.PageflowPropertiesCartridge"
            name="Pageflow Properties"
            terminal="false">
      </cartridge>
      <cartridge
            category="Pageflow (HTML)"
            class="com.odcgroup.pageflow.docgen.cartridges.PageflowStatesCartridge"
            enabledByDefault="true"
            id="com.odcgroup.pageflow.docgen.cartridges.PageflowStatesCartridge"
            name="Pageflow States"
            terminal="false">
      </cartridge>
      <cartridge
            category="Pageflow (HTML)"
            class="com.odcgroup.pageflow.docgen.cartridges.PageflowTransitionsCartridge"
            enabledByDefault="true"
            id="com.odcgroup.pageflow.docgen.cartridges.PageflowTransitionsCartridge"
            name="Pageflow Transitions"
            terminal="false">
      </cartridge>
      <cartridge
            category="Pageflow (HTML)"
            class="com.odcgroup.pageflow.docgen.cartridges.PageflowXTransitionsCartridge"
            enabledByDefault="true"
            id="com.odcgroup.pageflow.docgen.cartridges.PageflowXTransitionsCartridge"
            name="Large List of Pageflow Transitions"
            terminal="true">
      </cartridge>
   </extension>

</plugin>
