<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="com.ose.fmd.cdt.cdi.gdb"
   name="OSE CDT CDI/GDB Kernel Awareness Integration"
   version="1.0.1"
   provider-name="Enea Software AB"
   class="com.ose.fmd.cdt.cdi.gdb.DebuggerPlugin">

   <runtime>
      <library name="fmd.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="com.ose.fmm"/>
      <import plugin="com.ose.plugin.control"/>
      <import plugin="org.eclipse.cdt.core"/>
      <import plugin="org.eclipse.cdt.debug.core"/>
      <import plugin="org.eclipse.cdt.debug.mi.core"/>
      <import plugin="org.eclipse.core.expressions"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.debug.core"/>
      <import plugin="org.eclipse.debug.ui"/>
      <import plugin="org.eclipse.ui"/>
   </requires>

   <extension
      point="org.eclipse.debug.ui.launchConfigurationTabs">
      <tab
            name="OSE Tab"
            group="org.eclipse.cdt.launch.applicationLaunchTabGroup"
            class="com.ose.fmd.cdt.cdi.gdb.OseTab"
            id="com.ose.fmd.cdt.cdi.gdb.oseTab">
            <associatedDelegate
               delegate="org.eclipse.cdt.cdi.launch.localCLaunch">
            </associatedDelegate>
            <placement
               after="org.eclipse.debug.ui.commonTab">
            </placement>
      </tab>
      <tab
            name="OSE Tab"
            group="org.eclipse.cdt.debug.gdbjtag.launchConfigurationTabGroup"
            class="com.ose.fmd.cdt.cdi.gdb.OseTab"
            id="com.ose.fmd.cdt.cdi.gdb.oseTab">
            <associatedDelegate
               delegate="org.eclipse.cdt.debug.gdbjtag.core.cdiLaunchDelegate">
            </associatedDelegate>
            <placement
               after="org.eclipse.debug.ui.commonTab">
            </placement>
      </tab>
   </extension>

   <extension
      point="org.eclipse.ui.startup">
      <startup/>
   </extension>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="com.ose.fmd.cdt.cdi.gdb.AddLoadModuleActionContribution"
            objectClass="org.eclipse.cdt.debug.core.model.ICDebugTarget">
         <!-- NOTE: Eclipse warns erroneously about the enablement element. -->
         <enablement>
            <test property="com.ose.fmd.cdt.cdi.gdb.isAddLoadModuleActionEnabled"/>
         </enablement>
         <action
               id="com.ose.fmd.cdt.cdi.gdb.AddLoadModuleAction"
               label="Add Load Module"
               menubarPath="additions"
               class="com.ose.fmd.cdt.cdi.gdb.AddLoadModuleActionDelegate"
               enablesFor="1">
         </action>
      </objectContribution>
   </extension>

   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
         id="com.ose.fmd.cdt.cdi.gdb.ICDebugTargetPropertyTester"
         type="org.eclipse.cdt.debug.core.model.ICDebugTarget"
         namespace="com.ose.fmd.cdt.cdi.gdb"
         properties="isAddLoadModuleActionEnabled"
         class="com.ose.fmd.cdt.cdi.gdb.CDebugTargetPropertyTester">
      </propertyTester>
   </extension>
</plugin>
