<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.odcgroup.workbench.generation.m2cCartridge">
      <cartridge
            category="AAA (Domain)"
            class="com.odcgroup.aaa.generation.udentities.UDEntitiesCodeGenerator"
            enabledByDefault="false"
            id="com.odcgroup.aaa.udentities.generator"
            name="UD Entities">
      </cartridge>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            default-charset="UTF-8"
            file-extensions="imp"
            id="aaa-generation.imp"
            name="AAA import file"
            priority="normal">
      </content-type>
   </extension>

</plugin>
