<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.odcgroup.server.ui.contribution">
      <contribution
            type="com.odcgroup.ocs.server.embedded.ui.EmbeddedServerContributions">
      </contribution>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/server_nature.png"
            id="embeddedserver.image"
            natureId="com.odcgroup.ocs.server.embeddedserver">
      </image>
   </extension>
</plugin>
