<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="dialogpage" name="MDF dialog page " schema="schema/dialogpage.exsd"/>
   <extension-point id="mmlextensions" name="MML Extensions" schema="schema/mmlextensions.exsd"/>
   <extension-point id="domainbuilder" name="Domain Builder" schema="schema/domainbuilder.exsd"/>
   <extension-point id="editionsupport_override" name="MDF Editor Edition Support" schema="schema/editionsupport_override.exsd"/>
   <!-- DS-1694 -->
   <extension-point id="modelfactory_override" name="Mdf Model Factory Override" schema="schema/modelfactory_override.exsd"/>
   <extension-point id="domaincreationpage" name="Domain Creation Page" schema="schema/domaincreationpage.exsd"/>
   <extension-point id="domain_attribute_sorter_override" name="Mdf Domain Attribute Sorter Override" schema="schema/domain_attribute_sorter_override.exsd"/>
   <extension-point id="mdfannotations_override" name="MDF Annotations Extension" schema="schema/mdfannotations_override.exsd"/>
   <extension-point id="domainmodeleditorcontributor_override" name="Domain Model Editor Contributor Override" schema="schema/domainmodeleditorcontributor_override.exsd"/>
   
	<!-- DS-370 new wizard impl
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="false"
            category="com.odcgroup.workbench"
            class="com.odcgroup.mdf.editor.ui.dialogs.NewDomainCreationWizard"
            hasPages="true"
            icon="icons/mml.gif"
            id="com.odcgroup.mdf.editor.ui.dialogs.MdfDomainModelWizard"
            name="%DomainModelWizard.name"
            project="false"/>
      <category
            id="com.odcgroup.workbench"
            name="Odyssey"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.odcgroup.mdf.editor.ui.editors.DomainModelEditor"
            contributorClass="com.odcgroup.mdf.editor.ui.editors.DomainModelEditorContributor"
            default="true"
            extensions="domain"
            icon="icons/domain_dsl.gif"
            id="com.odcgroup.mdf.editor.ui.editors.DomainModelEditor"
            name="%DomainModelEditor.name">
      </editor>
   </extension>
   -->
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            class="com.odcgroup.mdf.editor.ui.providers.decorators.TypeDecorator"
            id="com.odcgroup.mdf.editor.ui.providers.decorators.TypeDecorator"
            label="%TypeDecorator.name"
            lightweight="true"
            state="true">
         <enablement>
            <or>
               <objectClass name="com.odcgroup.mdf.metamodel.MdfEntity"/>
               <objectClass name="com.odcgroup.mdf.metamodel.MdfProperty"/>
               <objectClass name="com.odcgroup.mdf.metamodel.MdfDatasetProperty"/>
               <objectClass name="com.odcgroup.mdf.metamodel.MdfEnumValue"/>
               <objectClass name="com.odcgroup.mdf.metamodel.MdfDomain"/>
            </or>
         </enablement>
      </decorator>
      <decorator
            class="com.odcgroup.mdf.editor.ui.providers.decorators.CardinalityDecorator"
            id="com.odcgroup.mdf.editor.ui.providers.decorators.CardinalityDecorator"
            label="%CardinalityDecorator.name"
            lightweight="true"
            state="true">
         <enablement>
            <or>
               <objectClass name="com.odcgroup.mdf.metamodel.MdfProperty"/>
               <objectClass name="com.odcgroup.mdf.metamodel.MdfDatasetProperty"/>
            </or>
         </enablement>
      </decorator>
      <decorator
            class="com.odcgroup.mdf.editor.ui.providers.decorators.AbstractClassDecorator"
            id="com.odcgroup.mdf.editor.ui.providers.decorators.AbstractDecorator"
            label="%AbstractDecorator.name"
            lightweight="true"
            state="true">
         <enablement>
            <objectClass
                  name="com.odcgroup.mdf.metamodel.MdfClass">
            </objectClass>
         </enablement>
      </decorator>
      <decorator
            adaptable="true"
            class="com.odcgroup.mdf.editor.ui.providers.decorators.PrimaryKeyDecorator"
            id="com.odcgroup.mdf.editor.ui.providers.decorators.PrimaryKeyDecorator"
            label="%PrimaryKeyDecorator.name"
            lightweight="true"
            state="true">
         <enablement>
            <or>
               <objectClass
                     name="com.odcgroup.mdf.metamodel.MdfAttribute">
               </objectClass>
               <objectClass
                     name="com.odcgroup.mdf.metamodel.MdfAssociation">
               </objectClass>
            </or>
         </enablement>
      </decorator>
      <decorator
            adaptable="true"
            class="com.odcgroup.mdf.editor.ui.providers.decorators.BusinessKeyDecorator"
            id="com.odcgroup.mdf.editor.ui.providers.decorators.BusinessKeyDecorator"
            label="%BusinessKeyDecorator.name"
            lightweight="true"
            state="true">
         <enablement>
            <objectClass
                  name="com.odcgroup.mdf.metamodel.MdfProperty">
            </objectClass>
         </enablement>
      </decorator>
      <decorator
            class="com.odcgroup.mdf.editor.ui.providers.decorators.ValidationDecorator"
            id="com.odcgroup.mdf.editor.ui.providers.decorators.ValidationDecorator"
            label="%ValidationDecorator.name"
            lightweight="true"
            state="true">
         <enablement>
            <or>
               <objectClass name="com.odcgroup.mdf.metamodel.MdfEntity"/>
               <objectClass name="com.odcgroup.mdf.metamodel.MdfProperty"/>
               <objectClass name="com.odcgroup.mdf.metamodel.MdfDatasetProperty"/>
               <objectClass name="com.odcgroup.mdf.metamodel.MdfEnumValue"/>
               <objectClass name="com.odcgroup.mdf.metamodel.MdfDomain"/>
            </or>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="com.odcgroup.mdf.validation.modelvalidator">
      <validator class="com.odcgroup.mdf.validation.validator.MdfModelValidatorProvider" />
      <validator class="com.odcgroup.mdf.validation.validator.MdfDocValidator" />
      <validator class="com.odcgroup.mdf.validation.validator.JavaExtensionValidator" />
      <validator class="com.odcgroup.mdf.validation.validator.MdfAnnotationsValidator"/>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="com.odcgroup.mdf.editor.ui.editors.DomainModelEditorContribution"
            targetID="com.odcgroup.domain.Domain">
         <menu 
               id="filters"
               label="&amp;Filters"
               path="com.odcgroup.mdf.editor.menuId/additions">
            <groupMarker
                  name="additions">
            </groupMarker>
         </menu>
         <action
               class="com.odcgroup.mdf.editor.ui.actions.AlphaSortAction"
               icon="icons/alphab_sort_co.gif"
               id="com.odcgroup.mdf.editor.actions.mdfattributesort"
               label="%AlphaSortAction.label"
               menubarPath="com.odcgroup.mdf.editor.menuId/filters/additions"
               state="true"
               style="toggle"
               toolbarPath="settings"
               tooltip="%AlphaSortAction.tooltip">
         </action>
         <action
               class="com.odcgroup.mdf.editor.ui.actions.BackSelectionAction"
               icon="icons/back.gif"
               id="com.odcgroup.mdf.editor.actions.backSelectionAction"
               label="%BackSelectionAction.label"
               menubarPath="com.odcgroup.mdf.editor.menuId/filters/additions"
               state="false"
               style="push"
               toolbarPath="settings"
               tooltip="%BackSelectionAction.tooltip">
         </action>
         <action
               class="com.odcgroup.mdf.editor.ui.actions.BusinessTypeFilterActionDelegate"
               icon="icons/btype.gif"
               id="com.odcgroup.mdf.editor.actions.filterBusinessTypes"
               label="%FilterBusinessTypesAction.label"
               menubarPath="com.odcgroup.mdf.editor.menuId/filters/additions"
               state="true"
               style="toggle"
               toolbarPath="settings"
               tooltip="%FilterBusinessTypesAction.tooltip">
         </action>
         <action
               class="com.odcgroup.mdf.editor.ui.actions.EnumFilterActionDelegate"
               icon="icons/enum.gif"
               id="com.odcgroup.mdf.editor.actions.filterEnums"
               label="%FilterEnumsAction.label"
               menubarPath="com.odcgroup.mdf.editor.menuId/filters/additions"
               state="true"
               style="toggle"
               toolbarPath="settings"
               tooltip="%FilterEnumsAction.tooltip">
         </action>
         <action
               class="com.odcgroup.mdf.editor.ui.actions.DatasetFilterActionDelegate"
               icon="icons/dataset.gif"
               id="com.odcgroup.mdf.editor.actions.filterDatasets"
               label="%FilterDatasetsAction.label"
               menubarPath="com.odcgroup.mdf.editor.menuId/filters/additions"
               state="true"
               style="toggle"
               toolbarPath="settings"
               tooltip="%FilterDatasetsAction.tooltip">
         </action>
         <action
               class="com.odcgroup.mdf.editor.ui.actions.ClassFilterActionDelegate"
               icon="icons/class.gif"
               id="com.odcgroup.mdf.editor.actions.filterClasses"
               label="%FilterClassesAction.label"
               menubarPath="com.odcgroup.mdf.editor.menuId/filters/additions"
               state="true"
               style="toggle"
               toolbarPath="settings"
               tooltip="%FilterClassesAction.tooltip">
         </action>
         <action
               class="com.odcgroup.mdf.editor.ui.actions.MainClassFilterActionDelegate"
               icon="icons/mainclass.gif"
               id="com.odcgroup.mdf.editor.actions.filterMainClasses"
               label="%FilterMainClassesAction.label"
               menubarPath="com.odcgroup.mdf.editor.menuId/filters/additions"
               state="true"
               style="toggle"
               toolbarPath="settings"
               tooltip="%FilterMainClassesAction.tooltip">
         </action>
      </editorContribution>
   </extension>    
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.odcgroup.mdf.metamodel.MdfEntity"
            class="com.odcgroup.workbench.ui.adapter.ActionFilterAdapterFactory">
         <adapter
               type="org.eclipse.ui.IActionFilter">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent"> 
         <actionProvider
            class="com.odcgroup.mdf.editor.ui.actions.MdfActionProvider"
            id="com.odcgroup.mdf.editor.ui.actions.MdfActionProvider"
            priority="high">
     	<enablement>      
       <and>
              <adapt
                    type="org.eclipse.core.resources.IResource">
              </adapt>          
     		<or>    
              <adapt
                    type="com.odcgroup.workbench.core.IOfsModelPackage">
              </adapt>          
              <adapt
                    type="com.odcgroup.workbench.core.IOfsModelResource">
              </adapt>         
              <adapt
                    type="com.odcgroup.workbench.core.IOfsModelFolder">
              </adapt>
            </or>
       </and>
        </enablement>
      </actionProvider>
      <actionProvider
               class="com.odcgroup.mdf.editor.ui.actions.MdfEditActionProvider"
               id="com.odcgroup.workbench.ui.navigator.action.Edit3"
               overrides="com.odcgroup.workbench.ui.navigator.action.editAction">
            <enablement>
               <or>
                  <and>
                     <adapt
                           type="com.odcgroup.workbench.core.IOfsModelPackage">
                     </adapt>
                     <or>
                        <test
                              property="com.odcgroup.workbench.core.modelType"
                              value="domain">
                        </test></or></and>
                  <and>
                     <adapt
                           type="com.odcgroup.workbench.core.IOfsModelResource">
                     </adapt>
                     <or>
                        <test
                              property="com.odcgroup.workbench.core.modelType"
                              value="domain">
                        </test>
                     </or></and></or></enablement>
         </actionProvider>
   </extension>
   
     <extension
         point="com.odcgroup.mdf.editor.dialogpage">
      <factory
            class="com.odcgroup.mdf.editor.ui.dialogs.mdf.MdfPagesFactory"
            type="mdf">
      </factory>
   </extension>
   <extension
          point="org.eclipse.ui.bindings">
       <key
             commandId="com.odcgroup.workbench.generation.ui.SaveAndGenerate"
             contextId="com.odcgroup.mdf.editor.context"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
             sequence="M1+G">
       </key>
    </extension>
    <extension
          point="org.eclipse.ui.contexts">
       <context
             id="com.odcgroup.mdf.editor.context"
             name="Domain context"
             parentId="org.eclipse.ui.contexts.window">
       </context>
    </extension>
</plugin>
