<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.odcgroup.translation.provider">
      <provider
            class="com.odcgroup.t24.mdf.model.translation.T24MdfTranslationProvider"
            id="com.odcgroup.t24.mdf.model.translation"
            name="Mdf Translation Provider"
            natureId="org.eclipse.jdt.core.javanature"
            priority="4">
         <kind
               display="Label"
               name="NAME">
         </kind>
         <kind
               display="ToolTip"
               name="TEXT">
         </kind>
         <kind
               display="Header1"
               name="HEADER1">
         </kind>
         <kind
               display="Header2"
               name="HEADER2">
         </kind>
          <kind
               display="Description"
               name="DESCRIPTION">
         </kind>
          <kind
                display="Documentation"
                name="DOCUMENTATION">
          </kind>
         <input
               type="com.odcgroup.mdf.metamodel.MdfClass">
         </input>
      </provider>
      <provider
            class="com.odcgroup.t24.mdf.model.translation.T24MdfTranslationProvider"
            id="com.odcgroup.t24.mdf.model.translation"
            name="Mdf Domain Translation Provider"
            natureId="org.eclipse.jdt.core.javanature"
            priority="4">
         <input
               type="com.odcgroup.mdf.ecore.MdfDomainImpl">
         </input>
         <kind
               display="Description"
               name="DESCRIPTION">
         </kind>
      </provider>
            <provider
            class="com.odcgroup.t24.mdf.model.translation.T24MdfTranslationProvider"
            id="com.odcgroup.t24.mdf.model.translationOne"
            name="Mdf Translation Provider"
            natureId="org.eclipse.jdt.core.javanature"
            priority="3">
         <kind
               display="Label"
               name="NAME">
         </kind>
         <kind
               display="ToolTip"
               name="TEXT">
         </kind>
          <kind
                display="Documentation"
                name="DOCUMENTATION">
          </kind>
         <input
               type="com.odcgroup.mdf.metamodel.MdfModelElement">
         </input>
         
      </provider>
      
   </extension>
</plugin>
