<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.odcgroup.com/t24/application/localref/model/LocalRef"
            class="com.odcgroup.t24.application.internal.localref.LocalrefPackage"
            genModel="src/main/java/com/odcgroup/t24/application/localref/model/LocalRef.genmodel"/>
      <package
            class="com.odcgroup.t24.localReferenceApplication.LocalReferenceApplicationPackage"
            genModel="src/main/java/com/odcgroup/t24/application/localrefapplication/model/LocalRefApplication.genmodel"
            uri="http://www.odcgroup.com/t24/application/localRefApplication/model/LocalReferenceApplication">
      </package>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="localreferenceapplication"
            class="com.odcgroup.t24.localReferenceApplication.util.LocalReferenceApplicationResourceFactoryImpl"/>
   </extension>
</plugin>
