<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="com.odcgroup.workbench"
            class="com.odcgroup.iris.importer.ui.wizard.IRISImportWizard"
            icon="icons/rim.png"
            id="com.odcgroup.iris.importer.ui.wizard.IRISImportWizard"
            name="Import T24 Resources">
         <description>
            Import T24 Resources
         </description>
      </wizard>
   	</extension>
	<extension
	      point="com.odcgroup.workbench.ui.modelImage">
	   <modelImage
	         modelName="rim"
	         path="icons/rim.png">
	   </modelImage>
	</extension>
 <extension
       point="org.eclipse.ui.startup">
    <startup
          class="com.odcgroup.iris.startup.RIMStartup">
    </startup>
 </extension>
      
</plugin>
