<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
        point="org.eclipse.emf.ecore.extension_parser">
     <parser
           class="com.odcgroup.t24.headlessgenstartup.internal.DomainResourceFactory"
           type="domain">
     </parser>
     <parser
           class="com.odcgroup.t24.headlessgenstartup.internal.VersionResourceFactory"
           type="version">
     </parser>
     <parser
           class="com.odcgroup.t24.headlessgenstartup.internal.EnquiryResourceFactory"
           type="enquiry">
     </parser>
  </extension>

</plugin>
