<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
<booleanAttribute key="M2_DEBUG_OUTPUT" value="false"/>
<stringAttribute key="M2_GOALS" value="clean package"/>
<booleanAttribute key="M2_NON_RECURSIVE" value="false"/>
<booleanAttribute key="M2_OFFLINE" value="true"/>
<stringAttribute key="M2_PROFILES" value="ds.no.jdk"/>
<listAttribute key="M2_PROPERTIES">
<listEntry value="ds.ignoreValidationErrors=true"/>
</listAttribute>
<stringAttribute key="M2_RUNTIME" value="EMBEDDED"/>
<booleanAttribute key="M2_SKIP_TESTS" value="false"/>
<booleanAttribute key="M2_UPDATE_SNAPSHOTS" value="false"/>
<booleanAttribute key="M2_WORKSPACE_RESOLUTION" value="true"/>
<stringAttribute key="org.eclipse.debug.core.ATTR_REFRESH_SCOPE" value="${working_set:&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#13;&#10;&lt;resources&gt;&#13;&#10;&lt;item path=&quot;/ft-modelbank-data-code&quot; type=&quot;4&quot;/&gt;&#13;&#10;&lt;item path=&quot;/ft-modelbank-models&quot; type=&quot;4&quot;/&gt;&#13;&#10;&lt;item path=&quot;/ft-modelbank-models-gen&quot; type=&quot;4&quot;/&gt;&#13;&#10;&lt;item path=&quot;/ft-modelbank-packager&quot; type=&quot;4&quot;/&gt;&#13;&#10;&lt;/resources&gt;}"/>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="HOME" value="${t24home}"/>
<mapEntry key="TOOLS" value="${t24infra}"/>
<mapEntry key="HYPERSIGAR" value="${t24infra}\Infra\HypericSigar\sigar-bin\lib"/>
<mapEntry key="INCLUDE" value="${t24infra}\MSVisualStudio\VC\include"/>
<mapEntry key="PATH" value="${t24home}\bin;${env_var:TAFC_HOME}\bin;${t24home}\t24bin;${t24infra}\HypericSigar\sigar-bin\lib;${t24infra}\MSVisualStudio\VC\bin\amd64;${t24infra}\MSVisualStudio\Common7\IDE;${t24home}\updater\bin;C:\windows\system32;${t24infra}\Tar\bin;C:\EDS\maven\apache-maven-3.0\bin"/>
<mapEntry key="ROOT" value="${t24home}\..\..\.."/>
<mapEntry key="LIB" value="${t24infra}\MSSDK\Windows\Lib\x64;${t24infra}\MSVisualStudio\VC\lib\amd64"/>
<mapEntry key="TAFC_HOME" value="${env_var:TAFC_HOME}"/>
</mapAttribute>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${workspace_loc:/ft-modelbank-packager/module}"/>
</launchConfiguration>
