<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="contribution" name="Server Contribution" schema="schema/contribution.exsd"/>
   <extension-point id="serverproperties" name="Server Properties Editor" schema="schema/serverproperties.exsd"/>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="Servers"
            icon="icons/dsserver.gif"
            category="OFS_View_Cat"
            class="com.odcgroup.server.ui.views.ServerView"
            id="com.odcgroup.server.ui.views.ServerView">
      </view>
   </extension>
</plugin>
