<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.odcgroup.ocs.server.ui.logs.internal.propertyTester.IsLogConsole"
            id="com.odcgroup.ocs.server.isLogConsole"
            namespace="com.odcgroup.ocs.server"
            properties="isLogConsole"
            type="java.lang.Object">
      </propertyTester>
   </extension>

   <extension
         point="org.eclipse.core.variables.dynamicVariables">
      <variable
          description="%javaLikeExtensions.description"
          name="odc_java_extensions_regex"
          resolver="org.eclipse.jdt.internal.debug.ui.console.JavaLikeExtensionsResolver"
          supportsArgument="false"/>
	</extension>

   <!--Java Stack Trace Pattern Matchers-->
   <extension
         point="org.eclipse.ui.console.consolePatternMatchListeners">
      <consolePatternMatchListener
            class="org.eclipse.jdt.internal.debug.ui.console.JavaConsoleTracker"
            regex="\(\S*${odc_java_extensions_regex}\S*\)"
            qualifier="${odc_java_extensions_regex}"
            id="org.eclipse.jdt.debug.ui.JavaConsoleTracker">
         <enablement>
			<test
         forcePluginActivation="true"
         property="com.odcgroup.ocs.server.isLogConsole"
         value="true"/>
         </enablement>
      </consolePatternMatchListener>
      <consolePatternMatchListener
            class="org.eclipse.jdt.internal.debug.ui.console.JavaNativeConsoleTracker"
            regex="\(Native Method\)"
            qualifier="Native Method"
            id="org.eclipse.jdt.debug.ui.JavaNativeConsoleTracker">
         <enablement>
			<test
         forcePluginActivation="true"
         property="com.odcgroup.ocs.server.isLogConsole"
         value="true"/>
         </enablement>
      </consolePatternMatchListener>
      <consolePatternMatchListener
            class="org.eclipse.jdt.internal.debug.ui.console.JavaExceptionConsoleTracker"
            regex="\w[^\(\s]+Exception[\s|:]"
            qualifier="Exception"
            id="org.eclipse.jdt.debug.ui.JavaExceptionConsoleTracker">
         <enablement>
			<test
         forcePluginActivation="true"
         property="com.odcgroup.ocs.server.isLogConsole"
         value="true"/>
         </enablement>
      </consolePatternMatchListener>
      <consolePatternMatchListener
            class="com.odcgroup.ocs.server.ui.logs.LogPatternMatcher"
            regex="https?://[-a-zA-Z0-9+&amp;@#/%?=~_|!:,.;]*[-a-zA-Z0-9+&amp;@#/%=~_|]"
            qualifier="https?://"
            id="com.odcgroup.ocs.server.ui">
            <enablement/>
      </consolePatternMatchListener>   
   </extension>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.odcgroup.workbench.preferences.ofs"
            class="com.odcgroup.ocs.server.ui.preferences.OCSServerPreferencePage"
            id="com.odcgroup.ocs.servers"
            name="Servers">
      </page>
   </extension>
   	<extension point="org.eclipse.ui.preferencePages">
		<page 
			category="com.odcgroup.workbench.preferences.ofs"
        	class="com.odcgroup.ocs.server.ui.preferences.OCSConsolePreferencePage"
			id="com.odcgroup.ocs.server.ui.deployconsole"
			name="OCS Deploy Console">
    	</page>
	</extension>
	<extension point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.odcgroup.ocs.server.preferences.OCSServerConsolePreferencesInitializer">
      </initializer>
   </extension>
</plugin>
