<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent"> 
         <actionProvider
            class="com.odcgroup.t24.validation.ui.action.T24ValidationActionProvider"
            id="com.odcgroup.workbench.ui.navigator.action.validationAction"
            priority="high">
     	<enablement>      
     		<or>    
              <adapt
                    type="com.odcgroup.workbench.core.IOfsModelPackage">
              </adapt>          
              <adapt
                    type="com.odcgroup.workbench.core.IOfsModelResource">
              </adapt>         
              <adapt
                    type="com.odcgroup.workbench.core.IOfsModelFolder">
              </adapt>
              <adapt
                    type="com.odcgroup.workbench.core.IOfsProject">
              </adapt>
            </or>
        </enablement>
      </actionProvider>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="com.odcgroup.workbench.validation.action.contribution.popup"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IResource">
         <filter
               name="projectNature"
               value="org.eclipse.jdt.core.javanature">
         </filter>
         <action
               class="com.odcgroup.t24.validation.ui.action.T24ValidateAction"
               enablesFor="*"
               icon="icons/valid.png"
               id="com.odcgroup.workbench.validation.action"
               label="Validate Models"
               menubarPath="com.odcgroup.ocs/validation">
         </action>
      </objectContribution>
   </extension>
</plugin>
