<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.tel.autosysframework.intro.AutosysApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.tel.autosysframework.intro.AutosysFrameworkPerspective"
            icon="icons/tata.png"
            id="com.tel.autosysframework.Autosysperspective"
            name="Autosys">
         <description>
            Autosys Perspective
         </description>
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.tel.autosysframework.Autosysperspective">
         <view
               id="com.tel.autosysframework.configure"
               minimized="false"
               ratio="0.65"
               relationship="bottom"
               relative="com.tel.autosysframework.generalconfigure"
               visible="true">
         </view>
         <view
               id="org.eclipse.ui.views.ContentOutline"
               minimized="true"
               ratio="0.25"
               relationship="stack"
               relative="com.tel.autosysframework.generalconfigure"
               visible="false">
         </view>
         <view
               id="org.eclipse.gef.ui.palette_view"
               minimized="true"
               ratio="0.7"
               relationship="stack"
               relative="org.eclipse.ui.views.ContentOutline"
               visible="false">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.tel.autosysframework.editor.AutosysFrameworkEditor"
            contributorClass="com.tel.autosysframework.actions.AutosysActionBarContributor"
            default="true"
            extensions="afw"
            icon="icons/editor.JPG"
            id="Autosys.Framework.Editor"
            name="Autosys Framework Editor">
      </editor>
      <editor
            class="com.tel.autosysframework.editor.AutosysINIEditor"
            default="false"
            extensions="ini"
            icon="icons/ini.png"
            id="com.tel.autosysframework.editor.ini"
            name="Autosys INI Editor"
            symbolicFontName="org.eclipse.ui.workbench.VIEW_MESSAGE_TEXT_FONT">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.tel.autosysframework.autosys"
            name="Autosys FrameWork">
      </category>
      <wizard
            category="com.tel.autosysframework.autosys"
            class="org.eclipse.ui.wizards.newresource.BasicNewProjectResourceWizard"
            finalPerspective="com.tel.autosysframework.autosysframeworkperspective"
            icon="icons/newproject.png"
            id="com.tel.autosysframework.projectWizard"
            name="Autosys Project Wizard"
            project="true">
      </wizard>
      <wizard
            category="com.tel.autosysframework.autosys"
            class="com.tel.autosysframework.wizard.AutosysFrameworkCreationWizard"
            icon="icons/framework.png"
            id="com.tel.autosysframework.autosys.wizard.new.file"
            name="Autosys File Wizard">
         <description>
            Autosys Framework Project Creation Wizard
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="com.tel.autosysframework.autosys"
            nameFilter="*.afw"
            objectClass="org.eclipse.core.resources.IFile">
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.tel.autosysframework.autosysCategory"
            name="AutoSys">
      </category>
      <view
            allowMultiple="false"
            category="com.tel.autosysframework.autosysCategory"
            class="com.tel.autosysframework.views.Configure"
            icon="icons/config.jpg"
            id="com.tel.autosysframework.configure"
            name="Configure"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="com.tel.autosysframework.autosysCategory"
            class="com.tel.autosysframework.views.GeneralConfigure"
            icon="icons/config.jpg"
            id="com.tel.autosysframework.generalconfigure"
            name="General Configuration Parameters"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.tel.autosysframework.autosysframeworkrun"
            label="Run As Autosys Project">
         <menu
               id="com.tel.autosysframework.autosysRunMenu"
               label="Run as Autosys Project"
               path="org.eclipse.ui.run/runGroup">
         </menu>
         <action
               class="com.tel.autosysframework.run.RunAutosysProject"
               definitionId="com.tel.autosysframework.command.run"
               icon="icons/run_exc.gif"
               id="com.tel.autosysframework.runaction"
               label="Run &amp;Autosys Project"
               menubarPath="org.eclipse.ui.run/com.tel.autosysframework.autosysRunMenu"
               style="push"
               toolbarPath="org.eclipse.debug.ui.launchActionSet/debug"
               tooltip="Run As Autosys Project">
         </action>
      </actionSet>
      <actionSet
            id="com.tel.autosysframework.reset"
            label="Reset">
         <menu
               icon="icons/reset.jpg"
               id="com.tel.autosysframework.resetMenu"
               label="Reset"
               path="org.eclipse.ui.run/runGroup">
         </menu>
         <action
               class="com.tel.autosysframework.run.ResetAutosysProject"
               icon="icons/reset.jpg"
               id="com.tel.autosysframework.resetaction"
               label="ResetAutosysFramework"
               menubarPath="org.eclipse.ui.run/com.tel.autosysframework.autosysRunMenu"
               style="push"
               toolbarPath="org.eclipse.debug.ui.launchActionSet/debug"
               tooltip="Reset Autosys Project">
         </action>
      </actionSet>
      <actionSet
            id="com.tel.autosysframework.drawgraph"
            label="Plot Graph">
         <menu
               icon="icons/graph.jpg"
               id="com.tel.autosysframework.plotmenu"
               label="Plot Graph"
               path="org.eclipse.ui.run/runGroup">
         </menu>
         <action
               class="com.tel.autosysframework.reports.AutosysOutputPlot"
               icon="icons/graph.jpg"
               id="com.tel.autosysframework.plotaction"
               label="Plot Output"
               menubarPath="org.eclipse.ui.run/com.tel.autosysframework.autosysRunMenu"
               style="push"
               toolbarPath="org.eclipse.debug.ui.launchActionSet/debug">
         </action>
      </actionSet>
      <actionSet
            id="com.tel.autosysframework.comparegraph"
            label="Compare Plots">
         <menu
               icon="icons/compareplots.jpg"
               id="com.tel.autosysframework.comparemenu"
               label="Compare Plots"
               path="org.eclipse.ui.run/runGroup">
         </menu>
         <action
               class="com.tel.autosysframework.reports.AutosysComparePLots"
               icon="icons/compareplots.jpg"
               id="com.tel.autosysframework.action4"
               label="Compare Plots"
               menubarPath="org.eclipse.ui.run/com.tel.autosysframework.autosysRunMenu"
               style="push"
               toolbarPath="org.eclipse.debug.ui.launchActionSet/debug"
               tooltip="Compare Plots">
         </action>
      </actionSet>
      <actionSet
            id="com.tel.autosysframework.testVectorActionSet"
            label="Test Vector">
         <menu
               icon="icons/test/load_tv.jpg"
               id="com.tel.autosysframework.loadTestVectorMenu"
               label="Load Test Vector"
               path="org.eclipse.ui.run/runGroup">
            <separator
                  name="com.tel.autosysframework.separator1">
            </separator>
            <groupMarker
                  name="com.tel.autosysframework.groupMarker2">
            </groupMarker>
            <groupMarker
                  name="generalGroup">
            </groupMarker>
            <separator
                  name="separator">
            </separator>
            <groupMarker
                  name="systemGroup">
            </groupMarker>
         </menu>
         <action
               class="com.tel.autosysframework.actions.testvector.CPTestVectorAction"
               icon="icons/test/model.JPG"
               id="com.tel.autosysframework.action2"
               label="Cyclic Prefix"
               menubarPath="org.eclipse.ui.run/com.tel.autosysframework.loadTestVectorMenu/generalGroup"
               style="push"
               tooltip="Run CP module Test Vector">
         </action>
         <action
               class="com.tel.autosysframework.actions.testvector.OFDMTestVectorAction"
               icon="icons/test/model.JPG"
               id="com.tel.autosysframework.ofdmTestVectorAction"
               label="OFDM"
               menubarPath="org.eclipse.ui.run/com.tel.autosysframework.loadTestVectorMenu/generalGroup"
               style="push"
               tooltip="Run OFDM module Test Vector">
         </action>
         <action
               class="com.tel.autosysframework.actions.testvector.REMTestVectorAction"
               icon="icons/test/model.JPG"
               id="com.tel.autosysframework.remTestVectorAction"
               label="Resource Element Mapper"
               menubarPath="org.eclipse.ui.run/com.tel.autosysframework.loadTestVectorMenu/generalGroup"
               style="push"
               tooltip="Run REM module Test Vector">
         </action>
         <action
               class="com.tel.autosysframework.actions.testvector.PrecodingTestVectorAction"
               icon="icons/test/model.JPG"
               id="com.tel.autosysframework.precodeTestVectorAction"
               label="Precoding"
               menubarPath="org.eclipse.ui.run/com.tel.autosysframework.loadTestVectorMenu/generalGroup"
               style="push"
               tooltip="Run Precoding module Test Vector">
         </action>
         <action
               class="com.tel.autosysframework.actions.testvector.LayerMappingTestVectorAction"
               icon="icons/test/model.JPG"
               id="com.tel.autosysframework.lmTestVectorAction"
               label="Layer Mapping"
               menubarPath="org.eclipse.ui.run/com.tel.autosysframework.loadTestVectorMenu/generalGroup"
               style="push"
               tooltip="Run Layer Mapping module Test Vector">
         </action>
         <action
               class="com.tel.autosysframework.actions.testvector.ModulatorMapperTestVectorAction"
               icon="icons/test/model.JPG"
               id="com.tel.autosysframework.mmTestVectorAction"
               label="Modulator Mapper"
               menubarPath="org.eclipse.ui.run/com.tel.autosysframework.loadTestVectorMenu/generalGroup"
               style="push"
               tooltip="Run Modulator module Test Vector">
         </action>
         <action
               class="com.tel.autosysframework.actions.testvector.ScramblerTestVectorAction"
               icon="icons/test/model.JPG"
               id="com.tel.autosysframework.sTestVectorAction"
               label="Scrambler"
               menubarPath="org.eclipse.ui.run/com.tel.autosysframework.loadTestVectorMenu/generalGroup"
               style="push"
               tooltip="Run Scrambler module Test Vector">
         </action>
         <action
               class="com.tel.autosysframework.actions.testvector.RMTestVectorAction"
               icon="icons/test/model.JPG"
               id="com.tel.autosysframework.rmTestVectorAction"
               label="Rate Matching"
               menubarPath="org.eclipse.ui.run/com.tel.autosysframework.loadTestVectorMenu/generalGroup"
               style="push"
               tooltip="Run RM module Test Vector">
         </action>
         <action
               class="com.tel.autosysframework.actions.testvector.CCTestVectorAction"
               icon="icons/test/model.JPG"
               id="com.tel.autosysframework.action10"
               label="Channel Coding"
               menubarPath="org.eclipse.ui.run/com.tel.autosysframework.loadTestVectorMenu/generalGroup"
               style="push"
               tooltip="Run CC module Test Vector">
         </action>
         <action
               class="com.tel.autosysframework.actions.testvector.CBSTestVectorAction"
               icon="icons/test/model.JPG"
               id="com.tel.autosysframework.cbsTestVectorAction"
               label="Code Block Segmentation"
               menubarPath="org.eclipse.ui.run/com.tel.autosysframework.loadTestVectorMenu/generalGroup"
               style="push"
               tooltip="Run CBS module Test Vector">
         </action>
         <action
               class="com.tel.autosysframework.actions.testvector.CRCTestVectorAction"
               icon="icons/test/model.JPG"
               id="com.tel.autosysframework.crcTestVectorAction"
               label="Cyclic Redundacy Check"
               menubarPath="org.eclipse.ui.run/com.tel.autosysframework.loadTestVectorMenu/generalGroup"
               style="push"
               tooltip="Run CRC module Test Vector">
         </action>
         <action
               class="com.tel.autosysframework.actions.testvector.SystemTestVectorAction"
               icon="icons/test/system_test.gif"
               id="com.tel.autosysframework.systemTestVectorAction"
               label="System"
               menubarPath="org.eclipse.ui.run/com.tel.autosysframework.loadTestVectorMenu/systemGroup"
               style="push"
               tooltip="Run System level Test Vector">
         </action>
      </actionSet>
      <actionSet
            id="com.tel.autosysframework.genconfigpartition"
            label="General Configuration Partition"
            visible="true">
         <action
               class="com.tel.autosysframework.actions.DesignSelection"
               icon="icons/designSelction.jpg"
               id="com.tel.autosysframework.designselction"
               label="Design Selction"
               menubarPath="design/designGroup"
               style="push"
               toolbarPath="lars">
         </action>
         <menu
               icon="icons/designSelction.jpg"
               id="com.tel.autosysframework.designselectionmenu"
               label="Design Selction"
               path="design/designGroup">
         </menu>
      </actionSet>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.tel.autosysframework.application"
            name="Autosys Framework">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
         <property
               name="appName"
               value="Autosys Framework">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <keyBinding
            command="com.tel.autosysframework.command.run"
            configuration="com.tel.autosysframework.runaction.config"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration"
            keySequence="M1+R"
            platform="win32">
      </keyBinding>
      <command
            id="com.tel.autosysframework.command.run"
            name="Run">
      </command>
   </extension>
   <extension 
	point="org.eclipse.ui.bindings">
		<key
        commandId="org.eclipse.ui.file.save"
        contextId="Autosys.Framework.Editor"
        schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
        sequence="M1+S">
  </key>
	</extension>

</plugin>
