<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 
 <extension
       point="com.odcgroup.workbench.language.repository">
    <repository
          class="com.odcgroup.tap.domain.repository.TAPDomainRepository"
          language="domain">
    </repository>
 </extension>

</plugin>