<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.odcgroup.documentation.generation.docGenCartridge">
      <cartridge
            category="Domain (XLS)"
            class="com.odcgroup.tap.mdf.generation.TAPExcelDocGenerator"
            enabledByDefault="true"
            id="com.odcgroup.tap.mdf.generation.TAPExcelDocGenerator"
            name="Domain (XLS)"
            terminal="false">
      </cartridge>
   </extension>
</plugin>
