<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
Odyssey Financial Technologies
-->
<plugin>    

   <extension point="org.eclipse.team.core.fileTypes">
      <?gmfgen generated="true"?>
      <fileTypes
         type="text"
         extension="pageflow">
      </fileTypes>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <?gmfgen generated="true"?>
      <parser
         type="pageflow"
         class="org.eclipse.gmf.runtime.emf.core.resources.GMFResourceFactory">
      </parser>
   </extension> 

   <extension point="org.eclipse.ui.editors">
      <?gmfgen generated="true"?>
      <editor
         id="com.odcgroup.pageflow.editor.diagram.part.PageflowDiagramEditorID"
         name="%editorName"
         icon="icons/obj16/PageflowDiagramFile.gif"
         extensions="pageflow"
         default="true"
         class="com.odcgroup.pageflow.editor.diagram.part.PageflowDiagramEditor"
         matchingStrategy="com.odcgroup.pageflow.editor.diagram.part.PageflowMatchingStrategy"
         contributorClass="com.odcgroup.pageflow.editor.diagram.part.PageflowDiagramActionBarContributor">
      </editor>
   </extension>
   
   <extension point="org.eclipse.ui.contexts">
      <?gmfgen generated="true"?>
      <context
         description="%context.description"
         id="com.odcgroup.pageflow.editor.diagram.ui.diagramContext"
         name="%context.name"
         parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
      </context>
   </extension>
   <!--
   <extension point="org.eclipse.ui.newWizards">
      <?gmfgen generated="false"?>
  	  <wizard
  	     name="%newWizardName"
  	     icon="icons/obj16/PageflowDiagramFile.gif"
  	      category="com.odcgroup.workbench"
  	     class="com.odcgroup.pageflow.editor.diagram.part.PageflowCreationWizard"
  	     id="com.odcgroup.pageflow.editor.diagram.part.PageflowCreationWizardID">
  	  	 <description>%newWizardDesc</description>  
      </wizard>
   </extension>
   -->
   <extension point="org.eclipse.ui.popupMenus">
      <?gmfgen generated="true"?>
      <objectContribution
            adaptable="false"
            id="com.odcgroup.pageflow.editor.diagram.LoadResource"
            objectClass="com.odcgroup.pageflow.editor.diagram.edit.parts.PageflowEditPart">
         <action
               class="com.odcgroup.pageflow.editor.diagram.part.PageflowLoadResourceAction"
               enablesFor="1"
               id="com.odcgroup.pageflow.editor.diagram.LoadResourceAction"
               label="%loadResourceActionLabel"
               menubarPath="additions">
         </action>
      </objectContribution>           
   </extension>

   <extension point="org.eclipse.ui.popupMenus">
      <?gmfgen generated="false"?>
      <!--
      <objectContribution
            id="com.odcgroup.pageflow.editor.diagram.InitDiagram"
            nameFilter="*.pageflow"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               label="%initDiagramActionLabel"
               class="com.odcgroup.pageflow.editor.diagram.part.PageflowInitDiagramFileAction"
               menubarPath="additions"
               enablesFor="1"
               id="com.odcgroup.pageflow.editor.diagram.InitDiagramAction">
         </action>
      </objectContribution>
      -->
   </extension>
	
   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders">
      <?gmfgen generated="true"?>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramGlobalActionHandlerProvider"
         id="PageflowPresentation">
         <Priority name="Lowest"/>
         <ViewId id="com.odcgroup.pageflow.editor.diagram.part.PageflowDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="delete"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               <GlobalActionId actionId="save"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.printing.render.providers.DiagramWithPrintGlobalActionHandlerProvider"
         id="PageflowPresentationPrint">
         <Priority name="Lowest"/>
         <ViewId id="com.odcgroup.pageflow.editor.diagram.part.PageflowDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="print"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.ide.providers.DiagramIDEGlobalActionHandlerProvider"
         id="PageflowPresentationIDE">
         <Priority name="Lowest"/>
         <ViewId id="com.odcgroup.pageflow.editor.diagram.part.PageflowDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="bookmark"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.render.providers.DiagramUIRenderGlobalActionHandlerProvider"
            id="PageflowRender">
         <Priority name="Lowest"/>
         <ViewId id="com.odcgroup.pageflow.editor.diagram.part.PageflowDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="cut"/>
               <GlobalActionId actionId="copy"/>
               <GlobalActionId actionId="paste"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.contributionItemProviders">
      <?gmfgen generated="false"?>
      <contributionItemProvider class="com.odcgroup.pageflow.editor.diagram.providers.PageflowContributionItemProvider">
         <Priority name="Low">
         </Priority>
         <partContribution id="com.odcgroup.pageflow.editor.diagram.part.PageflowDiagramEditorID">
            <partAction menubarPath="/file/print" id="printPreviewAction">
            </partAction>         
            </partContribution>
      </contributionItemProvider>
      <contributionItemProvider
            class="com.odcgroup.pageflow.editor.diagram.custom.util.PageflowContributionItemProvider"
            checkPluginLoaded="false">
         <Priority name="Low"/>
         <partContribution id="com.odcgroup.pageflow.editor.diagram.part.PageflowDiagramEditorID"
         		class="org.eclipse.gmf.runtime.diagram.ui.parts.IDiagramWorkbenchPart">   
            	<partMenuGroup toolbarPath="/myGroup" id="pageflowGroup">
            	</partMenuGroup>      	 
	            <partAction
	                  global="false"
	                  toolbarPath="/pageflowGroup"
	                  id="changeActionLabelDisplay">
	            </partAction> 
	            <!-- OCS-11163 -->
	            <!--      	       	 
	            <partAction
	                  global="false"
	                  toolbarPath="/pageflowGroup"
	                  id="ToggleDescAction">
	            </partAction>      	
	            -->       	 
	            <partAction
	                  global="false"
	                  toolbarPath="/pageflowGroup"
	                  id="TogglePageflowID">
	            </partAction>
		 </partContribution>
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="com.odcgroup.pageflow.editor.diagram.edit.parts.InitStateDisplayNameEditPart"/>
            <popupPredefinedItem id="deleteFromDiagramAction" remove="true"/>
            <popupPredefinedItem id="deleteFromModelAction" remove="true"/>
         </popupContribution>
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="com.odcgroup.pageflow.editor.diagram.edit.parts.DecisionStateDisplayNameEditPart"/>
            <popupPredefinedItem id="deleteFromDiagramAction" remove="true"/>
            <popupPredefinedItem id="deleteFromModelAction" remove="true"/>
         </popupContribution>
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="com.odcgroup.pageflow.editor.diagram.edit.parts.EndStateDisplayNameEditPart"/>
            <popupPredefinedItem id="deleteFromDiagramAction" remove="true"/>
            <popupPredefinedItem id="deleteFromModelAction" remove="true"/>
         </popupContribution>
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="com.odcgroup.pageflow.editor.diagram.edit.parts.TransitionDisplayNameEditPart"/>
            <popupPredefinedItem id="deleteFromDiagramAction" remove="true"/>
            <popupPredefinedItem id="deleteFromModelAction" remove="true"/>
         </popupContribution>
      </contributionItemProvider>
   </extension>   

   <extension point="org.eclipse.gmf.runtime.common.ui.services.markerNavigationProviders">
      <?gmfgen generated="true"?>
      <MarkerNavigationProvider class="com.odcgroup.pageflow.editor.diagram.providers.PageflowMarkerNavigationProvider">
         <MarkerType name="com.odcgroup.pageflow.editor.diagram.diagnostic"/>
         <Priority name="Lowest"/>
      </MarkerNavigationProvider>
   </extension>

   <extension id="diagnostic" name="Pageflow Problem" point="org.eclipse.core.resources.markers">
      <?gmfgen generated="false"?>
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super type="org.eclipse.gmf.runtime.common.ui.services.marker"/>
      <persistent value="true"/>
   </extension>   

   <extension
         point="org.eclipse.ui.ide.markerSupport">
      <markerTypeCategory
            name="Design Studio Problems">
         <markerTypeReference
               id="com.odcgroup.pageflow.editor.diagram.diagnostic">
         </markerTypeReference>
      </markerTypeCategory>
   </extension>

   <extension id="validationDecoratorProvider" name="ValidationDecorations" point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
      <?gmfgen generated="false"?>
      <decoratorProvider class="com.odcgroup.pageflow.editor.diagram.providers.PageflowValidationDecoratorProvider">
         <Priority name="Medium"/>
         <object class="org.eclipse.gmf.runtime.diagram.ui.editparts.IPrimaryEditPart(org.eclipse.gmf.runtime.diagram.ui)" id="PRIMARY_VIEW"/>
         <context decoratorTargets="PRIMARY_VIEW"/>
      </decoratorProvider>
   </extension>

   <extension point="org.eclipse.core.runtime.preferences">
      <?gmfgen generated="true"?>
      <initializer class="com.odcgroup.pageflow.editor.diagram.preferences.DiagramPreferenceInitializer"/>
   </extension>

   <extension point="org.eclipse.ui.preferencePages">
      <?gmfgen generated="false"?>
      <page
            category="com.odcgroup.workbench.preferences.ofs"
            id="com.odcgroup.pageflow.model.diagram.general"
            name="%preference.page.title.com.odcgroup.pageflow.model.diagram.general"
            class="com.odcgroup.pageflow.editor.diagram.preferences.DiagramGeneralPreferencePage">
      </page>
      <page
            id="com.odcgroup.pageflow.model.diagram.appearance"
            name="%preference.page.title.com.odcgroup.pageflow.model.diagram.appearance"
            category="com.odcgroup.pageflow.model.diagram.general"
            class="com.odcgroup.pageflow.editor.diagram.preferences.DiagramAppearancePreferencePage">
      </page>
      <page
            id="com.odcgroup.pageflow.model.diagram.connections"
            name="%preference.page.title.com.odcgroup.pageflow.model.diagram.connections"
            category="com.odcgroup.pageflow.model.diagram.general"
            class="com.odcgroup.pageflow.editor.diagram.preferences.DiagramConnectionsPreferencePage">
      </page>
      <page
            id="com.odcgroup.pageflow.model.diagram.printing"
            name="%preference.page.title.com.odcgroup.pageflow.model.diagram.printing"
            category="com.odcgroup.pageflow.model.diagram.general"
            class="com.odcgroup.pageflow.editor.diagram.preferences.DiagramPrintingPreferencePage">
      </page>
      <page
            id="com.odcgroup.pageflow.model.diagram.rulersAndGrid"
            name="%preference.page.title.com.odcgroup.pageflow.model.diagram.rulersAndGrid"
            category="com.odcgroup.pageflow.model.diagram.general"
            class="com.odcgroup.pageflow.editor.diagram.preferences.DiagramRulersAndGridPreferencePage">
      </page>
      <page
            id="com.odcgroup.pageflow.model.diagram.pathmaps"
            name="%preference.page.title.com.odcgroup.pageflow.model.diagram.pathmaps"
            category="com.odcgroup.pageflow.model.diagram.general"
            class="org.eclipse.gmf.runtime.emf.ui.preferences.PathmapsPreferencePage">
      </page>
   </extension>
      
  <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="com.odcgroup.pageflow.editor.diagram"
            typeMapper="com.odcgroup.pageflow.editor.diagram.custom.properties.PageflowElementTypeMapper">         
         <propertyCategory 
               category="self">
         </propertyCategory>
      </propertyContributor>
   </extension>   
   
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="com.odcgroup.pageflow.editor.diagram">
         <propertyTab
               label="%tab.general"
               category="self"
               id="pageflow.tab.General">
         </propertyTab>
         <propertyTab
               label="Page"
               category="self"
               afterTab="pageflow.tab.General"
               id="viewstate.tab.Page">
         </propertyTab>
         <propertyTab
               label="%tab.technical"
               category="self"
               afterTab="viewstate.tab.Page"
               id="viewstate.tab.Technical">
         </propertyTab>
         <propertyTab
               label="%tab.technical"
               category="self"
               afterTab="pageflow.tab.General"
               id="pageflow.tab.Technical">
         </propertyTab>
         <propertyTab
               label="%tab.properties"
               category="self"
               afterTab="pageflow.tab.Technical"
               id="pageflow.tab.Properties">
         </propertyTab>
         <propertyTab
               label="%tab.actions"
               category="self"
               afterTab="pageflow.tab.Technical"
               id="transition.tab.Action">
         </propertyTab>
         <propertyTab
               label="%tab.action"
               category="self"
               afterTab="pageflow.tab.General"
               id="decision.tab.Action">
         </propertyTab>
         <propertyTab
               label="%tab.properties"
               category="self"
               afterTab="pageflow.tab.General"
               id="stateAction.tab.Property">
         </propertyTab>
         <propertyTab
               label="%tab.pageflow"
               category="self"
               afterTab="pageflow.tab.General"
               id="subpageflow.tab.Pageflow">
         </propertyTab>
         <propertyTab
               label="%tab.technical"
               category="self"
               afterTab="subpageflow.tab.Pageflow"
               id="subpageflow.tab.Technical">
         </propertyTab>
      </propertyTabs>
   </extension>
   
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="com.odcgroup.pageflow.editor.diagram">    
         <propertySection
               tab="pageflow.tab.General"
               class="com.odcgroup.pageflow.editor.diagram.custom.properties.section.PageflowGeneralPropertySection"
               id="pageflow.section.General">
            <input
                  type="com.odcgroup.pageflow.model.Pageflow">
            </input>
         </propertySection>      
         <propertySection
               class="com.odcgroup.pageflow.editor.diagram.custom.properties.section.PageflowTechnicalPropertySection"
               filter="com.odcgroup.pageflow.editor.diagram.custom.properties.filter.PageflowPropertyFilter"
               id="pageflow.section.Technical"
               tab="pageflow.tab.Technical">
            <input
                  type="com.odcgroup.pageflow.model.Pageflow">
            </input>
         </propertySection>       
         <propertySection
               tab="pageflow.tab.Properties"
               class="com.odcgroup.pageflow.editor.diagram.custom.properties.section.PageflowPropertyReferenceSection"
               id="pageflow.section.Properties">
            <input
                  type="com.odcgroup.pageflow.model.Pageflow">
            </input>
         </propertySection>  
         <propertySection
               tab="pageflow.tab.General"
               class="com.odcgroup.pageflow.editor.diagram.custom.properties.section.InitStatePropertySection"
               id="initstate.section.General">
            <input
                  type="com.odcgroup.pageflow.model.InitState">
            </input>
         </propertySection>      
         <propertySection
               tab="pageflow.tab.General"
               class="com.odcgroup.pageflow.editor.diagram.custom.properties.section.SubPageflowGeneralPropertySection"
               id="subpageflowstate.section.General">
            <input
                  type="com.odcgroup.pageflow.model.SubPageflowState">
            </input>
         </propertySection>          
         <propertySection
               tab="subpageflow.tab.Pageflow"
               class="com.odcgroup.pageflow.editor.diagram.custom.properties.section.SubPageflowDefinitionPropertySection"
               id="subpageflowstate.section.Pageflow">
            <input
                  type="com.odcgroup.pageflow.model.SubPageflowState">
            </input>
         </propertySection>       
         <propertySection
               class="com.odcgroup.pageflow.editor.diagram.custom.properties.section.SubPageflowPropertySection"
               filter="com.odcgroup.pageflow.editor.diagram.custom.properties.filter.SubPageflowStatePropertyFilter"
               id="subpageflowstate.section.Technical"
               tab="subpageflow.tab.Technical">
            <input
                  type="com.odcgroup.pageflow.model.SubPageflowState">
            </input>
         </propertySection>      
         <propertySection
               tab="pageflow.tab.General"
               class="com.odcgroup.pageflow.editor.diagram.custom.properties.section.ViewStateGeneralPropertySection"
               id="viewstate.section.General">
            <input
                  type="com.odcgroup.pageflow.model.ViewState">
            </input>
         </propertySection>        
         <propertySection
               tab="viewstate.tab.Page"
               class="com.odcgroup.pageflow.editor.diagram.custom.properties.section.ViewStatePageDefinitionPropertySection"
               id="viewstate.section.Page">
            <input
                  type="com.odcgroup.pageflow.model.ViewState">
            </input>
         </propertySection>         
         <propertySection
               class="com.odcgroup.pageflow.editor.diagram.custom.properties.section.ViewStateTechnicalPropertySection"
               filter="com.odcgroup.pageflow.editor.diagram.custom.properties.filter.ViewStatePropertyFilter"
               id="viewstate.section.Technical"
               tab="viewstate.tab.Technical">
            <input
                  type="com.odcgroup.pageflow.model.ViewState">
            </input>
         </propertySection>          
         <propertySection
               tab="pageflow.tab.General"
               class="com.odcgroup.pageflow.editor.diagram.custom.properties.section.EndStateGeneralPropertySection"
               id="endstate.section.General">
            <input
                  type="com.odcgroup.pageflow.model.EndState">
            </input>
         </propertySection>          
         <propertySection
               class="com.odcgroup.pageflow.editor.diagram.custom.properties.section.EndStateTechnicalPropertySection"
               filter="com.odcgroup.pageflow.editor.diagram.custom.properties.filter.EndStatePropertyFilter"
               id="endstate.section.Technical"
               tab="pageflow.tab.Technical">
            <input
                  type="com.odcgroup.pageflow.model.EndState">
            </input>
         </propertySection>      
         <propertySection
               tab="pageflow.tab.General"
               class="com.odcgroup.pageflow.editor.diagram.custom.properties.section.DecisionStateGeneralPropertySection"
               id="actionstate.section.General">
            <input
                  type="com.odcgroup.pageflow.model.DecisionState">
            </input>
         </propertySection>        
         <propertySection
               class="com.odcgroup.pageflow.editor.diagram.custom.properties.section.DecisionStateTechnicalPropertySection"
               filter="com.odcgroup.pageflow.editor.diagram.custom.properties.filter.DecisionStatePropertyFilter"
               id="actionstate.section.Technical"
               tab="pageflow.tab.Technical">
            <input
                  type="com.odcgroup.pageflow.model.DecisionState">
            </input>
         </propertySection>         
         <propertySection
               tab="decision.tab.Action"
               class="com.odcgroup.pageflow.editor.diagram.custom.properties.section.DecisionActionPropertiesSection"
               id="actionstate.section.Action">
            <input
                  type="com.odcgroup.pageflow.model.DecisionState">
            </input>
         </propertySection>  
         <propertySection
               tab="pageflow.tab.General"
               class="com.odcgroup.pageflow.editor.diagram.custom.properties.section.TransitionGeneralPropertySection"
               id="transition.section.General">
            <input
                  type="com.odcgroup.pageflow.model.Transition">
            </input>
         </propertySection>            
         <propertySection
               class="com.odcgroup.pageflow.editor.diagram.custom.properties.section.TransitionTechnicalPropertySection"
               filter="com.odcgroup.pageflow.editor.diagram.custom.properties.filter.TransitionPropertyFilter"
               id="transition.section.Desc"
               tab="pageflow.tab.Technical">
            <input
                  type="com.odcgroup.pageflow.model.Transition">
            </input>
         </propertySection>            
         <propertySection
               tab="transition.tab.Action"
               class="com.odcgroup.pageflow.editor.diagram.custom.properties.section.TransitionPropertySection"
               id="transition.section.Action">
            <input
                  type="com.odcgroup.pageflow.model.Transition">
            </input>
         </propertySection>  
      </propertySections>
   </extension> 

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <?gmfgen generated="true"?>
      <propertyContributor
            contributorId="com.odcgroup.pageflow.editor.diagram"
            labelProvider="com.odcgroup.pageflow.editor.diagram.sheet.PageflowSheetLabelProvider">
         <propertyCategory category="domain"/>
         <propertyCategory category="visual"/>
         <propertyCategory category="extra"/>
      </propertyContributor>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <?gmfgen generated="true"?>   
      <propertyTabs contributorId="com.odcgroup.pageflow.editor.diagram">
         <propertyTab
             category="visual"
             id="property.tab.AppearancePropertySection"
             label="%tab.appearance"/>
          <propertyTab
             category="visual"
             id="property.tab.DiagramPropertySection"
             label="%tab.diagram"/>
          <propertyTab
             category="domain"
             id="property.tab.domain"
             label="%tab.domain"/>
      </propertyTabs>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <?gmfgen generated="false"?>   
      <propertySections contributorId="com.odcgroup.pageflow.editor.diagram">
         <propertySection id="property.section.ConnectorAppearancePropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ConnectionEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ConnectionAppearancePropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>
         <propertySection id="property.section.ShapeColorAndFontPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ShapeEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ShapeColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection> 
         <propertySection id="property.section.DiagramColorsAndFontsPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.DiagramColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>     
         <propertySection id="property.section.RulerGridPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="com.odcgroup.pageflow.editor.diagram.custom.properties.PageflowRulerGridProperty" 
            tab="property.tab.DiagramPropertySection">
         </propertySection>     
         <propertySection
            id="property.section.domain" 
            tab="property.tab.domain"
            class="com.odcgroup.pageflow.editor.diagram.sheet.PageflowPropertySection">
            <input type="org.eclipse.gmf.runtime.notation.View"/>
            <input type="org.eclipse.gef.EditPart"/>
            <input type="com.odcgroup.pageflow.editor.diagram.navigator.PageflowAbstractNavigatorItem"/>
         </propertySection>
      </propertySections>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders">
      <?gmfgen generated="true"?>
      <viewProvider class="com.odcgroup.pageflow.editor.diagram.providers.PageflowViewProvider">
         <Priority name="Lowest"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="Pageflow"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints=""/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints=""/>
      </viewProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
      <?gmfgen generated="true"?>
      <editpartProvider class="com.odcgroup.pageflow.editor.diagram.providers.PageflowEditPartProvider">
         <Priority name="Lowest"/>
      </editpartProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders">
      <?gmfgen generated="true"?>
      <modelingAssistantProvider class="com.odcgroup.pageflow.editor.diagram.providers.PageflowModelingAssistantProvider">
         <Priority name="Lowest"/>
      </modelingAssistantProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.iconProviders">
      <?gmfgen generated="true"?>
      <IconProvider class="com.odcgroup.pageflow.editor.diagram.providers.PageflowIconProvider">
         <Priority name="Low"/>
      </IconProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders">
      <?gmfgen generated="true"?>
      <ParserProvider class="com.odcgroup.pageflow.editor.diagram.providers.PageflowParserProvider">
         <Priority name="Lowest"/>
      </ParserProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes">
      <?gmfgen generated="true"?>
      <metamodel nsURI="http://www.odcgroup.com/ofs/pageflow">
         <metamodelType
               id="com.odcgroup.pageflow.editor.diagram.Pageflow_79"
               name="%metatype.name.Pageflow_79"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Pageflow"
               edithelper="com.odcgroup.pageflow.editor.diagram.edit.helpers.PageflowEditHelper">
            <param name="semanticHint" value="79"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.odcgroup.com/ofs/pageflow">
         <metamodelType
               id="com.odcgroup.pageflow.editor.diagram.InitState_1001"
               name="%metatype.name.InitState_1001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="InitState"
               edithelper="com.odcgroup.pageflow.editor.diagram.edit.helpers.InitStateEditHelper">
            <param name="semanticHint" value="1001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.odcgroup.com/ofs/pageflow">
         <metamodelType
               id="com.odcgroup.pageflow.editor.diagram.DecisionState_1002"
               name="%metatype.name.DecisionState_1002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="DecisionState"
               edithelper="com.odcgroup.pageflow.editor.diagram.edit.helpers.DecisionStateEditHelper">
            <param name="semanticHint" value="1002"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.odcgroup.com/ofs/pageflow">
         <metamodelType
               id="com.odcgroup.pageflow.editor.diagram.EndState_1003"
               name="%metatype.name.EndState_1003"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="EndState"
               edithelper="com.odcgroup.pageflow.editor.diagram.edit.helpers.EndStateEditHelper">
            <param name="semanticHint" value="1003"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.odcgroup.com/ofs/pageflow">
         <metamodelType
               id="com.odcgroup.pageflow.editor.diagram.ViewState_1004"
               name="%metatype.name.ViewState_1004"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="ViewState"
               edithelper="com.odcgroup.pageflow.editor.diagram.edit.helpers.ViewStateEditHelper">
            <param name="semanticHint" value="1004"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.odcgroup.com/ofs/pageflow">
         <metamodelType
               id="com.odcgroup.pageflow.editor.diagram.SubPageflowState_1005"
               name="%metatype.name.SubPageflowState_1005"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="SubPageflowState"
               edithelper="com.odcgroup.pageflow.editor.diagram.edit.helpers.SubPageflowStateEditHelper">
            <param name="semanticHint" value="1005"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.odcgroup.com/ofs/pageflow">
         <metamodelType
               id="com.odcgroup.pageflow.editor.diagram.Transition_3001"
               name="%metatype.name.Transition_3001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Transition"
               edithelper="com.odcgroup.pageflow.editor.diagram.edit.helpers.TransitionEditHelper">
            <param name="semanticHint" value="3001"/>
         </metamodelType>
      </metamodel>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings">
      <?gmfgen generated="true"?>
      <clientContext id="PageflowClientContext">
         <enablement>
            <test
               property="org.eclipse.gmf.runtime.emf.core.editingDomain"
               value="com.odcgroup.pageflow.editor.diagram.EditingDomain"/>
         </enablement>
      </clientContext> 
      <binding context="PageflowClientContext">
         <elementType ref="com.odcgroup.pageflow.editor.diagram.Pageflow_79"/>
         <elementType ref="com.odcgroup.pageflow.editor.diagram.InitState_1001"/>
         <elementType ref="com.odcgroup.pageflow.editor.diagram.DecisionState_1002"/>
         <elementType ref="com.odcgroup.pageflow.editor.diagram.EndState_1003"/>
         <elementType ref="com.odcgroup.pageflow.editor.diagram.ViewState_1004"/>
         <elementType ref="com.odcgroup.pageflow.editor.diagram.SubPageflowState_1005"/>
         <elementType ref="com.odcgroup.pageflow.editor.diagram.Transition_3001"/>
         <advice ref="org.eclipse.gmf.runtime.diagram.core.advice.notationDepdendents"/>
      </binding>
   </extension>
	   <extension point="org.eclipse.core.expressions.propertyTesters">
      <?gmfgen generated="true"?>
       <propertyTester
           id="com.odcgroup.pageflow.editor.diagram.URIEditorInputPropertyTester"
           type="org.eclipse.emf.common.ui.URIEditorInput"
           namespace="com.odcgroup.pageflow.editor.diagram"
           properties="isURIEditorInput"
           class="com.odcgroup.pageflow.editor.diagram.part.PageflowUriEditorInputTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.core.expressions.propertyTesters">
      <?gmfgen generated="true"?>
       <propertyTester
           id="com.odcgroup.pageflow.editor.diagram.DomainModelElementPropertyTester"
           type="org.eclipse.emf.ecore.EObject"
           namespace="com.odcgroup.pageflow.editor.diagram"
           properties="isDomainModelElement"
           class="com.odcgroup.pageflow.editor.diagram.part.PageflowDomainModelElementTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.ui.navigator.viewer">
      <?gmfgen generated="true"?>
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="com.odcgroup.pageflow.editor.diagram.resourceContent"/>
			<contentExtension pattern="com.odcgroup.pageflow.editor.diagram.domainResourceContent"/>
            <contentExtension pattern="com.odcgroup.pageflow.editor.diagram.navigatorLinkHelper"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension pattern="com.odcgroup.pageflow.editor.diagram.navigatorActionProvider"/>
         </includes>
      </viewerActionBinding>
   </extension>

   <extension point="org.eclipse.ui.navigator.navigatorContent">
      <?gmfgen generated="false"?>
<!--      <navigatorContent
            id="com.odcgroup.pageflow.editor.diagram.resourceContent" 
            name="%navigatorContentName" 
            priority="normal" 
            contentProvider="com.odcgroup.pageflow.editor.diagram.navigator.PageflowNavigatorContentProvider" 
            labelProvider="com.odcgroup.pageflow.editor.diagram.navigator.PageflowNavigatorLabelProvider"
            icon="icons/obj16/PageflowDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="pageflow"/>
               </and>
               <instanceof value="com.odcgroup.pageflow.editor.diagram.navigator.PageflowAbstractNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
         	   <instanceof value="com.odcgroup.pageflow.editor.diagram.navigator.PageflowAbstractNavigatorItem"/>
            </or>
         </possibleChildren>
         <commonSorter 
               id="com.odcgroup.pageflow.editor.diagram.navigatorSorter" 
               class="com.odcgroup.pageflow.editor.diagram.navigator.PageflowNavigatorSorter">
            <parentExpression>
               <or>
	              <and>
    	             <instanceof value="org.eclipse.core.resources.IFile"/>
        	         <test property="org.eclipse.core.resources.extension" value="pageflow"/>
                  </and>
                  <instanceof value="com.odcgroup.pageflow.editor.diagram.navigator.PageflowAbstractNavigatorItem"/>
               </or>
            </parentExpression>
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            id="com.odcgroup.pageflow.editor.diagram.domainResourceContent" 
            name="%domainNavigatorContentName" 
            priority="normal" 
            contentProvider="com.odcgroup.pageflow.editor.diagram.navigator.PageflowDomainNavigatorContentProvider" 
            labelProvider="com.odcgroup.pageflow.editor.diagram.navigator.PageflowDomainNavigatorLabelProvider"
            icon="icons/obj16/PageflowDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="pageflow"/>
               </and>
               <and>
                  <instanceof value="org.eclipse.emf.ecore.EObject"/>
                  <test property="com.odcgroup.pageflow.editor.diagram.isDomainModelElement"/>
               </and>
            </or>
         </triggerPoints>
         <possibleChildren>
            <and>
       	       <instanceof value="org.eclipse.emf.ecore.EObject"/>
       	       <test property="com.odcgroup.pageflow.editor.diagram.isDomainModelElement"/>
       	    </and>
         </possibleChildren>
      </navigatorContent>
-->
      <actionProvider
            id="com.odcgroup.pageflow.editor.diagram.navigatorActionProvider"
            class="com.odcgroup.pageflow.editor.diagram.navigator.PageflowNavigatorActionProvider">
         <enablement>
            <or>
               <instanceof value="com.odcgroup.pageflow.editor.diagram.navigator.PageflowAbstractNavigatorItem"/>
            </or>
         </enablement>
      </actionProvider>
   </extension>   
   <extension point="org.eclipse.ui.navigator.linkHelper">
      <?gmfgen generated="true"?>
      <linkHelper
            id="com.odcgroup.pageflow.editor.diagram.navigatorLinkHelper"
            class="com.odcgroup.pageflow.editor.diagram.navigator.PageflowNavigatorLinkHelper">
         <editorInputEnablement>
            <and>
               <instanceof value="org.eclipse.emf.common.ui.URIEditorInput"/>
               <test property="com.odcgroup.pageflow.editor.diagram.isURIEditorInput"/>
            </and>
         </editorInputEnablement>
         <selectionEnablement>
            <instanceof value="com.odcgroup.pageflow.editor.diagram.navigator.PageflowAbstractNavigatorItem"/>
         </selectionEnablement>
      </linkHelper>
   </extension>   
   <extension point="org.eclipse.ui.commands">
      <?gmfgen generated="true"?>
      <command
         categoryId="org.eclipse.ui.category.edit"
         defaultHandler="com.odcgroup.pageflow.editor.diagram.part.PageflowDiagramUpdateCommand"
         description="%update.diagram.description"
         id="com.odcgroup.pageflow.editor.diagram.updateDiagram"
         name="%update.diagram.name"/>
   </extension>
   
   <extension point="org.eclipse.ui.bindings">
      <?gmfgen generated="true"?>
      <key 
         commandId="com.odcgroup.pageflow.editor.diagram.updateDiagram"
         contextId="com.odcgroup.pageflow.editor.diagram.ui.diagramContext"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="F5"/>
   </extension>
   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.contributionItemProviders">
      <?gmfgen generated="true"?>
      <contributionItemProvider class="com.odcgroup.pageflow.editor.diagram.providers.PageflowContributionItemProvider">
         <Priority name="Low"/>
         <partContribution id="com.odcgroup.pageflow.editor.diagram.part.PageflowDiagramEditorID">
            <partAction menubarPath="/file/print" id="printPreviewAction"/>
         </partContribution>
      </contributionItemProvider>
   </extension>
   <extension id="ValidationContributionItemProvider" name="Validation"
      point="org.eclipse.gmf.runtime.common.ui.services.action.contributionItemProviders">
      <?gmfgen generated="true"?>
      <contributionItemProvider
         class="com.odcgroup.pageflow.editor.diagram.providers.PageflowValidationProvider">
         <Priority name="Medium"/>
         <partContribution id="com.odcgroup.pageflow.editor.diagram.part.PageflowDiagramEditorID">
            <partMenuGroup menubarPath="/diagramMenu/" id="validationGroup"/>
            <partAction id="validateAction" menubarPath="/diagramMenu/validationGroup"/>
         </partContribution>
      </contributionItemProvider>
   </extension>
      
   <extension
         point="org.eclipse.gmf.runtime.emf.clipboard.core.clipboardSupport">
      <factory
            class="com.odcgroup.pageflow.editor.diagram.custom.clipboard.PageflowClipboardSupportFactory"
            nsURI="http://www.eclipse.org/gmf/runtime/1.0.1/notation"
            priority="high">
      </factory>
   </extension>
   
   <extension point="org.eclipse.ui.navigator.navigatorContent">
		<navigatorContent
		      activeByDefault="true"
		      contentProvider="com.odcgroup.workbench.ui.navigator.pageflow.PageflowContentProvider"
		      icon="icons/temenos_cube-16.png"
		      id="com.odcgroup.workbench.ui.navigator.pageflow"
		      labelProvider="com.odcgroup.workbench.ui.navigator.pageflow.PageflowLabelProvider"
		      name="Design Studio Pageflow Model Content"
		      priority="normal">
		<triggerPoints>
			<and>
   			<instanceof value="org.eclipse.core.resources.IFile"/>
   			<test
         		property="org.eclipse.core.resources.extension"
        		 value="pageflow"/>
			</and>
		</triggerPoints>
		<possibleChildren>
		<or>
		<instanceof value="com.odcgroup.pageflow.model.State"/>
		</or>
		</possibleChildren>
	</navigatorContent>
	<actionProvider
	      class="com.odcgroup.workbench.ui.navigator.pageflow.PageflowActionProvider"
	      id="com.odcgroup.workbench.ui.navigator.action.pageflow">
	   <enablement>
	      <and>
       <instanceof
             value="com.odcgroup.workbench.core.IOfsModelPackage">
       </instanceof>
	      <test
	            property="com.odcgroup.workbench.core.modelType"
	            value="pageflow"/>
	      </and>
		</enablement>
	</actionProvider>
</extension>
<!-- deactivated as not required for the moment. Resource link helper does the job so far.
<extension
      point="org.eclipse.ui.navigator.linkHelper">
   <linkHelper
         class="com.odcgroup.workbench.ui.navigator.pageflow.PageflowLinkHelper"
         id="com.odcgroup.workbench.ui.navigator.pageflowLinkHelper">
      <selectionEnablement>
         <instanceof value="com.odcgroup.pageflow.model.State"/>
      </selectionEnablement>
      <editorInputEnablement>
         <instanceof value="org.eclipse.ui.part.FileEditorInput"/>
      </editorInputEnablement>
   </linkHelper>
</extension>
-->
<!-- DS-1347 (Remove the Zoom from the palette)-->
<extension point="org.eclipse.gmf.runtime.diagram.ui.paletteProviders">
	<paletteProvider class="org.eclipse.gmf.runtime.diagram.ui.providers.DefaultPaletteProvider">
    	<Priority name="High"/>
        <contribution>
           <predefinedEntry
                 id="standardGroup/zoomTool"
                 remove="true"/>
        </contribution>
    </paletteProvider>
 </extension> 
 
 <extension id="com.odcgroup.pageflow.editor.popups" name="Pageflow Popups" point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="com.odcgroup.pageflow.editor.diagram.custom.actions.DuplicateTransitionAction"
            objectClass="com.odcgroup.pageflow.editor.diagram.edit.parts.TransitionEditPart">
         <action enablesFor="1" label="Duplicate" 
         	tooltip="Duplicate Transition Action" 
         	class="com.odcgroup.pageflow.editor.diagram.custom.actions.DuplicateTransitionActionDelegate" 
         	menubarPath="editMenu/additions" 
         	id="com.odcgroup.pageflow.editor.diagram.custom.actions.DuplicateTransitionAction">         	
         </action>
      </objectContribution>
   </extension> 



</plugin>
