<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.odcgroup.workbench.migration.metamodelversionhandler">
      <metamodelversionhandler
            class="com.odcgroup.mdf.migration.DomainMetaModelVersionHandler"
            modelType="mml">
      </metamodelversionhandler>
      <metamodelversionhandler
            class="com.odcgroup.mdf.migration.DomainMetaModelVersionHandler"
            modelType="domain">
      </metamodelversionhandler>
   </extension> 
   <extension
         point="com.odcgroup.translation.migration.migrator">
      <migrator
            class="com.odcgroup.mdf.migration.DomainTranslationMigrator"
            executeLast="true">
      </migrator>
   </extension>
   <extension
         point="com.odcgroup.workbench.migration.modelmigration">
      <ModelMigration
            class="com.odcgroup.mdf.migration.internal.XMI2DSLMigration"
            modelType="mml"
            name="com.odcgroup.mdf.migration.XMI2DSLMigration"
            sourceVersion="4.0.0.20110116"
            targetVersion="4.0.0.20110117">
      </ModelMigration>
      <ModelMigration
            class="com.odcgroup.mdf.migration.internal.UTF8Migration"
            modelType="domain"
            name="com.odcgroup.mdf.migration.UTF8Migration"
            sourceVersion="4.1.0.20110331"
            targetVersion="4.1.0.20110401">
      </ModelMigration>
      <ModelMigration
            class="com.odcgroup.mdf.migration.internal.VersionRemovalMigration"
            modelType="domain"
            name="com.odcgroup.mdf.migration.VersionRemovalMigration"
            sourceVersion="4.3.0.20110526"
            targetVersion="4.3.0.20110527">
      </ModelMigration>
   </extension>
</plugin>
