<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package
       uri = "http://www.odcgroup.com/mdf"
       class = "com.odcgroup.mdf.ecore.MdfPackage"
       genModel = "mdf.genmodel" />
  </extension>
	 <extension point="com.odcgroup.workbench.core.model">
	     <model
            name="domain"
            proxyresolution="lazy"/>
	</extension>
  <extension
        point="com.odcgroup.translation.provider">
     <provider
           class="com.odcgroup.mdf.model.translation.MdfTranslationProvider"
           id="com.odcgroup.mdf.model.translation"
           name="Mdf Translation Provider"
           natureId="org.eclipse.jdt.core.javanature"
           priority="1">
        <kind  name="NAME" display="Label"/>
        <kind  name="TEXT" display="ToolTip"/>
        <input
              type="com.odcgroup.mdf.metamodel.MdfModelElement">
        </input>
     </provider>
     <provider
           class="com.odcgroup.mdf.model.translation.MdfInheritableTranslationProvider"
           id="com.odcgroup.mdf.model.inheritableTranslation"
           name="Mdf Inheritable Translation Provider"
           natureId="org.eclipse.jdt.core.javanature"
           priority="2">
        <kind  name="NAME" display="Label"/>
        <kind  name="TEXT" display="ToolTip"/>
        <input
              type="com.odcgroup.mdf.metamodel.MdfDataset">
        </input>
        <input
              type="com.odcgroup.mdf.metamodel.MdfDatasetMappedProperty">
        </input>
     </provider>
   </extension>
  
   <extension
         point="com.odcgroup.translation.visitor">
      <provider
            id="com.odcgroup.mdf.model.translation.visitorprovider"
            name="MDF Model Translation Visitor Provider"
            class="com.odcgroup.mdf.model.translation.MdfFTranslationModelVisitorProvider">
          <input type="com.odcgroup.mdf.metamodel.MdfDomain"/> 
      </provider>
   </extension>
     
</plugin>

