<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.odcgroup.t24.enquiry.editor.EnquiryEditorExecutableExtensionFactory:com.odcgroup.t24.enquiry.editor.EnquiryMultipageEditor"
            extensions="enquiry"
            default="true"
            id="com.odcgroup.t24.enquiry.Enquiry"
            contributorClass="com.odcgroup.t24.enquiry.editor.EnquiryMultipageEditorContributor"
            name="Enquiry Multipage Editor">
      </editor>
   </extension> 
    
   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
 	   <propertyContributor 
 	  		typeMapper="com.odcgroup.t24.enquiry.properties.EnquiryTypeMapper"
 	        labelProvider="com.odcgroup.t24.enquiry.properties.EnquiryLabelProvider"
 	        contributorId="com.odcgroup.t24.enquiry.editor.enquiryEditor">
 	        <propertyCategory category="General"/>
            <propertyCategory category="Presentation"/>
            <propertyCategory category="Description"/>
            <propertyCategory category="Translation"/>
            <propertyCategory category="Break"/>
            <propertyCategory category="Formatting"/>
            <propertyCategory category="Sorting"/>
            <propertyCategory category="Conversions"/>
            <propertyCategory category="Operation"/>
            <propertyCategory
                  category="MappingFields">
            </propertyCategory>
       </propertyContributor>
    </extension>
    
	<extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
    	<propertyTabs contributorId="com.odcgroup.t24.enquiry.editor.enquiryEditor">
           <propertyTab label="General" category="General" id="widget.tab.general"/>
           <propertyTab category="Presentation" id="widget.tab.presentation" label="Presentation"/>
           <propertyTab afterTab="widget.tab.presentation" category="Sorting" id="widget.tab.sorting" label="Sorting" />
           <propertyTab afterTab="widget.tab.sorting" category="Description" id="widget.tab.description" label="Description"/>
           <propertyTab category="Translation" id="widget.tab.translation" label="Translation"/>
           <propertyTab category="Break" id="widget.tab.break" label="Break"/>
           <propertyTab category="Formatting" id="widget.tab.format" label="Formatting"/>
           <propertyTab category="Conversions" id="widget.tab.conversion" label="Conversions"/>
           <propertyTab category="Operation" id="widget.tab.operation" label="Operation"/>
           <propertyTab
                 category="MappingFields"
                 id="widget.tab.mappingfields"
                 label="Mapping Fields">
           </propertyTab>
        </propertyTabs>
   </extension>
   
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections contributorId="com.odcgroup.t24.enquiry.editor.enquiryEditor">
         <propertySection
               class="com.odcgroup.t24.enquiry.editor.EnquiryEditorExecutableExtensionFactory:com.odcgroup.t24.enquiry.properties.section.GeneralSection"
               enablesFor="1"
               id="widget.section.general"
               tab="widget.tab.general">
            <input type="com.odcgroup.t24.enquiry.enquiry.Enquiry" />
            <input type="com.odcgroup.t24.enquiry.enquiry.FixedSelection" />
            <input type="com.odcgroup.t24.enquiry.enquiry.Selection" />
            <input type="com.odcgroup.t24.enquiry.enquiry.EnquiryHeader" />
            <input type="com.odcgroup.t24.enquiry.enquiry.Field" />
            <input type="com.odcgroup.t24.enquiry.enquiry.Tool" />
            <input type="com.odcgroup.t24.enquiry.enquiry.Routine" />
            <input type="com.odcgroup.t24.enquiry.enquiry.Target" />
            <input type="com.odcgroup.t24.enquiry.enquiry.WebService" />
            <input type="com.odcgroup.t24.enquiry.enquiry.DrillDown" />
            <input type="com.odcgroup.t24.enquiry.enquiry.SelectionCriteria" />
         </propertySection>
         <propertySection
               class="com.odcgroup.t24.enquiry.properties.section.PresentationSection"
               enablesFor="1"
               id="widget.section.presentation"
               tab="widget.tab.presentation">
            <input
                  type="com.odcgroup.t24.enquiry.enquiry.Enquiry">
            </input>
            <input type="com.odcgroup.t24.enquiry.enquiry.Field" />
         </propertySection>
         <propertySection
               class="com.odcgroup.t24.enquiry.properties.section.DescriptionSection"
               enablesFor="1"
               id="widget.section.description"
               tab="widget.tab.description">
            <input type="com.odcgroup.t24.enquiry.enquiry.Enquiry" />
            <input type="com.odcgroup.t24.enquiry.enquiry.Selection" />
         </propertySection>
         <propertySection
               class="com.odcgroup.t24.enquiry.properties.section.DescriptionSection"
               enablesFor="1"
               id="widget.section.translation"
               tab="widget.tab.translation">
     		<input type="com.odcgroup.t24.enquiry.enquiry.Field" />
     		<input type="com.odcgroup.t24.enquiry.enquiry.EnquiryHeader" />
     		<input type="com.odcgroup.t24.enquiry.enquiry.Tool" />
            <input type="com.odcgroup.t24.enquiry.enquiry.DrillDown" />
         </propertySection>
         <propertySection
               class="com.odcgroup.t24.enquiry.properties.section.FieldBreakSection"
               enablesFor="1"
               id="widget.section.break"
               tab="widget.tab.break">
     		<input type="com.odcgroup.t24.enquiry.enquiry.Field" />
         </propertySection>
         <propertySection
               class="com.odcgroup.t24.enquiry.properties.section.FieldFormatSection"
               enablesFor="1"
               id="widget.section.form"
               tab="widget.tab.format">
     		<input type="com.odcgroup.t24.enquiry.enquiry.Field" />
         </propertySection>
         <propertySection
               afterSection="widget.section.presentation"
               class="com.odcgroup.t24.enquiry.properties.section.SortingSection"
               id="widget.section.sorting"
               tab="widget.tab.sorting">
            <input
                  type="com.odcgroup.t24.enquiry.enquiry.Enquiry">
            </input>
         </propertySection>
          <propertySection
               class="com.odcgroup.t24.enquiry.editor.EnquiryEditorExecutableExtensionFactory:com.odcgroup.t24.enquiry.properties.section.ConversionSection"
               enablesFor="1"
               id="widget.section.conversion"
               tab="widget.tab.conversion">
     		<input type="com.odcgroup.t24.enquiry.enquiry.Field" />
         </propertySection>
          <propertySection
               class="com.odcgroup.t24.enquiry.properties.section.OperationSection"
               enablesFor="1"
               id="widget.section.operation"
               tab="widget.tab.operation">
     		<input type="com.odcgroup.t24.enquiry.enquiry.Field" />
         </propertySection>
          <propertySection
                class="com.odcgroup.t24.enquiry.editor.EnquiryEditorExecutableExtensionFactory:com.odcgroup.t24.enquiry.properties.section.MappingFieldsSection"
                id="widget.section.mappingfields"
                tab="widget.tab.mappingfields">
             <input
                   type="com.odcgroup.t24.enquiry.enquiry.TargetMapping">
             </input>
          </propertySection>
       </propertySections>
    </extension>

  <extension
         point="com.odcgroup.translation.collector">
         <collectorProvider
           class="com.odcgroup.t24.enquiry.editor.translation.EnquiryTranslationCollectorProvider"
           defaultActive="true"
           displayName="Enquiry"
           fileExtensions="enquiry"
           id="com.odcgroup.enquiry.editor.translation.CollectorProvider">
     </collectorProvider>
   </extension>
   <extension
         point="com.odcgroup.translation.viewer.command">
		<provider
			id="com.odcgroup.t24.enquiry.editor.translation.tablecommandprovider"
			name="Table Commands Provider for the Enquiry Designer"
			class="com.odcgroup.t24.enquiry.editor.translation.command.EnquiryTranslationCommandProvider"
			natureId="org.eclipse.jdt.core.javanature"
			priority="2">
			<input type="com.odcgroup.t24.enquiry.enquiry.Enquiry"/>
           <input type="com.odcgroup.t24.enquiry.enquiry.Selection" />
           <input type="com.odcgroup.t24.enquiry.enquiry.Field" />
           <input type="com.odcgroup.t24.enquiry.enquiry.EnquiryHeader" />
           <input type="com.odcgroup.t24.enquiry.enquiry.Tool" />
           <input type="com.odcgroup.t24.enquiry.enquiry.LabelOperation"/>
       	</provider>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
		<command 
        	defaultHandler="com.odcgroup.t24.enquiry.editor.translation.command.EnquiryUpdateTranslationHandler"
            id="com.odcgroup.t24.enquiry.editor.translation.command.update"
            name="Edit Translation">
         	<commandParameter id="text" name="text" optional="false"/>
		</command>
		<command
            defaultHandler="com.odcgroup.t24.enquiry.editor.translation.command.EnquiryRemoveTranslationHandler"
            id="com.odcgroup.t24.enquiry.editor.translation.command.remove"
            name="Remove Translation">
		</command>
   </extension>

</plugin>
