<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="com.odcgroup.workbench.migration.modelmigration">
      <ModelMigration
            class="com.odcgroup.pageflow.migration.ModelReferenceURIMigration"
            modelType="pageflow"
            name="com.odcgroup.pageflow.migration.ModelReferenceURIMigration"
            sourceVersion="2.4.0.20100111"
            targetVersion="2.4.0.20100115">
      </ModelMigration>      
      <ModelMigration
            class="com.odcgroup.pageflow.migration.RemoveVersionAttributeMigration"
            modelType="pageflow"
            name="com.odcgroup.pageflow.migration.RemoveVersionAttributeMigration"
            sourceVersion="2.4.0.20100128"
            targetVersion="2.4.0.20100129">
      </ModelMigration>
      <ModelMigration
            class="com.odcgroup.pageflow.migration.RemoveModifiedByModifedDateMigration"
            modelType="pageflow"
            name="com.odcgroup.pageflow.migration.RemoveModifiedByModifedDate"
            sourceVersion="4.1.0.20110306"
            targetVersion="4.1.0.20110307">
      </ModelMigration> 
      <ModelMigration
            class="com.odcgroup.pageflow.migration.ChangeDefaultErrorViewMigration"
            modelType="pageflow"
            name="com.odcgroup.pageflow.migration.ChangeDefaultErrorViewMigration"
            sourceVersion="7.2.0.20110620"
            targetVersion="7.2.0.20120621">
      </ModelMigration>   
   </extension>
   
   <extension
         point="com.odcgroup.workbench.migration.metamodelversionhandler">
      <metamodelversionhandler
            class="com.odcgroup.pageflow.migration.internal.PageflowMetaModelVersionHandler"
            modelType="pageflow">
      </metamodelversionhandler>
   </extension> 

</plugin>
