<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="samplecode.source.PerspectiveFactory"
            id="SampleCode.perspective"
            name="My Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="SampleCode.perspective">
         <viewShortcut
               id="org.eclipse.ui.console.ConsoleView">
         </viewShortcut>
         <perspectiveShortcut
               id="org.eclipse.pde.ui.PDEPerspective">
         </perspectiveShortcut>
         <view
               id="SampleCode.view"
               minimized="false"
               moveable="false"
               ratio="0.25F"
               relationship="stack"
               relative="org.eclipse.ui.navigator.ProjectExplorer"
               visible="true">
         </view>         
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="SampleCode.category"
            name="SampleCode">
      </category>
      <view
            category="SampleCode.category"
            class="samplecode.source.SampleView"
            icon="icons/sample_view.gif"
            id="SampleCode.view"
            name="Sample View">
      </view>
      <stickyView
            id="SampleCode.view"
            location="TOP">
      </stickyView>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="SampleCode.viewContribution"
            targetID="SampleCode.view">
         <menu
               id="SampleCode.sampleMenu"
               label="Sample Menu">
            <groupMarker
                  name="sampleGroupMarker">
            </groupMarker>
         </menu>
         <menu
               id="SampleCode.collapseMenu"
               label="Collapse Manu"
               path="SampleCode.sampleMenu/sampleGroupMarker">
            <groupMarker
                  name="collapseGroupmarker">
            </groupMarker>
         </menu>
         <action
               class="samplecode.source.view.CollapseAllActionDelegate"
               enablesFor="?"
               icon="icons/tree-collapse.png"
               id="SampleCode.collapseAction"
               label="Collapse All"
               menubarPath="SampleCode.sampleMenu/SampleCode.collapseMenu/collapseGroupmarker"
               style="push"
               toolbarPath="collapseGroupmarker"
               tooltip="Collapse All">
         </action>
         <action
               class="samplecode.source.action.OpenFileViewActionDelegate"
               disabledIcon="icons/open_disabled.png"
               enablesFor="1"
               icon="icons/open.png"
               id="SampleCode.action1"
               label="Open item"
               menubarPath="additions"
               style="push"
               toolbarPath="additions"
               tooltip="Open File into editor">
            <selection
                  class="org.eclipse.core.resources.IFile">
            </selection>
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="SampleCode.showView.actionSet"
            label="Show View">
         <menu
               id="SampleCode.menu"
               label="Sample Code Menu"
               path="run">
            <groupMarker
                  name="SampleCode.groupMarker">
            </groupMarker>
         </menu>
         <menu
               icon="icons/sample_view.gif"
               id="SampleCode.showView.menu"
               label="Show Sample View"
               path="SampleCode.menu/SampleCode.groupMarker">
         </menu>
         <action
               class="samplecode.source.action.ShowViewAction"
               icon="icons/sample_view.gif"
               id="SampleCode.sampleView.action"
               label="Sample View"
               menubarPath="SampleCode.menu/SampleCode.groupMarker"
               style="toggle"
               toolbarPath="additions"
               tooltip="Show Sample View">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.actionSetPartAssociations">
      <actionSetPartAssociation
            targetID="SampleCode.showView.actionSet">
         <part
               id="SampleCode.view">
         </part>
      </actionSetPartAssociation>
   </extension>

</plugin>
