<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

     <extension
         point="org.eclipse.ui.propertyPages">
         <page
            category="com.odcgroup.workbench.properties.ofs"
            class="com.odcgroup.page.transformmodel.ui.preferences.NamespaceFacilityPreferencesPage"
            id="com.odcgroup.page.transformmodel.ui.preferences.namespacefacility"
            name="Namespaces">
            <filter
               name="nature"
               value="com.odcgroup.workbench.core.OfsNature"/>
            <enabledWhen>
                 <adapt type="org.eclipse.core.resources.IProject"/> 
            </enabledWhen>
         </page>   
     </extension>   
</plugin>
